
<div class="span6">
  <h1>Najbliższe spotkanie</h1>
  <h2>Sześć smaków testowania - flashtalks</h2>
  <p>Termin: 09.04.2013 godz. 18:00</p>
  <p>Lokalizacja: MIMUW, sala 3180</p>
  <p>Sponsor: brak</p>
  <h3>Temat 1: Testowanie asynchronicznych operacji z Awaitility</h3>
  <p>Testujesz asynchroniczny kod (powiązany z kolejkami, wątkami, czy replikacją danych) i martwi Cię sleep(5000+) w każdym teście? Jeżeli denerwuje Cię, iż testy integracyjne trwają wieki, a mimo to i tak od czasu do czasu poleci timeout na Jenkinsie to ta prezentacja jest dla Ciebie. Dowiesz się, jak w sprytny sposób testować asynchroniczne operacje i dlaczego Awaitility jest narzędziem, na które czekał[ae]ś.</p>
  <p>Prelegent: Marcin Zajączkowski</p>
  <h3>Temat 2: Spock, czyli czemu zrezygnowaliśmy z JUnita i Mockito</h3>
  <p>Mockito nie robi niczego, czego nie dało się zrobić wcześniej bibliotekami do Mockowania. Ale robi to tak czytelnie, że gdy je pierwszy raz zobaczyłem, nigdy już nie chciałem wrócić do poprzednich narzędzi. Ciężko sobie było wyobrazić coś lepszego. I wtedy przyszedł Spock, i pozamiatał. Jeśli Mockito jest królem czytelności testów, to Spock jest jego suwerenem. Postaram się pokazać dlaczego, jakie są zalety i przede wszystkim wady frameworka, który powstał jako narzędzie do specyfikacji (BDD style, stąd zresztą nazwa), a skończył w moim toolboxie jako następca JUnit/Mockito.</p>
  <p>Prelegent: Jakub Nabrdalik</p>
  <h3>Temat 3: Testowanie poprzez moduły Guice</h3>
  <p>Testowanie opiera się na izolacji poszczególnych komponentów aplikacji. Od poziomu granulacji zależy nazwa: unit test - klasa, integration test - komponent, end to end - cała aplikacja. Pokaże, że kiedy używany IoD do uporządkowania aplikacji to możemy w jednolity sposób izolować nasze komponenty do testowania na każdym poziomie.</p>
  <p>Prelegent: Paweł Cesar Sanjuan Szklarz</p>
  <h3>Temat 4: Parametryzowane testy w JUnit - zagrożenie dla zdrowia Twojego i Twoich bliskich.</h3>
  <p>Będzie o tym dlaczego nie korzystać ze standardowych testów parametryzowanych w JUnit, oraz dlaczego, jak i kiedy korzystać z JUnitParams.</p>
  <p>Prelegnet: Paweł Lipiński</p>
  <h3>Temat 5: Czytelne testy dzięki Fest Assert</h3>
  <p>Jeżeli kiedykolwiek zastanawiałeś się, nad kolejnością parametrów “expected” i “actual” w asercji w testach, powinien[ae]ś spróbować tej biblioteki. Fest Assert spowoduje że twoje testy staną się naprawde czytelne, a ich pisanie będzie czystą przyjemnością. Postaram się pokazać przykłady dotyczące pierwszej i drugiej wersji tej biblioteki.</p>
  <p>Prelegent: Michał Lewandowski</p>
  <h3>Temat 6: Geb</h3>
  <p>Postaram się zwięźle zaprezentować Geba, czyli narzędzie do testowania funkcjonalnego przy pomocy przeglądarki. Pokażę jak radośnie można pisać takie testy w Spocku oraz dlaczego warto znać HTMLa i jQuery przy takich testach. Na koniec zaprezentuję Geba w akcji.</p>
  <p>Prelegent: Tomasz Kalkosiński</p>
</div>