
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>1 spotkanie WJUG</h4>
            <h2>Apache Geronimo </h2>
            <h3><a href="http://www.jaceklaskowski.pl/" target="_blank">Jacek Laskowski</a></h3>
            <p>Termin: 07.11.2006 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5820</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/t0CrKpVt5fI/" target="_blank">zapowiedź</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Wielu z nas śledzących rynek rozwiązań Java EE spotkało się już zapewne z projektem <a href="http://geronimo.apache.org" target="_blank">Apache Geronimo</a>. Celem projektu jest stworzenie serwera aplikacyjnego zgodnego ze specyfikacją Java EE 5, po tym jak cel główny - zgodność z J2EE 1.4 - został spełniony w wersji 1.0. Kolejna wersja 1.2 ma już być częściową implementacją specyfikacji Java EE 5 i jej wydanie planowane jest na ten rok. Prezentacja będzie miała na celu zademonstrowanie możliwości serwera, sposób jego działania, konfigurację i jego elementy składowe. Na prezentacji spróbuję dodatkowo odpowiedzieć na najczęściej zadawane pytania odnośnie serwera oraz przedstawię elementy, które niejednemu nasuną kontrowersyjną tezę o niebywałym podobieństwu między nim a...Spring Framework (!)</p>
            <p>W projekcie rozwijana jest również wtyczka do Eclipse IDE, która pozwala na tworzenie aplikacji Java EE w Eclipse i uruchamianie jej na serwerze, o której będzie również mowa na prezentacji. Z jej pomocą, stworzymy demonstracyjną aplikację, którą następnie uruchomimy na serwerze.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentacja prowadzona będzie przez <a href="http://www.jaceklaskowski.pl/" target="_blank">Jacka Laskowskiego</a>, który jest członkiem zespołu koordynującego i programistą w projekcie <a href="http://geronimo.apache.org/" target="_blank">Apache Geronimo </a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>