
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>106 spotkanie WJUGa</h4>
            <h2>Praktyczne wprowadzenie do OSGi i Enterprise OSGi</h2>
            <h3>Maciej Jankowski, Wojtek Erbetowski</h3>
            <p>Termin: 08.01.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://polidea.pl/" target="_blank"> Polidea</a></p>
            <p>Zapisy i dyskusja</p>
            <ul>
              <li> <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/97869552/" target="_blank"> Meetup</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/KD11m5VYRUw" target="_blank"> grupa</a></li>
            </ul><strong>Materiały:</strong>
            <ul> 
              <li> <a href="https://docs.google.com/file/d/0B3sikUV-sttFU2JiY3FEZnhVYWs/edit" target="_blank"> slajdy Maćka</a></li>
              <li><a href="https://github.com/wojtekerbetowski/metaprogramming-in-java-slides" target="_blank"> slajdy Wojtka</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Ten wykład to absolutny "must" dla wszystkich developerów związanych z Javą (i w ogóle JVM). Początkujący w temacie dowiedzą się podstaw działania większości Javowych frameworków, czyli o manipulacjach na bytecode. Dowiecie się jak narzędzia są w stanie m. in. utworzyć mocki nagrywające wywołania w testach, czy założyć transakcje na naszą logikę biznesową. Mimo, że zaczniemy od podstaw w prezentacji będzie też kilka ciekawostek i uzupełnień wiedzy dla wytrawnych programistów. Zaczniemy od wprowadzenia do generowania bytecodu, łącznie z pokazaniem, jak zrobić prostą klasę z niczego w czasie działania aplikacji. Następnie zobaczycie jak opakowują to najpopularniejsze biblioteki w używalny kod, oraz kto (jakie popularne frameworki) z tych narzędzi korzysta. Później już bardzo konkretnie opowiemy o CGLib, który w tej dziedzinie jest de facto standardem, a na sam koniec narzędzie, które powstało stosunkowo niedawno, czyli Plastic.</p>
            <h3>O prelegentach: </h3>
            <p>Maciej od ośmiu lat programuje w Javie. Od pięciu lat komercyjnie. Nie lubi przetartych szlaków. Pasjonat nietypowych rozwiązań. Obecnie pracuje jako programista Java.</p>
            <p>Wojtek jest Wam znany jako jeden z organizatorów warszawskiego JUG. W pracy programuje w Groovym, Scali i Javie, a także w Pythonie. Ostatnio stworzył bibliotekę RoboSpock, przy okazji której podszkolił się z tematu ładowania klas w Javie. Po godzinach już rozgląda się za nowym językiem/technologią.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/rjHcbFq_eao" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>