
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>109 spotkanie WJUG</h4>
            <h2>Rozmowy kwalifikacyjne i jak się przebić</h2>
            <h3><a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a>,<a href="http://blog.solidcraft.eu" target="_blank"> Jakub Nabrdalik</a>,<a href="http://szimano.org/" target="_blank"> Tomasz Szymański</a></h3>
            <p>Termin: 26.02.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Zapisy i dyskusja</p>
            <ul>
              <li> <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/103469732/" target="_blank"> Meetup</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/r60_oLj_psY" target="_blank"> grupa</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Tym razem całe spotkanie będzie poświęcone rekrutacji. </p>
            <p>Cel jest prosty: zwiększyć szanse WJUGowiczów podczas rekrutacji i zapewnić maksymalną do umiejętności, płacę startową. </p>
            <p>Cel drugorzędny: zmniejszyć ryzyko firmy zatrudniającej. </p>
            <p>Bo wbrew pozorom, dobra firma chce zapłacić człowiekowi jak najwięcej, ale musi mieć po temu powody. </p>
            <p>Spotkanie poprowadzi kilku specjalistów z firm IT, zajmujących się (także) rekrutowaniem. </p>
            <ul>
              <li>Jakub Kubryński, Kierownik Zespołu Rozwoju Oprogramowania, PayU S.A. </li>
              <li>Tomasz Szymański, CEO, SoftwareMill</li>
              <li>Jakub Nabrdalik, Solution Architect, TouK </li>
              <li>i być może jeszcze jeden niespodziankowy gość. </li>
            </ul>
            <p>Opowiedzą o tym, jak często wygląda ten proces z obu zainteresowanych stron, co sprawia kandydatom największe problemy podczas rekrutacji, jak  rozmawiać o pieniądzach, jakie błędy są często popełniane i przede wszystkim: </p>
            <p>JAK SIĘ PRZYGOTOWAĆ, by pracę zdobyć </p>
            <p>Będzie też trochę o tym, jak w ogóle pokierować swoją karierą. </p>
            <p>Spotkanie z założenia nie wymaga żadnej wiedzy, jest skierowane zarówno  dla studentów którzy dopiero będą szukać pracy, jak i starych wyjadaczy,  którzy myślą o zmianie firmy, ale ciężko im znaleźć kogoś, kto zaproponuje podobnie niebotyczną kwotę. </p>
            <p>Jest to dobry pomysł także dla osób, które zaczynają swoją przygodę w  roli rekrutera - może poświęcenie chwili dzisiaj pozwoli uniknąć popełniania błędów w przyszłości. </p>
            <p>Jeśli macie jakiś znajomych, którzy szukają lub będą szukać pracy w firmach software’owych, dajcie im znać. Dajcie znać zwłaszcza tym, którzy stoją na początku swojej kariery, lub na rozdrożu, i muszą podejmować ciężkie decyzje. Będziemy rozmawiać o doświadczeniach z obu stron lustra. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>