
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>113 spotkanie WJUGa</h1>
            <h2>Garbage collection w low latency Java - Wojciech Kudła</h2>
            <p>Termin: 23.04.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://appone.pl"> appone</a></p>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <p>Co wpływa na czas trwania kolekcji, jak badać i kształtować demografię obiektów, jak unikać najpopularniejszych błędów w gc tuningu oraz jak systemowo podejść do kwestii optymalizacji. Większość poparta oczywiście konkretnymi przykładami na bazie działającego kodu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>