
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>113 spotkanie WJUGa</h1>
            <h2>HotSpot w low latency Java - Wojciech Kudła</h2>
            <p>Termin: 23.04.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://appone.pl" target="_blank"> AppOne</a></p>
            <p>Plakat:<a href="https://docs.google.com/file/d/0B8d787eZJXI_M2hremlNUC1fM0k/edit?usp=sharing"> pobierz tutaj</a></p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/0DAZcaOZEag" frameborder="0" allowfullscreen></iframe></p>
            <p>Opis: Prezentacja ma na celu ukazanie Hotspot JVM jako przyzwoitej platformy uruchomieniowej dla rozwiązań low latency. Postaram się obalić w niej kilka popularnych mitów związanych z zastosowaniami Javy w HPC, opowiem o tym jakie techniki stosowane są przez operatorów platform High Frequency Trading czy banki inwestycyjne w celu osiągnięcia sub-milisekundowych czasów przetwarzania transakcji. Podzielę się również praktycznymi wskazówkami i uwagami na temat redukowania oraz eliminowania GC w rozwiązań uruchamianych na Hotspocie. Całość przedstawiona w formie przystępnej dla developerów Java nie zajmujących się na codzień aspektami wydajnościowymi.</p>
            <p>O prelegencie: Od 9 lat profesjonalnie zajmuję się Javą. W ostatnich latach skupiam się na kwestiach wydajnościowych w wysokowydajnych architekturach opartych na JVM. Największą frajdę sprawia mi wyciskanie dodatkowych instrukcji w cyklach CPU i redukowanie czasu GC o kolejne mikrosekundy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
