
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>117 spotkanie WJUGa</h4>
            <h2>Java Memory Model</h2>
            <h3>
              <p>Michał Warecki</p>
            </h3>
            <p>Termin: 18.08.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW,</p>
            <p>Rejestracja na meetupie: <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/" target="_blank"> Meetup</a></p>
            <p>Opis wydarzenia zostanie zaprezentowany wkrótce </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>