
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>119 spotkanie WJUG</h4>
            <h2>Flash-talks: Tig, Fish shell, jOOX, Togglz</h2>
            <h3>Mariusz Smykuła, Mateusz Grzechociński, Jakub Kubryński, Kamil Szymański</h3>
            <p>Termin: 10.09.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Plakat: <a href="https://docs.google.com/file/d/0B8d787eZJXI_aTVScjM2OTN5Y0k" target="_blank">PDF</a></p>
            <p>Zapisy i dyskusja</p>
            <ul> 
              <li> <a href="http://www.meetup.com/Warszawa-JUG/events/138564712/" target="_blank"> Meetup</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/THvYUlnFVOU/" target="_blank"> grupa</a></li>
            </ul><strong>Materiały:</strong>
            <ul>
              <li>otwarcie sezonu: <a href="https://docs.google.com/presentation/d/1-M7bufX0jmoe7cup2sIgT_AZZhQ1MhaXda0GF4h4T3o" target="_blank">slajdy</a></li>
              <li>Tig: <a href="http://slid.es/mariuszs/tig" target="_blank">slajdy</a></li>
              <li>jOOX: <a href="../../presentations/119/joox.pdf" target="_blank">slajdy</a></li>
              <li>Togglz: <a href="https://docs.google.com/presentation/d/1xevBcv1_Obp7_npEGvJH4pudM4sZsA5D8utM8l-ioP8" target="_blank">slajdy</a>, <a href="https://github.com/kamilszymanski/feature-toggle" target="_blank">kod źródłowy</a></li>
            </ul>
            <h3>Agenda spotkania:</h3>
            <ul>
              <li>Otwarcie sezonu 2013/14</li>
              <li><a href="http://jonas.nitro.dk/tig/" target="_blank">Tig</a> - interaktywny git -<a href="https://twitter.com/mariusz_s" target="_blank"> Mariusz Smykuła</a></li>
              <li><a href="http://fishshell.com/" target="_blank">Fish shell</a> -<a href="https://twitter.com/mgrzechocinski" target="_blank"> Mateusz Grzechociński</a></li>
              <li><a href="https://github.com/jOOQ/jOOX" target="_blank">jOOX</a> -<a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a></li>
              <li><a href="http://www.togglz.org/" target="_blank">Togglz</a>: Feature Toggle implementation for JVM -<a href="https://twitter.com/kszdev" target="_blank"> Kamil Szymański</a></li>
              <li>Wyjście na piwo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>