
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>119 spotkanie WJUGa</h4>
            <h2>Flash-talks: Fish shell, JOOX, Tig i Togglz </h2>
            <h3>Mateusz Grzechociński, Kuba Kubryński, Mariusz Smykuła, Kamil Szymański</h3>
            <p>Termin: 10.09.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Plakat: <a href="https://docs.google.com/file/d/0B8d787eZJXI_aTVScjM2OTN5Y0k" target="_blank">PDF</a></p>
            <p>Zapisy i dyskusja</p>
            <ul> 
              <li> <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/138564712/" target="_blank"> Meetup</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/THvYUlnFVOU/" target="_blank"> grupa</a></li>
            </ul>
            <h3>Agenda spotkania:</h3>
            <ul>
              <li>Otwarcie sezonu 2013/14</li>
              <li>Fish shell - Mateusz Grzechociński</li>
              <li>JOOX - Kuba Kubryński</li>
              <li>Tig - Mariusz Smykuła</li>
              <li>Togglz: Feature Toggle implementation for JVM - Kamil Szymański</li>
              <li>Wyjście na piwo</li>
            </ul>
            <h3>UWAGA!</h3>Ze względu na egzaminy poprawkowe na MIMie spotykamy się wyjątkowo do sali 5440. Do zobaczenia!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>