
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>120 spotkanie WJUGa</h4>
            <h2>Serwer w Javie</h2>
            <h3>Adam lider</h3>
            <p>Termin: 24.10.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Zapisy i dyskusja:</p>
            <ul>
              <li><a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/140936082/" target="_blank"> Meetup</a></li>
              <li><a href="https://groups.google.com/forum/?hl=pl&amp;fromgroups#!topic/warszawa-jug/gVKEpvTLv-0" target="_blank"> grupa</a></li>
            </ul>
            <p>Plakat:<a href="https://docs.google.com/file/d/0B8d787eZJXI_NnczU1lOUVV3YjQ/edit?usp=sharing" target="_blank"> PDF</a></p>
            <p><b>Slajdy:<a href="href='../../presentations/120/ServerInJava.pdf" target="_blank"> PDF</a></b></p>
            <h3>O prezentacji:</h3>
            <p>Programowanie sieciowe w Javie od początku było jej kluczowym elementem. Gdy jest konieczna komunikacja między systemami to rozwiązania takie jak REST, SOAP czy JMS najczęściej pasują idealnie. Są jednak problemy, gdzie ten poziom rozwiazan nie jest odpowiedni, np.:</p>
            <ul> 
              <li>integracje istniejacych systemow, stworzonych w roznych technologiach, czesto przed era RESTa, Javy</li>
              <li>specyficzne protokoly dla danej domeny systemu</li>
              <li>rozwiązania infrastruktury, programowanie systemowe</li>
            </ul>
            <p>W takich sytuacjach konieczne jest użycie narzędzi i API niższego poziomu - gniazdek. I choć również tutaj Java dostarcza dobrego wsparcia to jednak głębsza wiedza jest potrzebna, aby tworzone rozwiazanie było poprawne, bez ukrytych problemów, o które dość łatwo.</p>
            <p>Celem prezentacji jest pokazanie możliwości Javy w programowaniu sieciowym na poziomie gniazdek poprzez omówienie:</p>
            <ul>
              <li>istotnych API i mozliwych opcji</li>
              <li>kluczowych elementow protokolu TCP i wynikajacych zagrozen</li>
              <li>przykladu implementacji wlasnego protokolu warstwy aplikacji</li>
              <li>roznych modeli obslugi IO: blokujacy, nieblokujacy, asynchroniczny</li>
              <li>wybranych szczegolow implementacyjnych na poziomie systemu operacyjnego</li>
              <li>ograniczen Javy w programowaniu systemowym</li>
              <li>propozycji architektury</li>
            </ul>
            <h3>O prelegencie:</h3>
            <p>Adam Lider - programista Java - rozwiązania po stronie serwera - systemy transakcyjne, integracyjne i sieciowe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>