
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>121 spotkanie WJUGa</h4>
            <h2>AngularJS 101</h2>
            <h3>Marek Lewandowski</h3>
            <p>Termin: 08.10.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p><strong>Materiały: 
                <ul>
                  <li> <a href="http://github.com/mklew/AngularJS-101" target="_blank">kod</a></li>
                  <li><a href="http://slid.es/mareklewandowski/angularjs" target="_blank">prezentacja</a></li>
                  <li><a href="http://www.youtube.com/watch?v=c04gtdickOY&amp;feature=youtu.be" target="_blank">film z prezentacji próbnej</a></li>
                </ul></strong></p>
            <p>Zapisy i dyskusja:</p>
            <ul>
              <li><a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/143438002/" target="_blank"> Meetup</a></li>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/7iueaUHNAJk" target="_blank"> grupa</a></li>
            </ul>
            <p>Sponsor:<a href="http://icompass.pl/" target="_blank"> iCompass</a></p>
            <p>Plakat:<a href="https://docs.google.com/file/d/0B8d787eZJXI_MEc5dVVzZERKWU0/edit?usp=sharing" target="_blank"> PDF</a></p>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji jest wprowadzenie słuchaczy w tematykę Angulara. AngularJS jest jednym z rodziny narzędzi do tworzenia nowoczesnych webaplikacji. Aplikacje te działają całkowicie po stronie klienta.</p>
            <p>Formułą prezentacji będą dema, które pozwolą zobaczyć i zrozumieć o co chodzi w Angularze. Przyjrzymy się kolejno różnym elementom Angulara. Zobaczymy czym różni się development w Angularze od tradycyjnego podejścia do budowy webaplikacji. Spojrzymy także bestii w oczy i przejrzymy źródła Angulara w celu zrozumienia jak to działa.</p>
            <p>W ramach prezentacji omówione zostaną funkcjonalności i elementy składowe angulara:</p>
            <ul>
              <li>scope - angular's magic</li>
              <li>dependency injection - modularność angularowych webaplikacji</li>
              <li>kontrolery - czyli C w MVC</li>
              <li>serwisy - różne sposoby pisania własnych serwisów, krótki przegląd serwisów angulara</li>
              <li>dyrektywy - używanie angularowych oraz pisanie własnych dyrektyw</li>
              <li>routing - tworzenie single page apps w angularze</li>
              <li>filtry - wykorzystywanie angularowych filtrów oraz pisanie własnych</li>
              <li>animacje - deklaratywne podejście do animacji</li>
            </ul>
            <p>Spojrzymy także na większy obrazek i nauczymy się jak:</p>
            <ul>
              <li>używać typowo frontendowych narzędzi podczas developmentu</li>
              <li>tworzyć aplikację bez backendu</li>
              <li>utrzymywać strukturę projektu</li>
              <li>zintegrować angularową aplikację z serwerem</li>
              <li>przygotowywać skrypty pod minifikację</li>
            </ul>
            <p>Prezentacja przeznaczona jest dla osób początkujących w tematyce Angulara. Fragmenty kodu będą bardzo proste(podstawowe konstrukcje JavaScript). Przeglądanie źródeł Angulara może być bardziej wymagające, ale nie trzeba będzie rozumieć każdej linijki, a jedynie koncepcję.</p>
            <h3>O prelegencie:</h3>
            <p>Marek Lewandowski - Jestem full stack developerem. Lubię pracować nad frontem, który czasem sprawia mi więcej frajdy niż backend. Lubię czysty testowalny kod i długie nazwy zmiennych. Hobbistycznie uczę się funkcyjnego programowania w Scali.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/5y6VSNtDBKI" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>