
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>122 spotkanie WJUGa</h4>
            <h2>Spring Data</h2>
            <h3> <a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a></h3>
            <p>Termin: 22.10.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p><strong>Sponsor: <a href="http://kariera.allegro.pl/" target="_blank"> Grupa Allegro</a></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>