
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>123 spotkanie WJUGa</h4>
            <h2>Polecane dla Ciebie: rekomendacje i Mahout</h2>
            <h3><a href="http://www.warski.org/blog/" target="_blank"> Adam Warski</a></h3>
            <p>Termin: 05.11.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Sekcje "Wyjątkowe okazje dla Ciebie", "Użytkownicy, którzy kupili ten produkt kupili też ..." czy spersonalizowane strony startowe w sklepach internetowych to już praktycznie standard. Implementacja systemów rekomendacji była kiedyś zarezerwowana dla wyspecjalizowanych firm; dzisiaj mamy do dyspozycji parę open-sourcowych projektów, takich jak Mahout czy LensKit, które potrafią wyciągnąć znaczenie z dużej ilości danych o preferencjach użytkowników.</p>
            <p>Po wprowadzeniu do systemów rekomendacji, czyli omówieniu podstawowych pojęć, możliwych danych wejściowych i klasyfikacji systemów ze względu na use-case'y przejdziemy do części praktycznej.</p>
            <p>Część praktyczna będzie obejmować głównie Apache Mahout, czyli projekt który opisuje się jako "Scalable machine learning and data mining". Mahout zawiera implementacje większości klasycznych algorytmów do obliczania rekomendacji; zobaczymy jak w paru prostych krokach skonfigurować Mahouta i szybko otrzymać rekomendacje na podstawie własnych danych.</p>
            <p>Mahout pomoże nam też gdy mamy Duże Dane (Big Data), lub gdy po prostu chcemy użyć Hadoopa. Ze względu na rozproszony charakter obliczeń rekomendacje obliczane są w inny sposób, co może (ale nie musi) mieć wpływ na wyniki.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>