
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>127 spotkanie WJUGa</h4>
            <h2>Flashtalks: SmartParam (Adam Dubiel), Fairyland (Kuba Kubryński) i Spring Boot (Dariusz Kaczyński)</h2>
            <p>Termin: 17.12.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>SmartParam</h3>
            <h4>Opis:</h4>
            <p>SmartParam to wolna biblioteka rozwiązująca problem powtarzający się w wielu systemach enterprise - jak efektywnie i łatwo parametryzować. Z punktu widzenia biznesu parametry to jeden z krytycznych punktów systemu, w teorii powinny pozwalać na szybkie dostosowywanie się do zmian na rynku i nowych celów biznesowych. W praktyce często sprowadza się je do kilku czy kilkunastu tabel w bazie danych, których poprawne oprogramowanie jest żmudne, a każda zmiana kłopotliwa. Tymczasem parametry w swojej naturze są szybkozmienne i wymagają dużej elastyczności.</p>
            <p>Jak w taki razie nie zakopać się w morzu if-ów z których powoli wyłania się niezarządzalna Big Ball of Mud?</p>
            <p>Jak pozbyć się bólu głowy związanego z rozszerzaniem tabel parametrycznych o kolejne wymiary?</p>
            <p>Jak uszczęśliwić biznes zmieniając formułkę "nie da się" na "ok, 1 story point"?</p>
            <p>SmartParam chce być remedium. Wiemy że to realne, bo protoplasta SmartParama na co dzień sprawdza się w boju w systemach informatycznych jednej z dużych firm ubezpieczeniowych. Jeśli czytając powyższe wprowadzenie kiwałaś ze zrozumieniem głową, przyjdź na naszą prezentację i dowiedz się więcej.</p>
            <h4>Prelegent: Adam Dubiel</h4>
            <p>Programowaniem pasjonuje się od dekady, od kilku lat jego dzień dzieli się na programowanie w pracy i programowanie po pracy. Często uważa, że "to da się zrobić lepiej" i na swoje nieszczęście nie ustaje w poszukiwaniach tego "lepiej". Perfekcjonista, od książek czysto technicznych woli czytać te o podejściu do programowania, metodologiach i patternach. Gdyby mógł, co pół roku refactorowałby swój stary kod.</p>
            <p>Obecnie programista w Allegro, na co dzień programuje w Java i JavaScript (który mimo wszystko uwielbia). Cały wolny czas pożera mu utrzymanie i rozwój własnych projektów OpenSource.</p>
            <h3>Fairyland</h3>
            <h4>Opis:</h4>
            <p>Często w projektach pojawia się potrzeba wytworzenia przykładowych danych na potrzeby testów, demonstracji działania systemu, etc W takich przypadkach z reguły uruchamiamy nasze IDE i piszemy klasę PeselGenerator. Można jednak rozwiązać to zagadnienie stosując się do metodologii DRY i wykorzystać gotowy komponent - taki jak jFairy. Z pudełka tworzy on takie rzeczy jak osoby, firmy, emaile, domeny itp. Dodatkowo dostarcza też mechanizmy umożliwiające łatwe rozszerzanie biblioteki o własne generatory danych</p>
            <h4>Prelegent: Kuba Kubryński</h4>
            <p>Zawodowo związany z PayU z ramienia którego buduje ogniwo rozwojowe w Warszawie (trzecia głowa smoka). Prywatnie czuje się mocno przywiązany do pakietu java.util.concurrent i klasy sun.misc.Unsafe. Poza tym pasjonują go lekkie aplikacje, w których stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy.</p>
            <h3>Spring Rebooted</h3>
            <h4>Opis:</h4>
            <p>Opis: Spring Framework powstał dekadę temu jako znacznie prostsza, pragmatyczna alternatywa dla nieco przekombinowanej swymi czasy JEE. I choć pozostał wierny idei prostoty, konwencji ponad konfigurację i promowaniu dobrych praktyk, to z biegiem czasu mocno się rozrósł i zyskał niezliczoną ilość nowych możliwości. Dziś rodzina projektów Spring to tysiące stron świetnej dokumentacji, setki tysięcy linii kodu, miliony używających je developerów i setki milionów użytkowników na całym świecie obsługiwanych przez aplikacje na nich oparte. Wraz z najnowszą wersją 4.0 Spring wraca do korzeni i przypomina wszystkim dlaczego powstał - aby upraszczać życie developerom! Zapraszam zatem na krótki pokaz ogromnych możliwości w połączeniu z maksymalną prostotą tworzenia aplikacji przy pomocy Spring Framework. Pokażę jak w ultra efektywny sposób budować funkcjonalności na JVM, nie koniecznie przy użyciu języka Java. Prepare to be amazed ;)</p>
            <h4>Prelegent: Dariusz Kaczyński</h4>
            <p>Zawodowo jestem developerem Java od 8 lat i Springa używam od początku swojej kariery. Jest to framework, który jak żaden inny, nigdy mnie nie zawiódł i zawsze potrafiłem przy jego pomocy osiągnąć zamierzony cel. Jako "JVM Developer wannabe" interesuję się również językiem Scala oraz w mniejszym stopniu Groovym. Wierzę również w ciągłą zmienność wszechrzeczy, w tym również, a może przede wszystkim, kodu, więc refactoring to mój najlepszy przyjaciel :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>