
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>129 spotkanie WJUGa</h4>
            <h2>Always Be Responsible for Any Code You Write, Even for Fun. NoException()</h2>
            <h3><a href="http://www.harasymczuk.pl/" target="_blank">Mateusz Harasymczuk</a></h3>
            <p>Termin: 14.01.2014 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Zapisy i dyskusja:</p>
            <ul>
              <li><a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/159785782/" target="_blank"> Meetup</a></li>
              <li><a href="https://groups.google.com/forum/?fromgroups#!topic/warszawa-jug/XBxZiHmYzGc" target="_blank"> grupa</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Kod piszę do szuflady / dla zabawy / na hackaton / na próbę / dla PoC i nie mam czasu na jakość. Ileż razy to słyszeliśmy?! A złe praktyki nabyte podczas zabawy kultywowane są później w projektach wielkiej wagi. Jakość ma znaczenie.</p>
            <p>Zapraszam na krótki inspirujący wykład o tym, że należy brać odpowiedzialność za każdy kod który piszemy, nawet ten dla zabawy. BezWyjątku().</p>
            <h3>O prelegencie:</h3>
            <p>Hi my name is Matt and I am a Developer Advocate. I help devs to learn and embrace CI, CD, TDD, GIT, Code Quality, best practices and Agile methodologies such as Scrum and Kanban. I am a full of energy extravert who tries to inspire other folks to share their knowledge and spread their passion.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>