
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>131 spotkanie WJUGa</h4>
            <h2>Specification by Example</h2>
            <h3><a href="http://agile.waw.pl/" target="_blank"> Krzysztof Jelski</a></h3>
            <p>Termin: 11.02.2014 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Czy byłeś kiedykolwiek sfrustrowany tworzeniem funkcjonalności, o której wiedziałeś, że będzie niepotrzebna? Czy zdarzyło ci się spędzać długie godziny na przerabianiu dotychczasowej pracy z powodu niedogadania wymagań między biznesem a deweloperami? Czy zdarzyło ci się zidentyfikować super-istotny przypadek brzegowy już po wdrożeniu na produkcję?</p>
            <p><a href="http://specificationbyexample.com/key_ideas.html" target="_blank">Specification by Example</a> to podejście, które zmniejsza ryzyko wystąpienia powyższych frustracji w procesie wytwarzania oprogramowania. Schodząc do poziomu szczegółowych przykładów działania funkcjonalności, szybko identyfikujemy przypadki brzegowe i eliminujemy niepotrzebny zakres. Angażując cały zespół, ukierunkowujemy wszystkich na dostarczenie oprogramowania pomagającego realizować cele biznesowe. Automatyzując przykłady, unikamy błędów regresji i dostajemy zawsze aktualną dokumentację.</p>
            <p>Opowiem o elementach Specification by Example i o tym, jak się ma do BDD. Pokażę też w jaki sposób można automatyzować scenariusze w Javie.</p>
            <h3>O prelegencie:</h3>
            <p>Doświadczony deweloper Javy i C#, praktykujący Test-Driven Development. Pracuje na sposób Agile’owy i przez szkolenia i coaching uczy innych tworzenia oprogramowania w ten sposób. Chce, aby software efektywnie pomagał innym w życiu i pracy, dlatego kładzie duży nacisk na komunikację i inne ludzkie aspekty pracy zespołów. Na co dzień w Pragmatists. Właściciel<a href="http://agile-elearning.pl/" target="_blank"> agile-elearning.pl</a>, sprzedaje online’owe szkolenia z Agile’owych praktyk inżynierskich.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>