
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>133 spotkanie WJUG</h4>
            <h2>OpenJDK hackathon (feat.<a href="#/jcp"> WJUG-JCP</a>)</h2>
            <p>Termin: 25.03.2014 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://kariera.allegro.pl/" target="_blank"> Grupa Allegro</a></p>
            <h3>O hakatonie:</h3>
            <p>Czy jesteś ciekawy jak wygląda praca przy<a href="http://openjdk.java.net/" target="_blank"> OpenJDK</a>? Chciałbyś coś wnieść do rozwoju<a href="http://openjdk.java.net/" target="_blank"> OpenJDK</a>, ale nie wiesz jak się do tego zabrać?</p>
            <p>Jeżeli odpowiedzią na którekolwiek z pytań jest TAK zapraszamy na mały hackathon, na którym będziesz mógł się zapoznać z podstawami pracy ze źródłami<a href="http://openjdk.java.net/" target="_blank"> OpenJDK</a>. Podczas hackathonu pokażemy jak te źródła pobrać oraz jak je modyfikować. Zapraszamy wszystkich zainteresowanych. Wymagany jest własny komputer oraz zainstalowany VirtualBox.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>