
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>136 spotkanie WJUG</h4>
            <h2>Java SE 8 & Java EE 7 flash-talks</h2>
            <h3>Wielu prezenterów</h3>
            <p>Termin: 22.04.2014 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Java SE 8 & Java EE 7 flash-talks, czyli zmiany i nowości, które pojawiły się w JSE8 i JEE7</p>
            <ul>
              <li>Type Annotations</li>
              <li>O nowych metowach w interfejsie Map</li>
              <li>Java 8 na Androidzie</li>
              <li>WebSocket</li>
              <li>Optional z JDK 8</li>
              <li>java.time</li>
              <li>Stream</li>
              <li>java.util.concurrent.atomic</li>
              <li>JSR 352 - Batch Processing for Java Platform</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>