
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>14 spotkanie WJUG</h4>
            <h2>Testy jednostkowe - techniki i wyzwania</h2>
            <h3>Tomasz Kaczanowski</h3>
            <p>Termin: 31.07.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/TAh7BZMwcm8/" target="_blank">zapowiedź</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/Bs2k9oONiNM/" target="_blank">dyskusja i zapowiedź druga (obszerniejsza)</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Testy jednostkowe są jednym z elementów zapewniania jakości oprogramowania. Za ich tworzenie odpowiada programista piszący kod. W czasie prezentacji Tomek zaprezentuje rozwiązania typowych problemów związanych z pisaniem testów jednostkowych, przedstawi podejście "test-first" oraz zaprezentuje pomocne techniki i narzędzia (mock-objects, code coverage). Do pełnego zrozumienia poruszanych zagadnień zaleca się zapoznanie z minimum wiedzy na temat testów jednostkowych, która została zaprezentowana w wątku <a href="https://groups.google.com/forum/#!topic/warszawa-jug/Bs2k9oONiNM/" target="_blank">"Prezentacja 31 lipca 2007 - testy jednostkowe - techniki i wyzwania"</a>.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Tomasz Kaczanowski, który jest programistą Javy (certyfikaty SCJP i SCWCD) w firmie <a href="http://www.eo.pl" target="_blank">eo Networks</a>. Tomasz służbowo zajmuje się tworzeniem aplikacji internetowych, chociaż bliżej mu do rozwiązań korzystających z Java SE niż Java EE. Od dłuższego czasu śledzi (czyta i wypróbowuje na własnym kodzie) wszystko co związane z testami - zwłaszcza jednostkowymi. Uczuciowo związany z nurtem XP/Agile i...rodzinnym Krakowem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>