
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>144 spotkanie WJUG</h4>
            <h2>Thymeleaf - szablony, które bez przetworzenia zrozumie twoja przeglądarka</h2>
            <h3>Maciej Ziarko</h3>
            <p>Termin: 14.10.2014 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://4finance.com/" target="_blank"> 4finance</a></p>
            <h3>O spotkaniu:</h3>
            <p>Prezentacja będzie dotyczyła biblioteki<a href="http://www.thymeleaf.org/" target="_blank"> Thymeleaf</a> (pol. liść tymianku), która jest potężnym silnikiem szablonów. Można wykorzystać ją na przykład do generowania treści strony WWW czy wiadomości e-mail. Dzięki dostępnej "out-of-box" integracji ze Spring MVC i Spring Security, Thymeleaf systematycznie zyskuje na popularności. Dodatkowo Thymeleaf jest jedną z czterech technologii widoku, posiadających auto-konfigurację w Spring Boot. O wzrastającej popularności może świadczyć też fakt, iż wsparcie dla tej technologii jest (według liczby oddanych głosów na YouTrack firmy JetBrains) jedną z najbardziej wyczekiwanych nowości w nadchodzącym wydaniu IntelliJ IDEA 14.</p>
            <p>Podczas prezentacji, poza przykładami na slajdach, będzie również kodowanie live. Dzięki<a href="http://itutorial.thymeleaf.org/" target="_blank"> dostępnej aplikacji</a> wykonamy wspólnie kilka zadań. Do wykonania zadań będzie wystarczyła przeglądarka WWW i internet.</p>
            <h3>O prelegencie:</h3>
            <p>Maciek Ziarko jest entuzjastą technologii związanych ze Spring Framework i każdego dnia stara się polepszać swoje umiejętności programistyczne. Silnik Thymeleaf wykorzystywał z powodzeniem w kilku projektach.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/dJTSVNjkkNo" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>