
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>147 spotkanie WJUG</h4>
            <h2>yo coffee! czyli kamerdyner na wezwanie</h2>
            <h3><a href="https://www.linkedin.com/pub/tomasz-ducin/4b/34a/822" target="_blank"> Tomasz Ducin</a></h3>
            <p>Termin: 12.11.2014 godz. 18:00,<strong>uwaga: wyjątkowo spotykamy się w środę!</strong></p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>JavaScript. 100% framework agnostic. Wspomaganie automatyzowania pracy frontend developerów przy budowaniu, testowaniu i deployowaniu aplikacji. Narzędzia, które zamierzam omówić, to: npm, bower, grunt i yo. Wszystkie razem tworzą tzw. "yeoman workflow", który zrewolucjonizował pracę frontendowców (narzędzia rozwijane i mocno promowane m.in. przez google i twittera).</p>
            <p>Cel prezentacji - zapoznać słuchaczy z nowoczesnymi narzędziami nie tylko po to, aby sobie posłuchali o frontendowych ciekawostkach, ale żeby sami z nich skorzystali (o ile ich jeszcze nie znają).</p>
            <p>Poziom trudności prezentacji / stopień szczegółowości - do dogadania. Mogę przybliżyć podstawy, mogę pokazać bardziej zaawansowane przykłady - w zależności od potrzeb słuchaczy.</p>
            <h3>O prelegencie:</h3>
            <p><a href="https://www.linkedin.com/pub/tomasz-ducin/4b/34a/822" target="_blank"> Tomasz Ducin</a>: Zawodowo programuje od 7 lat, obecnie pracuje w firmie Hewlett-Packard jako Senior Software Engineer. Pasjonat technologii pythonowych i javascriptowych, zainteresowany metodykami agile. Prowadzi warsztaty i prezentacje m.in. na pyWaw, warsjawa, warsaw.js, meet.js i django carrots. Prywatnie zainteresowany teatrem, kinem i muzyką.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>