
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>148 spotkanie WJUG</h4>
            <h2>Osobisty biznesplan. Jak Java developer może zaplanować swoją karierę?</h2>
            <h3>Krzysztof Śliwiński i Sebastian Konkol</h3>
            <p>Termin: 25.11.2014 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Wiele czynników decyduje o powodzeniu. Jednym z nim jest znalezienie w sobie wszystkich zasobów, które mogą nam pomóc w osiągnięciu celów. Możemy mieć słabości, ale to talenty decydują o tym, że będziemy zadowoleni z tego, co robimy.</p>
            <p>Jak znaleźć swoje talenty i zaprząc je do pracy nad rozwojem swojej kariery. Jako developera i jako człowieka.</p>
            <h3>O prelegentach</h3>
            <p>
              Krzysztof Śliwiński:
              to be defined
            </p>
            <p>
              Sebastian Konkol
              to be defined
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>