
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>15 spotkanie WJUGa</h4>
            <h2>Wykorzystanie siły Aspect-Oriented Programming (AOP) w projektach komercyjnych </h2>
            <h3>Bartosz Szkudlarek</h3>
            <p>Termin: 18.09.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/Ia354YYxaVQ/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Tematem prezentacji będą zagadnienia związane z Aspect-Oriented Programming (AOP). Paradygmat ten, coraz bardziej popularny, powoli asymilowany jest przez rozwiązania korporacyjne. Celem prezentacji będzie wprowadzenie słuchaczy w główne pojęcia AOP, przedstawienie kluczowych koncepcji i głównych implementacji. Oprócz teorii będzie też kilka przykładów wykorzystania paradygmatu AOP w powiązaniu ze Spring Framework.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Bartosz Szkudlarek. Bartek pracuje dla korporacji mocno powiązanej z Ryszardem K. i jest tam głównym architektem. W chwili obecnej realizuje projekt dla dużej firmy ubezpieczeniowej. Z Java EE związany jest od siedmiu lat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>