
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>154 spotkanie WJUG</h4>
            <h2>Web components with Polymer</h2>
            <h3><a href="https://twitter.com/apierzch" target="_blank"> Adam Pierzchała</a></h3>
            <p>Termin: 03.03.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.pragmatists.pl/" target="_blank"> Pragmatists</a></p>
            <h3>O prezentacji:</h3>
            <p>Podczas tej prezentacji zaprezentuję nowe standardy W3C, czyli Shadow DOM, Custom elements oraz HTML Imports.</p>
            <p>Opowiem o co w nich chodzi, pokażę jak z nich korzystać oraz jak ułatwia to Polymer. Będzie dużo przykładów!</p>
            <h3>O prelegencie:</h3>
            <p>Jestem programistą w firmie Pragmatists, gdzie na co dzień stosuję Test Driven Design, Pair Programming i wiele innych technik z XP. Interesuję się Domain Driven Design, technikami tworzenia czystego kodu, XP, oraz usprawnianiem pracy zespołów agilowych. Jestem też jednym z organizatorów Jinkubatora.</p>
            <h3>Nagranie ze spotkania:</h3>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/kueTbongGkY" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>