
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>154 spotkanie WJUG</h4>
            <h2>Web components with Polymer</h2>
            <h3><a href="https://twitter.com/apierzch" target="_blank"> Adam Pierzchała</a></h3>
            <p>Termin: 03.03.2015 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>-</p>
            <h3>O prelegencie:</h3>
            <p>-</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>