
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>155 spotkanie WJUG</h4>
            <h2>Beyond Futures And Actors</h2>
            <h3>Maciej Jaśkowski</h3>
            <p>Termin: 17.03.2015 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Programowanie współbieżne robi się coraz prostsze, dzięki abstrakcjom takim jak Actor, czy Future i Promise. Kod współbieżny napisany przy pomocy tych technologii prawie zawsze jest trudniejszy do przeczytania niż kod całkowicie sekwencyjny.</p>
            <p>W ostatnich miesiącach pojawiło się kilka technologii, które wydają się być przełomowe:</p>
            <ul>
              <li>[Kanban na wątkach] Kanały (Channel) w Quasar (dla Javy od Parallel Universe) lub core.async (dla Clojure)</li>
              <li>[Ciśnienie zwrotne] Akka Streams</li>
            </ul>
            <p>Podczas prezentacji przybliżę filozofię ich działania i pokażę przykłady kodu napisanego w Quasar i Akka Streams.</p>
            <h3>O prelegencie:</h3>
            <p>Maciej Jaśkowski: Programista, przedsiębiorca. Pasjonat technologii niemainstreamowych. Dzisiaj w Segment of One.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>