
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>157 spotkanie WJUG</h4>
            <h2>Dlaczego 99% firm, które tworzą API RESTowe kłamie?</h2>
            <h3><a href="http://bandrzejczak.com" target="_blank">Bartek Andrzejczak</a></h3>
            <p>Termin: 14.04.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.bms.com.pl/" target="_blank"> BMS</a></p>
            <h3>O prezentacji:</h3>
            <p>Istnieje duże prawdopodobieństwo, że na co dzień piszesz aplikacje z użyciem wzorca REST. Ale czy Twoje aplikacje można określić jako w pełni RESTful? Czy na pewno niczego im nie brakuje?</p>
            <p>HATEOAS (Hypermedia as the Engine of Application State) to najrzadziej implementowana część REST-a. Wprowadza ona do modelu linki łączące poszczególne zasoby w ramach API, bez których aplikacja nie może być w pełni RESTful. Jednak czy aplikacje tylko częściowo implementujące wzorzec REST będą gorsze? Oczywiście, że nie, ale nikt nie powiedział, że nie mogą być lepsze!</p>
            <p>Podczas prezentacji chciałbym przedstawić tę, moim zdaniem, nieco niedocenianą część REST'a, pokazać czym jest HATEOAS, jak wygląda, gdzie pasuje a gdzie nie oraz jak można go zaimplementować po stronie serwera i klienta.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://bandrzejczak.com" target="_blank">Bartek Andrzejczak</a>: Pierwsze linijki kodu napisał w Delphi, a dalej to już jakoś poszło. Aktualnie pisze w Javie na co dzień pracując w firmie <a href="http://bms.com.pl" target="_blank">Business Management Software</a>. Od kiedy przeczytał "Clean Code" nie może przestać pochłaniać kolejnych książek związanych z Software Craftsmanship. Fascynuje go Domain Driven Design, który stara się wdrażać w swoich projektach. W czasie wolnym udziela się na spotkaniach Warszawskiego JUG'a i grupy WarszawScala, bloguje na <a href="http://bandrzejczak.com" target="_blank">bandrzejczak.com</a> oraz tweetuje na <a href="https://twitter.com/baandrzejczak" target="_blank">@baandrzejczak</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>