
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>158 spotkanie WJUG</h4>
            <h2>Jesteś ekspertem i co dalej?</h2>
            <h3><a href="http://art-of-software.blogspot.com/" target="_blank"> Sławek Sobótka</a></h3>
            <p>Termin: 28.04.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="https://softwaremill.com/" target="_blank"> SoftwareMill</a></p>
            <h3>O prezentacji:</h3>
            <p>Prawdopodobnie to wrodzona dociekliwość oraz zamiłowanie poszukiwania modeli, struktur i wzorców spowodowały, że zajmujesz się projektowaniem i programowaniem systemów.</p>
            <p>Chciałbym zaprosić Cię do podróży po kolejnym systemie, który jest znacznie bardziej złożony niż te, z którymi spotykasz się na co dzień – Twój mózg.</p>
            <p>Dzięki zdobytej wiedzy będziesz mógł/mogła świadomie zastanowić się nad ścieżką kariery w zaproponowanych modelach: lider techniczny, ekspert, inspirator, mentor.</p>
            <p>Według najnowszej wiedzy z zakresu kognitywistyki i neuropsychologii pod Twoją czaszką znajduje się:</p>
            <ul>
              <li>około 40 procesorów specjalizujących się w specyficznych zadaniach,</li>
              <li>procesory te łączą się ze sobą w agencje, agencje natomiast rywalizują między sobą o zasoby takie jak gliken (węglowodan) a czasem nawet się wzajemnie sabotują,</li>
              <li>kilka szyn danych ogólnego przeznaczenia (blokowanych przez wspomniane wcześniej agencje),</li>
              <li>kilka magazynów pamięci różnego przeznaczenia (chwilowa, robocza, długotrwała, emocjonalna,…),</li>
              <li>całość sterowana systemem „zdarzeń”, których nośnikiem są hormony i neuroprzekaźniki,</li>
              <li>część procesorów jest wyrafinowana i precyzyjna, a inna część jest na poziomie gada – niestety gdy cały system jest zalany np. falą hormonów stresu, to sterowania przejmuje „jaszczurka”… po kilku godzinach reflektujesz się i żałujesz, że nie zachowałeś/zachowałaś się inaczej… w „trybie jaszczurki” było to jednak niemożliwe,</li>
              <li>wiele innych interesujących modeli…</li>
            </ul>
            <h3>O prelegencie:</h3>
            <p><a href="http://art-of-software.blogspot.com/" target="_blank">Sławek Sobótka</a>: Jestem trenerem i konsultantem w firmie Bottega IT Solutions, specjalizuję się w technologiach Java EE.</p>
            <p>W codziennej pracy integruję Domain Driven Design, wzorce, style architektoniczne, zwinne procesy wytwórcze i zdrowy rozsądek. Stosuję nadrzędną zasadę: rozpoznać klasę problemu z jaką mamy do czynienia i dobrać do niej odpowiednią klasę narzędzia. Hobbystycznie interesuję się psychologią stosowaną i kognitywistyką. Lubię myśleć o sobie jako entuzjaście Software Craftsmanship.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>