
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>16 spotkanie WJUG</h4>
            <h2>Integracja JSF + Facelets + Spring + JPA + Tomahawk</h2>
            <h3> <a href="http://blog.mocna-kawa.com" target="_blank">Wiktor Gworek</a></h3>
            <p>Termin: 02.10.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/ZdNz8zKN19s/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>JavaServer Faces (JSF), Tomahawk, Facelets, Spring Framework i Java Persistence (JPA) to technologie, o których miło się czyta. Kiedy jednak przychodzi do rzeczywistych zastosowań, nie ma osoby, która by nie miała problemów z ich integracją. Celem prezentacji będzie zbudowanie prostej aplikacji typu CRUD (Create-Read-Update-Delete) łączącej wszystkie te magiczne technologie w atmosferze dobrej zabawy.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Wiktor Gworek, student V roku na MIMUW-ie, który jest entuzjastą życia i nowych technologii. Wiktor uwielbia ładne, radosne programowanie, kunsztowną architekturę oprogramowania oraz czytanie RSSów ;). Z Javą związany jest od dwóch lat, jednak stroni on od monogamii programistycznej. Prowadzi blog <a href="http://blog.mocna-kawa.com" target="_blank">Mocna Kawa</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>