
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>160 spotkanie WJUG</h4>
            <h2>Supler: formularze made easy</h2>
            <h3><a href="http://www.warski.org/blog/" target="_blank"> Adam Warski</a></h3>
            <p>Termin: 26.05.2015 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="https://softwaremill.com/" target="_blank"> SoftwareMill</a></p>
            <h3>O prezentacji:</h3>
            <p>To Be Defined</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://www.warski.org/blog/" target="_blank"> Adam Warski</a>: TBD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>