
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>160 spotkanie WJUG</h4>
            <h2>Suple(r): Aplikacje Hardkorowo!</h2>
            <h3><a href="http://www.warski.org/blog/" target="_blank"> Adam Warski</a>,<a href="http://szimano.org/" target="_blank"> Tomasz Szymański</a></h3>
            <p>Termin: 26.05.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="https://softwaremill.com/" target="_blank"><img src="/img/sponsors/softwaremill.png" border="0" style="height: 60px"/></a></p>
            <h3>O prezentacji:</h3>
            <p>Co się dużo oszukiwać, większość z nas na jakimś etapie swojej pracy koduje formularze. Mniej lub bardziej skomplikowane, z mniej lub bardziej przeszkadzającym frameworkiem. A im bardziej rozbudowany formularz, tym większa nasza frustracja i duplikacja kodu.</p>
            <p>Dlatego postanowiliśmy stworzyć<a href="https://github.com/softwaremill/supler" target="_blank"> Suplera</a>. Główne funkcjonalności Suplera to:</p>
            <ul>
              <li>Scalowy DSL do definiowania formularzy, generowania ich opisu w JSONie, przypisywania nowych wartości do obiektu, wykonywania akcji, walidacji </li>
              <li>renderer HTMLu w Typescripcie (Javascripcie), walidacje po stronie klienta, szablony, automatyczne odświeżanie.</li>
            </ul>
            <p>Równie ważne co cechy Suplera jest to, czym się Supler nie zajmuje: nie wymaga określonego frameworku webowego czy Javascriptowego, nie wymaga określonego ORMu, nie wpływa na cykl życia obiektów itd. Naszym celem jest stworzenie biblioteki, nie frameworku, którą będzie można wykorzystać w różnych kombinacjach technologicznych.</p>
            <p>Zapraszamy na kodowanie na żywo gdzie pokażemy Suplera w praktyce i postaramy się wyjaśnić stojące za nim idee.</p>
            <h3>O prelegentach:</h3>
            <p><a href="http://www.warski.org/blog/" target="_blank"> Adam Warski</a>: Jestem jednym z współzałożycieli<a href="https://softwaremill.com/" target="_blank"> SoftwareMill</a>, gdzie koduje głównie używając Scali i innych ciekawych technologii. Część wolnego czasu spędzam nad różnymi projektami open-source, m.in. MacWire, Hibernate Envers, ElasticMQ, Veripacks. W trakcie pozostałego wolnego czasu próbuję przeczytać internet na tematy około-programistyczne, przemyślenia kierując na bloga.</p>
            <p><a href="http://szimano.org/" target="_blank"> Tomasz Szymański</a>: Swoją przygodę z profesjonalnym programowaniem rozpoczął ponad 10 lat temu. Pierwsze poważne kody pisał jeszcze jako praktykant w firmie JBoss, by w końcu zostać Architektem Aplikacji w jednym z największych banków w RPA.</p>
            <p>Wierzy w czysty kod, społeczność i metodyki agile.  Dlatego po latach doświadczeń wraz ze wspólnikami założył <a href="https://softwaremill.com/" target="_blank"> SoftwareMill</a> - pierwszy w Polsce softwarehouse oparty o zupełnie płaską strukturę i pracę zdalną. Od blisko 5 lat rozwija firmę, w której 30 osób zdalnie realizuje projekty dla klientów na 4 kontynentach.</p>
            <p>Aktywny członek i leader Warsaw Java User Group, Warsaw Groovy User Group, organizator oraz prelegent kilku konferencji i eventów branżowych. Prywatnie postawił sobie za cel dorównanie Tigerowi Woodsowi w grze w golfa ;)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>