
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>162 spotkanie WJUG</h4>
            <h2>TBD</h2>
            <h3>TBD</h3>
            <p>Termin: 23.06.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>TBD</p>
            <h3>O prelegencie:</h3>
            <p>TBD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>