
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>164 spotkanie WJUG</h4>
            <h2>Mhm, mikroserwisy. Już wiesz,że wtopiłeś...</h2>
            <h3>Marcin Matuszak</h3>
            <p>Termin: 11.08.2015 godz. 18:00</p>
            <p>Lokalizacja: PJATK, ul. Koszykowa 86, budynek A (główny), duża aula</p>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji będzie zniechęcenie Was do microserwisów. Pod cienkim kożuchem _fajności_ takiego podejścia do architektury, kryje się _złożoność_ o której rzadko się wspomina. Większość prezentacji pomija aspekty zawiązane z wydajnością, testowaniem oraz pomiarami, a które są bardzo istotne i bardzo szybko mogą odbić się 'czkawką'.</p>
            <h3>O prelegencie:</h3>
            <p>Marcin Matuszak : Związany z Wrocławiem programista javy, obecnie pracujący w Berlinie. Aktywny członek wrocławskiego JUGa, współorganizator konferencji ChamberConf odbywającej się na zamku w Mosznej. W wolnych chwilach zajmuje się uczeniem dzieci programowania na kid-coders.pl.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>