
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>166 spotkanie WJUG</h4>
            <h2>On-heap cache vs Off-heap cache w Javie</h2>
            <h3>Radek Grębski</h3>
            <p>Termin: 22.09.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 4420 (UWAGA: Sala inna niż standardowo!)</p>
            <p>Sponsor:<a href="http://www.itmo.pl/" target="_blank"> ITMO</a></p>
            <h3>O prezentacji:</h3>
            <p>W prezentacji przybliżę temat pamięci off-heap, czyli obszaru pamięci nie zarządzanej przez JVM. Przedstawię wady i zalety korzystania z tego rozwiązania, sposoby użycia klas ByteBuffer (direct/non-direct, big_endian/little_endian), Unsafe.allocateMemory oraz powiem czym jest memory mapped file.</p>
            <p>Następnie omówię 3 rodzaje cache'e:</p>
            <ul>
              <li>Hazelcast (on heap cache),</li>
              <li>ChronicleMap (off-heap cache/store),</li>
              <li>Redis (napisany w C)</li>
            </ul>
            <p>oraz przedstawię porównanie wydajności (zapis, odczyt, pauzy GC) z naciskiem na off-heapowe rozwiązanie.</p>
            <p>Pokażę również fragmenty kodu ChronicleMap.</p>
            <h3>O prelegencie:</h3>
            <p>Radek Grębski: Full stack developer for 7 years, new technologies fan since born. Currently developing lottery systems in GTech. For some time interested in off-heap solutions. After work.. basketball player.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>