
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>167 spotkanie WJUG</h4>
            <h2>Garbage Collector w pigułce</h2>
            <h3><a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a></h3>
            <p>Termin: 06.10.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.porty-lotnicze.com.pl" target="_blank"> <img src="/img/sponsors/porty.png" border="0" style="height: 60px"/></a></p>
            <h3>O prezentacji:</h3>
            <p>Garbage Collector można śmiało określić mianem cichego bohatera JVM. To właśnie dzięki jego pracy możemy praktycznie zupełnie zapomnieć o zarządzaniu pamięcią, zwalnianiu obiektów, etc. Jednak w życiu nie ma nic za darmo :) O tym jaki koszt wiąże się z wykorzystaniem GC, jakie algorytmy przygotowali dla nas programiści JDK i kiedy powinniśmy z nich skorzystać będzie przewijało się przez cała prezentację. Powiemy także sobie czemu wiedza ta powinna znaleźć się w arsenale każdego szanującego się programisty Java.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a>: Programowanie jest dla niego zarówno sposobem na życie jak i hobby. Skoncentrowany na odchudzaniu systemów korporacyjnych, żywo zainteresowany nowymi technologiami oraz ciągłym podnoszeniem efektywności dostarczania oprogramowania. Pasjonują go lekkie aplikacji, w którym stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy. Współzałożyciel startupu<a href="http://devsKiller.com/" target="_blank"> DevSKiller.com</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>