
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>167 spotkanie WJUG</h4>
            <h2>TBD</h2>
            <h3><a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a></h3>
            <p>Termin: 06.10.2015 godz. 18:15</p>
            <p>Lokalizacja: TBD</p>
            <h3>O prezentacji:</h3>
            <p>TBD</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://www.kubrynski.com" target="_blank"> Jakub Kubryński</a>: Programowanie jest dla niego zarówno sposobem na życie jak i hobby. Skoncentrowany na odchudzaniu systemów korporacyjnych, żywo zainteresowany nowymi technologiami oraz ciągłym podnoszeniem efektywności dostarczania oprogramowania. Pasjonują go lekkie aplikacji, w którym stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy. Współzałożyciel startupu DevSKiller.com.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>