
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>17 spotkanie WJUG</h4>
            <h2>Jak to zrobić w Seamie?</h2>
            <h3>Paweł Wrzeszcz</h3>
            <p>Termin: 16.10.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/u_hQjsZIPZg/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>O <a href="http://labs.jboss.org/jbossseam" target="_blank">JBoss Seam </a>mówi się, że jest "brakującym szkieletem" Javy EE 5.0, który w nowatorski sposób scala technologie EJB3, JPA, JSF 1.2 i in. w jedną całość ułatwiającą programiście szybkie wdrożenie się w tajniki i korzystanie z dobrodziejstw JEE.</p>
            <p>W ramach wstępu dowiecie się jak za pomocą Seama stworzyć prostą aplikację webową Model-Widok-Kontroler. W części bardziej zaawansowanej zostaną pokazane dwa z wielu ciekawych udogodnień jakie oferuje nam Seam: wbudowana obsługa parametrów adresów URL oraz integracja z JavaScript (Seam Remoting Framework).</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Paweł Wrzeszcz, który kończy pisać pracę magisterską opartą o Seama na Wydziale MIMUW. Zawodowo Paweł jest członkiem zespołu <a href="http://labs.jboss.com/jbosslabs/" target="_blank">JBoss Labs</a>, pracuje nad infrastrukturą strony jboss.org.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>