
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>172 spotkanie WJUG</h4>
            <h2>Eclipse Collections By Example</h2>
            <h3>Christian Glencross</h3>
            <p>Termin: 15.12.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.goldmansachs.com/" target="_blank"> Goldman Sachs</a></p>
            <h3>O prezentacji:</h3>
            <p>The Eclipse Collections framework is a feature-rich open source Java collections framework. This session explains the design of the framework and demonstrates many problems it solves. The session includes examples of object and primitive containers; the rich APIs available for eager and lazy iteration patterns; mutable and immutable collections; and additional container types not available in the JDK, such as Bag and Multimap.</p>
            <h3>O prelegencie:</h3>
            <p>Christian Glencross: Christian Glencross is a Senior Engineer at Goldman Sachs, working in the Enterprise Platforms area. He has been working with Java since 1997, with a special interest in application performance tuning and system scalability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>