
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>172 spotkanie WJUG</h4>
            <h2>GS Collections</h2>
            <h3>Christian Glencross</h3>
            <p>Termin: 15.12.2015 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.goldmansachs.com/" target="_blank"> Goldman Sachs</a></p>
            <h3>O prezentacji:</h3>
            <p>TBD</p>
            <h3>O prelegencie:</h3>
            <p>Christian Glencross: TBD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>