
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>174 spotkanie WJUG</h4>
            <h2>Logowanie zdarzeń w architekturze opartej na mikroserwisach</h2>
            <h3>Paweł Grajewski, Łukasz Kamiński</h3>
            <p>Termin: 02.02.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.bms.com.pl/" target="_blank"> BMS</a></p>
            <h3>O prezentacji:</h3>
            <p>Wzrost popularności architektur opartych na mikroserwisach skutecznie wystawia na próbę sposób, w jaki aplikacje rejestrują swoje zdarzenia. Bez przemyślanego podejścia łatwo doprowadzić do sytuacji, w której jakikolwiek troubleshooting okazuje się praktycznie niemożliwy.</p>
            <p>Podczas prezentacji przedstawimy zestaw narzędzi przydatnych w zarządzaniu logami generowanymi w środowiskach, w których pracuje wiele niezależnych aplikacji bądź systemów. Zademonstrujemy w praktyce wykorzystanie zestawu narzędzi Logstash, Elasticsearch oraz Kibana, a także wskażemy dostępne dla nich alternatywy. Opowiemy o rejestrowaniu metryk aplikacyjnych w bazach danych typu time-series, takich jak Graphite czy InfluxDB. Zahaczymy o kwestię wykorzystania tych narzędzi również do celów innych aniżeli rejestrowanie zdarzeń. Pokażemy również, w jaki sposób zmieniają się trendy co do sposobu logowania zdarzeń z aplikacji. Podpowiemy także, w jaki sposób rejestrować zdarzenia tak, aby nasza aplikacja była prostsza w utrzymaniu oraz by ułatwić rozwiązywanie potencjalnych problemów.</p>
            <h3>O prelegencie:</h3>
            <p>Paweł Grajewski - absolwent Politechniki Warszawskiej, architekt oprogramowania z wieloletnim doświadczeniem, specjalista z zakresu technologii Java oraz Java Enterprise Edition. Od ponad 10 lat projektuje rozwiązania dla firm z sektora finansowego, pomagając im budować przewagę konkurencyjną dzięki dedykowanym systemom informatycznym. Nieustannie śledzi trendy na rynku nowych języków programowania oraz poszukuje nowatorskich praktyk inżynierskich, upatrując w nich sposobu na podniesienie efektywności budowanych rozwiązań i dostarczenie Klientom jeszcze większej wartości.</p>
            <p>Łukasz Kamiński - absolwent Politechniki Warszawskiej, programista z wykształcenia, zawodu i powołania. Jest zajawkowiczem i gadżeciarzem, stąd stale wypróbowuje nowe rozwiązania i narzędzia. Podczas pracy zwraca uwagę na wytwarzanie oprogramowania o wysokiej jakości i ciągle doskonali się w tym kierunku.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>