
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>176 spotkanie WJUG</h4>
            <h2>Jak nie zawalić projektu - czyli ryzyko i komunikacja</h2>
            <h3>Karol Drzymała</h3>
            <p>Termin: 01.03.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:</p>
            <p><a href="http://www.bluesoft.net.pl/" target="_blank"><img src="/img/sponsors/bluesoft.jpg" border="0" style="height: 100px"/></a></p>
            <h3>O prezentacji:</h3>
            <p>Jestem project managerem w Bluesoft i Tabasco Interactive.</p>
            <p>W trakcie prezentacji opowiadam o swoich doświadczeniach z zarządzania kilkoma projektami z zakresu Game Devu oraz brażny Telco.</p>
            <p>W szczególności, opowiadam o tym czego nauczyliśmy się z jednego dużego projektu (Bruce the Game), który się nie udał, a miał wszelkie podstawy ku temu by odnieść sukces: mieliśmy świetny koncept, doświadczony zespół, zapewnione finansowanie.</p>
            <p>Z perspektywy czasu - wiemy, że tamten projekt się nie udał, bo był źle zarządzany.</p>
            <p>Prezentacja opowiada o błędach, które popełniliśmy, tak abyście Wy nie musieli ich popełniać ponownie.</p>
            <h3>O prelegencie:</h3>
            <p>Karol Drzymała: Absolwent wydziału EiTI na Politechnice Warszawskiej. Pomysłodawca i założyciel studia Tabasco Interactive odpowiedzialnego za Star Horizon oraz Kickerinho. Wcześniej team leader i software architect w Bluesoft, gdzie zajmował się głównie integracją systemów dla branży telekomunikacyjnej.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>