
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>177 spotkanie WJUG</h4>
            <h2>DDD w praktyce, czyli jak wdrażamy i uczymy się DDD w Allegro</h2>
            <h3>Krzysztof Muchewicz</h3>
            <p>Termin: 15.03.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://www.softwareplant.eu/" target="_blank"> SoftwarePlant</a></p>
            <h3>O prezentacji:</h3>
            <p>DDD nie jest frameworkiem czy też metodologią, jest raczej zbiorem zdroworozsądkowych wzorców i narzędzi, które każdy może komponować według uznania i potrzeb. Chociaż jest już z nami od ponad 10 lat, ciągle uczymy się jak najlepiej je wykorzystać, tak aby z jednej strony wnieść wartość do codziennej pracy, a z drugiej nie wpadać w formalizmy i teoretyczne dyskusje.</p>
            <p>Przeprowadzając transformację monolitycznej platformy Allegro zastosowaliśmy wzorce DDD jako jedno z głównych narzędzi i stało się naszym chlebem powszednim.</p>
            <p>W prezentacji opowiem co ze skrzynki narzędziowej DDD użyliśmy i z jakim skutkiem. Dowiecie się jak sami uczyliśmy się DDD i jak sprzedawaliśmy tę wiedzę w organizacji.</p>
            <p>Wreszcie opowiem wam czego sam nauczyłem się o DDD, szczególnie jak zmieniało się moje zrozumienie Projektowania Strategicznego i jak uczyłem się stosować DDD w świecie mikrousługowym.</p>
            <h3>O prelegencie:</h3>
            <p>Krzysztof Muchewicz: Solutions Architect in Allegro Group</p>
            <p>Software engineer, manager, software architect with 10 years experience. Working in small medium and large organizations, on various platforms and technologies. Devoted DDD believer ;). Recently fascinated with Scala, Akka and Spark.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>