
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>178 spotkanie WJUG</h4>
            <h2>Flash talks - ConfigSlurper, Big Data, wyjątki w Lambdach, web SSO oraz Guice</h2>
            <h3>Dominik Przybysz, Grzegorz Piwowarek, Piotr Guzik, Piotr Fus, Mateusz Sobczak</h3>
            <p>Termin: 29.03.2016 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>Flash talk "Jak radzić sobie z konfiguracją wg. Grooviego"</h3>
            <p>Na prezentacji opowiem o ConfigSlurperze dostępnym w Groovym. Jak za jego pomocą wczytać konfigurację, jak łatwo nią zarządzać oraz korzystać z propertiesów jakby były drzewem.</p>
            <h4><a href="http://przybyszd.blogspot.com/" target="_blank"> Dominik Przybysz</a></h4>
            <p>Większość życia spędził pisząc w javie i groovym, ale zdarzało mu się oskryptowywać różne rzeczy w pythonie lub shellu.</p>Aktualnie developer w<a href="https://touk.pl/">TouKu</a>. Uwielbia testowanie (szczególnie z pomocą Spocka) oraz wszelką automatyzację w procesie wytwarzania oprogramowania. Stara się dbać o czystość kodu (własnego i cudzego) poprzez częste code review.
            <h3>Flash talk "Java 8 vs. Checked Exceptions"</h3>
            <p>Programowanie w Javie 8 z wykorzystaniem Lambda Expressions jest bardzo przyjemne... do czasu napotkania konieczności zmierzenia się z checked exceptions. Podczas prezentacji zostanie przedstawiony problem obsługi checked exceptions w ramach Wyrażeń Lambda oraz to, co możemy w takiej sytuacji zrobić.</p>
            <h4>Grzegorz Piwowarek</h4>
            <p>Full stack developer, gitarzysta w zespole metalowym oraz… profesjonalny zawodnik yoyo. Absolwent WEITI PW oraz były członek Stowarzyszenia Mensa Polska. Obecnie pracuje w TouK, gdzie współtworzył m.in. platformę integracyjną opartą o Fabric8 oraz system do rozpoznawania dokumentów ze zdjęć i skanów. Entuzjasta programowania funkcyjnego.</p>
            <h3>Flash talk "CAS - web SSO w Javie"</h3>
            <p>Jasig CAS to aplikacja SSO napisana w języku Java. W łatwy sposób można ją rozbudowywać (open source) oraz włączać w istniejące aplikacje. CAS pozwala zarówno na Single Sign On jak i Single Sign Out. Oprócz natywnego własnego protokołu, CAS może działać z SAML, OAuth, OpenID czy jako klient Kerberos.</p>
            <h4>Piotr Fus</h4>
            <p>Absolwent EiTI PW. Propagator zdrowego rozsądku zarówno w praktyce zawodowej, jak i w życiu. Prywatnie aktywny sportowiec i karciarz.</p>
            <h3>Flash talk "Jak ułatwić sobie życie używając Guice"</h3>
            <p>Podczas prezentacji postaram się przedstawić rozszerzenia guica które pozwalają na ułatwienie sobie codziennej pracy z nim i pozwalają na łatwiejsze tworzenie aplikacji. Pokażę też jak napisać własny scope i jakie korzyści może to przynieść.</p>
            <h4>Mateusz Sobczak</h4>
            <p>Programista w firmie efigence. W pracy zajmuję się tworzeniem oprogramowania dla instytucji finansowych, a w wolnym czasie dłubie projekty na arduino. Amator TDD i czystego kodu.</p>
            <h3>Flash talk "From Java to Big Data"</h3>
            <p>Clikstream jako przyklad rzeczywistego zastosowania Big Data. Architektura i narzędzia. Jak zacząć i czego warto się uczyć.</p>
            <h4>Piotr Guzik</h4>
            <p>Programista w grupie Allegro. Poprzednio fan javy i spocka a obecnie scali i sparka. W pracy najbardziej interesują go ludzie.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>