
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>181 spotkanie WJUG</h4>
            <h2>Continuous Delivery - architektura i praktyka</h2>
            <h3>Łukasz Szydło</h3>
            <p>Termin: 10.05.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:</p>
            <p><a href="https://sputnik.ci/" target="_blank"><img src="/img/sponsors/sputnik_logo_strona.png" border="0" style="height: 100px"/></a></p>
            <h3>O prezentacji:</h3>
            <p>Continuous Delivery (CD) jest coraz częściej stosowaną praktyką w nowoczesnych projektach. Pytanie, jakie korzyści płyną z wdrażania kodu na produkcję kilka razy dziennie i jak zmieni to naszą codzienną pracę. Kiedy już to poznamy, zostaje największa zagwozdka: jak to zrobić, jakich narzędzi użyć i dlaczego wszędzie jest Docker. Postaram się odpowiedzieć na te wszystkie pytania oraz pokazać w jaki sposób w CD:
              <ul>
                <li>zarządzać funkcjonalnościami poprzez Feature Switch</li>
                <li>zrobić to elegancko w Springu</li>
                <li>umożliwić decyzję o wersji ficzera biznesowi</li>
                <li>testować i zapewniać jakość</li>
                <li>zarządzać konfiguracją</li>
                <li>pracować z VCS-ami bez tworzenia Branchy</li>
                <li>budować środowiska testowe</li>
              </ul>
            </p>
            <h3>O prelegencie:</h3>
            <p>Łukasz Szydło - Programista pasjonat, fan "Software Craftsmanship" i zwinnego podejścia do wytwarzania oprogramowania. Lubi proste rozwiązania skomplikowanych problemów. Trener w firmie Bottega IT Solutions specjalizujący się w architekturze systemów, Domain-Driven Design, Continuous Delivery, technologiach Java oraz testowaniu automatycznym. Prywatnie ojciec piątki szkrabów; namiętny czytacz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>