
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>187 spotkanie WJUG</h4>
            <h2>Refaktoryzacja systemu e-Bankowości - przykład oddolnej zmiany w Nordea IT</h2>
            <h3>Michał Bartyzel i Łukasz Korczyński</h3>
            <p>Termin: 18.10.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>"Skrócić czas tworzenia nowej funkcjonalności z kilku miesięcy do 30 dni" - to pierwszy cel, który sobie postawiliśmy. Po kilku miesiącach zaprowadził nad nową wersją naszego systemu, refaktoryzacji, eksperymentowania z nowymi technologiami, tworzenia gildii i bliższej współpracy z biznesem.</p>
            <p>W trakcie prezentacji przedstawimy drogę oraz kluczowe punkty tej zmiany. W szczególności dowiesz się:</p>
            <ul>
              <li>Jak definiowaliśmy cele zmiany?</li>
              <li>Jak identyfikowaliśmy problemy technologiczne i organizacyjne?</li>
              <li>Jak przekonywaliśmy management do refaktoryzacji?</li>
              <li>Jak pozyskiwaliśmy kolejne osoby chętne do uczestniczenia w naszej inicjatywie?</li>
            </ul>
            <h3>O prelegentach:</h3>
            <p>Michał Bartyzel - od 12 lat pracuje kolejno jako: programista, technical leader, trener, przedsiębiorca, konsultant, agile coach i autor. Pracował z większością najlepszych zespołów programistycznych z Polsce przede w obszarach usprawniania współpracy z biznesem i refaktoryzacji legacy kodu.</p>
            <p>Jest współautorem i autorem technik podnoszących efektywność pracy programistów w obszarach takich jak: refaktoryzacja, konwersacje z biznesem, zarządzanie czasem, agile coaching. Wieloma z nich dzieli się podczas licznych prezentacji, w książkach, artykułach i na blogu.</p>
            <p>Łukasz Korczyński - Doświadczony programista JEE, od 6 lat związany z Grupą Nordea. Fascynat technologii, Software Craftsmanship i zwinności.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>