
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>190. spotkanie WJUG</h4>
            <h2>Hibernate since 2001. Is time for Cyberpunk 2020?</h2>
            <h3>Tomasz Skowroński</h3>
            <p>Termin: 22.11.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="http://www.4financeit.com/" target="_blank"><img src="/img/sponsors/4financeit_logo-invert.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Hibernate was started in 2001 as an alternative to using EJB2-style entity beans. But today EJB is forgotten and everybody wants to make modern software with Java 8 features. Hibernate is de facto industry standard. But what if it isn’t universal solution for all systems? How to do better declarative or functional querying?</p>
            <p>Let’s put aside classic Object-Relational Mapping and look at other, modern capabilities to know pros and cons of DSLs, lambdas and streams usage with relational databases.</p>
            <p>Theory, slides, comparisons, but also practical tips and many code examples in IDE.</p>
            <h3>O prelegencie:</h3>
            <p>Programista, miłośnik JVM, przyjaciel androidów, bywalec hakatonów, uzależniony od kawy i czystego kodu, gracz, użytkownik podkastów i rowerów miejskich.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>