
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>191 spotkanie WJUG</h4>
            <h2>Javascript + Java = Typescript</h2>
            <h3>Tomasz Skowroński</h3>
            <p>Termin: 8.11.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="http://www.4financeit.com/" target="_blank"><img src="/img/sponsors/4financeit_logo-invert.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Hibernate was started in 2001 as an alternative to using EJB2-style entity beans. But today EJB is forgotten and we want to make reactive software. How to use functional approach in Object Oriented Mapping? Let’s look at modern Java libraries and know pros and cons of functions, streams and lambdas usage with databases.</p>
            <h3>O prelegencie:</h3>
            <p>Programista, miłośnik JVM, przyjaciel androidów, bywalec hakatonów, uzależniony od kawy i czystego kodu, gracz, użytkownik podkastów i rowerów miejskich.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>