
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>192. spotkanie WJUG</h4>
            <h2>Co nowego w Spring 5</h2>
            <h3>Robert Szarejko</h3>
            <p>Termin: 6.12.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="http://www.finat.pl/body-leasing/" target="_blank"><img src="/img/sponsors/pkobp_finat.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Spring już od dłuższego czasu jest gospodarzem "Enterprise Web Apps". Chyba każdy jego Major Release wzbudza pewne zainteresowanie i nadzieje. Czy wersja 5 będzie rewolucją? A może jedynie drobną ewolucją?</p>
            <p>Postaram się dostarczyć podstawowej wiedzy, która ułatwi Wam odpowiedź na powyższe pytania. Zaczniemy od zmian wprowadzonych w wersji 4.3. Następnie przejdziemy do elementów, które wprowadzi nam wersja 5. Zakończymy na próbie zaglądnięcia w niedaleką przyszłość.</p>
            <h3>O prelegencie:</h3>
            <p>Robert Szarejko – Obecnie pracuję jako projektant w firmie PKO BP Finat. Moja przygoda z Javą rozpoczęła się ponad 10 lat temu od v 1.4 i EJB 2.0. Dzisiaj przeżywam drugą miłość do Javy i staram się zarazić ją swoje otoczenie.</p>
            <p>Przez większość swojego życia zawodowego byłem związany z tematyką Agenta Transferowego (fundusze inwestycyjne, emerytalne, ubezpieczeniowe …).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>