
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>194. spotkanie WJUG</h4>
            <h2>Flash talks</h2>
            <h3>TBA</h3>
            <p>Termin: 10.01.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>TBA</p>
            <h3>O prelegencie:</h3>
            <p>TBA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>