
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>202 spotkanie WJUG</h4>
            <h2>It’s a Docker … It’s a Cloud … It’s a Docker Cloud!</h2>
            <h3>Karol Lotkowski</h3>
            <p>Termin: 21.03.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Po prezentacji będziecie wiedzieć czym jest podejście CaaS i czy Wasze zespoły także powinny zacząć używać Docker Cloud na produkcji. Zdziwicie się, że jest to tak prosta, a zarówno bardzo rozbudowana platforma, która rozwija się w nadzwyczajnym tempie. Zdobędziecie argumenty jak rozmawiać z biznesem, aby przekonać organizację do używania Docker Cloud w Waszych projektach. Przedstawię jak skonfigurować skalowalną usługę w chmurze w 5 minut za pomocą kilku kliknięć.</p>
            <h3>O prelegencie:</h3>
            <h4>Karol Lotkowski</h4>
            <p>Programista z 10-letnim doświadczeniem. Dostarczał rozwiązania dla branż takich jak: e-commerce, turystyka online, ubezpieczeniowa, telekomunikacyjna, bankowa, informacyjna oraz media społecznościowe. Związany z techniczną oraz biznesową stroną realizowanych projektów. Pełnił wiele ról od software developera, team leadera, scrum mastera, trenera po architekta i ewangelistę nowych technologii. Entuzjasta metodyk Agile oraz zwolennik firm o płaskiej strukturze.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>