
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>206. spotkanie WJUG</h4>
            <h2>Porty i adaptery</h2>
            <h3>Dominik Przybysz</h3>
            <p>Termin: 25.04.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="https://touk.pl/" target="_blank"><img src="/img/sponsors/touk_small.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Czy zdarzyło Ci się kiedyś przebudować całą aplikację, bo trzeba dodać nowe pole na frontendzie? Albo gdy zmiana organizacji tabel w DB zmieniała całą Twoją domenę? Jak radzić sobie ze zmieniającym się światem i wymaganiami? Jak utrzymywać porządek wewnątrz aplikacji i skupiać się na jej domenie. Odpowiedzią jest architektura portów i adapterów.</p>
            <p>Na prezentacji opowiem o doświadczeniach z budowaniem aplikacji, gdzie Twoja domena jest najważniejsza i odpowiem m. in. na pytania:
              <ul>
                <li>Co mi to da?</li>
                <li> Jak to zrobić?</li>
                <li>Na co uważać?</li>
                <li>Dlaczego to jest trudne?</li>
              </ul>
            </p>
            <h3>O prelegencie:</h3>
            <p>TBA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>