
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>207. spotkanie WJUG</h4>
            <h2>4 lata rewolucji mikrousługowej w Allegro</h2>
            <h3>Mateusz Gajewski</h3>
            <p>Termin: 09.05.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="http://allegro.tech" target="_blank"><img src="/img/sponsors/allegro_nobg.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Od ponad 4 lat w Allegro budowana jest nowa architektura, której celem jest rozbić na kawałki i w całości zastąpić monolityczną aplikację napisaną w PHP a rozwijaną od 16 lat. Podczas prezentacji pokażę jak aktualnie wygląda budowanie mikrousług w Allegro i z jakimi wyzwaniami mierzymy się na co dzień.</p>
            <h3>O prelegencie:</h3>
            <h4>Mateusz Gajewski</h4>
            <p>Pragmatyczny inżynier, niepokorny architekt, poliglota. W Allegro od 8 lat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>