
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>210. spotkanie WJUG</h4>
            <h2>Event Sourcing z Domain-Driven Design</h2>
            <h3>Paweł Cesar Sanjuan Szklarz</h3>
            <p>Termin: 30.05.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="https://www.7n.com/" target="_blank"><img src="/img/sponsors/7n-logo.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Wprowadzę zupełnie nowe podejście do realizacji Event Sourcing z Domain-Driven Design oraz biblioteką opensource ESDDD własnego autorstwa do implementacji tego podejścia.</p>
            <p>Podczas prezentacji pokażę jak zdefiniować domenę w event sourcing, gdzie core model i logika są wyraźnie zdefiniowane. Następnie zrobimy testy domeny, które dają nam pokrycie testów 100% bez większego wysiłku.</p>
            <p>W notacji CQRS (Command Query Responsability Segregation), komendy (Command) będą zdefiniowane w domenie jako pojedyncze możliwe operacje na agregatach. Do zapytań (Query) ESDDD wykorzystuję projekcje uruchomione na reactive streams w Akka. Podczas prezentacji pokażę jak stworzyć własne streamy oraz jak zbudować projekcje na ich podstawie.</p>
            <h3>O prelegencie:</h3>
            <h4>Paweł Cesar Sanjuan Szklarz</h4>
            <p>Polak-Meksykanin, Matematyk z wykształcenia. Interesuję się programowaniem funkcyjnym i metodami formalnymi. Mąż i ojciec dwójki dzieci.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>