
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>211. spotkanie WJUG</h4>
            <h2>Modularity and hexagonal architecture in real life</h2>
            <h3>Jakub Nabrdalik</h3>
            <p>Termin: 13.06.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:
              <p><a href="http://allegro.tech" target="_blank"><img src="/img/sponsors/allegro_nobg.png" border="0" style="height: 100px"/></a></p>
            </p>
            <h3>O prezentacji:</h3>
            <p>Do you know why the default scope in Java is package-private? Because that's what designers thought should be the most popular scope. Is that the scope you most often see? Adam Tornhill's research shows, that it's not. Java devs recognise only private and public access, which makes them particularly bad at mid-size building blocks. And so our projects end up being hard to put into your head. Hard to reason about. Entanglement instead of encapsulation. People even register every possible class in an IoC container, because of how much they do not understand package encapsulation. </p>
            <h3>O prelegencie:</h3>
            <h4>Jakub Nabrdalik</h4>
            <p>A software developer with 14 years of professional experience in IT, as an architect, programmer, designer, analyst, team leader, project manager, development department manager. Gives workshops on software Craftsmanship, Domain Driven Design, Test-driven development and Spring. Team leader at Allegro. More at solidcraft.eu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>