
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>212. spotkanie WJUG</h4>
            <h2>Optimized for what?</h2>
            <h3>Alberto Brandolini</h3>
            <p>Termin: 20.06.2017 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>Since the early days, software development has evolved a lot. Writing code used to be a long tiring activity, but now is no longer the bottleneck. However, if we see software development with a different perspective, we’ll realize that there are vast opportunities for improvement, by switching to a more appropriate metaphor.</p>
            <h3>O prelegencie:</h3>
            <h4>Alberto Brandolini</h4>
            <p>Alberto Brandolini is an IT Professional that gets bored doing things in the same old way. This led him into unexplored areas of Domain-Driven Design, Lean and Agile Software Development, learning and change management, where he likes to bring apparent chaotic fuzziness and a comic-like visual touch. An active consultant in software product development, he also run his company Avanscoperta.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>