
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>24 spotkanie WJUGa</h4>
            <h2>Technologia Portali Java na przykładzie JBoss Portal</h2>
            <h3><a href="http://bdawidowicz.blogspot.com" target="_blank">Bolesław Dawidowicz</a></h3>
            <p>Termin: 19.02.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/ugYTp2xjtvo/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji jest przedstawienie istoty technologii Java Portlet (JSR 168 oraz 286) oraz jej zastosowań. Uczestnicy dowiedzą się:</p>
            <ul>
              <li>Czym jest Portlet i jego różnicach w porównaniu do Java Servlet?</li>
              <li>Jakie korzyści daje zastosowanie portalu i w jakich sytuacjach warto rozważyć jego wdrożenie?</li>
              <li>Co przynoszą technologie związane z portalami takie jak np. WSRP, SSO, Web Clipping?</li>
              <li>Dlaczego warto wypróbować implementacje otwarte, a w tym najciekawszy z ciekawych projekt JBoss Portal?</li>
              <li>W jaki sposób można tworzyć portlety przy użyciu bardziej zaawansowanych szkieletów programistycznych?</li>
              <li>Czy można integrować portlety z JSF i JBoss Seam?</li>
            </ul>
            <h3>O prelegencie:</h3>
            <p>Bolesław Dawidowicz jest członkiem projektu JBoss Portal, w którym zaczęła się jego przygoda ze światem projektów otwartych. Gdyby nie zapoczątkowana na studiach miłość do Javy i praca z technologią portali zapewne skończyłby jako sysadmin, przez co żywi duży sentyment do systemów operacyjnych... Interesuje się rozwiązaniami z kręgu Identity Management. Aktywny uczestnik Warszawa JUG, który nie daje zapomnieć o istnieniu JBoss Portal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>