
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>26 spotkanie WJUG</h4>
            <h2>Automatyzacja testów webowych</h2>
            <h3>Tomek Kaczanowski</h3>
            <p>Termin: 04.03.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/9dEdVMryn6o/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem spotkania jest przedstawienie narzędzi do testów webowych oraz sposobu, w jaki można ich uruchamianie włączyć w proces automatycznego budowania projektu. W szczególności prezentacja obejmie następujące zagadnienia:</p>
            <ul>
              <li>odpowiedź na pytania "czym są testy webowe?, po co mi one?, jakie jest ich miejsce w całej różnorodności testów ?"</li>
              <li>użycie Selenium i Webtest Canoo do pisania testów webowych, wraz z porównaniem ich możliwości, wskazaniem silnych i słabych stron</li>
              <li>przejście od testów "z ręki" do pełnej automatyzacji</li>
              <li>pokaz "idealnego projektu" czyli projekcja marzeń prowadzącego, który opowie jak chciałby żeby to działało</li>
              <li>punkt ostatni, w którym prowadzący poskarży się, że w życiu różnie bywa i pokaże co można zrobić, gdy opisany powyżej ideał jest nieosiągalny</li>
            </ul>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Tomek Kaczanowski, który jest programistą Javy (certyfikaty SCJP i SCWCD) w firmie <a href="http://www.eo.pl/" target="_blank">eo Networks</a>. Tomek od dłuższego czasu śledzi (czyta i wypróbowuje na własnym kodzie) wszystko co związane z testami - zwłaszcza jednostkowymi, ale jak widać nie tylko. Uczuciowo związany z nurtem XP/Agile i...rodzinnym Krakowem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>