
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>27 spotkanie WJUGa</h4>
            <h2>Programowanie Java Portlets (JSR 168/286/301)</h2>
            <h3>Bolesław Dawidowicz</h3>
            <p>Termin: 18.03.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/tvpWkTgcYfk/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem spotkania jest przedstawienie technologii Java Portlet. Wszyscy którzy nie mieli okazji zetknąć się z tą technologią będą mogli dowiedzieć się m.in.:</p>
            <ul>
              <li>Portlet i jego cykl rozwojowy w kontenerze portletów</li>
              <li>Java Portlet 1.0 API (JSR 168)</li>
              <li>Nowości Java Portlet 2.0 (JSR 286) </li>
              <li>Różnica między kontenerem portletów a portalem oraz dostępne implementacje wspierające Java Portlet 2.0 </li>
              <li>Zaawansowane szkielety webowe do tworzenia portletów</li>
              <li>JSR 301 - Portlet Bridge Specification for JavaServer Faces - dostępne implementacje oraz przedstawienie mechanizmu funkcjonowania JSF w środowisku kontenera portletów li Portlety w JSF/JBoss Seam - działanie i potencjalne problemy</li>
            </ul>
            <p>Finalna wersja specyfikacji Java Portlet 2.0 (JSR 286) została pozytywnie przegłosowana w JCP 3. marca i czeka na ostateczną publikację!</p>
            <h3>O prelegencie:</h3>
            <p>Bolesław Dawidowicz jest członkiem projektu JBoss Portal, w którym zaczęła się jego przygoda ze światem projektów otwartych. Interesuje się rozwiązaniami z kręgu Identity Management. Aktywny uczestnik Warszawa JUG, który nie daje zapomnieć o istnieniu techologii Java Portlets i projekcie JBoss Portal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>