
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>28 spotkanie WJUG</h4>
            <h2>Java w zastosowaniach bazodanowych</h2>
            <h3>Piotr Pietrzak</h3>
            <p>Termin: 01.04.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/hdtoTGL4Df8/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem spotkania jest przedstawienie Javy jako języka procedur składowanych. Wszyscy, którzy nie mieli jeszcze okazji zetknąć się z tą technologią dowiedzą się, w jaki sposób można wykorzystać swoje umiejętności programowania w Javie do tworzenia procedur składowanych. Zostaną przedstawione podobieństwa i różnice istniejących implementacji w wykonaniu Oracle i Postgresql, oraz porównać procedury składowane do EJB.</p>
            <p>Przewiduje się dyskusję na temat Javy jako języka procedur składowanych - wad i zalet tego podejścia.</p>
            <h3>O prelegencie:</h3>
            <p>Piotr Pietrzak jest absolwentem Politechniki Warszawskiej, doktorantem Szkoły Głównej Handlowej i pracownikiem Działu Aplikacji Komputerowych (DAK) Uniwersytetu Warszawskiego, prowadzi wykłady z zakresu Matematyki i Informatyki, oraz tworzy, rozwija i wdraża oprogramowanie w DAK. Zainteresowany głównie Javą, bazami danych, EJB, statystyką, ekonomią, ekonometrią i gokartami.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>