
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>31 spotkanie WJUGa</h4>
            <h2>Apache Wicket w przykładach</h2>
            <h3><a href="http://www.jaceklaskowski.pl" target="_blank">Jacek Laskowski</a></h3>
            <p>Termin: 13.05.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/f-EslsoqEyA/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p><a href="http://wicket.apache.org/" target="_blank">Apache Wicket </a>jest szkieletem webowym, którego podwalinami jest zarzucenie JSP jako technologii prezentacji, stworzenie warstwy modelu opartego o POJO i zniesienie konieczności stosowania wszechobecnego XMLa. Na spotkaniu Jacek zaprezentuje wiele przykładów, za pomocą których zamierza zademonstrować siłę Wicketa i przekonać do jego spróbowania w projektach. Odświeżające odseparowanie HTMLa od JSP, całkowite zaniechanie XMLa do konfiguracji aplikacji oraz wiele ciekawych rozwiązań wspierających tworzenia aplikacji webowych jak silne typowanie obiektów o zasięgu sesji czy aplikacji, wstrzymywanie żądania i przekierowywanie na stronę uwierzytelnienia są ciekawą alternatywą dla innych, znanych szkieletów webowych. Wiele z rozwiązań Wicket z pewnością sprowokuje do poszukiwania ich odpowiedników w obecnie korzystanych szkieletach. Mnóstwo przykładów gwarantuje praktyczne zrozumienie Wicketa.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Jacek Laskowski, który jest pasjonatem tworzenia aplikacji javowych korzystających z Java EE i projektów otwartych. Jacek jest członkiem zespołów Apache Geronimo, Apache OpenEJB, Apache ServiceMix, Apache XBean oraz Apache ActiveMQ. Jestem założycielem i liderem Warszawskiej Grupy Użytkowników Technologii Java (Warszawa JUG). Bierze aktywny udział w wielu forach dyskusyjnych i otwartych projektach. Własne doświadczenia z językiem Java, Java EE i otwartymi projektami opisuje w <a href="http://www.jaceklaskowski.pl" target="_blank">Notatniku Projektanta Java EE</a>. Służbowo pracuje na stanowisku konsultanta oprogramowania w IBM Polska.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>