
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>33 spotkanie WJUG</h4>
            <h2>LDAP - czyli kiedy relacyjna baza danych nie jest najlepszym rozwiązaniem</h2>
            <h3> <a href="http://bdawidowicz.blogspot.com" target="_blank">Bolesław Dawidowicz</a></h3>
            <p>Termin: 16.09.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/_NSDfuEZ0F4/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem spotkania jest zaprezentowanie podstaw technologii LDAP oraz jej zastosowań. Słuchacze dowiedzą się czym różni się serwer katalogowy od bazy danych oraz w jakich sytuacjach warto rozważyć jego użycie. Zostanie przedstawione w jaki sposób można wykorzystywać usługi katalogowe z poziomu Javy oraz w jaki sposób mogą one wspomóc zabezpieczanie aplikacji JEE.</p>
            <p>Plan prezentacji:</p>
            <ul>
              <li>Wprowadzenie do technologii usług katalogowych</li>
              <li>Historia i zastosowanie protokołu LDAP oraz dostępne serwery</li>
              <li>LDAP a Java - krótkie wprowadzenie do JNDI </li>
              <li>LDAP i testy jednostkowe - Embedded OpenDS </li>
              <li>JEE Security i JAAS - krótkie wprowadzenie </li>
              <li>Uwierzytelnienie i autoryzacja aplikacji JEE w oparciu o LDAP - na przykładzie JBoss AS</li>
            </ul>
            <p>Prezentacja prowadzona głównie w oparciu o slajdy acz nie zabraknie również kilku pokazów "na żywo" z otwartym IDE.</p>
            <p>Wymagana wiedza: minimalna</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://bdawidowicz.blogspot.com" target="_blank">Bolesław Dawidowicz </a>- miłośnik i pasjonat Javy, zawodowo związany z projektem JBoss Portal. Interesuje się rozwiązaniami z kręgu Identity Management. Stara się aktywnie uczestniczyć w życiu Warszawa JUG. Przyrzeka spróbować tym razem nic nie powiedzieć o portletach ;)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>