
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>35 spotkanie WJUGa</h4>
            <h2>Wstęp do Drools/JBoss Rules</h2>
            <h3>Bartek Jabłoński</h3>
            <p>Termin: 14.10.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/m_Mwlo1RXzU/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Drools jest to silnik reguł, czyli narzędzie pozwalające wydzielić część logiki biznesowej poza sztywny kod aplikacji oraz ułatwia zrozumienie jej i modyfikację przez osoby nietechniczne (a raczej mniej-techniczne - analityków itp). </p>
            <p>W czasie prezentacji poznamy:</p>
            <ul>
              <li>co to jest silnik reguł, kiedy go używać, a kiedy nie</li>
              <li>podstawowe konstrukcje języka</li>
              <li>Domain Specyfic Language, czyli jak reguły zapisać w strawnej formie</li>
              <li>Decision Tables, czyli jak w to wszystko włączyć Excela</li>
              <li>mały rzut oka na IDE</li>
            </ul>
            <p>Nie zabraknie kilku prezentacji na żywym kodzie.</p>
            <h3>O prelegencie:</h3>
            <p>Bartek Jabłoński jest programistą w firmie <a href="http://www.eo.pl/" target="_blank">eo Networks</a>. Zawodowo zajmuje się głównie aplikacjami webowymi. Uwielbia poznawać nowe technologie i rozwiązania, aczkolwiek doskwiera mu brak czasu na ich intensywniejsze zgłębienie. Sympatią darzy również technologie z zakresu GIS. Poza tym - wspinacz i od jakiegoś czasu biegacz - <a href="http://www.gps-sport.net/users/jabol20" target="_blank">jabol20's Athlete Homepage</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>