
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>37 spotkanie WJUG</h4>
            <h2>Java Native Interface, czyli dlaczego Java jest zależna od platformy</h2>
            <h3>Damian Szczepanik</h3>
            <p>Termin: 02.12.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/K8Z8MdcOsVI/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Podczas prezentacji należy oczekiwać wiadomości wprowadzających do Java Native Interface (JNI), jak można go wykorzystać, gdzie i w jakich przypadkach jest niezbędny oraz kiedy należy się trzymać od niego z daleka. Z upływającym czasem pojawi się więcej praktyki. Zostanie zaprezentowane, co należy pobrać z Sieci i jak skonfigurować, aby móc korzystać z możliwości JNI w swoim IDE. Dla tych, których tematyka zainteresuje bardziej, garść porad. Dla tych, których nie zainteresuje (czytaj nie wykażą podczas spotkania chęci współpracy), będzie "wyjściówka" - nie wyjdą ze spotkania, dopóki nie odpowiedzą na pytania dotyczące JNI :) Tym samym uczestnicy zostali ostrzeżeni.</p>
            <p>Lektura (nie)obowiązkowa: <a href="http://en.wikipedia.org/wiki/Java_Native_Interface" target="_blank">Java Native Interface w Wikipedii</a>.</p>
            <h3>O prelegencie:</h3>
            <p>Historia Damiana z Javą zmieniała się jak w kalejdoskopie, co pozwoliło mu poznać jej wszystkie trzy oblicza. Zaczynałem, jak wszyscy, od SE, ale dość szybko dane mu było poznać tajniki pisania oprogramowania na platformie ME. W czasie studiów prowadził wykopaliska na terenie EE i pewnie tak zostałoby do dziś, gdyby nie firma Samsung, gdzie od prawie trzech lat tworzy oprogramowanie do telewizorów cyfrowych (!) Damian jest programistą z zawodu, integratorem kodu z doświadczenia, a (jak nikt nie patrzy) zarządza systemem kontroli wersji. Podsumowując, ciekawa osóbka, której nie wysłuchać to zgrzeszyć.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>