
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>40 spotkanie WJUG</h4>
            <h2>Liferay / WebSynergy - portal (miś) na miarę naszych możliwości</h2>
            <h3>Piotr Pietrzak</h3>
            <p>Termin: 03.02.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/5IZXZwlLcWY/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Prezentacja przedstawi funkcjonalność <a href="http://www.liferay.com" target="_blank">Liferay Portal</a>, który jest kontenerem portletów. Zobaczymy jak dostosować portal do swoich wymagań (wygląd, polonizacja) oraz jak wygodnie/wydajnie można programować w środowisku portletowym. Porównane zostaną sposoby komunikacji międzyportletowej i wykorzystamy mechanizm Comet. Na koniec zobaczymy języki skryptowe (na przykładzie PHP) jako języki do tworzenia portletów.</p>
            <h3>O prelegencie:</h3>
            <p>Piotr Pietrzak jest pracownikiem Działu Aplikacji Komputerowych (DAK) Uniwersytetu Warszawskiego. Zainteresowany głównie Javą, bazami danych (najchętniej nierelacyjnymi), w wolnych chwilach troluje na grupach i tworzy ciekawe, lecz zupełnie nieprzydatne projekty w Javie, PHP i od niedawna w Erlangu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>