
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>43 spotkanie WJUGa</h4>
            <h2>Domain-Driven Design</h2>
            <h3><a href="http://www.pawellipinski.com/" target="_blank">Paweł Lipiński</a></h3>
            <p>Termin: 17.03.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/0ZdJoCir8e0/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Tworzenie aplikacji jest dziedziną inżynierii o chyba najniższej jakości i przewidywalności tworzonych produktów (no, może poza budownictwem w Polsce). Jednym z powodów tego są dopiero rozwijające się metodyki, techniki i wzorce tworzenia aplikacji. Do tego dochodzi skupienie się programistów głównie nad technologiami, a dużo mniejsze nad dziedziną, której dotyczy aplikacja oraz wewnętrzną strukturą tworzonego systemu. Jednym ze sposobów zaradzenia tej sytuacji jest <a href="http://pl.wikipedia.org/wiki/Domain-Driven_Design" target="_blank">Domain-Driven Design (DDD)</a>. DDD to zbiór wzorców i dobrych praktyk definiujących sposób tworzenia aplikacji biznesowych. Poznanie tych wzorców oraz filozofii stojącej za nimi pomaga skupić się na dostarczaniu wartości oraz tworzyć ładne pod względem architektury aplikacje.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://www.pawellipinski.com/" target="_blank">Paweł Lipiński </a>zajmuje się tworzeniem aplikacji od 12 lat, w tym ostatnie 10 głównie w Javie. Ostatnie parę lat mniej skupia się na technologiach a bardziej na technikach sprawnej realizacji projektów. Fanatycznie skupia się na jakości, architekturze kodu i aplikacji. Jest wyznawcą Zwinności, którą stara się propagować i wdrażać gdzie popadnie, łącznie z wychowaniem własnych dzieci :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>