
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>47 spotkanie WJUGa</h4>
            <h2>Java dla pokolenia YouTube</h2>
            <h3> <a href="http://www.jakubiak.eu" target="_blank">Antoni Jakubiak </a></h3>
            <p>Termin: 12.05.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/670soRAm1iw/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Podczas prezentacji Antoni przedstawi nowe technologie związane z wideo w Internecie. Zobaczymy połączenie szkieletu aplikacyjnego Adobe Flex z serwerem multimediów Red5, poznamy protokoły komunikacyjne używane w Adobe Flash oraz dowiemy się o technologiach, które umożliwiają przetwarzanie wideo w czasie rzeczywistym, zarówno po stronie serwera jak i po stronie przeglądarki. Zobaczymy również ja przeglądarka radzi sobie z rozpoznawaniem twarzy oraz wykrywaniem wzorców w obrazie z kamery webowej.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://www.jakubiak.eu" target="_blank">Antoni Jakubiak </a>jest absolwentem Politechniki Częstochowskiej. Od dziecka pasjonuje się programowaniem. Od 4 lat programuje w Javie. Obecnie, wspólnie ze <a href="http://www.imdb.com/name/nm0005744" target="_blank">Sławomirem Idziakiem</a>, prowadzi projekt, którego celem jest społecznościowe tworzenie filmów z wykorzystaniem dobrodziejstw Internetu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>