
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>51 spotkanie WJUGa</h4>
            <h2>Ognisty Serwer, smaczny Klient. Openfire i Smack - tworzenie wtyczek i rozszerzeń serwera/klienta Jabbera</h2>
            <h3>Bartek Zdanowski (Zdanek)</h3>
            <p>Termin: 15.09.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/rIvSWJB9SmU/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Podczas prezentacji zostanie zademonstrowany serwer jabbera Openfire i biblioteka klienta - Smack. Prelegent pokaże jak tworzyć pluginy i komponenty do Openfire oraz zademonstruje prostotę pisania własnego klienta bazując na bibliotece Smack. Oprócz klasycznych wtyczek będzie jak rozszerzać komponenty składowe i właściwości serwera. W trakcie prezentacji - kodowanie na żywo.</p>
            <h3>O prelegencie:</h3>
            <p>Bartek Zdanowski pracuje w firmie AutoGuard SA. Jest głównym programistą i szefem technicznym zespołu tworzącego oprogramowanie do zarządzania flotą samochodową.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>