
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>52 spotkanie WJUGa</h4>
            <h2>Kickstart w tworzeniu aplikacji webowej z AppFuse i pomocnikami</h2>
            <h3> <a href="http://blog.erbetowski.pl/" target="_blank">Wojtek Erbetowski </a></h3>
            <p>Termin: 29.09.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/LFnbFfXYOS8/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>W trakcie prezentacji zostanie przedstawiony szkielet aplikacji webowej opartej na Spring Framework - AppFuse. Prelegent pokaże jak szybko stworzyć (nie taką znowu) prostą aplikację, jakie narzędzia mamy w niej "za darmo", a jakie możemy wdrożyć niedużym kosztem. W zależności od chęci publiki wdrożone do gotowej aplikacji (i omówione dla niezaznajomionych z nimi) zostaną m.in. takie rozwiązania jak: Gradle, Mercurial i JRebel. A może nawet spróbujemy porównać aplikację do wciąż młodego projektu Spring Roo?!</p>
            <h3>O prelegencie:</h3>
            <p> <a href="http://blog.erbetowski.pl/" target="_blank">Wojtek Erbetowski </a>jest z wykształcenia matematykiem i pracuje jako naczelny programista Java (J2EE/Spring) w niedużej firmie technologicznej.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>