
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>60 spotkanie WJUGa</h4>
            <h2>Hmm Java jawą, a co z iPhone? </h2>
            <h3> <a href="http://pietrowski.info/" target="_blank">Sebastian Pietrowski (aka Pedro)</a>, Michał Karwański (aka Karwer)</h3>
            <p>Termin: 26.01.2010, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Materiały:</p>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/20slzOCJS8c" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie: </h3>
            <p>Prezentacja obejmie demonstrację środowiska programistycznego na platformę iPhone oraz poruszy kwestię, czy warto inwestować swój czas w naukę nowej rzeczy, czy nie lepiej wybrać platformę javopodobną jaką jest Android.</p>
            <p>Oprócz filozoficznych rozważań nie zabraknie "twardej treści" w postaci programowania na żywo z Xcode, językiem Objective-C i prawdziwym iPhone.</p>
            <h3>O prelegentach:</h3>
            <p><a href="http://pietrowski.info/" target="_blank">Sebastian </a>i Michał są absolwentami Wydziału Informatyki Uniwersytetu Warszawskiego. O Pedro już kiedyś było (przy okazji prezentacji o Ruby on Rails 06.02.2007), Karwer natomiast to cicha gwiazda, mistrz Polski w sudoku, wielokrotny reprezentant Polski na międzynarodowych konkursach sudoku oraz łamigłówkach. Jeżeli zauważysz człowieka, który w minutę rozwiązuje sudoku, w którym z ledwością w tym czasie wpisałeś 1 cyfrę, to znaczy, że masz do czynienia z Karwerem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>