
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>64 spotkanie WJUGa</h4>
            <h2>Wtyczka IBM Rational Team Concert dla NetBeans IDE, czyli ciekawy projekt integracyjny narzędzia komercyjnego z otwartym</h2>
            <h3>Adam Kędziora </h3>
            <p>Termin: 23.03.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/W9S8hWnF7KA" target="_blank">dyskusja                          </a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>W ramach pracy sekcji "Inżynieria oprogramowania" koła naukowego informatyków <a href="http://amu.edu.pl/" target="_blank">Uniwersytetu im. Adama Mickiewicza w Poznaniu</a>, zespół Adama Kędziory postanowił napisać wtyczkę NetBeans IDE do obsługi Rational Team Concert (RTC). W trakcie prezentacji Adam przedstawi architekturę rozwiązania, problemach, na jakie napotykał oraz planach dalszego rozwoju wtyczki. Rational Team Concert jest oprogramowaniem IBM do zarządzania procesem tworzenia oprogramowania od A do Z - obsługuje takie rzeczy jak bugtracker, repozytorium kodu, zarządzanie zasobami, automatyczny system budowania, aby wymienić tylko te najważniejsze. NetBeans jest platformą programowania aplikacji oraz IDE wspierającym różne języki programowania.</p>
            <h3>O prelegencie:</h3>
            <p>Adam Kędziora jest studentem 5. roku Informatyki na UAM i liderem tamtejszego koła naukowego informatyków. Poprzednio, lider sekcji inżynierii oprogramowania koła naukowego. Pasjonat technologii Java, w tym NetBeans RCP i projektowania oprogramowania. Przeszedł Metal Slug 1 na 5 kredytach.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>