
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>67 spotkanie WJUGa</h4>
            <h2>Multimedia Home Platform, czyli Java na małym ekranie </h2>
            <h3>Damian Szczepanik </h3>
            <p>Termin: 18.05.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/x1r89hakMTs" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem spotkania są przedstawienie głównych założeń platformy <a href="http://en.wikipedia.org/wiki/Multimedia_Home_Platform" target="_blank">Multimedia Home Platform (MHP) </a>oraz charakterystyka aplikacji w porównaniu z appletem czy midletem. W dalszej części omówiony zostanie sposób dostarczania aplikacji na telewizor oraz jej uruchamianie. Podjęte zostaną tematy związane z wytwarzaniem oprogramowania na platformie sprzętowej MHP, implementacją maszyny wirtualnej oraz sposobem testowania. Nie zabraknie omówienia możliwości telewizora, który posiada platformę MHP. Na koniec krótka wizualizacja przykładowych aplikacji. </p>
            <h3>O prelegencie:</h3>
            <p>Damian Szczepanik pracuje w firmie Samsung Electronics, gdzie jako  programista C++/Java zajmuje się rozwojem oprogramowania dla <a href="http://en.wikipedia.org/wiki/Digital_Video_Broadcasting" target="_blank">telewizorów cyfrowych</a>. W szczególności umożliwieniem aplikacjom <a href="http://en.wikipedia.org/wiki/Xlet" target="_blank">Xlet </a>uruchamiania się na platformie MHP oraz integrowaniem ficzerów i tępieniem robactwa tak, by się nic nie wylęgło na taśmie  produkcyjnej - co wspólnymi siłami się udaje. W wolnym czasie udziela się jako tester projektu <a href="http://www.mozilla.org/projects/calendar/" target="_blank">Mozilla Calendar</a>. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>