
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>69 spotkanie WJUGa</h4>
            <h2>Spring Dynamic Modules, Blueprint, OSGi - deklaratywne</h2>
            <h3><a href="http://blog.dywicki.pl/" target="_blank">Łukasz Dywicki</a></h3>
            <p>Termin: 15.06.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/5KwaUtkBmTk" target="_blank">dyskusja</a></li>
              <li><a href="http://www.slideshare.net/splatch/osgi-deklaratywnie" target="_blank">slajdy</a></li>
              <li><a href="http://svn.code-house.org/wjug-osgi/" target="_blank">kod (repozytorium SVN)</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji jest przedstawienie OSGi oraz możliwości tego środowiska w połączeniu ze Spring DM oraz Blueprint. OSGi to ważny element dla przyszłości Javy. Spring Framework - najpopularniejszy framework w tym języku. W wyniku połączenia tych dwóch elementów możemy budować elastyczną architekturę, bardziej podatną na zmiany - jej synonimem jest Spring Dynamic Modules. </p>
            <p>Podczas prezentacji zostanie przedstawione tradycyjne podejście do</p>
            <OSGi>(aktywatory), Spring DM (XML) oraz Blueprint (również XML). Całość przykładów zostanie uruchomiona z użyciem Apache Felix Karaf.</OSGi>
            <h3>O prelegencie:</h3>
            <p><a href="http://blog.dywicki.pl/" target="_blank">Łukasz Dywicki </a>jest założycielem firmy <a href="http://code-house.org/" target="_blank">Code-House</a>. Zawodowy programista od 2005 roku. Programowaniem w Javie zajmuje się od 3 lat. W 2008 roku pracował jako główny programista przy budowaniu magistrali usług w oparciu o Apache ServiceMix w jednym z polskich banków. Łukasz swoją pierwszą styczność z OSGi odnotował podczas <a href="http://blog.dywicki.pl/2007/11/07/moj-pierwszy-edytor/" target="_blank">prób rozszerzania Eclipse</a>. Od dłuższego czasu zajmuje się ServiceMix 4, który jest zbudowany w całości o OSGi, Spring DM i częściowo o Blueprint (Karaf).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>