
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>75 spotkanie WJUG</h4>
            <h2>Activiti - BPMN 2.0 nadchodzi</h2>
            <h3> <a href="http://mproch.blogspot.com/" target="_blank">Maciek Próchniak</a></h3>
            <p>Termin: 11.01.2011 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Dyskusja </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/3o9kd_wdliY" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Niedawno wśród otwartych platform BPM pojawił się nowy gracz - Activiti. Jedną z jego wyróżniających cech jest oparcie o nowy standard opisu procesów biznesowych - BPMN 2.0. Twórcy kładą także silny na nacisk na ułatwianie życia zarówno programistom jak i analitykom. </p>
            <p>W trakcie prezentacji pokazane zostaną podstawowe komponenty Activiti - narzędzia do modelowania i zarządzania procesami, korzystanie z API oraz integracja z innymi technologiami - REST, OSGi, Camel, itp.</p>
            <p>Nie zabraknie także krótkiego wprowadzania do BPMN 2.0 oraz porównania z podobnymi otwartymi platformami - jBPM z którego wywodzą się twórcy Activiti, ale także z rozwiązaniami opartymi na WS-BPEL.</p>
            <h3>O prelegentach:</h3>
            <p>Maciek Próchniak jest matematykiem, od 5ciu lat zajmuje się szeroko pojętym JEE - najpierw w Javatech, a od prawie 2ch lat w TouK. Obecne zainteresowania to integracja (Servicemix, Drools, BPM), GWT oraz (po dłuższej przerwie...) programowanie funkcyjne. Ostatnio stał się oficjalnym kontrybutorem projektu <a href="http://www.activiti.org/" target="_blank">Activiti</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>