
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>76 spotkanie WJUGa</h4>
            <h2>Tworzenie procesów biznesowych z Activiti i IBM WebSphere BPM (WPS/WID/WLE)</h2>
            <h3> <a href="http://mproch.blogspot.com/" target="_blank">Maciek Próchniak</a>, 
              Jakub Krzemień i <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski</a>
            </h3>
            <p>Termin: 25.01.2011 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Dyskusja <a href="https://groups.google.com/forum/#!topic/warszawa-jug/2SorIGtCgjE" target="_blank">dyskusja</a></strong>
            <h3>O prezentacji:</h3>
            <p> </p>Podczas spotkania nasi prelegenci zaprezentują 3 rozwiązania - 2 komercyjne i 1 otwarte - do tworzenia i obsługi procesów biznesowych:
            <ul>
              <li>Jacek Laskowski: </li><a href="http://www-01.ibm.com/software/info/bpm/" target="_blank">IBM WebSphere BPM </a>z <a href="http://www-01.ibm.com/software/websphere/" target="_blank">IBM WebSphere Integration Developer (WID) 7 </a>i <a href="http://www-01.ibm.com/software/integration/wps/" target="_blank">IBM WebSphere Process Server (WPS) 7</a>
              <li>Jakub Krzemień:</li><a href="http://www-01.ibm.com/software/integration/lombardi-edition/ " target="_blank">IBM WebSphere Lombardi Edition (WLE)</a>
              <li>Maciej Próchniak: </li><a href="http://www.activiti.org/" target="_blank">Activiti </a>+ <a href="http://camel.apache.org/" target="_blank">Apache Camel</a>
            </ul>
            <p></p>Celem spotkania nie jest wyłonienie "zwycięzcy", a jedynie prezentacja podejścia proponowanego przez wymienione produkty w obszarze Business Process Management (BPM). Wychodzimy z założenia, że dobrze wiedzieć, co dzieje się w rozwiązaniach alternatywnych, które są używane, ale u nas nieobecnie. Choć może będą w przyszłości? Ciekawość, w tym przypadku, jest wartościową cechą. Tworzone aplikacje nie będą wyrafinowane, a raczej, po prostu będą. I nie w tym cel, aby były skomplikowane, ale abyśmy spotkali się na wspólnej dyskusji.
            <h3>O prelegentach:</h3>
            <p> </p>Maciek Próchniak jest matematykiem, od 5ci lat zajmuje się szeroko pojętym JEE - najpierw w Javatech, a od prawie 2ch lat w TouK. Obecne zainteresowania to integracja (Servicemix, Drools, BPM), GWT oraz (po dłuższej przerwie...) programowanie funkcyjne. Ostatnio stał się oficjalnym kontrybutorem projektu <a href="http://www.activiti.org/" target="_blank">Activiti</a>.
            <p> </p>Jacek Laskowski jest założycielem i liderem grupy warszawskich użytkowników Javy - Warszawa JUG. Prowadzi bloga <a href="http://blog.japila.pl/" target="_blank">Japila :: verba docent, exempla trahunt</a>, w którym przedstawia własne doświadczenia z Java EE, językami funkcyjnymi i IBM WebSphere. Zawodowo w IBM jako specjalista produktów z rodziny WebSphere, głównie WebSphere BPM z flagowymi produktami: IBM WebSphere Dynamic Process Edition i IBM WebSphere Lombardi Edition. Nadaje na falach twittera jako <a href="http://twitter.com/jaceklaskowski" target="_blank">@jaceklaskowski</a>.
            <p> </p>Kuba Krzemień jest studentem 4. roku Informatyki na Politechnice Warszawskiej. Aktualnie zaangażowany w pisanie pracy inżynierskiej na wydziale Elektroniki i Technik Informacyjnych z zakresu indeksacji i wyszukiwania w dużych nieSQLowych bazach danych, a w wolnej chwili w praktyki w IBM dotyczących integracji IBM WebSphere Lombardi Edition 7.2 z Web Services. Nadaje na falach twittera jako <a href="http://twitter.com/jkrzemie" target="_blank">@jkrzemie</a>.
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/XbhIvdFUE6Q" frameborder="0" allowfullscreen></iframe></p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/SN7Dnb7Wjdc" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>