
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>78 spotkanie WJUG</h4>
            <h2>Apache Hadoop i okolice</h2>
            <h3> <a href="http://mcl.jogger.pl/" target="_blank">Marcin Cylke</a></h3>
            <p>Termin: 22.02.2011 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/atDq5Q35hsI" target="_blank">dyskusja</a></li>
              <li><a href="http://www.slideshare.net/zygm0nt/hadoop-i-okolice" target="_blank">slajdy</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>W trakcie spotkania zostanie przedstawiony projekt <a href="http://hadoop.apache.org/" target="_blank">Apache Hadoop </a>- czyli implementacja <a href="http://hadoop.apache.org/mapreduce/" target="_blank">MapReduce </a>do rozproszonego przetwarzania danych. Prezentacja "dotknie" podstaw teoretycznych, skupi się na praktycznym wykorzystaniu Hadoopa na świecie. Będą również przykłady działania. Wykład będzie wprowadzeniem do tematu - przykłady będą miały na celu obrazować działanie Hadoopa i nie będą nadmiernie komplikowane.</p>
            <h3>O prelegencie:</h3>
            <p>Marcin Cylke - absolwent Wydziału Elektroniki i Technik Informacyjnych Politechniki Warszawskiej. Zawodowo, w firmie TouK, zajmuje się integracją na szynie ESB. Swoje zawodowe doświadczenia opisuje na <a href="http://mcl.jogger.pl/" target="_blank">blogu</a>. Prywatnie bujający w obłokach fantasta.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/Yr7tML6ZfLE" frameborder="0" allowfullscreen></iframe></p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/vsCRoQP7KVU" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>