
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>8 spotkanie WJUGa</h4>
            <h2>Dlaczego warto (po)znać Apache Cocoon 2.2 </h2>
            <h3>Grzegorz Kossakowski</h3>
            <p>Termin: 03.04.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/jIgrqtTfkKg/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>W prezentacji dotyczącej projektu Apache Cocoon zostanie zaprezentowany efekt ewolucji od produktu skupionego na publikowaniu bogatej treści do szkieletu aplikacji internetowych (również tych 2.0) i platformy integracyjnej. W prezentacji przedstawiona zostanie wersja 2.2 która niedługo powinna doczekać się wydania. Omówione zostaną:</p>
            <ul>
              <li>ogólna architektura i filozofia na której oparty jest Cocoon</li>
              <li>potoki XML i sitemapy</li>
              <li>sterowanie przepływem za pomocą flowscriptu (opartego o continuations)</li>
              <li>szkielet obsługi formularzy</li>
              <li>szablony</li>
            </ul>
            <p>Całość będzie oparta o przykładową aplikację która korzysta z dość rozbudowanych, dynamicznie tworzonych formularzy. Przy okazji zaprezentowana zostanie obsługa AJAXa.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentacja prowadzona będzie przez Grzegorza Kossakowskiego, który mimo swoich 20 lat "dorobił się" statusu członka komitetu sterującego projektem Apache Cocoon (Apache Cocoon PMC). Jest studentem I roku kierunku Matematyka na Wydziale Matematyki, Informatyki i Mechaniki Uniwersytetu Warszawskiego (MIMUW). Z projektem Apache Cocoon i językiem Java ma styczność od 4 lat. W zainteresowaniach Grzegorza znajdują się głównie nowatorskie technologie, np. ostatnio zainteresowany metodologią SBA przy projektowaniu baz danych - Stack-Based Query Language (SBQL). W wolnych chwilach rozmyśla nad zastosowaniami algebry liniowej w przetwarzaniu dużych ilości danych oraz sporo uwagi poświęca fizyce teoretycznej i algorytmice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>