
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>82 spotkanie WJUGa</h4>
            <h2>Koziołek o Vaadin </h2>
            <h3><a href="http://koziolekweb.pl/" target="_blank">Bartek Kuczyński </a></h3>
            <p>Termin: 24.05.2011, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Materiały:</p>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/CBruuAH0qYY" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>W trakcie mojej prezentacji postaram się przybliżyć <a href="http://vaadin.com/" target="_blank">Vaadin</a>. Jest to framework bazujący na <a href="http://code.google.com/webtoolkit/" target="_blank">GWT</a>, który pozwala na szybkie i proste tworzenie aplikacji WEB. Ukrywa on mechanizmy GWT takie jak komunikacja klient - serwer czy przetwarzanie zdarzeń przez co programista może skupić się na tworzeniu aplikacji, a warstwę transportową pozostawić w gestii biblioteki. Zaprezentuję możliwości Vaadin w środowisku prostej aplikacji web oraz jak można spiąć ją z aplikacjami EE za pomocą różnych technologii. Jako, że java4people jest o "językach alternatywnych" to będzie też przykład integracji Vaadin + Scala.</p>
            <p>Plan:</p>
            <ul>
              <li>Historia - po co na Vaadin</li>
              <li>GWT - baza technologiczna</li>
              <li>Vaadin w świecie Java</li>
              <li>Jak to działa - architektura Vaadin</li>
              <li>Komponenty</li>
              <li>Integracja na przykładzie Guice</li>
              <li>"Scalowanie" Vaadin</li>
              <li>Czego nie "się nie da"</li>
              <li>Podsumowanie</li>
            </ul>
            <h3>O prelegencie:</h3>
            <p>Nazywam się Bartek Kuczyński aka "Koziołek". Z komputerami mam do czynienia od 4 roku życia gdy w domu pojawił się ZX Spectrum, a ja dzielnie zapisałem cały ekran literką A. Później moja droga była typowa, czyli noce zarwane przy "duuumie" i "maralu kombacie", aż na początku liceum zacząłem się bawić w programowanie. Najpierw były to makra VB dla Excela, a później proste programy w VB. Na studiach zainteresowałem się Javą, ale "przy okazji" poznawałem FORTRANa i C. Od kilku lat pracuję jako programista Java. Obecnie zajmuję się systemami rozliczeniowymi w Krajowej Izbie Rozliczeniowej, gdzie odpowiadam za utrzymanie i rozwój oprogramowania od strony technicznej.</p>
            <p>Prowadzę <a href="http://koziolekweb.pl/" target="_blank">bloga</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>