
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>84 spotkanie WJUGa</h4>
            <h2><a href="http://wiki.eclipse.org/Eclipse_DemoCamps_November_2011/Warszawa" target="_blank">Eclipse DemoCamp </a></h2>
            <h3>JavaFX - Piotr Chmielewski</h3>
            <h3>Garbage-First Garbage Collection in Java 7 - Paweł Cesar Sanjuan Szklarz</h3>
            <h3>New concurrency features in Java 7 with Eclipse Indigo SR1 - <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski </a></h3>
            <p>Termin: 08.11.2011, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Sponsor: <a href="http://www.mlife.pl/" target="_blank">mLife</a></p>
            <p>Materiały:</p>
            <ul>
              <li><a href="http://wiki.eclipse.org/Eclipse_DemoCamps_November_2011/Warszawa" target="_blank">strona wydarzenia</a></li>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/3Ejf7MurfsM" target="_blank">dyskusja o Eclipse DemoCamp</a></li>
            </ul>
            <p>Relacje: <a href="http://jlaskowski.blogspot.com/2011/11/eclipse-democamp-2011-w-warszawie.html" target="_blank">Jacek Laskowski</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>