
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>86 spotkanie WJUG</h4>
            <h2>Koncepcje Spring Framework </h2>
            <h3> <a href="http://blog.solidcraft.eu/" target="_blank">Jakub Nabrdalik </a></h3>
            <p>Termin: 13.12.2011</p>
            <p>Lokalizacja: MIMUW</p>
            <p>Sponsor: <a href="http://softwaremill.pl/" target="_blank">SoftwareMill</a></p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/ihM06a4VbCc/" target="_blank">zapowiedź</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Prezentacja jest przeznaczona dla osób nie mających żadnego  doświadczenia ze Spring Framework i chcących się dowiedzieć o co cho.</p>
            <p>Wymagane:</p>
            <ul>
              <li>totalnie nic.</li>
            </ul>
            <p>Java się przyda.</p>
            <p>Wszyscy studenci, początkujący, androidowcy, hardcore'owi JEE'owcy i  ludzie którzy nie robią "Enterprise Web Apps" w Javie, mile widziani.  Osoby które używają Springa na co dzień będą się nudzić.</p>
            <p>Plan jest taki, że opowiem o:</p>
            <ul>
              <li>Skąd się wziął Spring</li>
              <li>Co to jest i z czego się składa</li>
              <li>Jak się ma Spring do JEE (i krótko do Guice)</li>
              <li>Jak wykorzystać Spring Core i w szczególności:</li>
              <ul>
                <li>Co to jest Inversion of Control / Dependency Injection</li>
                <li>Jak odpalić kontener IoC/DI</li>
                <li>Jakie mamy możliwości wstrzykiwania</li>
                <li>Jakie mamy możliwości konfiguracji (xml vs @adnotacje vs java-style)  i co kiedy jest najlepsze</li>
                <li>Jakie mamy scope'y obiektów w aplikacji</li>
                <li>Co nam daje Spring w testach integracyjnych</li>
                <li>Co to jest AOP i jak się je ze Springiem</li>
                <li>Co to jest Spring MVC i czemu jest zajebiste</li>
                <li>Co nam daje Spring w dostępie do bazy i transakcjach</li>
              </ul>
            </ul>
            <p>Przy czym od osób które przyjdą zależy dokładnie, o czym więcej a o czym  mniej opowiem. Ja jestem elastyczny. Idea jest taka, żeby osobom, które  nie znają w ogóle Springa, pokazać co można i jak to zrobić, żeby wiedziały kiedy i jak go stosować, oraz się nie bały używać.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>