
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>96 spotkanie WJUGa</h4>
            <h2>Implementacja architektury usługowej - od specifikacji do kodu </h2>
            <h3>Paweł Cesar Sanjuan Szklarz</h3>
            <p>Termin: 05.06.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 2180 </p>
            <p> </p><span>Sponsor: </span><a href="http://outbox.pl/" target="_blank">Outbox</a>
            <p></p><strong>Slajdy</strong>
            <ul>
              <li> <a href="https://github.com/paweld2/Service-Architecture-Model/blob/master/documentation/pdf/wjug-05062012.pdf" target="_blank">slajdy</a></li>
            </ul><strong>Dyskusja:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/bJqgNK9m4Zg" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Prelegent przedstawi sposób zdefiniowania architektury usługowej oparty o injektowanie zależności. Moc tej propozycji to injektowanie zależności "zdalnie", implementacja modułów mogą być rozproszone na wielu komputerach. Na spotkaniu będzie wszystko omawiał po kolei, ale wcześniejsze przejrzenie poniższych postów pomoże zorientować się o czym będzie mowa. </p>
            <p>--- O nowym podejściu do integracji - Protokół kanoniczny: </p>
            <p> <a href="http://softwaremathmodel.blogspot.com/2012/05/canonical-protocol.html" target="_blank">http://softwaremathmodel.blogspot.com/2012/05/canonical-protocol.html</a></p>
            <p>--- O konstrukcji "controlled scope" w Guice:</p>
            <p> <a href="http://softwaremathmodel.blogspot.com/2012/05/controlled-scope.html" target="_blank">http://softwaremathmodel.blogspot.com/2012/05/controlled-scope.html </a></p>
            <h3>O prelegencie:</h3>
            <p>Urodziłem się w Warszawie i jako małe dziecko (5 lat) wyjechałem do Meksyku z rodziną. Matka Polka, Ojciec Meksykanin. Wróciłem do Polski na studia i na razie zostałem na dobre.</p>
            <p>Uczestniczyłem na Olimpiadzie Międzynarodowej z Matematyki w reprezentacji Meksyku w 1998. Studiowałem na MIMUW, Matematyka Stosowana - Metody Numeryczne, częściowo też Mechanika Teoretyczna na MEiL PW. Aktualnie kończę doktorat na MEiL PW o sterowaniu robotów.</p>
            <p> Od 7 lat pracuję przy tworzeniu aplikacji webowych w javie. Pasjonuje mnie porządek i zrozumienie  jak i dlaczego to wszystko działa (albo i nie!). W pewnym sensie specjalizuję się w GWT oraz injektowanie zależności w Guice.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/ZR9eyRkX6II" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>