
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>98 spotkanie WJUG</h4>
            <h2>Zrob to sam: STM w Javie </h2>
            <h3>Adam Lider </h3>
            <p>Termin: 2.10.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały</strong>
            <ul>
              <li> <a href="../../presentations/98/TransactionalMemoryInJava.pdf" target="_blank">slajdy</a></li>
              <li> <a href="https://github.com/alider/stm" target="_blank">kod</a></li>
            </ul><strong>Dyskusja:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/6wu4c-Ts56s" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Po krótkim wprowadzeniu nawiązującym do transakcji bazodanowych oraz modelu programowania współbieżnego opartego na lockach, na przykładzie konkretnej aplikacji, zostaną przedstawione podstawowe algorytmy STM. </p>
            <p>Analiza będzie oparta na domowych implementacjach w Javie. Całość zostanie zamknięta propozycja możliwej (lub nie) architektury systemu wykorzystującego STM. </p>
            <h3>O prelegencie:</h3>
            <p>Adam Lider - programista Java, 8 lat doświadczenia, systemy transakcyjne, integracyjne i trochę weba.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/WXnKGBHyYMg" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>