
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>99 spotkanie WJUGa</h4>
            <h2>Qooxdoo - framework RIA, który warto polubić</h2>
            <h3>Tomek Kuprowski</h3>
            <p>Termin: 16.10.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Slajdy</strong>
            <ul>
              <li><a href="https://docs.google.com/open?id=0B3sikUV-sttFdndiTFp4dzk3M2c" target="_blank">slajdy</a></li>
            </ul><strong>Dyskusja:</strong>
            <ul>
              <li><a href="https://groups.google.com/forum/?fromgroups=#!topic/warszawa-jug/k2nBKdCJHPU" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Jeśli zostałeś zmuszony by zaprogramować frontend aplikacji, nie musisz pluć krwią. Można to zrobić bez znajomości html oraz css. Qooxdoo jest frameworkiem RIA, który pozwala szybko tworzyć aplikacje okienkowe, które wyglądają i działają tak samo w każdej przeglądarce. Dzięki bardzo przejrzystemu API będziesz w stanie skupić się wreszcie na tym jak Twoja aplikacja ma naprawdę działać i nie martwić o to jak ma wyglądać. </p>
            <p>Podczas prezentacji dowiesz się prawie wszystkiego o języku, najczęściej wykorzystywanych komponentach, tworzeniu layoutu i rozbudowie istniejących komponentów, komunikacji za pośrednictwem RPC i narzędziach developerskich.</p>
            <h3>O prelegencie:</h3>
            <p>Tomek jest analitykiem w jednym z banków. Wcześniej pracował jako programista J2EE w Artegence. Za dnia przetwarza dane narzędziami ETL, po nocach stara się zostać 'King code'. Jest również autorem projektu Helenos i współzałożycielem pewnego globalnego serwisu www.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/a77y1XLaLhQ" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>