
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>10 spotkanie WJUG</h4>
            <h2>Języki skryptowe w Javie 1.6 (JSR 223) w praktyce </h2>
            <h3>Jakub Kaniewski</h3>
            <p>Termin: 22.05.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/ZKN3rkeUyVE/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Podczas prezentacji zaprezentowane zostaną dobrodziejstwa płynące ze specyfikacji <a href="http://jcp.org/aboutJava/communityprocess/final/jsr223/index.html" target="_blank">JSR-223 Scripting for the Java Platform</a>. Zaprezentowane będą założenia grupy projektowej i w jakim stopniu udało się je zrealizować. Główną rozważaną kwestią będzie, gdzie w projektach biznesowych opartych o platformę Java EE jest miejsce na języki skryptowe - jakie zalety i wady niesie w sobie ich użycie. Na koniec zaprezentowane będzie małe porównanie prędkości różnych implementacji JSR-223 i porównanie z odpowiadającym kodem napisanym w "czystej" Javie. Dla podtrzymania tradycji spotkań Warszawa JUG, gwoździem programu będzie działająca aplikacja korzystająca z EJB 3 ze wstawkami w języku skryptowym.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentacja prowadzona będzie przez <a href="http://www.linkedin.com/in/jkaniewski" target="_blank">Jakuba Kaniewskiego</a>, który jest absolwentem kierunku Informatyka i Ekonometria na Wydziale Nauk Ścisłych UKSW (rocznik 2005). Z Javą ma styczność hobbystycznie i zawodowo od 5 lat. Główne zajmuje się technologiami serwerowymi: Apache Cocoon, JSF, Hibernate, EJB 3. Ostatnio próbuje sił w Ruby i JRuby.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>