
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>135 spotkanie WJUG (feat.<a href="http://wjbug.pl/" target="_blank"> Warsaw JBoss User Group</a>)</h4>
            <h2>WildFly on the fly</h2>
            <h3><a href="https://twitter.com/KrzysztofMiksa" target="_blank">Krzysztof Miksa</a></h3>
            <p>Termin: 08.04.2014 godz. 18:45<strong> (uwaga! spotkanie wyjątkowo przesunięte na później!)</strong></p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>TomEE? Glassfish? Websphere? WebLogic? Poszukujecie darmowego, niewyobrażalnie szybkiego a przy tym mało zasobożernego serwera aplikacyjnego z otwartym kodem? Dobrze trafiliście! Poznajcie nowy serwer aplikacyjny<a href="http://www.wildfly.org/" target="_blank"> WildFly</a>, który kiedyś być może znany był Wam jako JBoss AS. Podczas prezentacji dowiecie się co go wyróżnia na tle innym serwerów aplikacyjnych, jakie nowości w sobie kryje poza samą nazwą oraz jak nim zarządzać. Tym samym wykład będzie inauguracją powstania<a href="http://wjbug.pl/" target="_blank"> Warsaw JBoss User Group</a> - nowej inicjatywy cyklicznych spotkań, której głównym celem będzie zagłębienie się w szczegóły projektów ze stajni JBoss'a.</p>
            <h3>O prelegencie:</h3>
            <p><a href="https://twitter.com/KrzysztofMiksa" target="_blank">Krzysztof Miksa</a> - Zawodowo prezes, współzałożyciel i programista w<a href="http://itcrowd.pl" target="_blank"> IT Crowd</a>. Na co dzień mąż. Niereformowalny zwolennik pracy zdalnej, Gentoo oraz cichy wielbiciel języków funkcyjnych.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/2aOis0DaN4M" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>