
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>136 spotkanie WJUG</h4>
            <h2>Java SE 8 & Java EE 7 flash-talks</h2>
            <h3>Andrzej Goławski, Daniel Stankiewicz, Kamil Szymański, Krzysztof Miksa, Krzysztof Siejkowski, Marcin Zajączkowski, Michał Lewandowski, Paweł Cesar Sanjuan Szklarz, Piotr Trzpil, Tomasz Nurkiewicz</h3>
            <p>Termin: 22.04.2014 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://4finance.com/" target="_blank"> 4finance</a></p>
            <h3>O prezentacji:</h3>
            <p>Java SE 8 & Java EE 7 flash-talks, czyli zmiany i nowości, które pojawiły się w JSE8 i JEE7</p>
            <ul>
              <li>Type Annotations - Daniel Stankiewicz</li>
              <li>O nowych metowach w interfejsie Map -<a href="http://blog.klkl.pl/" target="_blank"> Michał Lewandowski</a></li>
              <li>Java 8 na Androidzie -<a href="https://twitter.com/_siejkowski" target="_blank"> Krzysztof Siejkowski</a></li>
              <li>WebSocket -<a href="https://twitter.com/andiPansa" target="_blank"> Andrzej Goławski</a></li>
              <li>Optional z JDK 8 w myśleniu funkcyjnym -<a href="https://twitter.com/PiotrTrzpil1" target="_blank"> Piotr Trzpil</a></li>
              <li>java.time -<a href="http://nurkiewicz.blogspot.com/" target="_blank"> Tomasz Nurkiewicz</a></li>
              <li>Charakterystyki stream-ów -<a href="http://softwaremathmodel.blogspot.com/" target="_blank"> Paweł Cesar Sanjuan Szklarz</a></li>
              <li>java.util.concurrent.atomic -<a href="http://nurkiewicz.blogspot.com/" target="_blank"> Tomasz Nurkiewicz</a></li>
              <li>JSR 352 - Batch Processing for Java Platform -<a href="https://twitter.com/KrzysztofMiksa" target="_blank"> Krzysztof Miksa</a></li>
              <li>Małe rzeczy też czasami mogą cieszyć -<a href="http://solidsoft.wordpress.com" target="_blank"> Marcin Zajączkowski</a></li>
              <li>Behavioral compatibility -<a href="https://twitter.com/kszdev" target="_blank"> Kamil Szymański</a></li>
              <li>Dużo szybsza HashMapa -<a href="http://nurkiewicz.blogspot.com/" target="_blank"> Tomasz Nurkiewicz</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>