
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>184 spotkanie WJUG</h4>
            <h2>Peer-2-Peer Salary Review</h2>
            <h3>Jakub Nabrdalik</h3>
            <p>Termin: 20.09.2016 godz. 18:15</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <h3>O prezentacji:</h3>
            <p>As a Head of Software Dev, part of my job was to review salaries every now and then. Except I don't think I'm the right guy to do it. You may be fair in a group of 7 devs you work with, but this doesn't scale. When you have ~40 people, it's pure science fiction. So I've created a simple process of peer-to-peer review, that allows me to get salaries more or less fairbring people some feedback, while not trying to play a semi-omnipotent judge, and which doesn't take forever.</p>
            <p>This is a case study / tutorial, of how to optimize salaries for fairness, while being constrained by corporate rules, law, and lack of time.</p>
            <p>It ain't perfect, but after Jurgen Appelo gave a lecture at Devoxx PL last year, one of my devs came to me happy, saying we do it right. So I guess it's not that bad either.</p>
            <h3>O prelegencie:</h3>
            <p>Jakub Nabrdalik - A software developer with 13 years of professional experience in IT, as an architect, programmer, designer, analyst, leader and manager. Down to the ground kind of guy, who hates corporate bullshit, people in general, and shiny theories not tested in practice. Big fan of TDD/BDD/DDD and craftsmanship. More at<a href="http://solidcraft.eu"> solidcraft.eu</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>