
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>22 spotkanie WJUG</h4>
            <h2>JavaFX</h2>
            <h3>Bartek "koziołek" Kuczyński / <a href="http://www.holewa.org" target="_blank">Radosław Holewa</a></h3>
            <p>Termin: 22.01.2008 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/D2aSRfxgYSs/" target="_blank">zaproszenie</a></li>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/E8wmvFPR-Y0/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji jest ukazanie istoty platformy JavaFX oraz najważniejszych i najciekawszych elementów języka JavaFX Script. Uczestnicy będą mogli zobaczyć w jaki sposób można integrować aplikacje napisane w JavaFX z tradycyjną Javą, zarówno w wersji serwerowej, jak też użycia z poziomu JavaFX Script napisanych w czystej Javie komponentów.</p>
            <p>A poza tym, nie zabraknie różności programistycznych jak JavaFX a środowiska programistyczne - NetBeans IDE oraz Eclipse, będzie Apache Maven, czyli co i jak budować z wtyczką m2jfxs, której zadaniem jest przygotowanie środowiska do pracy z JFXS. Planowane również niespodzianki programistyczne. Porównanie ze Swingiem, SWT i innymi.</p>
            <h3>O prelegentach:</h3>
            <p>Bartek "koziołek" Kuczyński zajmuje się programowaniem od dawien dawna. Zaczynał od Logo, a po wielu przygodach zainteresował się Javą. Od czterech lat rozmawia z komputerami w języku Java, a od dwóch lat robi to komercyjnie. Bartek jest programistą zatrudnionym przy projekcie PESEL2. Poza tym udziela się na <a href="http://4programmers.net" target="_blank">4programmers.net </a>i udziela porad zbłąkanym javowym duszyczkom.</p>
            <p><a href="http://www.holewa.org" target="_blank">Radosław Holewa </a>jest studentem V roku Uniwersytetu Ekonomicznego w Krakowie na kierunku Informatyka i Ekonometria. Javą interesuje się od prawie czterech lat. Zajmował się systemami bankowości internetowej, systemami obsługi płatności, platformami e-commerce, bramkami smsowymi oraz aplikacjami RIA pisanymi przy użyciu Adobe Flex. Pracuje jako programista Java w firmie <a href="http://www.grapesoftware.com" target="_blank">Grape Software </a>oraz pełni funkcję Sun Campus Ambassadora na Uniwersytecie Ekonomicznym. Jest współorganizatorem największego wydarzenia IT w Polsce - Studenckiego Festiwalu Informatycznego oraz konferencji Java TechConf. W roku 2007 wspólnie z Adrianem Nowakiem reaktywował <a href="http://www.java.pl" target="_blank">Polish Java User Group</a>, grupę miłośników języka Java. Czas wolny najchętniej spędza z przyjaciółmi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>