
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>Newsletter warszawskiego JUG #6</h2>
            <p><a href="https://groups.google.com/d/msg/warszawa-jug/QQjjpYgl_0Q/OA77z-JXdHEJ" target="_blank">17.02.2015</a>
            </p>
            <p>Cześć WJUGowicze!</p>
            <p>Niedawno rozpoczeliśmy nowy sezon spotkań&nbsp<strong>Warszawskiego JUG</strong>. Mamy garść informacji od inicjatyw, które wspólnie organizujemy. Zaczniemy od małego podsumowania z walnego :-)</p>
            <h4>Walne zgromadzenie</h4>
            <p>W ostatnich dniach stycznia odbyło się walne zgromadzienie naszej społeczności, które sprawnie poprowadził&nbsp<a href="https://twitter.com/szimano" target="_blank">Tomek Szymański</a>&nbsp:-)
            </p>
            <h5>Warsjawa</h5>
            <p>
              Spotkanie rozpoczęła długa dyskusja o przyszłości Warsjawy.
              Kilka tygodni przed spotkaniem padła propozycja uniezależnienia tej inicjatywy od WJUG-a. W związku z tym, że wywołało&nbsp
              to dyskusję, rozważaliśmy na spotkaniu wszelkie za i przeciw. W trakcie spotkania powstało kilka pomysłów,&nbsp
              które zaproponowaliśmy organizatorom warsjawy.
            </p>
            <h5>Nagrania</h5>
            <p>Poruszyliśmy też temat nagrań, które z opóźnieniem zaczeły się pojawiać na naszym kanale&nbsp<a href="https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw" target="_blank">YouTube</a>. Brakujące nagrania ze spotkań powinny się już niebawem pojawić na stronie.<br/>Ponieważ cały proces nagrywania i udostępnienia ich na stronie był czasochłonny, już od najbliższych spotkań&nbsp
              nagrywanie będzie obsługiwać zewnętrzna firma. Mamy nadzieję, że unikniemy w ten sposób obsunięć w ich publikacji :-)
            </p>
            <h5>Nowi organizatorzy</h5>
            <p>Do grona organizatorów dołączyły dwie nowe osoby:
              <ul>
                <li>Bartek Andrzejczak - pomoże w organizacji spotkań regularnych</li>
                <li>Karol Żmuda - będzie pomagać w spotkaniach JInkubatora</li>
              </ul><strong>Jeśli ty też chciałbyś do nas dołączyć, to napisz do nas maila lub przyjdź na następne walne, które prawdopodobnie będzie przed wakacjami :-)</strong>
            </p>
            <h5>Miejsca spotkań</h5>
            <p>
              Z bieżących spraw dyskutowaliśmy o miejscach gdzie moglibyśmy się spotykać i gdzie można wspólnie wypić piwo na/po spotkaniu.
              Networking jest ważną częścią naszych spotkań dlatego szukamy miejsc w Warszawie które nam umożliwią łączenie obu rzeczy.
              Jeśli znasz miejsce, gdzie pomieścimy ponad 60 osób(czasem ponad 120!) to skontaktuj się z&nbsp<a href="https://twitter.com/_siejkowski" target="_blank">Krzyśkiem</a>
            </p>
            <p>...a po zakończeniu walnego tradycyjnie wybraliśmy się na piwo - tu już relacji jednak nie będzie ;-)</p>
            <h4>Wojtek Erbetowski</h4>
            <p>
              Wojtek w ostatnich latach organizował spotkania regularne, Warsjawę oraz inne eventy m.in. GitKata i TestKata.
              Był jedną z najaktywniejszych osób wśród organizatorów - miał duży wpływ na to, jak obecnie grupa funkcjonuje.
            </p>
            <p><a href="http://erbetowski.pl/" target="_blank"><img src="img/newsletter/wojtek-6.jpg" width="400px"/></a></p>
            <p>Doceniając wkład Wojtka w rozwój Warszawskiego JUG-a umieszczamy jego nazwisko w&nbsp<a href="#/liders" target="_blank">gronie zasłużonych</a>&nbspobok innych legend naszej społeczności.&nbsp<strong>Good job!</strong>
            </p>
            <h4>Java Champion - Jacek Laskowski</h4>
            <p>Kilkanaście dni temu świat JVM obiegła miła wiadomość. Jacek Laskowski&nbsp<a href="https://blogs.oracle.com/java/entry/new_java_champion1" target="_blank">dołączył</a>&nbspdo grona Java Champions.<br/>Jacek jest założycielem Warszawa Java User Group i od kilku lat znajduje się w gronie zasłużonych dla naszej społeczności.
              Poza organizowaniem spotkań regularnych WJUG, rozpoczynał także projekty pod nazwami
              Javarsovia(dziś Confitura) i Warsjava(dziś Warsjawa), które co roku cieszą się co raz większą popularnością.<br/>Aktualnie Jacek rozwija&nbsp<a href="http://warszawscala.pl/" target="_blank">Warszawa Scala User Group</a>
            </p>
            <p><a href="http://jaceklaskowski.pl/" target="_blank"><img src="img/newsletter/jacek-6.png" width="266px"/></a></p>
            <p><strong>Gratulacje! :-)</strong></p>
            <h4>WJUG - Spotkania cykliczne</h4>
            <p>
              Spotkania regularne przekroczyły półmetek sezonu. Na kolejnych spotkaniach mamy dla Was coraz ciekawsze propozycje,&nbsp
              o których możecie przeczytać na naszej stronie internetowej: &nbsp<a href="http://warszawa.jug.pl/#/meetings" target="_blank">spotkania</a>. Na tą chwilę jest tam plan spotkań do końca kwietnia. Znajdziecie tam też WJUG-owy&nbsp<a href="http://warszawa.jug.pl/#/by-you" target="_blank">poradnik prelegenta</a>.
            </p>
            <p>
              Szukamy sponsorów spotkań, oferujemy możliwość przedstawienia firmy na spotkaniu w formie prezentacji i rollupa,&nbsp
              przekazania uczestnikom materiałów promocyjnych, logo i informację o sponsorze w ogłoszeniach o spotkaniu &nbsp
              oraz na stronie internetowej. Kontakt&nbsp<a href="mailto:wjug-regular-meetings@googlegroups.com">wjug-regular-meetings@googlegroups.com</a>
            </p>
            <p>
              Od lutego zespół spotkań regularnych wzbogacił się o dwie nowe osoby: doświadczoną i znaną większości z JInkubatora&nbsp
              Justynę Sadło oraz młodego, żądnego wrażeń i pełnego zapału Bartka Andrzejczaka.
            </p>
            <h4>JInkubator</h4>
            <p>
              Jinkubator działa pełną parą. Od ostatniego newslettera odbyły się cztery spotkania: o Groovy'm, Gicie, Guavie i Androidzie.&nbsp
               Spotkania cieszą się bardzo dużą popularnością, zarówno uczestników (na większości spotkań było ponad 60 osób),&nbsp
               jak i sponsorów (mało które spotkanie nie było sponsorowane).
            </p>
            <p>W najbliższej przyszłości odbędzie się spotkanie o&nbsp<a href="http://jinkubator.pl/#/meeting/24" target="_blank">zwinnych metodykach</a>, a w planach mamy jeszcze m.in. spotkanie ze&nbsp<a href="http://jinkubator.pl/#/meeting/25" target="_blank">Spring Boota</a>&nbsp
              oraz
              &nbsp<a href="http://jinkubator.pl/#/meeting/26" target="_blank">Scali</a>. Zapraszamy na spotkania wszystkich, którzy chcą się nauczyć podstawowych technik i technologii, w co&nbsp
              drugi wtorek na wydziale Matematyki i Nauk Informatycznych na Politechnice Warszawskiej.
            </p>
            <h4>Warsaw Groovy User Group</h4>
            <p>3 lutego dzięki pomocy &nbsp<a href="http://mceconf.com/" target="_blank">Mobile Central Europe</a>&nbspodwiedził nas Cédric Champeau. Cedric na MCE opowiadał o programowaniu w Groovym na Androidzie, zaś&nbsp
              podczas naszego spotkania, wytłumaczył założenia projektowe i wszystkie quirks and tricks związane z traitami. &nbsp
              Sporo z tego nie istnieje w dokumentacji, a ma olbrzymi wpływ na wydajność.
            </p>
            <h4>Spring Labs</h4>
            <p>Spring Labs wraca już 18 lutego wraz z nowym tematem - Wprowadzeniem do Spring Integration! Hell yeah!</p>
            <h4>Warsaw JBoss User Group</h4>
            <p><a href="http://wjbug.pl/" target="_blank">WJBUG</a>&nbsppowoli (w końcu to nie wyścigi :) ) budzi się do życia z zimowego letargu. Pierwsze prelekcje planowane&nbsp
              są na przełom marca i kwietnia i prawdopodobnie będą dotyczyły: Keycloak'a, Ceylon'a oraz Wildfly'a.&nbsp
              Konkretne terminy podamy do wiadomości kanałami WJUG'a. Tymczasem tradycyjnie zachęcamy wszystkich chętnych&nbsp
              do zgłaszania własnych tematów. Do zobaczenia wkrótce!
            </p>
            <h4>Confitura</h4>
            <p>
              Rozpoczęliśmy przygotowania do kolejnej edycji jednak borykamy się z pewnymi problemami technicznymi.&nbsp
              Ponownie zagościmy w kampusie UW początkiem lipca, także najważniejsze już wiecie :)<br/>Obserwujcie kanały Confitury na&nbsp<a href="https://twitter.com/confiturapl" target="_blank">Twitterze</a>&nbsp
              i
              &nbsp<a href="https://www.facebook.com/Confitura" target="_blank">Facebooku</a>.
            </p>
            <h4>Warsjawa</h4>
            <p>
              Dotychczasowi organizatorzy Warsjawy poinformowali, że rezygnują z organizowania wydarzenia w tym roku.
              W tym miejscu chcemy podziękować za pracę i czas, jaki włożyli w organizację tej wspaniałej konferencji w ostatnich latach.
              Wojtek, Kamil, Michał, Adam, Maciek, Krzysiek, Magda, Tomek, Ilona, Tomek jeszcze raz dzięki :-)
            </p>
            <p>Jednak to nie oznacza końca Warsjawy. Jeśli chciałbyś pomóc w organizacji przyszłych edycji to czekamy na ciebie. Skontaktuj się z&nbsp<a href="mailto:wjug-leaders@googlegroups.com">wjug-leaders@googlegroups.com</a>.
            </p>
            <h4>Koduj.com</h4>
            <p>W&nbsp<a href="http://koduj.com" target="_blank">Koduj.com</a>&nbspudało się uruchomić stronę aktualnie trwa poszukiwanie współpracowników, którzy chcieliby prowadzić warsztaty dla najmłodszych.
              Jeśli chciałbyś dowiedzieć się więcej skontaktuj się z&nbsp<a href="mailto:eliza@koduj.com">eliza@koduj.com</a>.
            </p>
            <h4>Profile społecznościowe</h4>
            <p>Przypominamy o naszych profilach na&nbsp<a href="https://twitter.com/WarszawaJUG" target="_blank">Twitterze</a>&nbsp
              i
              &nbsp<a href="https://plus.google.com/107616814384149131589" target="_blank">Google+</a>. Znajdziecie tam najszybciej informacje o nowościach jakie dla was mamy. Subskrybujcie też nasz kanał&nbsp<a href="https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw" target="_blank">YouTube</a>&nbsp- znajdziecie tam nagrania z naszych spotkań.
            </p>
            <div class="row">
              <div class="span12">
                <div class="pull-left"><a href="#/newsletter/7">Następny</a></div>
                <div class="pull-right"><a href="#/newsletter/5" class="float-right">Poprzedni</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>