
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>62 spotkanie WJUG</h4>
            <h2>Mule ESB vs. Apache ServiceMix</h2>
            <h3> <a href="http://nurkiewicz.blogspot.com/" target="_blank">Tomasz Nurkiewicz</a>, <a href="http://blog.dywicki.pl/" target="_blank">Łukasz Dywicki</a></h3>
            <p>Termin: 23.02.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/g0qaT17pPWQ" target="_blank">dyskusja</a></li>
              <li><a href="http://github.com/nurkiewicz/wjug-money" target="_blank">kod i prezentacja Tomka Nurkiewicza</a></li>
              <li> <a href="http://svn.code-house.org/wjug" target="_blank">kod Łukasza Dywickiego</a></li>
              <li><a href="http://www.slideshare.net/splatch/open-source-integration-tools" target="_blank">prezentacja Łukasza Dywickiego</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>W trakcie prezentacji Tomasz i Łukasz stworzą działający system, integrujący różne aplikacje przy użyciu technologii takich jak JMS, WS, HTTP, JDBC, ale też poczciwej poczty elektronicznej, FTP czy... współdzielonych plików Excel. Ich celem jest oprogramowanie od zera pełnego procesu biznesowego, wykorzystującego komunikację synchroniczną i asynchroniczną z systemami zewnętrznymi. Ponadto, poruszą fundamentalne cechy ESB, takie jak transformacje, filtrowanie i routowanie komunikatów.</p>
            <p>Atrakcją wieczoru będzie integracja przykładowego systemu jednocześnie przy użyciu Mule ESB (Tomek) i Apache ServiceMix (Łukasz). Nie spodziewajcie się wskazania tego najlepszego, ale demonstracji różnic praktycznie i umożliwić każdemu słuchaczowi podjęcie decyzji o wyborze samodzielnie.</p>
            <p>Gościem specjalnym będzie Gregory Brackett, dyrektor sprzedaży MuleSoft na terenie Europy. Zainteresowani komercyjnym wsparciem i dodatkowymi funkcjami Mule ESB Enterprise będą mieli niepowtarzalną okazję porozmawiać z nim bezpośrednio.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://blog.dywicki.pl/" target="_blank">Łukasz Dywicki </a>jest założycielem firmy Code-House. Zawodowy programista od 2005 roku. Programowaniem w Javie zajmuje się od 3 lat. W 2008 roku pracował jako główny programista przy budowaniu magistrali usług w oparciu o Apache ServiceMix w jednym z polskich banków.</p>
            <p><a href="http://nurkiewicz.blogspot.com/" target="_blank">Tomasz Nurkiewicz </a>jest absolwentem Wydziału Elektroniki i Technik Informacyjnych Politechniki Warszawskiej. Programista Java EE od 3 lat, obecnie w JAVART. Posiada certyfikaty SCJP, SCJD, SCWCD i SCBCD. W wolnych chwilach pisuje artykuły na swojego <a href="http://nurkiewicz.blogspot.com/" target="_blank">bloga "Java and neighbourhood"</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>