
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>85 spotkanie WJUG</h4>
            <h2>Zmiany JVM w Java 7 </h2>
            <h3>Adam Michalik</h3>
            <h2>java.util.concurrent.Phaser praktycznie</h2>
            <h3> <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski</a></h3>
            <p>Termin: 29.11.2011</p>
            <p>Lokalizacja: MIMUW</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>