
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>87 spotkanie WJUG</h4>
            <h2>Koncepcje Guice </h2>
            <h3> <a href="http://koziolekweb.pl/" target="_blank">Bartek Kuczyński </a>oraz <a href="http://blog.erbetowski.pl/" target="_blank">Wojtek Erbetowski</a></h3>
            <p>Termin: 03.01.2012</p>
            <p>Lokalizacja: MIMUW</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>