
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>89 spotkanie WJUG</h4>
            <h2>Funkcyjny Clojure z Javą, Leiningen, Counterclockwise, Midje i Compojure</h2>
            <h3> <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski</a></h3>
            <p>Termin: 06.03.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180 </p><strong>Materiały:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/COxMFMcxHno" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Prezentacja ukaże Clojure jako język funkcyjny na JVM do zastosowań w naszych codziennych zadaniach projektowych. Wspólnie poznamy programowanie funkcyjne jako podejście do budowania aplikacji w Clojure z Eclipse i Counterclockwise, z narzędziem do zarządzania projektami Clojure - Leiningen, TDD z Midje, współpracę Clojure z Javą w obu kierunkach - od i do Javy oraz budowanie aplikacji webowej z Compojure. Sądzić, że będzie w prezentacji garść kodu źródłowego w Clojure nie byłoby dalekie od prawdy. Proszę o przygotowanie dociekliwych pytań z umiejętnym wpasowaniem się z nimi w dwie godziny spotkania.</p>
            <h3>O prelegencie:</h3>
            <p>Jacek Laskowski jest założycielem i liderem Warszawskiego JUGa. Interesuje się Javą w wydaniu podstawowym (Java SE) i korporacyjnym (Java EE), a od ponad roku zadużony w programowaniu funkcyjnym z Clojure (i w tle F#). Swoje przemyślenia publikuje na polskojęzycznym blogu <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski jawnie </a>oraz angielskojęzycznym <a href="http://blog.japila.pl/" target="_blank">Japila :: verba docent, exempla trahunt</a>. Krótkie myśli znajdziesz na kanale <a href="http://twitter.com/jaceklaskowski" target="_blank">@jaceklaskowski</a>. Występuje podczas polskich konferencji, co traktuje jako wyróżnienie i miejsce prezentacji własnych poglądów. Będzie wdzięczny za wszelkie komentarze do jego publicznych aktywności. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>