
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>?? spotkanie WJUGa</h4>
            <h2>Twój temat</h2>
            <h3>Ty - prelegent</h3>
            <p>Termin: ???</p>
            <p>Lokalizacja: ???</p>
            <h3>O prezentacji i prelegencie:</h3>
            <p></p>Z pewnością nie raz zastanawiałeś/-aś się, z czym wiąże się przyjemność wystąpienia publicznego podczas naszych spotkań.
            <p></p>Poniżej znajdują się wybrane uwagi, komentarze, sugestie i podpowiedzi, w których należałoby szukać odpowiedzi na własne rozterki związane z publicznymi wystąpieniami.
            <p></p>Liderzy Warszawa JUG gorąco zachęcają i służą pomocą w przejściu "Rubikonu prezentacyjnego".
            <p></p>2011/11/18 Marcin Pieciukiewicz:
            <div>> Podejrzewałbym, że jednym z problemów, dla których nowe osoby nie chcą</div>
            <div>> wygłaszać prezentacji wynika z tego, że nie chcą się powtarzać, a większość</div>
            <div>> ciekawych technologii już się na spotkaniach WJUGowych pojawiała.</div>
            <div>...</div>
            <div>> Tutaj ważne byłoby dotarcie z informacją na jakim poziomie przydałyby się</div>
            <div>> prezentacje, i że wcale nie musi ich wygłaszać ktoś mający co 3 lata</div>
            <div>> doświadczenia w danej technologii, znający wszystkie kruczki itp..</div>
            <div>> Mi osobiście odpowiadała formuła 3 krótkich prezentacji na ostatnim</div>
            <div>> spotkaniu i gdyby coś takiego utrzymać (np. co drugie spotkanie) może </div>
            <div>> zachęciłoby to osoby o mniejszym doświadczeniu, które chciałyby opowiedzieć </div>
            <div>> o tym czego się ostatnio nauczyły.</div>
            <p></p>2011/11/18 Jakub Nabrdalik:
            <div>> Gdyby każdy z członków raz opowiedział przez 20 minut o jednej</div>
            <div>> bibliotece/technologii/whatever, którą się bawi, mielibyśmy materiałów na 5</div>
            <div>> lat :)</div>
            <p></p>Pytaj na grupie, jeśli nie jesteś pewny/-a, czy dany temat lub formuła jego przestawienia jest właściwa. W 99% z pewnością jedynym mankamentem prezentacji jest... jej brak! Reszta jest mniejszego znaczenia i na pewno znajdzie się wśród nas kilku napaleńców, którzy nie tylko, że przyjdą, ale i podzielą się swoimi spostrzeżeniami w temacie. Spróbuj!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>