
<div>
  <div scroll-spy="scroll-spy" parallax="0.3" page="1" class="section jcp_background">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>WJUG-JCP (Java Community Process)</h1>
            <p>WJUG-JCP (Java Community Process) jest projektem WJUG skupiającym ludzi, którzy chcą wpływać na kształt i przyszłość Javy oraz JVM.<br/>Dyskutujemy o Javie, wygłaszamy prezentacje, organizujemy hackatony, co jednak najważniejsze staramy się brać aktywny udział w rozwoju Javy.<br/>Aktualnie skupiamy się na udziale w<a href="https://java.net/projects/adoptopenjdk/" target="_blank"> Adopt OpenJDK</a>, w przyszłości planujemy dołączyć do programu<a href="https://java.net/projects/adoptajsr/" target="_blank"> Adopt a JSR</a>.<br/>Serdecznie witamy wszystkich chcących razem się uczyć, współpracować i ulepszać Javę.</p>
            <h3>Jeśli zależy ci na przyszłości Javy nie masz wymówki aby do nas nie dołączyć!</h3>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h1>najbliższe spotkania:</h1>
            <p>11.02.2014 -<a href="#/meeting/131"> Adopt OpenJDK flash-talk</a> -<a href="http://michalwarecki.blogspot.com" target="_blank"> Michał Warecki</a></p>
            <p>25.03.2014 - OpenJDK hackathon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>