
<ul>
  <li ng-class="getClass('/about')"><a ng-href="#/about">o grupie</a></li>
  <li ng-class="getClass('/meetings')"><a ng-href="#/meetings">spotkania</a></li>
  <li ng-class="getClass('/liders')"><a ng-href="#/liders">liderzy</a></li>
  <li ng-class="getClass('/cooperation')"><a ng-href="#/cooperation">współpraca</a></li>
  <li ng-class="getClass('/partners')"><a ng-href="#/partners">partnerzy</a></li>
  <li ng-class="getClass('/newsletter')"><a ng-href="#/newsletter">newsletter</a></li>
  <li ng-class="getClass('http://groups.google.com/forum/?fromgroups#!forum/warszawa-jug')"><a ng-href="http://groups.google.com/forum/?fromgroups#!forum/warszawa-jug">forum</a></li>
  <li ng-class="getClass('http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/')"><a ng-href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/">meetup</a></li>
  <li ng-class="getClass('http://groups.google.com/group/warszawa-jug/post?sendowner=1&amp;hl=pl&amp;pli=1')"><a ng-href="http://groups.google.com/group/warszawa-jug/post?sendowner=1&amp;hl=pl&amp;pli=1">kontakt</a></li>
</ul>
<!--+menuEl('/dlaprelegenta', 'Dla Prelegenta')-->