//Section backgrounds

.simple_background {}

.about_background {
  background-image: url("../img/tlo13.jpg");
  color: @grayLighter;
}

.liders_background {
  background-image: url("../img/tlo8.jpg");
  color: @grayLighter;
}

.partners_background {
  background-image: url("../img/tlo14.jpg");
  color: @grayLighter;
}

.jcp_background {
  background-image: url("../img/tlo11.jpg");
  color: @grayLighter;
}
