Dockerfile
.DS_Store
*.iml
.idea
wjug.sublime-project
wjug.sublime-workspace
#NodeJS modules
node_modules/
#generated content
_public/
app/assets/index.html
app/assets/partials/*.html
app/assets/partials/meetings/*.html
app/assets/partials/newsletter/*.html
