
<div class="footer-body">
  <p class="pull-right"><span class="sites-system-link">design & code <b class='powered-by'><a href='http://touk.pl'>touk</a></b></span></p>
  <!-- p <a href="https://www.google.com/a/UniversalLogin?service=jotspot&amp;continue=http://sites.google.com/site/warszawajug/home" class="sites-system-link">Zaloguj się</a> | <a href="/system/app/pages/recentChanges" class="sites-system-link">Ostatnia aktywność w witrynie</a> | <a href="/system/app/pages/reportAbuse" target="_blank" class="sites-system-link">Zgłoś nadużycie</a> | <a href="javascript:;" onclick="window.open(webspace.printUrl)" class="sites-system-link">Drukuj stronę</a> | <a href="/system/app/pages/removeAccess" target="_blank" class="sites-system-link">Usuń dostęp</a>-->
</div>