
<div>
  <div scroll-spy="scroll-spy" page="1" class="section background2">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>biblioteka warszawskiego JUGa</h1>
            <p>Na półkach Biblioteki Warszawskiego JUGa znajdują się pozycje, jak wymieniono poniżej. Przy pozycjach jest wyświetlona informacja o aktualnie czytającym, dacie wypożyczenia oraz o recenzjach. Zakłada się, że książka wraca tak szybko jak się tylko da, czyli po 1 miesiącu od wypożyczenia z recenzją. Recenzja jest warunkiem koniecznym do otrzymania książki (no cóż, takie życie - nikt nie mówił, że będzie łatwo ;-)).</p>
            <p>Książki do wypożyczenia znajdują się w zasobach innych JUGów. Wystarczy napisać z prośbą o wypożyczenie i w najgorszym (czasowo - konieczność odstania swojego w kolejkach) wypadku książka nadejdzie pocztą.</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h3>tytuł</h3>
          </div>
          <div class="span4">
            <h3>autor</h3>
          </div>
          <div class="span2">
            <h3>gdzie jest</h3>
          </div>
          <div class="span2">
            <h3>format</h3>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.oreilly.com/catalog/9780596529260/" target="_blank">RESTful Web Services</a></p>
          </div>
          <div class="span4">
            <p>Leonard Richardson, Sam Ruby</p>
          </div>
          <div class="span2">
            <p>Jacek Laskowski</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.oreilly.com/catalog/9780596529864/" target="_blank">Learning Ruby</a></p>
          </div>
          <div class="span4">
            <p>Michael Fitzgerald</p>
          </div>
          <div class="span2">
            <p>Jacek Laskowski</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/bookDisplay.html?bID=10234" target="_blank">Beginning JBoss Seam: From Novice to Professional</a></p>
          </div>
          <div class="span4">
            <p>Joseph Faisal Nusairat</p>
          </div>
          <div class="span2">
            <p>u Tomka Bujoka</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/bookDisplay.html?bID=10189" target="_blank">Pro Wicket</a></p>
          </div>
          <div class="span4">
            <p>Karthik Gurumurthy</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
          <div class="span2">
            <p>eBook</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.oreilly.com/catalog/9780596529246/" target="_blank">Facelets</a></p>
          </div>
          <div class="span4">
            <p>Robert Swarr</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
          <div class="span2">
            <p>eBook</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.oreilly.com/catalog/entjbeans5/" target="_blank">Enterprise JavaBeans 3.0, Fifth Edition</a></p>
          </div>
          <div class="span4">
            <p>Bill Burke, Richard Monson-Haefel</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/Java-EE-5-GlassFish-Application-Servers/book" target="_blank">Java EE 5 Development using GlassFish Application Server</a></p>
          </div>
          <div class="span4">
            <p>David R. Heffelfinger</p>
          </div>
          <div class="span2">
            <p>u Mateusza Zięby</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.amazon.com/Java-Concurrency-Practice-Brian-Goetz/dp/0321349601/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1199889375&amp;sr=8-1" target="_blank">Java Concurrency in Practice</a></p>
          </div>
          <div class="span4">
            <p>Brian Goetz</p>
          </div>
          <div class="span2">
            <p>Hubert Jankowski</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.amazon.com/Filthy-Rich-Clients-Developing-Applications/dp/0132413930/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1199889518&amp;sr=1-1" target="_blank">Filthy Rich Clients: Developing Animated and Graphical Effects for Desktop Java Applications</a></p>
          </div>
          <div class="span4">
            <p>Chet Haase, Romain Guy</p>
          </div>
          <div class="span2">
            <p>u Huberta Jankowskiego i Wiktor Gworek</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.oreilly.com/catalog/functionalwt/" target="_blank">An Introduction to Testing Web Applications with twill and Selenium</a></p>
          </div>
          <div class="span4">
            <p>C. Titus Brown, Gheorghe Gheorghiu, Jason Huggins</p>
          </div>
          <div class="span2">
            <p>Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.amazon.com/Core-Servlets-Javaserver-Pages-Technologies/dp/0131482602/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1205873256&amp;sr=1-1" target="_blank">Core Servlets and Javaserver Pages: Advanced Technologies, Vol. 2: Advanced Technologies</a></p>
          </div>
          <div class="span4">
            <p>Marty Hall, Larry Brown, Yaakov Chaikin</p>
          </div>
          <div class="span2">
            <p>u Wiktora Gworka</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/jboss-jbpm/book" target="_blank">Business Process Management with JBoss jBPM</a></p>
          </div>
          <div class="span4">
            <p>Matt Cumberlidge</p>
          </div>
          <div class="span2">
            <p>Michała Margiela</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/tapestry-5/book" target="_blank">Tapestry 5: Building Web Applications</a></p>
          </div>
          <div class="span4">
            <p>Alexander Kolesnikov</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.manning.com/dashorst/" target="_blank">Wicket in Action</a></p>
          </div>
          <div class="span4">
            <p>Martijn Dashorst oraz Eelco Hillenius</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://manning.com/walls3/" target="_blank">Spring in Action</a></p>
          </div>
          <div class="span4">
            <p>Craig Walls oraz Ryan Breidenbach</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://manning.com/hanson/" target="_blank">GWT in Action</a></p>
          </div>
          <div class="span4">
            <p>Robert Hanson oraz Adam Tacy</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/service-oriented-architecture-for-java-applications" target="_blank">Service Oriented Architecture with Java</a></p>
          </div>
          <div class="span4">
            <p>Vincenzo Caselli, Binildas A. Christudas, Malhar Barai</p>
          </div>
          <div class="span2">
            <p>Bartka Chrabskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.apress.com/book/view/1430210494" target="_blank">Facelets Essentials: Guide to JavaServer Faces View Definition Framework</a></p>
          </div>
          <div class="span4">
            <p>Bruno Aranda, Zubin Wadia</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.apress.com/book/view/1590599217" target="_blank">Pro Spring 2.5</a></p>
          </div>
          <div class="span4">
            <p>Jan Machacek, Jessica Ditt, Aleksa Vukotic, Anirvan Chakraborty</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.galileocomputing.de/katalog/buecher/titel/gp/titelID-1542" target="_blank">NetBeans Platform 6 Rich-Client-Entwicklung mit Java</a></p>
          </div>
          <div class="span4">
            <p>Heiko Bock</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.apress.com/book/view/1590599950" target="_blank">The Definitive Guide to Grails, Second Edition</a></p>
          </div>
          <div class="span4">
            <p>Graeme Rocher, Jeff Brown</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/jboss-drools-business-rules" target="_blank">JBoss Drools Business Rules</a></p>
          </div>
          <div class="span4">
            <p>Paul Browne</p>
          </div>
          <div class="span2">
            <p>u Jarka Kijanowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.manning.com/gsmith/" target="_blank">Grails in Action</a></p>
          </div>
          <div class="span4">
            <p>Glen Smith oraz Peter Ledbrook</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.manning.com/smith/" target="_blank">Becoming Agile</a></p>
          </div>
          <div class="span4">
            <p>Greg Smith, Ahmed Sidky</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.manning.com/laddad2/" target="_blank">AspectJ in Action, Second Edition</a></p>
          </div>
          <div class="span4">
            <p>Ramnivas Laddad</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.pragprog.com/titles/shcloj/programming-clojure" target="_blank">Programming Clojure</a></p>
          </div>
          <div class="span4">
            <p>Stuart Halloway</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/view/1430219548" target="_blank">Beginning Java EE 6 Platform with GlassFish 3: From Novice to Professional</a></p>
          </div>
          <div class="span4">
            <p>Antonio Goncalves</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/view/143021922x" target="_blank">Beginning JSF 2 APIs and JBoss Seam</a></p>
          </div>
          <div class="span4">
            <p>Kent Ka Iok Tong</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://oreilly.com/catalog/9781934356463/" target="_blank">Grails A Quick-Start Guide</a></p>
          </div>
          <div class="span4">
            <p>Dave Klein</p>
          </div>
          <div class="span2">
            <p>u Michał Margiel</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.apress.com/book/view/9781430224976" target="_blank">Spring Enterprise Recipes: A Problem-Solution Approach</a></p>
          </div>
          <div class="span4">
            <p>Gary Mak, Josh Long</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://manning.com/prasanna/" target="_blank">Dependency Injection</a></p>
          </div>
          <div class="span4">
            <p>Dhanji R. Prasanna</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://manning.com/davis/" target="_blank">Open Source SOA</a></p>
          </div>
          <div class="span4">
            <p>Jeff Davis</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/glassfish-v2-application-server-administration/book" target="_blank">GlassFish Administration</a></p>
          </div>
          <div class="span4">
            <p>Xuekun Kou</p>
          </div>
          <div class="span2">
            <p>u Jacek Laskowski</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/webSphere-application-server-7-0-administration-guide/book" target="_blank">WebSphere Application Server 7.0 Administration Guide</a></p>
          </div>
          <div class="span4">
            <p>Steve Robinson</p>
          </div>
          <div class="span2">
            <p>u Jacek Laskowski</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.informit.com/store/product.aspx?isbn=0321556054" target="_blank">A Programmer's Guide to Java SCJP Certification: A Comprehensive Primer, 3rd Edition</a></p>
          </div>
          <div class="span4">
            <p>Khalid Mughal, Rolf Rasmussen</p>
          </div>
          <div class="span2">
            <p>u Andrzej Szczodrak</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/view/1430219564" target="_blank">Pro JPA 2: Mastering the Java Persistence API</a></p>
          </div>
          <div class="span4">
            <p>Mike Keith, Merrick Schincariol</p>
          </div>
          <div class="span2">
            <p>u Michał Januszewski i Adama Warskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.amazon.com/Professional-Oracle-WebLogic-Server-Programmer/dp/0470484306/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1270500955&amp;sr=8-1" target="_blank">Professional Oracle WebLogic Server</a></p>
          </div>
          <div class="span4">
            <p>Robert Patrick, Gregory Nyberg, Philip Aston, and Josh Bregman</p>
          </div>
          <div class="span2">
            <p>Piotra Pietrzaka</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.manning.com/petricek/" target="_blank">Real-World Functional Programming (With examples in F# and C#)</a></p>
          </div>
          <div class="span4">
            <p>Tomas Petricek with Jon Skeet</p>
          </div>
          <div class="span2">
            <p>u Jacek Laskowski</p>
          </div>
          <div class="span2">
            <p>PDF</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/view/1430216409" target="_blank">Pro SpringSource dm Server</a></p>
          </div>
          <div class="span4">
            <p>Gary Mark, Daniel Rubio</p>
          </div>
          <div class="span2">
            <p>u Tomka Szymańskiego (szimano)</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="https://www.packtpub.com/apache-cxf-web-service-development/book" target="_blank">Apache CXF Web Service Development</a></p>
          </div>
          <div class="span4">
            <p>Naveen Balani, Rajeev Hathi</p>
          </div>
          <div class="span2">
            <p>u Michała Karolika</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.informit.com/store/product.aspx?isbn=0321503627" target="_blank">Growing Object-Oriented Software, Guided by Tests</a></p>
          </div>
          <div class="span4">
            <p>Steve Freeman, Nat Pryce</p>
          </div>
          <div class="span2">
            <p>u Michała Karolika</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://www.packtpub.com/restful-java-web-services/book" target="_blank">RESTful Java Web Services</a></p>
          </div>
          <div class="span4">
            <p>Jose Sandoval</p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://apress.com/book/view/9781430272311" target="_blank">Practical Clojure</a></p>
          </div>
          <div class="span4">
            <p>Luke VanderHart, Stuart Sierra </p>
          </div>
          <div class="span2">
            <p>u Jacka Laskowskiego</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://helion.pl/ksiazki/cwuml.htm" target="_blank">UML 2.1. Ćwiczenia</a></p>
          </div>
          <div class="span4">
            <p>Stanisław Wrycza</p>
          </div>
          <div class="span2">
            <p>u Wiktora Gworka</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://helion.pl/ksiazki/j2metg.htm" target="_blank">J2ME. Tworzenie gier</a></p>
          </div>
          <div class="span4">
            <p>Janusz Grzyb</p>
          </div>
          <div class="span2">
            <p>u Wiktora Gworka </p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <p><a href="http://helion.pl/ksiazki/struda.htm" target="_blank">Struktury danych i techniki obiektowe na przykładzie Javy 5.0</a></p>
          </div>
          <div class="span4">
            <p>Elliot Koffman, Paul Wolfgang</p>
          </div>
          <div class="span2">
            <p>u Wiktora Gworka</p>
          </div>
          <div class="span2">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>