
<div ng-controller="PageCtrl">
  <div id="first" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background1">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h1>Nulla nec pede</h1>
            <p>Suspendisse diam. Fusce aliquam ac, laoreet nisl nulla quam accumsan sit amet, consectetuer pede, at velit nec eros. Nullam justo a nunc. Ut sodales quam. Aliquam pharetra sit amet neque eu dui turpis risus facilisis eget, aliquam euismod pulvinar diam sodales in.</p>
            <p>Ut laoreet luctus, purus et magnis dis parturient montes, nascetur ridiculus mus. Nunc placerat tempus, urna ligula sed elit ornare laoreet. Donec mauris sed est. Aliquam gravida vitae, imperdiet vel, purus. Quisque et fringilla gravida. Donec a enim non sem. Quisque lobortis, massa.</p>
          </div>
          <div class="span6">
            <h1>Mauris in nulla a diam</h1>
            <p>Quisque lobortis, nibh quis mauris. Nam sit amet risus. Sed orci consequat id, congue risus. Suspendisse potenti. Cras egestas ac, suscipit faucibus mollis. Nulla massa. Vestibulum vitae ante. In gravida at, enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="second" scroll-spy="scroll-spy" page="0.5" class="section background2">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3 id="test1">Mauris in nulla a diam</h3>
            <p>Sed adipiscing sollicitudin. Nullam semper semper risus eu venenatis interdum, lacus. Nulla nec pede. Morbi felis enim, sagittis ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="third" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background3">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h1>Nulla nec pede</h1>
            <p>Ut laoreet luctus, purus et magnis dis parturient montes, nascetur ridiculus mus. Nunc placerat tempus, urna ligula sed elit ornare laoreet. Donec mauris sed est. Aliquam gravida vitae, imperdiet vel, purus. Quisque et fringilla gravida. Donec a enim non sem. Quisque lobortis, massa.</p>
          </div>
          <div class="span4">
            <h1>Mauris in nulla a diam</h1>
            <p>Aenean pellentesque leo. Cras ut tortor. Mauris in nulla a diam. Donec mi. Pellentesque facilisis diam iaculis arcu nunc venenatis pede. Donec vitae erat ac lacinia id, adipiscing at, mauris. Pellentesque at lacus at sagittis leo, cursus non, tristique ullamcorper. Nam tempor auctor, urna mattis egestas, nunc hendrerit nunc ut lorem. In laoreet ante nec erat ac.</p>
          </div>
          <div class="span4">
            <h1>Nulla nec pede</h1>
            <p>Aenean pellentesque leo. Cras ut tortor. Mauris in nulla a diam. Donec mi. Pellentesque facilisis diam iaculis arcu nunc venenatis pede. Donec vitae erat ac lacinia id, adipiscing at, mauris. Pellentesque at lacus at sagittis leo, cursus non, tristique ullamcorper. Nam tempor auctor, urna mattis egestas, nunc hendrerit nunc ut lorem. In laoreet ante nec erat ac.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>