
<div ng-controller="PageCtrl">
  <div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background1">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h1>spotkania</h1>
            <p>Grupa spotyka się cyklicznie (zwykle co dwa tygodnie) we wtorki,<b> w sali 5440 budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:00-20:15</b>. Prowadzimy tam wykłady, warsztaty i rozmawiamy o najciekawszych technologiach</p>
          </div>
          <div class="span4">
            <h1>on-line</h1>
            <p>Dyskutujemy na<a href="mailto:warszawa-jug@googlegroups.com"> grupie dyskusyjnej</a> którą możesz także śledzić przez<a href="https://groups.google.com/forum/?fromgroups#!forum/warszawa-jug" title="web"> weba</a>
              <p>Nasze spotkania są często nagrywane i udostępniamy je na naszym kanale<a href="http://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw" title="Youtube WJUGa"> Youtube</a></p>
            </p>
          </div>
          <div class="span4">
            <h1>konferencje</h1>
            <p>Organizujemy dwie, cykliczne, duże konferencje w Warszawie:<a href="http://confitura.pl" title="confitura"> Confitura</a> oraz<a href="http://warsjawa.pl" title="warsjava"> Warsjava</a>, spotykamy się na hackathonach i warsztatach, recenzujemy książki w interesującej nas tematyce</p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <h1>kim jesteśmy</h1>
            <p>Warszawa JUG (albo po prostu WJUG) jest grupą pasjonatów technologii Java. Nasza fascynacja przekłada się na chęć poznawania technologii, frameworków, i metod tworzenia aplikacji na platformie JVM, oraz podnoszenia naszego rzemiosła programistycznego. W tym celu organizujemy cykliczne spotkania. Jest nas ponad 700 osób</p>
            <h1>dołącz do nas</h1>
            <p>Po prosu przyjdź na spotkanie i/lub dopisz się do grupy dyskusyjnej. Grupa jest otwarta i wita zarówno początkujących studentów jak i wymiataczy</p>
            <p>Jeśli chcesz poprowadzić wykład, napisz na<a href="mailto:warszawa-jug@googlegroups.com"> grupę</a> lub do<a href="mailto:wjug-regular-meetings@googlegroups.com"> organizatorów</a>. To nic trudnego! Z przyjemnością pomagamy początkującym prelegentom</p>
          </div>
          <div class="span6">
            <h1>najbliższe spotkanie</h1>
            <h3>sześć smaków testowania (flashtalks)</h3>
            <p>Termin: 09.04.2013 godz. 18:00, Lokalizacja: MIMUW, sala 3180, Sponsor: brak</p>
            <P>Testowanie asynchronicznych operacji z Awaitility - Marcin Zajączkowski</P>
            <P>Spock, czyli czemu zrezygnowaliśmy z JUnita i Mockito - Jakub Nabrdalik</P>
            <P>Testowanie poprzez moduły Guice - Paweł Cesar Sanjuan Szklarz</P>
            <P>Parametryzowane testy w JUnit - Paweł Lipiński</P>
            <P>Czytelne testy dzięki Fest Assert - Michał Lewandowski</P>
            <P>Geb Tomasz Kalkosiński</P>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="meetings" scroll-spy="scroll-spy" page="1" class="section background2">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>spotkania</h1>
            <p>Aby być na bierząco, zasubskrybuj nasz<a href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com"> kalendarz</a></p>
            <h3>Przed nami:</h3>
            <p>09.04.2013<b> Sześć smaków testowania - flashtalks</b></p>
            <p>23.04.2013<b> Garbage collection w low latency Java</b>- Wojciech Kudła | sponsor<a href="http://appone.pl/"> AppOne</a></p>
            <p>07.05.2013<b> Riak: the most powerful open-source, distributed database you'll ever put into production</b>- Paweł Sidoryk</p>
            <p>14.05.2013<b> TBA Simon Maple</b></p>
            <p>28.05.2013<b> Metaprogramowanie przy pomocy InvokeDynamic</b>- Waldek Kot | sponsor:<a href="http://decerto.pl/"> Decerto</a></p>
            <h3>Za nami:</h3>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <p>26.03.2013 Arquillian - Twój własny kombajn testowy - Jakub Kubryński | sponsor:<a href="http://kariera.allegro.pl/"> Grupa Allegro</a> |<a href="https://docs.google.com/open?id=0BxxM7ncwM77gRHJFd1o0OEtENmM"> slajdy</a></p>
            <p>12.03.2013 Usability Mateusz Kaczmarek -<a href="http://www.youtube.com/watch?v=GSy8cielqt0"> nagranie</a></p>
            <p>26.02.2013 Rozmowy kwalifikacyjne - Jakub Kubryński,<a href="http://blog.solidcraft.eu"> Jakub Nabrdalik</a>, Tomek Szymański</p>
            <p>05.02.2013 Praktyczne wprowadzenie do OSGi i Enterprise OSGi - Jacek Laskowski | strona wykładu | sponsor: ATM Systemy Informatyczne S.A. | nagranie</p>
            <p>22.01.2013 Byteman "fault injection" w praktyce strona wykładu</p>
            <p>08.01.2013 Metaprogramowanie w Javie strona wykładu | sponsor Polidea</p>
            <p>18.12.2012 Przyszłość Warszawa JUG Wszyscy zainteresowani</p>
            <p>11.12.2012 Apache Cassandra w praktyce Tomek Kuprowski | sponsor: FoxCode | kod tu i tu | nagranie - cz.1 | nagranie - cz.2 | slajdy</p>
            <p>27.11.2012 Apache Cassandra: scalability, performance and fault tolerance in distributed databases Kamil Szymański | slajdy | video</p>
            <p>13.11.2012 Microbenchmarki z zastosowaniem Calipera Kuba Kubryński | zapowiedź | video | slajdy | kod | sponsor: eConsulting</p>
            <p>30.10.2012 jQuery + Twitter Bootstrap Bartek Zdanowski | video</p>
            <p>27.10.2012 Warsjawa 2012</p>
            <p>16.10.2012 Qooxdoo - framework RIA, który warto polubić Tomek Kuprowski zapowiedź slajdy video</p>
            <p>02.10.2012 Zrob to sam: STM w Javie Adam Lider zapowiedź slajdy nagranie kod</p>
            <p>19.06.2012 Java jada RAM. Ile pamięci zjada Java? Michał Kosmulski zapowiedź slajdy (pdf | odp) Sponsor spotkania: NetSprint Nagranie: youtube</p>
            <p>05.06.2012 Implementacja architektury usługowej - od specifikacji do kodu Paweł Cesar Sanjuan Szklarz | sponsor: Outbox Nagranie: youtube Slajdy: github</p>
            <p>22.05.2012 Budowanie aplikacji (Java EE 6) z Clojure Jacek Laskowski</p>
            <p>12.05.2012 Warsztaty z języka Scala Grzegorz Balcerek - zapowiedź</p>
            <p>08.05.2012 Nie utknijcie na Maven2 Wojtek Erbetowski - zapowiedź</p>
            <p>17.04.2012 Inauguracja WHUG: Quick Start with Hadoop, czyli chciałbym, ale się boję Paweł Brach, Adam Kawa i Tomasz Uliński | sponsor: Taptera</p>
            <p>03.04.2012 Guava Vs. LambdaJ - kolekcje na sterydach Krzysztof Nielepkowicz</p>
            <p>27.03.2012 Ameba: mobilny dewelopment na sterydach Jarek Potiuk</p>
          </div>
          <div class="span6">
            <p>06.03.2012 Funkcyjny Clojure z Javą, Leiningen, Counterclockwise, Midje i Compojure Jacek Laskowski</p>
            <p>21.02.2012 Scala - co w tym fajnego i czy da się łączyć z Javą na co dzień? Maciej Jaśkowski | Krótko i zwięźle o Clojure Jacek Laskowski | sponsor: SMT Software S.A.</p>
            <p>03.01.2012 Koncepcje Guice Bartek Kuczyński oraz Wojtek Erbetowski</p>
            <p>13.12.2011 Koncepcje Spring Framework Jakub Nabrdalik | sponsor: SoftwareMill</p>
            <p>29.11.2011 Zmiany JVM w Java 7 Adam Michalik (30 minut), java.util.concurrent.Phaser praktycznie Jacek Laskowski (30 minut)</p>
            <p>08.11.2011 Eclipse DemoCamp Piotr Chmielewski, Paweł Cesar Sanjuan Szklarz, Jacek Laskowski zapowiedź</p>
            <p>15.10.2011 Warsjawa</p>
            <p>11.06.2011 Konferencja Confitura 2011</p>
            <p>24.05.2011 Koziołek o Vaadin. Bartek Kuczyński zapowiedź</p>
            <p>19.04.2011 JDK7 - czy na pewno nic nowego? Maciej Próchniak  zapowiedź</p>
            <p>22.03.2011 Torquebox & CDI - czyli jak napisaliśmy JBisona Adam Warski, Tomek Szymański  zapowiedź</p>
            <p>15.03.2011 Google z Facebookiem w Twojej aplikacji webowej, czyli co będę pisał sam integrację: THIS IS JAVA!!!! Spring security dla bardzo NIEzaawansowanych Jakub Nabrdalik - zapowiedź</p>
            <p>22.02.2011 Apache Hadoop i okolice Marcin Cylke - zapowiedź | prezentacja | nagranie - cz.1 | nagranie - cz.2</p>
            <p>25.01.2011 Tworzenie procesów biznesowych z Activiti i IBM WebSphere BPM (WPS/WID/WLE) Maciek Próchniak, Jakub Krzemień i Jacek Laskowski - zapowiedź | nagranie – Jacek z WID7 | nagranie – Kuba z WLE7</p>
            <p>11.01.2011 Activiti – BPMN 2.0 nadchodzi Maciek Próchniak - zapowiedź</p>
            <p>21.12.2010 Jak Clojure koloruje mapy Daniel Janus – zapowiedź | nagranie | nagranie | wpis na blogu | slajdy</p>
            <p>07.12.2010 O obiektach aktywnych, obcym wołaniu metod takich obiektów i problemie otwartym? Andrzej Salwicki - zapowiedź</p>
            <p>23.11.2010 Clojure praktyczniej: REPL, Eclipse CCW, Eclipse Mylyn, monady i defrecord Jacek Laskowski - zapowiedź</p>
            <p>9.11.2010 Sztuczki w językach programowania Cezary Bartoszuk – zapowiedź | nagranie</p>
            <p>23.10.2010 Konferencja warsjawa 2010</p>
            <p>19.10.2010 Wstęp do programowania funkcyjnego z Clojure Jacek Laskowski - zapowiedź</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="liders" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background3">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>liderzy</h1>
            <p>Jak we wszystkich dobrych projektach Open Source, w organizację eventów grupy zaangażowane jest sporo osób. Poniżej lista z namiarami i zakresami odppowiedzialności</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h3>organizatorzy spotkań</h3>
            <p>kontakt:<a href="mailto:wjug-regular-meetings@googlegroups.com"> wjug-regular-meetings@googlegroups.com</a></p>
            <p>Odpowiadają za cykliczne spotkania grupy, ich program, zapraszanie/akceptowanie prelegentów, obsługę/szukanie sponsorów</p>
            <p>Wojtek Erbetowski</p>
            <p>Paweł Cesar Sanjuan Szklarz</p>
            <p>Jakub Nabrdalik</p>
            <p>Michał Lewandowski</p>
            <p>Kuba Kubryński</p>
            <p>Kamil Szymański</p>
            <p>Sebastian</p>
            <p>Jacek Laskowski</p>
          </div>
          <div class="span4">
            <h3>kapituła confitury</h3>
            <p>kontakt:<a href="mailto:confitura@confitura.pl"> confitura@confitura.pl</a></p>
            <p>Odpowiada za organizację największej, darmowej konferencji w Polsce, sponsorów, prelegentów, i masę innych rzeczy</p>
            <p>Michał Margiel</p>
            <p>Krzysztof Kozioł</p>
            <p>Łukasz Lenart</p>
            <p>Bartek Zdanowski</p>
            <p>Tomasz Dziurko</p>
            <p>Kuba Kubryński</p>
          </div>
          <div class="span4">
            <h3>kapituła warsjawy</h3>
            <p>kontakt:<a href="http://groups.google.com/group/warszawa-jug/post?sendowner=1&amp;hl=pl&amp;pli=1"> przez grupę</a></p>
            <p>Odpowiada za organizację konferencji w formie warsztatów. Oczywiście w Warszawie, oczywiście za darmo</p>
            <p>Bolesław Dawidowicz</p>
            <p>Wojciech Erbetowski</p>
            <p>Jakub Koperwas</p>
            <p>Jacek Laskowski</p>
            <p>Kamil Szymański</p>
            <p>Marcin Zajączkowski</p>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3>zasłużeni w stanie spoczynku</h3>
            <p>Chcąc upamiętnić osoby, które włożyły masę pracy i pozytywnych wibracji w rozwój grupy, grupa odznaczyła następujące osoby tytułem honorowego lidera</p>
            <p>Bolesław Dawidowicz</p>
            <p>Paweł Wrzeszcz</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cooperation" scroll-spy="scroll-spy" page="1" class="section background4">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>oferty pracy</h1>
            <p>Istnieje możliwość wysłania oferty pracy na forum grupy Warszawa JUG w zamian za pewne wsparcie naszych aktywności, np. przekazanie książek branżowych, pokrycie kosztów kateringu/pizzy/wyżywienia na spotkaniu grupy, opłacenie kosztów wyjazdu członka grupy na konferencję i inne prospołeczne aktywności.</p>
            <p>Każdy mail z ofertą pracy powinien zawierać w tytule [OFERTA] z podaniem nazwy stanowiska, miastem oraz widełkami płacowymi - podobnie jak oferty na grupie oferty-pracy-java. Wiadomość podlega moderacji.</p>
            <p>Wszelkie odstępstwa od tej reguły wiążą się z usunięciem nadawcy z grupy.</p>
            <p>Prosimy o kontakt z nami korzystając z formularza na stronie Wyślij e-maila do właściciela.</p>
            <h1>sponsorowanie spotkania</h1>
            <p>Przewidujemy możliwość prezentacji firmy-sponsora zainteresowanego reklamą siebie, np. w celach rekrutacyjnych, przy otwarciu spotkania.  Sądzimy, że krótkie wprowadzenie o obszarach działalności firmy i jej oczekiwaniach rynkowych oraz ofert pracy znacząco zwiększa możliwości pozyskania wartościowych pracowników z szeregów naszej grupy i później, po opublikowaniu nagrania ze spotkania.</p>
            <p>Zakładamy czas 10 minut, który w naszej ocenie jest wystarczający, aby przekazać właściwą dawkę wiedzy nt. firmy przy jednoczesnym utrzymaniu zainteresowania słuchaczy (którzy przede wszystkim przychodzą na spotkanie techniczne i mogliby źle wspominać je wyłącznie po przedłużającym się wstępie firmy).</p>
            <p>Samo otwarcie spotkania jest częścią "pakietu" sponsorskiego. Udział sponsora jest ponadto nagradzany umieszczeniem jego logo i linka do strony domowej sponsora przy zapowiedzi spotkania, wliczając w to późniejsze archiwum spotkań.</p>
            <p>Istnieje również możliwość rozdania ulotek firmowych sponsora podczas spotkania.</p>
            <p>Zwracamy uwagę na tzw. "gęstość informacji". Z przyjemnością poświęcimy kilkanaście minut, żeby dowiedzieć się, czy w danej firmie warto pracować. Nie interesują nas roczne obroty firmy, ale czy ta informacja przekłada sie jakkolwiek na warunki pracy? Ważne są stawki, nadgodziny, czy w okolicy jest dobre jedzenie, czy w godzinach pracy mogę pójść do lekarza lub odebrac dziecko z przedszkola, jaki jest "WTF factor", narzędzia i metodologia pracy, czy mogę pracować z domu, ścieżka kariery, itp.</p>
            <p>Zachęcamy do delegowania osób technicznych na nasze spotkania z czasem wystąpienia nie przekraczającym 10 minut.</p>
            <h1>grupa oferty-praca-java</h1>
            <p>Zwracamy uwagę na grupę odbiorców oferty, w której znajdują się wyłącznie osoby z Warszawy i okolic (z pewnymi wyjątkami). Istnieje grupa ogólnopolska, która powstała właśnie, aby uprościć komunikację z osobami zainteresowanymi ofertami pracy wokół Javy w Polsce. Zachęcamy do skorzystania z grupy oferty-pracy-java, na której można znaleźć wiele osób spoza naszego WJUGa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="library" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background5">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>biblioteka warszawskiego JUGa</h1>
            <p>Na półkach Biblioteki Warszawskiego JUGa znajdują się pozycje, jak wymieniono poniżej. Przy pozycjach jest wyświetlona informacja o aktualnie czytającym, dacie wypożyczenia oraz o recenzjach. Zakłada się, że książka wraca tak szybko jak się tylko da, czyli po 1 miesiącu od wypożyczenia z recenzją. Recenzja jest warunkiem koniecznym do otrzymania książki (no cóż, takie życie - nikt nie mówił, że będzie łatwo ;-)).</p>
            <p>Książki do wypożyczenia znajdują się w zasobach innych JUGów. Wystarczy napisać z prośbą o wypożyczenie i w najgorszym (czasowo - konieczność odstania swojego w kolejkach) wypadku książka nadejdzie pocztą:</p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <p>   RESTful Web Services - Leonard Richardson & Sam Ruby - u Jacka Laskowskiego</p>
            <p>   Learning Ruby - Michael Fitzgerald</p>
            <p>       Book review: Learning Ruby Jacka Laskowskiego</p>
            <p>   Beginning JBoss Seam: From Novice to Professional - Joseph Faisal Nusairat - u Tomka Bujoka</p>
            <p>       JBoss Seam. From novice to proffesional, Appress - recenzja (review) Andrzeja Szczodraka</p>
            <p>   Pro Wicket (eBook) - Karthik Gurumurthy</p>
            <p>   Facelets (eBook) - Robert Swarr</p>
            <p>       Book review: Facelets Jacka Laskowskiego</p>
            <p>   Enterprise JavaBeans 3.0, Fifth Edition - Bill Burke, Richard Monson-Haefel</p>
            <p>   Java EE 5 Development using GlassFish Application Server - David R. Heffelfinger - u Mateusza Zięby</p>
            <p>       Book review: Java EE 5 Development using GlassFish Application Server Jacka Laskowskiego</p>
            <p>       Book review: Java EE 5 Development using GlassFish Application Server Mateusza Zięby</p>
            <p>   Java Concurrency in Practice - Brian Goetz (polski tytuł: Java. Współbieżność dla praktyków) - u Hubert Jankowski</p>
            <p>   Filthy Rich Clients: Developing Animated and Graphical Effects for Desktop Java Applications - Chet Haase, Romain Guy - u Huberta Jankowskiego</p>
            <p>       jest także druga kopia: Wiktor Gworek</p>
            <p>   An Introduction to Testing Web Applications with twill and Selenium by C. Titus Brown, Gheorghe Gheorghiu, Jason Huggins (O'Reilly, June 2007) - wersja PDF - u Jacka Laskowskiego</p>
            <p>       Not a "web-app-testing-bible", but still worth to read - recenzja Tomka Kaczanowskiego</p>
            <p>   Core Servlets and Javaserver Pages: Advanced Technologies, Vol. 2: Advanced Technologies - Marty Hall, Larry Brown, Yaakov Chaikin - u Wiktora Gworka</p>
            <p>   Business Process Management with JBoss jBPM - Matt Cumberlidge (Packt, July 2007) - u Michała Margiela</p>
            <p>   Tapestry 5: Building Web Applications - Alexander Kolesnikov (Packt, January 2008) - u Jacka Laskowskiego</p>
            <p>       only if you don't like online tutorial Piotra Turskiego</p>
            <p>   Wicket in Action - Martijn Dashorst oraz Eelco Hillenius (Manning, Sierpień 2008) - wersja PDF - u Jacka Laskowskiego</p>
            <p>       Must-read as a very fresh and outstanding book about Apache Wicket - recenzja Piotra Przybylaka</p>
            <p>       "Wicket in action? book review recenzja Michała Karolika</p>
            <p>   Book review: Service Oriented Architecture with Java Jacka Laskowskiego</p>
            <p>   Spring in Action, wydanie 2 - Craig Walls oraz Ryan Breidenbach (Manning, Sierpien 2007) - wersja PDF - u Jacka Laskowskiego</p>
            <p>   GWT in Action - Robert Hanson oraz Adam Tacy (Manning, Czerwiec 2007) - wersja PDF - u Jacka Laskowskiego</p>
            <p>   Service Oriented Architecture with Java - Vincenzo Caselli, Binildas A. Christudas, Malhar Barai (Packt, June 2008) - u Bartka Chrabskiego</p>
            <p>       Book review: Service Oriented Architecture with Java Jacka Laskowskiego</p>
            <p>   Facelets Essentials: Guide to JavaServer Faces View Definition Framework - Bruno Aranda, Zubin Wadia (Apress, May 2008) - wersja PDF - u Jacka Laskowskiego</p>
            <p>   Pro Spring 2.5 - Jan Machacek, Jessica Ditt, Aleksa Vukotic, Anirvan Chakraborty (Apress, Aug 2008) - wersja PDF - u Jacka Laskowskiego</p>
            <p>   NetBeans Platform 6 Rich-Client-Entwicklung mit Java Heiko Bock (Galileo Computing, 2008) - u Jacka Laskowskiego</p>
            <p>   The Definitive Guide to Grails, Second Edition Graeme Rocher, Jeff Brown (Apress, Jan 2009) - u Jacka Laskowskiego</p>
            <p>       Book review: The Definitive Guide to Grails, Second Edition Jacka Laskowskiego</p>
            <p>   JBoss Drools Business Rules Paul Browne (Packt, April, 2009) - u Jarka Kijanowskiego</p>
            <p>       Book review: JBoss Drools Business Rules Jarka Kijanowskiego</p>
            <p>   Grails in Action Glen Smith oraz Peter Ledbrook (Manning, Maj 2009) - wersja PDF - u Jacka Laskowskiego</p>
            <p>       Book review: Grails in Action Jacka Laskowskiego</p>
            <p>   Becoming Agile Greg Smith, Ahmed Sidky (Manning, Maj 2009) - PDF - u Jacka Laskowskiego</p>
            <p>   AspectJ in Action, Second Edition Ramnivas Laddad (Manning, Wrzesień 2009) - PDF - u Jacka Laskowskiego</p>
          </div>
          <div class="span6">
            <p>       AspectJ in Action - Review Bartek "Koziołek" Kuczyński</p>
            <p>   Programming Clojure Stuart Halloway (The Pragmatic Programmers, Maj 2009) - PDF - u Jacka Laskowskiego</p>
            <p>   Beginning Java EE 6 Platform with GlassFish 3: From Novice to Professional (Apress, Maj 2009) - PDF - u Jacka Laskowskiego</p>
            <p>   Beginning JSF 2 APIs and JBoss Seam (Apress, Maj 2009) - PDF - u Jacka Laskowskiego</p>
            <p>   Grails A Quick-Start Guide (Pragmatic Bookshelf, Październik 2009) - u Michał Margiel</p>
            <p>       Book review: Grails A Quick-Start Guide Jacka Laskowskiego</p>
            <p>   Spring Enterprise Recipes: A Problem-Solution Approach (Apress, Listopad 2009) - u Jacka Laskowskiego</p>
            <p>       Spring core covered in depth, but the enterprise side not that much - worth reading nevertheless Sebastiana Stolarczyka</p>
            <p>       Tame yet fine to brush up on enterprise Spring Jacka Laskowskiego</p>
            <p>   Dependency Injection Dhanji R. Prasanna (Manning, Sierpień 2009) - PDF - u Jacka Laskowskiego</p>
            <p>       Suddenly turned myself into Guice advocate Jacka Laskowskiego</p>
            <p>   Open Source SOA Jeff Davis (Manning, Maj 2009) - PDF - u Jacka Laskowskiego</p>
            <p>       "Open Source SOA" book review Michał "Freakman" Karolik</p>
            <p>       An immense, well-thought-of book about what, when and how to use Open Source solutions for successful SOA - Jacek Laskowski</p>
            <p>   GlassFish Administration Xuekun Kou (Packt, Grudzień 2009) - u Jacek Laskowski</p>
            <p>       The book should've been titled "Review of available GlassFish v2 features for administrators" Jacka Laskowskiego</p>
            <p>       Book for newbies Anity Karbowskiej</p>
            <p>   WebSphere Application Server 7.0 Administration Guide Steve Robinson (Packt, Sierpień 2009) - u Jacek Laskowski</p>
            <p>       I seemed to have been convinced to build knowledge about WASv7 administration elsewhere Jacka Laskowskiego</p>
            <p>   A Programmer's Guide to Java SCJP Certification: A Comprehensive Primer, 3rd Edition Khalid Mughal, Rolf Rasmussen (Addison-Wesley, Grudzień 2009) u Andrzej Szczodrak</p>
            <p>   Pro JPA 2: Mastering the Java Persistence API Mike Keith, Merrick Schincariol (Apress, December 2009) u Michał Januszewski i Adama Warskiego</p>
            <p>       By no stretch of the imagination could you believe the JPA 2.0 specification goes into detail better Jacka Laskowskiego</p>
            <p>   Professional Oracle WebLogic Server Robert Patrick, Gregory Nyberg, Philip Aston, and Josh Bregman (dzięki Waldkowi Kotowi) - u Piotra Pietrzaka</p>
            <p>   Real-World Functional Programming (With examples in F# and C#) Tomas Petricek with Jon Skeet (Manning, December 2009) - PDF - u Jacek Laskowski</p>
            <p>   Pro SpringSource dm Server Gary Mark, Daniel Rubio (Apress, 2009) - u Tomka Szymańskiego (szimano)</p>
            <p>   Apache CXF Web Service Development Naveen Balani, Rajeev Hathi (Packt, December 2009) u Michała Karolika</p>
            <p>   Growing Object-Oriented Software, Guided by Tests By Steve Freeman, Nat Pryce (Addison-Wesley, October 2009) - u Michała Karolika</p>
            <p>       Challenge your thoughts on growing your software with tests, constantly Jacka Laskowskiego</p>
            <p>       Growing object-oriented software, guided by tests - book review Michała Karolika</p>
            <p>   RESTful Java Web Services by Jose Sandoval (Packt, November 2009) - u Jacka Laskowskiego</p>
            <p>       No match for its title and below my expectations - half the book would make it better Jacka Laskowskiego</p>
            <p>   Practical Clojure by Luke VanderHart, Stuart Sierra (Apress, June 2010) - u Jacka Laskowskiego</p>
            <p>       Kind of Definitive Guide or Reference to the Clojure language - lots of how but not much where and why Jacka Laskowskiego</p>
            <p>           Z Helionu (po polsku):</p>
            <p>               UML 2.1. Ćwiczenia - u Wiktora Gworka</p>
            <p>       Recencja książki: UML 2.1 Ćwiczenia Mateusza Zięby</p>
            <p>   J2ME. Tworzenie gier  - u Wiktora Gworka</p>
            <p>   Struktury danych i techniki obiektowe na przykładzie Javy 5.0  - u Wiktora Gworka</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="companies" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background6">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>najlepsze firmy dla wjugowiczów</h1>
            <p>Grupa chciałaby podziękować wszystkim sponsorom i wyróżnić firmy, które się szczególnie zasłużyły warszawskiej społeczności Javowej</p>
            <p>coming soon...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="partners" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background7">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>partnerzy naukowi</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2"><img src="img/partners/mimuw-logo.png" width="200"/></div>
          <div class="span2"><a href="http://www.geecon.org"><img src="img/partners/geecon.png" width="200"/></a></div>
          <div class="span2"><a href="http://33degree.org"><img src="img/partners/33rd_Degree.png" width="200"/></a></div>
          <div class="span2"><a href="http://4developers.org.pl"><img src="img/partners/4dev.png" width="200"/></a></div>
          <div class="span2"><a href="http://reguk.devoxx.com"><img src="img/partners/DevoxxUK-Banner2.jpg" width="200"/></a></div>
        </div>
        <div class="row">
          <div class="span12">
            <h1>licencje na oprogramowanie sponsorują</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2"><a href="http://www.jetbrains.com/idea"><img src="img/partners/jetbrains.gif" width="200"/></a></div>
          <div class="span2"><a href="http://www.ej-technologies.com/products/jprofiler/overview.html"><img src="img/partners/jprofiler.png" width="200"/></a></div>
          <div class="span2"><a href="http://www.retrospective.centeractive.com/?wjug"><img src="img/partners/retrospective.png" width="200"/></a></div>
          <div class="span2"><a href="http://zeroturnaround.com/software/jrebel/"><img src="img/partners/JRebel_logo.png" width="200"/></a></div>
        </div>
        <div class="row">
          <div class="span12">
            <h1>bibliotekę grupy sponsorują</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2"><a href="http://www.manning.com/"><img src="img/partners/manning.jpg" width="200"/></a></div>
          <div class="span2"><a href="http://www.packtpub.com/index"><img src="img/partners/packt_logo.png" width="200"/></a></div>
          <div class="span2"><a href="http://apress.com"><img src="img/partners/apress-logo.png" width="200"/></a></div>
          <div class="span2"><a href="http://www.informit.com"><img src="img/partners/pearson.jpg" width="200"/></a></div>
          <div class="span2"><a href="http://www.oreilly.com"><img src="img/partners/oraily.gif" width="200"/></a></div>
        </div>
      </div>
    </div>
  </div>
</div>