h2
  a(href='https://groups.google.com/d/msg/warszawa-jug/-Xw-ZyvbnEA/RvxvW5LILtsJ', target="_blank")
    | Newsletter warszawskiego JUG #1
p 27.12.2013

p Miesiąc temu spotkaliśmy się aby podsumować kolejne pół roku życia grupy, a także zaplanować kolejne miesiące.
p Podzieliliśmy się mocno rolami, żeby efektywniej pracować i tak Wojtkowi Erbetowskiemu i Kubie Nabrdalikowi przypadło
  | m.in. upilnowanie, aby działania liderów były dobrze widoczne dla wszystkich. Stąd właśnie ten email.

p A co się zmieniło przez te 30 dni? Przede wszystkim zmodularyzowaliśmy się :-)
  br
  | Ważne, abyście wiedzieli kto czym się zajmuje i do kogo w jakiej sprawie uderzyć, a więc oto skład grup liderskich:

h4 Regularne spotkania Warszawa JUG
p
  ul
    li Jakub Nabrdalik
    li Michał Lewandowski
    li Kamil Szymański
    li Krzysiek Siejkowski

h4 Jinkubator
p
  ul
    li Justyna Sadło
    li Adam Pierzchała
    li Krzysiek Siejkowski
    li Adam Chudzik

h4 Scalania
p Prowadzi Jacek Laskowski z Grześkiem Kubiakiem.

h4 SpringLabs

p Od tego sezonu pomagać mają Darkowi Kaczyńskiemu:
  ul
    li Michał Niczyporuk
    li Adam Chudzik

h4 Devoxx4Kids
p Devoxx4Kids wystartowało mając za kierowców:
  ul
    li Michał Lewandowski
    li Tomek Kucharski
    li Darek Kaczyński

h4 WJUG-JCP
p A za inicjatywę JCP/Adopt OpenJDK/Adopt a JSR/ ... odpowiadają:
  ul
    li Kamil Szymański
    li Michał Warecki
    li Michał Niczyporuk

br
p Do tego są sprawy, które dotyczą niemal wszystkich grup, jak utrzymywanie kanałów społecznościowych (co ogarnia
  | Agnieszka Skiba), organizować sale na MIMUW (Krzysiek Siejkowski), szykować plakaty (Michał Lewandowski), licencje,
  | finanse, nagrywanie i obróbkę wideo i kilka innych.
p Jak widzicie jest co robić :-) Jeśli podoba Wam się jak działa WJUG (albo chcecie to zmienić) polecam wkręcić się na
  | dwa sposoby:
  ul
    li jako prelegent, zgłaszając temat&nbsp
      a(
      href='https://docs.google.com/forms/d/1yF3SxIu0FVsYFufO1odo2eZLZpaWftWG5P2jcCX9PYI/viewform?edit_requested=true',
      target='_blank'
      ) przez formularz
      | , a krótką notkę do przeczytania macie&nbsp
      a(href='#/by-you', target='_blank') na stronie
    li jako wolontariusz/organizator - wybierz, w której inicjatywie chciałbyś(chciałabyś) wziąć udział i napisz do
      | prowadzących, lub na grupie (wyraź chęć). Jeśli nie wiesz co mogłoby Ciebie zainteresować, napisz na grupę (lub
      | indywidualnie do kogoś z liderów) aby podpowiedzieli.
p Każda z grup jest otwarta (a ponieważ Jacek Laskowski niedawno zarzucał, że jesteśmy zamknięci na osoby z zewnątrz i
  | nikt nie może się dostać) to znaczy, że nie jest to dostatecznie jasne i napiszę to jasno :-) potrzeba nam pomocy i
  | pozytywnej energii, byle się dowiedzieć, że masz chęć się rozwijać i pracować w teamie organizatorów! Zapraszam :-)
