h2
  a(href='https://groups.google.com/d/msg/warszawa-jug/a7O9qs36l68/MCWhNy-Tn9UJ', target="_blank")
    | Newsletter warszawskiego JUG #2
p 06.03.2014

p Nasza grupa rozrosła się do niebywałych rozmiarów i od roku owocuje w liczne poboczne inicjatywy.
  br
  | Aktywność wychodzi poza granice Javy, co owocuje współpracą z innymi grupami i ciągłe powstawanie nowych.
p Miło widzieć tę potężną grupę w pełnym pędzie!
  br
  | Każde spotkanie cieszy się niemałą frekwencją, a te, które przegapisz, będą nagrane, obrobione i umieszczone w
  | kanale YT, co do jednego!
p Nie byłoby tego, gdyby nie niesamowita aktywność organizatorów.
  br
  | Tu słowa uznania należą się&nbsp
  strong Agnieszki Skiby&nbsp
  | , dzięki której zawsze wiecie co się zbliża na WJUGowych inicjatywach na Grupie mailowej, Meetup, FB, G+ i Twitter!
  br
  | Dla&nbsp
  strong Michała Lewandowskiego&nbsp
  | , bo do niedawna działał aktywnie w aż trzech inicjatywach, oraz&nbsp
  strong Kamila Szymańskiego&nbsp
  | , bo wciąż tak daje radę!
p Pamiętajcie, że wszystkie wydatki ponosimy z pieniędzy firm wspierających WJUG, które widzą wartość istnienia silnej
  | społeczności programistów w Warszawie. Nasz meetup jest stale opłacany przez&nbsp
  a(href='https://softwaremill.com/', target='_blank') SoftwareMill
  | , natomiast&nbsp
  a(href='http://decerto.pl/', target='_blank') Decerto&nbsp
  | wspiera w dużej mierze spotkania JInkubator, a także i przedostatnie spotkanie WJUG.
p Poniżej znajdziecie dokładniejsze informacje od liderów poszczególnych akcji, z których dowiecie się m.in. że na
  | jesieni odbędzie się&nbsp
  strong ostatnia edycja Warsjawy
  | , a odwiedzi ją i poprowadzi warsztat&nbsp
  strong Venkat Subramaniam
  | !
  | O tym, że WJUG odwiedziła ostatnio gwiazda sceny Java EE, a także, że narodziła się&nbsp
  strong nowa grupa programistyczna w&nbsp
  | warszawskiej rodzinie JVM.

h4 Regularne spotkania Warszawa JUG
p W lutym gościliśmy Adama Biena (
  a(href='http://www.adam-bien.com/', target='_blank') http://www.adam-bien.com/
  | ), który jak zwykle na żywo, kompletnie wymiata i który być może pomoże nam troszeczkę rozpromować Warszawskiego
  | JUGa. Poza tym Michał Warecki opowiedział nam o tym z czym się je OpenJDK, przygotowując nas na nadchodzący
  | hackathon, zaś Krzysztof Jelski poprowadził wykład o Specifikacji w duchu BDD/ATDD. W styczniu swoją wiedzą
  | podzielił się z nami Mateusz Harasymczuk, odbyło się także chyba największe spotkanie flashtalkowe, gdzie dziewięciu
  | prelegentów wlewało w nasze głowy skondensowaną kwintesencję swoich ulubionych tematów. Dla właściewego przetrawienia
  | tak wielu informacji, równie ochoczo wlewaliśmy później piwo w nasze gardła, na tradycyjnym, networkingowym
  | spotkaniu w pubie “Mam Ochotę”.
  br
  | W ramach przełamywania antyspołecznych stereotypów, wraz z Human Tech Art, odbyliśmy spotkanie łączone, gdzie
  | mogliśmy się spotkać z autorami humanoidalnych robotów NAO, i naoliwić zawiasy. Mamy nadzieję, że takie spotkania
  | uda się organizować częściej, ponieważ odrobina humanizmu w informatyce może nam wyjść tylko i wyłącznie na dobre.
  br
  | Z początkiem marca, Michał Lewandowski, współorganizujący 3 z naszych inicjatyw, i przygnieciony ilością obowiązków,
  | z ciężkim sercem musiał się wycofać z organizacji spotkań cyklicznych, więc jeśli tylko masz ochotę nam pomóc i
  | zobaczyć jak to wygląda od kuchni, pisz do&nbsp
  a(href='mailto:wjug-regular-meetings@googlegroups.com') wjug-regular-meetings@googlegroups.com
  | . Czekamy na Ciebie.

h4 WJUG-JCP
p Od dawna zastanawialiśmy się jak zmaterializować potencjał drzemiący w community WJUG, efektem czego jest powstanie
  | inicjatywy WJUG-JCP, w ramach której będziemy kształtować przyszłość Javy, rozwijać ciekawe biblioteki, poprawiać
  | bugi w popularnych frameworkach, organizować hackatony, etc. - jednym słowem pogłębiać wiedzę i czynić dobro :).
  br
  | Na rozgrzewkę przed serią hackatonów z OpenJDK Michał Warecki opowiedział o programie Adopt OpenJDK, a na
  | najbliższym spotkaniu Kamil Szymański przedstawi JSR 335. 25 marca będzie wreszcie okazja aby wspólnie pokodować na
  | hackatonie OpenJDK - nie może was na nim zabraknąć.
  br
  | A jeśli macie pomysł i chęci zorganizować kolejny hackaton - piszcie na&nbsp
  a(href='mailto:wjug-jcp@googlegroups.com') wjug-jcp@googlegroups.com
  | .

h4 Jinkubator
p Kolejne spotkania cieszą się coraz większą frekwencją. Poszliśmy również o krok dalej organizując spotkanie
  | pozatechniczne związane z planowaniem kariery w IT. Zaczęliśmy również współpracować ze sponsorami (jednak jesteśmy
  | ciągle otwarci na nowe firmy, chcące z nami współpracować). Ostatnio na stronie zamieściliśmy agendę spotkań do
  | końca kwietnia. W najbliższy czasie chcielibyśmy stworzyć logo Jinkubatora (aktualnie używane było tworzone na
  | początku trochę “na kolanie”) oraz zastanowić się nad nowymi pomysłami na wypełnienie naszych spotkań. Jeżeli masz
  | jakiś fajny pomysł to napisz na&nbsp
  a(href='mailto:jinkubator-admin@googlegroups.com') jinkubator-admin@googlegroups.com
  | .

h4 Warsaw Groovy User Group
p 20 lutego odbyło się pierwsze spotkanie Warszawskiej Grupy Użytkowników Grooviego (Warsaw Groovy User Group), nowej
  | inicjatywy wspieranej przez WJUG. Grupa powstała z inicjatywy Tomka “szimano” Szymańskiego, Jakuba Nabrdalika i
  | Marcina Grzejszczaka, i w założeniach ma być miejscem wymiany doświadczeń ze stosowania języka i jego bibliotek.
  | Groovy jest w tej chwili jednym z najpopularniejszych języków na JVMie, ale ze względu na jego prostotę i
  | dynamiczność, wiele osób nie zdaje sobie sprawy jak świetnie nadaje się jako podstawowy język w “normalnych”
  | projektach.
  br
  | Pierwsze spotkanie miało formę trzech krótkich prezentacji, które pokazywały pewne aspekty języka, w kolejnym,
  | planowanym na 20 marca, chcemy się skupić na transformacjach AST. Chcemy by spotkania odbywały się cyklicznie, ale
  | w forme znanej z RPA, czyli przy/po piwku, przetykane dyskusjami i z mocnym elementem networkingowym. By nie
  | spamować mailingowo grupy WJUGowej, gotowa jest osobna mailista:&nbsp
  a(href='https://groups.google.com/forum/#!forum/warsaw-gug', target='_blank')
    | https://groups.google.com/forum/#!forum/warsaw-gug
  | .
  | Jeśli chciałbyś się czymś podzielić, coś opowiedzieć, albo zapytać, wal śmiało. Spotkania w miarę możliwości są
  | youtubowane/hangoutowane.

h4 Spring Labs
p Grupa Spring Labs w Styczniu i Lutym odbyła kolejne cztery spotkania, na temat Spring MVC, Spring Data i AOP’a.
  | Wszystkie spotkania były nagrywane i można je obejrzeć (linki w komentarzach do spotkań na:&nbsp
  a(href='http://www.meetup.com/Warsaw-Spring-Labs/#past', target='_blank') http://www.meetup.com/Warsaw-Spring-Labs/#past
  | &nbsplub bezpośrednio w kanale Darka Kaczyńskiego: &nbsp
  a(href='https://www.youtube.com/user/roadrunn13/videos', target='_blank') https://www.youtube.com/user/roadrunn13/videos
  | ).
  br
  | W marcu grupa pauzuje, by po zebraniu sił zabrać się za Rest, Security, Social, Data Neo4J, Integration i inne
  | ciekawe moduły Springa.
  br
  | Jeśli czujesz się na siłach pomóc lub poprowadzić całe spotkanie, pisz na:&nbsp
  a(href='mailto:wjug-spring@googlegroups.com') wjug-spring@googlegroups.com

h4 Warsjawa (a.k.a. The very last Warsjawa)
p 2014 rok przyniesie za sobą ostatnią - siódmą edycję Warsjawy! Jesteśmy jedynym tego rodzaju wydarzeniem w Europie
  | na tę skalę (lub inne konferencje warsztatowe są w ukryciu i nic o nich nie wiemy).
  br
  | W tym momencie szukamy sponsorów ostatniej Warsjawy. Pomyślcie, czy Wasze firmy są w stanie wesprzeć community
  | (choćby skromnie) i dajcie znać na&nbsp
  a(href='mailto:warsjawa-2014@googlegroups.com') warsjawa-2014@googlegroups.com
  | &nbsp - skontaktujemy się z nimi.
p Także jeszcze przed oficjalnym otwarciem C4P mamy już kilka wstępnie potwierdzonych warsztatów, więc nie trzeba czekać.
  | Jeśli warsztat jest ciekawy, wrzucamy go agendę  i dajemy znać bez czekania do końca C4P!
