div
  .section(page='1')
    .centered
      .container
        .row
          .span12
            h2 Newsletter warszawskiego JUG #3
            p
              a(href='https://groups.google.com/d/msg/warszawa-jug/UR_929XIYp4/IXa0fv3SBo0J', target="_blank") 15.04.2014

            p Na&nbsp
              a(href='https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw', target="_blank") kanale YouTube
              | &nbsp
              | możesz obejrzeć większość ostatnich spotkań.
            p Na specjalne wyróżnienie zasługuje inicjatywa&nbsp
              strong   Devoxx4Kids&nbsp
              | (sami sprawdźcie stronę&nbsp
              a(href='http://www.devoxx4kids.pl/', target="_blank") http://www.devoxx4kids.pl/
              | ), a samo wydarzenie już za niecałe dwa miesiące.
            p Poniżej info od organizatorów poszczególnych grup

            h4 Regularne spotkania Warszawa JUG
            p W marcu Maciej Biłas i Krzysztof Ciesielski opowiedzieli nam o monitorowaniu aplikacji, a Kamil Szymański przybliżył
              | temat lambd w Javie 8. Mieliśmy też mini-hackathon w ramach startu inicjatywy WJUG-JCP oraz spotkanie otwierające
              | WJBUG, na którym Krzysiek Miksa wprowadził nas do WildFly. Dwie nowe grupy okołojawowe startujące w przeciągu
              | jednego miesiąca - rewelacja. Obu grupom życzymy jak najwięcej świetnych spotkań i warsztatów. Zdecydowanie będziemy
              | śledzić, co się w was dzieje.
            p Dodatkowo miesiąc upłynął pod znakiem przygotowań do kolejnego spotkania, które stanowi okazję do zaangażowania się w
              | społeczność. 22.04 spotkamy się, żeby posłuchać 5-7 minutowych flash-talków dotyczących Java 8 oraz Java 7EE.
              | Mamy już 9 tematów, ale czekamy na kolejne.
            p WJUG nawiązał też współpracę z wiosennymi konferencjami: 4developers, CraftConf, Geecon, Atmosphere, 33rd Degree
              |oraz DevoxxUK. Współpraca zaowocowała m.in. wejściówkami do rozlosowania. Jesteśmy już po dwóch - szczęśliwym
              | zdobywcą biletu na CraftConf okazał się Maciek Górski, a na 4developers wybrał się Damian Szczepanik. Wejściówkę na
              | Geecona rozlosujemy natomiast wśród prelegentów kwietniowych flaszek o Javie 8.
            p Grono organizatorskie, uszczuplone o Michała, wciąż walczy, ale jeśli masz ochotę nam pomóc, będziemy wniebowzięci.
              | Pisz na&nbsp
              a(href='mailto:wjug-regular-meetings@googlegroups.com', target="_blank") wjug-regular-meetings@googlegroups.com
              | .

            h4 Warsaw Groovy User Group
            p Drugie spotkanie WGUGa, dzięki sponsoringowi 4finance, odbyło się w klimacie piwno-pizzowym, co zupełnie nie
              | przeszkodziło nam wysłuchać świetnego wykładu o transformacjach AST Marcina Grzejszczaka i podyskutować o AST w
              | ogólności (ba, zapaleńcy w osobie wyżej wymienionego i Artura Gajowego, pod wpływem chmielu nawet chwilę coś
              | kodowali). Ten sposób spotkań będziemy kultywować, bo bardziej kameralne grono == głębsze i dłuższe dyskusje.
            p 8 maja Wojtek Erbetowski opowie nam o nowościach w Groovy 2.3, a na kolejnym spotkaniu będziemy mogli wysłuchać
              | świetnego wykładu o bebechach Gradle’a i jego DSL’u, w wykonaniu Dawida Kublika

            h4 Spring Labs
            p W marcu odbyło się 11 spotkanie Spring Labsów, gdzie Darek Kaczyński opowiadał o wsparciu dla REST’a w Springu. Warsaw
              | Spring Labs doczekał się już 122 członków na meetupie. Za tydzień, 23 kwietnia, na 12 spotkaniu, będziemy mogli
              | posłuchać o Spring Security, gdzie pocił przed publicznością będzie się Jakub Nabrdalik, autor małej książki o tymże
              | module. Ponieważ temat jest dość duży, może się okazać, że podzielimy go na dwa wykłady. Się zobaczy.
            p Z innych ciekawostek, Spring Labs zaczyna ściągać pierwszych sponsorów. W chwili obecnej mamy już dwóch zaklepanych.
              |Jeszcze się zastanawiamy, czy kasę wydamy na pizzę, czy też zaprosimy za nią jakiegoś prelegenta spoza Warszawy
              | (np. z Pivotala).

            h4 Confitura
            p Przygotowujemy się do otwarcia C4P. W połowie kwietnia powinniśmy mieć gotowy portal na przyjmowanie zgłoszeń
              | prelegentów. Kończymy rownież stronę główną, która zastąpi obecny “placeholder” z mapką.
            p Pamiętajcie - 5 lipca - zarezerwujcie sobie cały dzień.

            h4 Warsjawa
            p Dzięki Tomkowi Netczukowi (jednemu z organizatorów) mamy wsparcie graficzki i szykuje nam się odświeżona szata lada
              | dzień. Dzięki temu mamy także już gotową prezentację dla potencjalnie chętnych sponsorów. Zgłaszamy się o pomoc do
              | wszystkich WJUGowiczów w poszukiwaniu sponsorów. Mamy także drugą gwiazdę, autora rewelacyjnego narzędzia dla
              | programistów, ale nie ogłaszamy, dopóki nie potwierdzimy funduszy na jego przyjazd.
            p Aby być na bieżąco followujcie kanał&nbsp
              a(href='https://twitter.com/warsjawa  ', target='_blank') @warsjawa
              | .

            .row
              .span12
                .pull-left
                  a(href='#/newsletter/4') Następny
                .pull-right
                  a.float-right(href='#/newsletter/2') Poprzedni