include ../mixins

div
  .section(page='1')
    .centered
      .container
        .row
          .span12
            h2 Newsletter warszawskiego JUG #4
            p
              +externalLink('https://groups.google.com/d/msg/warszawa-jug/BD_CR6O8lRI/LxqPhldyfE8J', '02.09.2014')
            p Witaj szkoło! Oh wait... Hello WJUG!
            p Po wakacjach rozpoczynamy nowy sezon spotkań&nbsp
              strong Warszawskiego JUG&nbsp
              | . Mamy garść informacji od inicjatyw, które wspólnie organizujemy.

            h4 Walne zgromadzenie
            p Poprzedni sezon zakończyło walne spotkanie, na którym zrobiliśmy podsumowanie minionego półrocza działalności inicjatyw zrzeszonych pod szyldem
              | Warszawa Java User Group. Rozmawialiśmy o innowacjach które można wprowadzić we WJUG oraz o problemach jakie wystąpiły. Każdy
              | zainteresowany mógł przyłączyć się do wybranej inicjatywy.
              br
              strong Oczywiście drzwi są zawsze otwarte dla chętnych. Serdecznie zapraszamy, nie trzeba czekać ze zgłoszeniem do kolejnego walnego spotkania :-)
            p Z najważniejszych zmian i nowości:
              blockquote.noborder
                h5 Networking
                | Pospotkaniowe piwo cieszy się coraz większą popularnością. Chcemy i czynimy wysiłki aby trend się utrzymywał, zapraszając Was po
                | każdym spotkaniu na wspólne piwo. Szukamy też miejsca, gdzie moglibyśmy networking zaczynać przed wykładem, tak jak ma to miejsce
                | na spotkaniach WGUG.

                h5 Polecamy Warsaw IO
                | Na spotkaniach promujemy stronę&nbsp
                +externalLink('http://warsaw.io/', 'warsaw.io')
                | , która skupia wszystkie inicjatywy dla developerów.&nbsp
                +externalLink('https://twitter.com/search?q=%23warsawio', '#warsawio')
                | &nbspjest oficjalnym
                | hashtagiem na Twitterze. Wystarczy otagować swój wpis, by został podany dalej przez&nbsp
                +externalLink('https://twitter.com/WarsawIO', '@warsawio')
                | .

                h5 Sponsorzy spotkań
                | Już niebawem na stronie pojawi się lista zaprzyjaźnionych firm, które wspierają działalność WJUGa

                h5 "Cross-cutting concerns"
                | W ramach grupy wydzieliliśmy nowe role:
                ul
                  li
                    strong mentoring
                    | &nbsp- Andrzej Goławski i Matt Harasymczuk wyszukują, zachęcają i służą pomocą dla nowych prelegentów,
                  li
                    strong sponsorzy
                    | &nbsp- Piotr Turski będzie osobą odpowiadającą za kontakt z firmami które są zainteresowane współpracą z WJUGiem, a także
                    | przekazywaniem kontaktów do poszczególnych inicjatyw. Krzysiek Siejkowski będzie mu pomagał,
                  li
                    strong transparencja
                    | &nbsp- Marcin Jasion komunikuje się z poszczególnymi inicjatywami WJUGa aby przekazać Wam informacje o działaniach grupy -
                    | tych obecnych i przyszłych

            h4 Spotkania cykliczne
            p W trakcie przerwy wakacyjnej zespół spotkań regularnych odpoczywał i regenerował siły po minionym intensywnym roku. Teraz pełni energii
              | i w odświeżonym składzie wkraczamy w nowy sezon, by proponować Wam jeszcze fajniejsze i ciekawsze spotkania Warszawa Java User Group.
              | Cały czas czekamy na Wasze&nbsp
              +externalLink('https://docs.google.com/forms/d/1YUUJ68qFOiMJBhhL8Ll434vAopf_juynPb1KReVa3uE/viewform', 'zgłoszenia prezentacji')
            p Nowy sezon rozpoczynamy 2 września prezentacją Roberta Szarejko&nbsp
              +externalLink('http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/203583052/', '"Walidacja w świecie obiektów domenowych - blaski i cienie JSR 303"')

            h4 Confitura
            p Confitura 2014 z nami a przed nami przygotowania do edycji 2015 - ale spokojnie jeszcze nic się nie dzieje w tym temacie. Na chwilę
              | obecną kończymy obróbkę nagrań z tegorocznej edycji - na początek relacja z ostatniej Confitury. Kolejnych nagrań możecie spodziewać
              | się w ciągu kilku, kilkunastu dni - obserwujcie nasz kanał na&nbsp
              +externalLink('https://twitter.com/confiturapl', 'Twitterze')
              | &nbsporaz stronę na&nbsp
              +externalLink('https://www.facebook.com/Confitura', 'Facebooku')
              | .
            p
              iframe.center(
                width='560',
                height='315',
                src='//www.youtube-nocookie.com/embed/ZGLIBmviQ1s?hd=1',
                frameborder="0",
                allowfullscreen
              )
            p Dla chętnych osób istnieje możliwość dołączenia do współtworzenia naszego systemu do obsługi konferencji - Jelatyna - obecnie
              | przepisujemy go w całości na AngularaJS i serwisy RESTowe. Piszcie do nas na &nbsp
              +mailLink('confitura@confitura.pl', 'confitura@confitura.pl')

            h4 Warsjawa
            p Warsjawa wkracza w ostatnią fazę przed imprezą! Domykamy agendę (ostatnia szansa aby zgłosić się w C4P)
              | i niebawem otwieramy rejestrację. Miejsca zapewne rozejdą się jak ciepłe bułeczki, a więc lepiej czyhajcie na miejsca na warsztatach.
              | Na stronie&nbsp
              +externalLink('http://warsjawa.pl', 'warsjawa.pl')
              | &nbspzawsze komplet świeżych informacji. polecamy subskrypcję na&nbsp
              +externalLink('https://twitter.com/warsjawa', 'Twitterze')
              | ,&nbsp
              +externalLink('https://plus.google.com/108758878245006159088/posts', 'G+')
              |  lub&nbsp
              +externalLink('https://www.facebook.com/warsjawa', 'Facebooku')
              | .
            p Do zobaczenia już 26 września!

            h4 Warsaw JBoss User Group
            p Warsaw JBoss User Group wznawia działalność 3 października, prelekcją pt. "Fabric8. Bycie devOpsem nie musi być złe." Wykład wygłosi
              | Henryk Konsek, który jest jednym z commiterów platformy integracyjnej Fabric8. Bliższe informacje na temat miejsca i godziny spotkania
              | wkrótce na naszej stronie (
              +externalLink('http://wjbug.pl', 'www.wjbug.pl')
              | ) oraz na&nbsp
              +externalLink('http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/', 'meetupie')
              | &nbspgrupy warszawskiej JUG.
            p Do zobaczenia już w październiku!

            h4 Spring Labs
            p Spring Labs powróci już w październiku. Stay tuned!

            h4 Koduj.com (dawniej Devoxx4Kids)
            p Z końcem czerwca rozpoczęły się prace nad witryną&nbsp
              +externalLink('http://koduj.com', 'koduj.com')
              | (jeszcze niewiele widać :-)), której celem jest promocja nauki programowania. Adresatem strony są zarówno
              | początkujący adepci programowania ze szkół czy uczelni, jak i ludzie, którzy chcą pomagać innym prowadząc cykliczne kluby kodowania
              | lub kilkugodzinne, jednorazowe warsztaty. Tworzymy wiki kursów online i zajęć w realu, a samo Koduj.com chce być “hubem” zbierającym
              | inicjatywy z całej Polski.
            p Do końca 2014 planujemy zorganizować kilka warsztatów weekendowych (takich małych Devoxów) w szkołach w Warszawie. Jeśli macie jakieś
              | zaprzyjaźnione szkoły, gdzie moglibysmy wystartować prosimy o kontakt&nbsp
              +mailLink('eliza@koduj.com', 'eliza@koduj.com')
            p Na dniach pojawi się oficjalna witryna&nbsp
              +externalLink('http://koduj.com', 'koduj.com')
              | !

            .row
              .span12
                .pull-left
                  a(href='#/newsletter/5') Następny
                .pull-right
                  a.float-right(href='#/newsletter/3') Poprzedni
