include ../mixins

div
  .section(page='1')
    .centered
      .container
        .row
          .span12
            h2 Newsletter warszawskiego JUG #6
            p
              +externalLink('https://groups.google.com/d/msg/warszawa-jug/QQjjpYgl_0Q/OA77z-JXdHEJ', '17.02.2015')
            p Cześć WJUGowicze!
            p Niedawno rozpoczeliśmy nowy sezon spotkań&nbsp
              strong Warszawskiego JUG
              | . Mamy garść informacji od inicjatyw, które wspólnie organizujemy. Zaczniemy od małego podsumowania z walnego :-)
            h4 Walne zgromadzenie
            p W ostatnich dniach stycznia odbyło się walne zgromadzienie naszej społeczności, które sprawnie poprowadził&nbsp
              +externalLink('https://twitter.com/szimano', 'Tomek Szymański')
              | &nbsp:-)
            h5 Warsjawa
            p Spotkanie rozpoczęła długa dyskusja o przyszłości Warsjawy.
              | Kilka tygodni przed spotkaniem padła propozycja uniezależnienia tej inicjatywy od WJUG-a. W związku z tym, że wywołało&nbsp
              | to dyskusję, rozważaliśmy na spotkaniu wszelkie za i przeciw. W trakcie spotkania powstało kilka pomysłów,&nbsp
              | które zaproponowaliśmy organizatorom warsjawy.
            h5 Nagrania
            p Poruszyliśmy też temat nagrań, które z opóźnieniem zaczeły się pojawiać na naszym kanale&nbsp
              +externalLink('https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw', 'YouTube')
              | . Brakujące nagrania ze spotkań powinny się już niebawem pojawić na stronie.
              br
              | Ponieważ cały proces nagrywania i udostępnienia ich na stronie był czasochłonny, już od najbliższych spotkań&nbsp
              | nagrywanie będzie obsługiwać zewnętrzna firma. Mamy nadzieję, że unikniemy w ten sposób obsunięć w ich publikacji :-)
            h5 Nowi organizatorzy
            p Do grona organizatorów dołączyły dwie nowe osoby:
              ul
                li Bartek Andrzejczak - pomoże w organizacji spotkań regularnych
                li Karol Żmuda - będzie pomagać w spotkaniach JInkubatora
              strong Jeśli ty też chciałbyś do nas dołączyć, to napisz do nas maila lub przyjdź na następne walne, które prawdopodobnie będzie przed wakacjami :-)
            h5 Miejsca spotkań
            p Z bierzących spraw dyskutowaliśmy o miejscach gdzie moglibyśmy się spotykać i gdzie można wspólnie wypić piwo na/po spotkaniu.
              | Networking jest ważną częścią naszych spotkań dlatego szukamy miejsc w Warszawie które nam umożliwią łączenie obu rzeczy.
              | Jeśli znasz miejsce, gdzie pomieścimy ponad 60 osób(czasem ponad 120!) to skontaktuj się z&nbsp
              +externalLink('https://twitter.com/_siejkowski', 'Krzyśkiem')

            p ...a po zakończeniu walnego tradycyjnie wybraliśmy się na piwo - tu już relacji jednak nie będzie ;-)
            h4 Wojtek Erbetowski
            p Wojtek w ostatnich latach organizował spotkania regularne, Warsjawę oraz inne eventy m.in. GitKata i TestKata.
              | Był jedną z najaktywniejszych osób wśród organizatorów - miał duży wpływ na to, jak obecnie grupa funkcjonuje.
            p
              a(href='http://erbetowski.pl/', target='_blank')
                img(src='img/newsletter/wojtek-6.jpg', width='400px')
            p Doceniając wkład Wojtka w rozwój Warszawskiego JUG-a umieszczamy jego nazwisko w&nbsp
              +externalLink('#/liders','gronie zasłużonych')
              | &nbspobok innych legend naszej społeczności.&nbsp
              strong Good job!

            h4 Java Champion - Jacek Laskowski
            p Kilkanaście dni temu świat JVM obiegła miła wiadomość. Jacek Laskowski&nbsp
              +externalLink('https://blogs.oracle.com/java/entry/new_java_champion1', 'dołączył')
              | &nbspdo grona Java Champions.
              br
              | Jacek jest założycielem Warszawa Java User Group i od kilku lat znajduje się w gronie zasłużonych dla naszej społeczności.
              | Poza organizowaniem spotkań regularnych WJUG, rozpoczynał także projekty pod nazwami
              | Javarsovia(dziś Confitura) i Warsjava(dziś Warsjawa), które co roku cieszą się co raz większą popularnością.
              br
              | Aktualnie Jacek rozwija&nbsp
              +externalLink('http://warszawscala.pl/', 'Warszawa Scala User Group')
            p
              a(href='http://jaceklaskowski.pl/', target='_blank')
                img(src='img/newsletter/jacek-6.png', width='266px')
            p
              strong Gratulacje! :-)

            h4 WJUG - Spotkania cykliczne
            p Spotkania regularne przekroczyły półmetek sezonu. Na kolejnych spotkaniach mamy dla Was coraz ciekawsze propozycje,&nbsp
              | o których możecie przeczytać na naszej stronie internetowej: &nbsp
              +externalLink('http://warszawa.jug.pl/#/meetings', 'spotkania')
              | . Na tą chwilę jest tam plan spotkań do końca kwietnia. Znajdziecie tam też WJUG-owy&nbsp
              +externalLink('http://warszawa.jug.pl/#/by-you', 'poradnik prelegenta')
              | .
            p Szukamy sponsorów spotkań, oferujemy możliwość przedstawienia firmy na spotkaniu w formie prezentacji i rollupa,&nbsp
              | przekazania uczestnikom materiałów promocyjnych, logo i informację o sponsorze w ogłoszeniach o spotkaniu &nbsp
              | oraz na stronie internetowej. Kontakt&nbsp
              +mailLink('wjug-regular-meetings@googlegroups.com', 'wjug-regular-meetings@googlegroups.com')
            p Od lutego zespół spotkań regularnych wzbogacił się o dwie nowe osoby: doświadczoną i znaną większości z JInkubatora&nbsp
              | Justynę Sadło oraz młodego, żądnego wrażeń i pełnego zapału Bartka Andrzejczaka.

            h4 JInkubator
            p Jinkubator działa pełną parą. Od ostatniego newslettera odbyły się cztery spotkania: o Groovy'm, Gicie, Guavie i Androidzie.&nbsp
              |  Spotkania cieszą się bardzo dużą popularnością, zarówno uczestników (na większości spotkań było ponad 60 osób),&nbsp
              |  jak i sponsorów (mało które spotkanie nie było sponsorowane).
            p W najbliższej przyszłości odbędzie się spotkanie o&nbsp
              +externalLink('http://jinkubator.pl/#/meeting/24', 'zwinnych metodykach')
              |, a w planach mamy jeszcze m.in. spotkanie ze&nbsp
              +externalLink('http://jinkubator.pl/#/meeting/25', 'Spring Boota')
              | &nbsp
              | oraz
              | &nbsp
              +externalLink('http://jinkubator.pl/#/meeting/26', 'Scali')
              | . Zapraszamy na spotkania wszystkich, którzy chcą się nauczyć podstawowych technik i technologii, w co&nbsp
              | drugi wtorek na wydziale Matematyki i Nauk Informatycznych na Politechnice Warszawskiej.

            h4 Warsaw Groovy User Group
            p 3 lutego dzięki pomocy &nbsp
              +externalLink('http://mceconf.com/', 'Mobile Central Europe')
              | &nbspodwiedził nas Cédric Champeau. Cedric na MCE opowiadał o programowaniu w Groovym na Androidzie, zaś&nbsp
              | podczas naszego spotkania, wytłumaczył założenia projektowe i wszystkie quirks and tricks związane z traitami. &nbsp
              | Sporo z tego nie istnieje w dokumentacji, a ma olbrzymi wpływ na wydajność.

            h4 Spring Labs
            p Spring Labs wraca już 18 lutego wraz z nowym tematem - Wprowadzeniem do Spring Integration! Hell yeah!

            h4 Warsaw JBoss User Group
            p
              +externalLink('http://wjbug.pl/', 'WJBUG')
              | &nbsppowoli (w końcu to nie wyścigi :) ) budzi się do życia z zimowego letargu. Pierwsze prelekcje planowane&nbsp
              | są na przełom marca i kwietnia i prawdopodobnie będą dotyczyły: Keycloak'a, Ceylon'a oraz Wildfly'a.&nbsp
              | Konkretne terminy podamy do wiadomości kanałami WJUG'a. Tymczasem tradycyjnie zachęcamy wszystkich chętnych&nbsp
              | do zgłaszania własnych tematów. Do zobaczenia wkrótce!
            h4 Confitura
            p Rozpoczęliśmy przygotowania do kolejnej edycji jednak borykamy się z pewnymi problemami technicznymi.&nbsp
              | Ponownie zagościmy w kampusie UW początkiem lipca, także najważniejsze już wiecie :)
              br
              | Obserwujcie kanały Confitury na&nbsp
              +externalLink('https://twitter.com/confiturapl', 'Twitterze')
              | &nbsp
              | i
              | &nbsp
              +externalLink('https://www.facebook.com/Confitura', 'Facebooku').

            h4 Warsjawa
            p Dotychczasowi organizatorzy Warsjawy poinformowali, że rezygnują z organizowania wydarzenia w tym roku.
              | W tym miejscu chcemy podziękować za pracę i czas, jaki włożyli w organizację tej wspaniałej konferencji w ostatnich latach.
              | Wojtek, Kamil, Michał, Adam, Maciek, Krzysiek, Magda, Tomek, Ilona, Tomek jeszcze raz dzięki :-)
            p Jednak to nie oznacza końca Warsjawy. Jeśli chciałbyś pomóc w organizacji przyszłych edycji to czekamy na ciebie. Skontaktuj się z&nbsp
              +mailLink('wjug-leaders@googlegroups.com', 'wjug-leaders@googlegroups.com')
              | .

            h4 Koduj.com
            p W&nbsp
              +externalLink('http://koduj.com', 'Koduj.com')
              | &nbspudało się uruchomić stronę aktualnie trwa poszukiwanie współpracowników, którzy chcieliby prowadzić warsztaty dla najmłodszych.
              | Jeśli chciałbyś dowiedzieć się więcej skontaktuj się z&nbsp
              +mailLink('eliza@koduj.com', 'eliza@koduj.com')
              | .

            h4 Profile społecznościowe
            p Przypominamy o naszych profilach na&nbsp
              +externalLink('https://twitter.com/WarszawaJUG', 'Twitterze')
              | &nbsp
              | i
              | &nbsp
              +externalLink('https://plus.google.com/107616814384149131589','Google+')
              |. Znajdziecie tam najszybciej informacje o nowościach jakie dla was mamy. Subskrybujcie też nasz kanał&nbsp
              +externalLink('https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw', 'YouTube')
              |&nbsp- znajdziecie tam nagrania z naszych spotkań.
            .row
              .span12
                //.pull-left
                  a(href='#/newsletter/7') Następny
                .pull-right
                  a.float-right(href='#/newsletter/5') Poprzedni
