include ../mixins

div
  .section(page='1')
    .centered
      .container
        .row
          .span12
            h2 Newsletter warszawskiego JUG #8
            pw
              +externalLink('', '31.08.2015')
            p Cześć WJUGowicze!

            p Wakacje, wakacje i po wakacjach. Idzie nowy sezon 2015/2016, idą zmiany, wiec pora na newsletter!

            h4 Podsumowanie Walnego
            p Pod koniec czerwca odbyło się Walne Zebranie Warszawskiego JUG-a, na Meetupie liczba zainteresowanych osób nastrajała optymistycznie, niestety “real-life” brutalnie zweryfikowało wirtualne chęci i skończyliśmy na stałym już gronie z niewielkim dodatkiem nowych osób. A szkoda.
            strong Zmiany personalne - odchodzą
            ul
              li Justyna Betkier (Sadło) - WJUG Regularne
              li Krzysiek Siejkowski - Logistyka Sal
              li Marcin Jasion - Transparencja, Newsletter
              li Adam Chudzik - JInkubator
              li Adam Pierzchała - JInkubator
            p
              strong Wszystkim dziękujemy za czas, który poświęcili na organizację prac WJUG-a. I liczymy, że szybko do nas wrócicie :)
            strong Zmiany personalne - przychodzą:
            ul
              li Artur Owczarek - JInkubator
            strong Inne rzeczy, warte odnotowania:
            ul
              li pracujemy nad WJUG-owymi gadżetami, co to będzie dokładnie okaże się wkrótce :)
              li niczym rasowy software house, prowadzimy ciągłą rekrutację wśród osób chętnych pomóc w organizacji WJUG-a. Masz trochę czasu i chęci? Napisz do nas!

            h4 WJUG - Spotkania cykliczne
            p Spotkania cykliczne jak co roku wracają z pełnym impetem już na początku września. Na początek specjalnie dla Was zaprosiliśmy Tomka Szymańskiego i Marcina Grzejszczaka,
              | którzy zafundują Wam wieczór z kodowaniem na żywo. Za to na kolejnym spotkaniu będziecie mogli posłuchać o zaletach i wadach on- i off-heap cache w Javie, o których opowie Radosław Grębski.
            p Niemniej ciekawie rysuje się październik. Mamy zaszczyt ogłosić, że swoją pierwszą prezentację na Warszawskim JUGu przedstawi nie kto inny jak sam
              strong  Venkat Subramanian!
              |  Spotkanie to będzie miało miejsce już 20 października. Z kolei dwa tygodnie wcześniej będziecie mogli wzbogacić swoją wiedzę na temat JVMowego Garbage Collectora dzięki Jakubowi Kubryńskiemu.
            p Wiemy, że początek sezonu stawia poprzeczkę wysoko, jednak wszyscy chcielibyśmy, żeby ta tendencja utrzymała się aż do czerwca. W związku z tym zachęcamy was gorąco do przesyłania swoich zgłoszeń w ramach trwającego Call 4 Papers. Formularz zgłoszeniowy znajdziecie&nbsp
              +externalLink('https://docs.google.com/forms/d/1YUUJ68qFOiMJBhhL8Ll434vAopf_juynPb1KReVa3uE/viewform','pod tym adresem')
              | .
            p Warto również wspomnieć, że mimo okresu wakacyjnego nasza ekipa nie próżnowała, zorganizowaliśmy dla Was spotkanie wakacyjne, podczas którego mogliście usłyszeć prezentację Marcina Matuszaka o złożoności architektury mikroserwisów. Przy okazji tego spotkania testowaliśmy również nowe miejsce spotkań - aulę Polsko-Japońskiej Akademii Technik Komputerowych znajdującą się przy ulicy Koszykowej
            p Na koniec warto dodać, że jeżeli Twoja firma aktualnie poszukuje najlepszych programistów w Warszawie, może być zainteresowana pokazaniem się im na naszych spotkaniach. Usługa ta kosztuje niewiele, natomiast my możemy zagwarantować, że “będzie Pan zadowolony” :)

            h4 JInkubator
            p Jinkubator zakończył ostatni sezon pełnym sukcesem - odbyło się 15 spotkań, na których frekwencja zazwyczaj przekraczała 60 osób. Rekord pobiło wystąpienie Macieja Górskiego o podstawach Androida, na którym pojawiło się aż 88 osób. Spotkania cieszyły się również dużym zainteresowaniem sponsorów - 11 z 15 było sponsorowanych.
            p We własnie nowo zaczynającym się sezonie planujemy działać równie prężnie i w związku z tym już otwarte jest C4P z proponowaną listą tematów, które dostępne jest&nbsp
              +externalLink('https://docs.google.com/forms/d/1Zt_ws-STBfDESwI1rzhBmKcbWPQnGtsvRnIksESl2BI/viewform', 'tutaj')
              | . Zapraszamy do zgłaszania się i do zobaczenia wkrótce ;)

            h4 Warsaw Groovy User Group
            p Wakacje!

            h4 Warsaw JBoss User Group
            p Wakacje!

            h4 Spring Labs
            p Aktualnie przygotowania do nowego sezonu Spring Labs idą pełną parą. Już niedługo poinformujemy o najbliższych spotkaniach.

            h4 Devoxx4Kids
            p Wakacje!

            h4 Confitura
            p Szykujemy nagrania video z prezentacji. Powinniśmy je opublikować w ciągu miesiąca. Koniecznie obserwujcie naszego Twittera i kanał YouTube.

            .row
              .span12
                //.pull-left
                  a(href='#/newsletter/8') Następny
                .pull-right
                  a.float-right(href='#/newsletter/7') Poprzedni
