div
    .section.jcp_background(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span12
                        h1 WJUG-JCP (Java Community Process)
                        p WJUG-JCP (Java Community Process) jest inicjatywą WJUG skupiającą ludzi, którzy chcą wpływać na kształt i przyszłość Javy oraz JVM.
                            br
                            | Dyskutujemy o Javie, wygłaszamy prezentacje, organizujemy hackatony, co jednak najważniejsze staramy się brać aktywny udział w rozwoju Javy oraz jej witualnej maszyny.
                            br
                            | Aktualnie skupiamy się na udziale w
                            a(href='https://java.net/projects/adoptopenjdk/', target='_blank')  Adopt OpenJDK
                            | , w przyszłości planujemy dołączyć do programu
                            a(href='https://java.net/projects/adoptajsr/', target='_blank')  Adopt a JSR
                            | .
                            br
                            | Serdecznie zapraszamy wszystkich chcących razem się uczyć, współpracować i ulepszać Javę.
                        h3 Jeśli zależy ci na przyszłości Javy to musisz do nas dołączyć!
                .row
                    .span12
                        h1 Pare słów o Adopt  OpenJDK
                        p Projekt nie skupia się wyłącznie na dodawaniu i poprawianiu funkcjonalności w OpenJDK, ale także pozwala na wpływ na jego otoczenie.
                            br
                            | Uczestnicy mogą także pracować nad narzędziami przydatnymi przy rozwijaniu OpenJDK (np. 
                            a(href='https://bitbucket.org/adoptopenjdk/betterrev/', target='_blank') BetterRev
                            | - narzędzie do zarządzania patchami), zwiększenie jakości kodu poprzez dodawanie nowych testów i usunięcię ostrzeżeń kompilatora czy też modyfikowanie aktualnego kodu do nowych możliwości jezyka (np. zastosowanie diamentowego operatora, multi-catch, etc.). 
                            br
                            | Każda, nawet najdrobniejsza pomoże uczynić OpenJDK lepszą platformą.
                .row
                    .span12
                        h1 Najbliższe spotkania:
                        p 11.02.2014 -
                            a(href='#/meeting/131')  Adopt OpenJDK flash-talk
                            |  -
                            a(href='http://michalwarecki.blogspot.com', target='_blank')  Michał Warecki
                        p 25.03.2014 - OpenJDK hackathon
