div
    .section.simple_background(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 biblioteka warszawskiego JUGa
                        p Na półkach Biblioteki Warszawskiego JUGa znajdują się pozycje, jak wymieniono poniżej. Przy pozycjach jest wyświetlona informacja o aktualnie czytającym, dacie wypożyczenia oraz o recenzjach. Zakłada się, że książka wraca tak szybko jak się tylko da, czyli po 1 miesiącu od wypożyczenia z recenzją. Recenzja jest warunkiem koniecznym do otrzymania książki (no cóż, takie życie - nikt nie mówił, że będzie łatwo ;-)).
                        p Książki do wypożyczenia znajdują się w zasobach innych JUGów. Wystarczy napisać z prośbą o wypożyczenie i w najgorszym (czasowo - konieczność odstania swojego w kolejkach) wypadku książka nadejdzie pocztą.

                .row
                    .span4
                        h3 tytuł
                    .span4
                        h3 autor
                    .span2
                        h3 gdzie jest
                    .span2
                        h3 format

                - var items= []
                - items.push({title:'RESTful Web Services',link:'http://www.oreilly.com/catalog/9780596529260/',author:'Leonard Richardson, Sam Ruby',who:'Jacek Laskowski'})
                - items.push({title:'Learning Ruby',link:'http://www.oreilly.com/catalog/9780596529864/',author:'Michael Fitzgerald',who:'Jacek Laskowski'})
                - items.push({link:'http://apress.com/book/bookDisplay.html?bID=10234', title:'Beginning JBoss Seam: From Novice to Professional', author:'Joseph Faisal Nusairat',who:'u Tomka Bujoka'})
                - items.push({link:'http://apress.com/book/bookDisplay.html?bID=10189', title:'Pro Wicket', author:'Karthik Gurumurthy', format:'eBook'})
                - items.push({link:'http://www.oreilly.com/catalog/9780596529246/', title:'Facelets', author:'Robert Swarr', format:'eBook'})
                - items.push({link:'http://www.oreilly.com/catalog/entjbeans5/', title:'Enterprise JavaBeans 3.0, Fifth Edition', author:'Bill Burke, Richard Monson-Haefel'})
                - items.push({link:'http://www.packtpub.com/Java-EE-5-GlassFish-Application-Servers/book', title:'Java EE 5 Development using GlassFish Application Server', author:'David R. Heffelfinger',who:'u Mateusza Zięby'})
                - items.push({link:'http://www.amazon.com/Java-Concurrency-Practice-Brian-Goetz/dp/0321349601/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1199889375&amp;sr=8-1', title:'Java Concurrency in Practice', author:'Brian Goetz',who:'Hubert Jankowski'})
                - items.push({link:'http://www.amazon.com/Filthy-Rich-Clients-Developing-Applications/dp/0132413930/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1199889518&amp;sr=1-1', title:'Filthy Rich Clients: Developing Animated and Graphical Effects for Desktop Java Applications', author:'Chet Haase, Romain Guy',who:'u Huberta Jankowskiego i Wiktor Gworek'})
                - items.push({link:'http://www.oreilly.com/catalog/functionalwt/', title:'An Introduction to Testing Web Applications with twill and Selenium', author:'C. Titus Brown, Gheorghe Gheorghiu, Jason Huggins',who:'Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://www.amazon.com/Core-Servlets-Javaserver-Pages-Technologies/dp/0131482602/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1205873256&amp;sr=1-1', title:'Core Servlets and Javaserver Pages: Advanced Technologies, Vol. 2: Advanced Technologies', author:'Marty Hall, Larry Brown, Yaakov Chaikin',who:'u Wiktora Gworka'})
                - items.push({link:'http://www.packtpub.com/jboss-jbpm/book', title:'Business Process Management with JBoss jBPM', author:'Matt Cumberlidge',who:'Michała Margiela'})
                - items.push({link:'http://www.packtpub.com/tapestry-5/book', title:'Tapestry 5: Building Web Applications', author:'Alexander Kolesnikov',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://www.manning.com/dashorst/', title:'Wicket in Action', author:'Martijn Dashorst oraz Eelco Hillenius',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://manning.com/walls3/', title:'Spring in Action', author:'Craig Walls oraz Ryan Breidenbach',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://manning.com/hanson/', title:'GWT in Action', author:'Robert Hanson oraz Adam Tacy',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://www.packtpub.com/service-oriented-architecture-for-java-applications', title:'Service Oriented Architecture with Java', author:'Vincenzo Caselli, Binildas A. Christudas, Malhar Barai',who:'Bartka Chrabskiego'})
                - items.push({link:'http://www.apress.com/book/view/1430210494', title:'Facelets Essentials: Guide to JavaServer Faces View Definition Framework', author:'Bruno Aranda, Zubin Wadia',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://www.apress.com/book/view/1590599217', title:'Pro Spring 2.5', author:'Jan Machacek, Jessica Ditt, Aleksa Vukotic, Anirvan Chakraborty',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://www.galileocomputing.de/katalog/buecher/titel/gp/titelID-1542', title:'NetBeans Platform 6 Rich-Client-Entwicklung mit Java', author:'Heiko Bock',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://www.apress.com/book/view/1590599950', title:'The Definitive Guide to Grails, Second Edition', author:'Graeme Rocher, Jeff Brown',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://www.packtpub.com/jboss-drools-business-rules', title:'JBoss Drools Business Rules', author:'Paul Browne',who:'u Jarka Kijanowskiego'})
                - items.push({link:'http://www.manning.com/gsmith/', title:'Grails in Action', author:'Glen Smith oraz Peter Ledbrook',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://www.manning.com/smith/', title:'Becoming Agile', author:'Greg Smith, Ahmed Sidky',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://www.manning.com/laddad2/', title:'AspectJ in Action, Second Edition', author:'Ramnivas Laddad',who:'u Jacka Laskowskiego',format:'PDF'})
                - items.push({link:'http://www.pragprog.com/titles/shcloj/programming-clojure', title:'Programming Clojure', author:'Stuart Halloway',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://apress.com/book/view/1430219548', title:'Beginning Java EE 6 Platform with GlassFish 3: From Novice to Professional', author:'Antonio Goncalves', who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://apress.com/book/view/143021922x', title:'Beginning JSF 2 APIs and JBoss Seam', author:'Kent Ka Iok Tong', who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://oreilly.com/catalog/9781934356463/', title:'Grails A Quick-Start Guide', author:'Dave Klein', who:'u Michał Margiel'})
                - items.push({link:'http://www.apress.com/book/view/9781430224976', title:'Spring Enterprise Recipes: A Problem-Solution Approach', author:'Gary Mak, Josh Long', who:'u Jacka Laskowskiego'})
                - items.push({link:'http://manning.com/prasanna/', title:'Dependency Injection', author:'Dhanji R. Prasanna',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://manning.com/davis/', title:'Open Source SOA', author:'Jeff Davis',who:'u Jacka Laskowskiego', format:'PDF'})
                - items.push({link:'http://www.packtpub.com/glassfish-v2-application-server-administration/book',title:'GlassFish Administration', author:'Xuekun Kou',who:'u Jacek Laskowski'})
                - items.push({link:'http://www.packtpub.com/webSphere-application-server-7-0-administration-guide/book',title:'WebSphere Application Server 7.0 Administration Guide', author:'Steve Robinson',who:'u Jacek Laskowski'})
                - items.push({link:'http://www.informit.com/store/product.aspx?isbn=0321556054', title:'A Programmer\'s Guide to Java SCJP Certification: A Comprehensive Primer, 3rd Edition', author:'Khalid Mughal, Rolf Rasmussen',who:'u Andrzej Szczodrak'})
                - items.push({link:'http://apress.com/book/view/1430219564',title:'Pro JPA 2: Mastering the Java Persistence API', author:'Mike Keith, Merrick Schincariol',who:'u Michał Januszewski i Adama Warskiego'})
                - items.push({link:'http://www.amazon.com/Professional-Oracle-WebLogic-Server-Programmer/dp/0470484306/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1270500955&amp;sr=8-1', title:'Professional Oracle WebLogic Server', author:'Robert Patrick, Gregory Nyberg, Philip Aston, and Josh Bregman',who:'Piotra Pietrzaka'})
                - items.push({link:'http://www.manning.com/petricek/', title:'Real-World Functional Programming (With examples in F# and C#)', author:'Tomas Petricek with Jon Skeet',who:'u Jacek Laskowski', format:'PDF'})
                - items.push({link:'http://apress.com/book/view/1430216409', title:'Pro SpringSource dm Server', author:'Gary Mark, Daniel Rubio',who:'u Tomka Szymańskiego (szimano)'})
                - items.push({link:'https://www.packtpub.com/apache-cxf-web-service-development/book', title:'Apache CXF Web Service Development', author:'Naveen Balani, Rajeev Hathi',who:'u Michała Karolika'})
                - items.push({link:'http://www.informit.com/store/product.aspx?isbn=0321503627', title:'Growing Object-Oriented Software, Guided by Tests', author:'Steve Freeman, Nat Pryce',who:'u Michała Karolika'})
                - items.push({link:'http://www.packtpub.com/restful-java-web-services/book', title:'RESTful Java Web Services', author:'Jose Sandoval',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://apress.com/book/view/9781430272311', title:'Practical Clojure', author:'Luke VanderHart, Stuart Sierra ',who:'u Jacka Laskowskiego'})
                - items.push({link:'http://helion.pl/ksiazki/cwuml.htm', title:'UML 2.1. Ćwiczenia', author:'Stanisław Wrycza', who:'u Wiktora Gworka'})
                - items.push({link:'http://helion.pl/ksiazki/j2metg.htm', title:'J2ME. Tworzenie gier', author:'Janusz Grzyb', who:'u Wiktora Gworka '})
                - items.push({link:'http://helion.pl/ksiazki/struda.htm', title:'Struktury danych i techniki obiektowe na przykładzie Javy 5.0', author:'Elliot Koffman, Paul Wolfgang', who:'u Wiktora Gworka'})
                - each item, i in items
                    .row
                        .span4
                            p
                                a(href= item.link, target='_blank') #{item.title}
                        .span4
                            p #{item.author}
                        .span2
                            p #{item.who}
                        .span2
                            p #{item.format}
