div
  .section
    .centered
      .container
        .row
          .span12
            .newsletter(ng-include=" 'partials/newsletter/3.html' ")
            .newsletter(ng-include=" 'partials/newsletter/2.html' ")
            .newsletter(ng-include=" 'partials/newsletter/1.html' ")



