div(ng-controller="PageCtrl")
    #about.section.about_background(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span4
                        h1 spotkania
                        p Grupa spotyka się cyklicznie (zwykle co dwa tygodnie) we wtorki,
                            b  w sali 3180 budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:15-20:00
                            | . Prowadzimy tam wykłady, warsztaty i rozmawiamy o najciekawszych technologiach.
                    .span4
                        h1 on-line
                        p
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/warszawa-jug', target='_blank'): img(src='img/icons/google-groups.png', width="40")
                            a(href='http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/', target='_blank'): img(src='img/icons/meetup.png', width="40")
                            a(href='http://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw', target='_blank'): img(src='img/icons/youtube.png', width="40")
                            a(href='https://twitter.com/warszawajug', target='_blank'): img(src='img/icons/twitter.png', width="40")
                            a(href='https://plus.google.com/107616814384149131589/posts', target='_blank'): img(src='img/icons/google-plus.png', width="40")
                            a(href='https://www.facebook.com/WarszawaJUG', target='_blank'): img(src='img/icons/facebook.png', width="40")
                            a(href='https://github.com/warszawajug', target='_blank'): img(src='img/icons/github.png', width="40")
                            a(href='mailto:wjug-regular-meetings@googlegroups.comg', target='_blank'): img(src='img/icons/email.png', width="40")
                            a(href='https://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com', target='_blank'): img(src='img/icons/google-calendar.png', width="40")
                            p Dyskutujemy na
                                a(href='mailto:warszawa-jug@googlegroups.com')  grupie dyskusyjnej
                                | , którą możesz także śledzić przez
                                a(href='https://groups.google.com/forum/?fromgroups#!forum/warszawa-jug', title='web', target='_blank')  weba
                                | .
                    .span4
                        h1 konferencje
                        p Organizujemy dużą, cykliczną konferencję w Warszawie: 
                            a(href='http://confitura.pl', title='Confitura', target='_blank')  Confitura
                            | . Ponadto organizujemy i spotykamy się na hackathonach, barcampach i warsztatach.
                .row
                    .span6
                        h1 kim jesteśmy
                        p Warszawa JUG (albo po prostu WJUG) jest grupą pasjonatów technologii Java. Nasza fascynacja przekłada się na chęć poznawania technologii, frameworków, i metod tworzenia aplikacji na platformie JVM, oraz podnoszenia naszego rzemiosła programistycznego. W tym celu organizujemy cykliczne spotkania. Jest nas już ponad 1000 osób!
                        h1 dołącz do nas
                        p Po prostu przyjdź na spotkanie i/lub dopisz się do grupy dyskusyjnej. Grupa jest otwarta i wita zarówno początkujących jak i wymiataczy.
                        p Jeśli chcesz poprowadzić wykład
                            a(href='https://docs.google.com/forms/d/1YUUJ68qFOiMJBhhL8Ll434vAopf_juynPb1KReVa3uE', target='_blank')  wypełnij formularz zgłoszeniowy
                            |  lub napisz do
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  organizatorów
                            | . To nic trudnego!
                            a(href="#/by-you")  Z przyjemnością pomagamy początkującym prelegentom
                            | .
                    .span6
                        h1 najbliższe spotkanie
                        h3 prezentacja:
                            a(href='#/meeting/161')  Hystrix - Managing failures in distributed systems
                        p prelegent:
                            a(href= "http://www.nurkiewicz.com/", target= "_blank")  Tomek Nurkiewicz
                        p termin: 09.06.2015 godz. 18:15
                        p lokalizacja: MIMUW, sala 3180
                        p sponsor:
                            a(href="http://www.4financeit.com/", target='_blank')  4Finance
                        p We live in a distributed world where integration between components is ubiquitous. Assuming all parts of the system are working at the same time and are not overloaded is too optimistic. Our application must be prepared for failures, must tolerate, handle and test exceptional conditions.
                            a(href='#/meeting/161')  Więcej ...

                .row
                    .span12
                        h3 nadal Ci mało? spotkajmy się też tutaj:
                .row
                    .span4
                        a(href='http://www.jbcnconf.com/', target='_blank'): img(src='img/partners/jBCNconf2015-logo-white2.png', width='325')
                    .span4
                        a(href='http://codepot.pl/', target='_blank'): img(src='img/partners/codepot-logo-rectangle-white-bacground.png', width='325')

    #meetings.section.simple_background(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 spotkania
                        p Aby być na bieżąco, zasubskrybuj nasz
                            a(href='http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com', target='_blank')  kalendarz
                        p Jeżeli nosisz się z zamiarem dołączenia do grona naszych prelegentów zapoznaj się z
                            a(href='#by-you')  poradnikiem prelegenta
                        h3 Przed nami:
                        p 09.06.2015
                            a(href='#/meeting/161')  Hystrix - Managing failures in distributed systems
                            |  -
                            a(href= "http://www.nurkiewicz.com/", target= "_blank")  Tomek Nurkiewicz
                            |  | sponsor:
                            a(href="http://www.4financeit.com/", target='_blank')  4Finance
                        p 23.06.2015
                            a(href='#/meeting/162')  TBD
                            |  -
                            a(href= "https://geekyprimitives.wordpress.com/", target= "_blank")  Jarek Pałka
                        p 04.07.2015
                            a(href='http://2015.confitura.pl/', target='_blank')  Confitura 2015

                .row
                    .span12
                        h3 Za nami:
                        p 26.05.2015
                            a(href='#/meeting/160')  Suple(r): Aplikacje Hardkorowo!
                            |  -
                            a(href= "http://www.warski.org/blog/", target= "_blank")  Adam Warski
                            | ,
                            a(href='http://szimano.org/', target='_blank')  Tomasz Szymański
                            |  | sponsor:
                            a(href="https://softwaremill.com/", target='_blank')  SoftwareMill
                        p 05.05.2015
                            a(href='#/meeting/159')  Microservice everything
                            |  - 
                            a(href='https://twitter.com/kubem', target='_blank') Jakub Marchwicki
                            strong  (Uwaga zmiana terminu i miejsca)
                            |  | sponsor:
                            a(href="http://filttr.pl/", target='_blank')  FILTTR
                            |  |
                            a(href="https://www.youtube.com/watch?v=JxOu1GZmrV8", target='_blank')  nagranie ze spotkania
                        p 28.04.2015
                            a(href='#/meeting/158')  Jesteś ekspertem i co dalej?
                            |  -
                            a(href='http://art-of-software.blogspot.com/', target='_blank')  Sławek Sobótka
                            |  | sponsor:
                            a(href="https://softwaremill.com/", target='_blank')  SoftwareMill
                            |  |
                            a(href="https://www.youtube.com/watch?v=mqXHTbpKZ88", target='_blank')  nagranie ze spotkania
                        p 14.04.2015
                            a(href='#/meeting/157')  Dlaczego 99% firm, które tworzą API RESTowe kłamie?
                            |  -
                            a(href='http://bandrzejczak.com', target='_blank')  Bartek Andrzejczak
                            |  | sponsor:
                            a(href="http://www.bms.com.pl/", target='_blank')  BMS
                            |  |
                            a(href="https://www.youtube.com/watch?v=XmNRZ-JJGBw", target='_blank')  nagranie ze spotkania
                        p 31.03.2015
                            a(href='#/meeting/156')  Microservices architecture pitfalls
                            |  - Mateusz Gajewski
                            |  | sponsor:
                            a(href="http://www.4financeit.com/", target='_blank')  4Finance
                            |  |
                            a(href="https://www.youtube.com/watch?v=yxZm0Fhn9Tk", target='_blank')  nagranie ze spotkania
                        p 17.03.2015
                            a(href='#/meeting/155')  Beyond Futures And Actors
                            |  - Maciej Jaśkowski (Odwołane)
                        p 03.03.2015
                            a(href='#/meeting/154')  Web components with Polymer
                            |  -
                            a(href='https://twitter.com/apierzch', target='_blank')  Adam Pierzchała
                            |  | sponsor:
                            a(href="http://www.pragmatists.pl/", target='_blank')  Pragmatists
                            |  |
                            a(href="https://www.youtube.com/watch?v=kueTbongGkY", target='_blank')  nagranie ze spotkania
                        p 17.02.2015
                            a(href='#/meeting/153')  Apache Solr - silnik wyszukiwania jako baza NoSQL
                            |  - Tomasz Sobczak |
                            a(href="https://www.youtube.com/watch?v=-X3TzwfWDDA", target='_blank')  nagranie ze spotkania
                        p 28.01.2015 Walne spotkanie JUG
                        p 27.01.2015
                            a(href='#/meeting/151')  Heap, off you go
                            |  -
                            a(href='https://plumbr.eu/', target='_blank')  Nikita Salnikov-Tarnovski
                        p 20.01.2015
                            a(href='#/meeting/150')  Vaadin 7 – thinking of U and I
                            |  - Maciej Przepiórka
                        p 09.12.2014
                            a(href='#/meeting/149')  Intro to Apache Spark
                            |  -
                            a(href='http://www.rabbitonweb.com', target='_blank')  Paweł Szulc
                        p 25.11.2014
                            a(href='#/meeting/148')  Osobisty biznesplan. Jak Java developer może zaplanować swoją karierę
                            |  - Krzysztof Śliwiński i Sebastian Konkol
                        p 12.11.2014 (wyjątkowo środa)
                            a(href='#/meeting/147')  yo coffee! czyli kamerdyner na wezwanie
                            |  -
                            a(href='https://www.linkedin.com/pub/tomasz-ducin/4b/34a/822', target='_blank')  Tomasz Ducin
                        p 06.11.2014
                            a(href='#/meeting/146')  Czas Dockera - od zera do kontenera!
                            |  -
                            a(href='http://slepykorzen.pl/', target='_blank')  Przemek Hejman
                            | , Marcin Brański
                        p 28.10.2014
                            a(href='#/meeting/145')  Warsjawa Hackaton czyli jak zrobić sobie hackathon z przygotowania do konferencji
                            |  -
                            a(href='http://blog.klkl.pl/', target='_blank')  Michał Lewandowski
                            | ,
                            a(href='http://netczuk.pl/', target='_blank')  Tomasz Netczuk
                            | , Tomasz Pęksa |
                            a(href='#/meeting/145')  Warjawa NFC Case Study
                            |  -
                            a(href='https://twitter.com/mkiedys', target='_blank')  Michał Kiędyś
                            | ,
                            a(href='http://wybcz.pl/', target='_blank')  Łukasz Szczęsny
                        p 14.10.2014
                            a(href='#/meeting/144')  Thymeleaf - szablony, które bez przetworzenia zrozumie twoja przeglądarka
                            |  - Maciej Ziarko
                            |  | sponsor:
                            a(href="http://4finance.com/", target='_blank')  4finance
                        p 26-27.09.2014
                            a(href='http://warsjawa.pl/', target='_blank')  Warsjawa 2014
                        p 16.09.2014
                            a(href='#/meeting/143')  DevOps BarCamp
                        p 02.09.2014
                            a(href='#/meeting/142')  Walidacja w świecie obiektów domenowych - blaski i cienie JSR 303
                            |  - Robert Szarejko
                        p 09.08.2014
                            a(href='http://microhackaton-2014-august-warsaw.github.io/2014/', target='_blank')  Microservice hackathon
                        p 05.07.2014
                            a(href='http://2014.confitura.pl/', target='_blank')  Confitura 2014
                        p 01.07.2014 Walne spotkanie WJUG
                        p 17.06.2014
                            a(href='#/meeting/140')  Microservices BarCamp
                        p 03.06.2014
                            a(href='#/meeting/139')  Open source brag - spotkanie o projektach open source
                            |  | sponsor:
                            a(href="http://kariera.allegro.pl/", target='_blank')  Grupa Allegro
                        p 20.05.2014
                            a(href='#/meeting/138')  Designing API for mobile apps
                            |  -
                            a(href='http://erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                            |  |
                            a(href='#/meeting/138')  RabbitMQ
                            |  -
                            a(href='https://twitter.com/mkiedys', target='_blank')  Michał Kiędyś
                        p 06.05.2014
                            a(href='#/meeting/137')  Kim jest software developer - panel dyskusyjny
                            |  | sponsor:
                            a(href="http://4finance.com/", target='_blank')  4finance
                        p 22.04.2014
                            a(href='#/meeting/136')  Java SE 8 & Java EE 7 flash-talks
                            |  | sponsor:
                            a(href="http://4finance.com/", target='_blank')  4finance
                        p 08.04.2014
                            a(href='#/meeting/135')  WildFly on the fly
                            |  -
                            a(href='https://twitter.com/KrzysztofMiksa', target='_blank')  Krzysztof Miksa
                            |  (feat.
                            a(href='http://wjbug.pl/', target='_blank')  Warsaw JBoss User Group
                            | )
                        p 25.03.2014
                            a(href='#/meeting/134')  OpenJDK hackathon
                            |  | sponsor:
                            a(href="http://kariera.allegro.pl/", target='_blank')  Grupa Allegro
                        p 11.03.2014
                            a(href='#/meeting/133')  Listen to the sounds of your application -
                            a(href='http://maciej.inszy.org/', target="_blank")  Maciej Biłas
                            | ,
                            a(href='http://abstractionextraction.wordpress.com/', target="_blank")  Krzysztof Ciesielski
                            |  |
                            a(href='#/meeting/133')  Bringing lambdas to Java
                            |  -
                            a(href='https://twitter.com/kszdev', target='_blank')  Kamil Szymański
                        p 25.02.2014
                            a(href='#/meeting/132')  Unorthodox Enterprise Practices
                            |  -
                            a(href='http://www.adam-bien.com/', target='_blank')  Adam Bien
                        p 11.02.2014
                            a(href='#/meeting/131')  Adopt OpenJDK
                            |  -
                            a(href='http://michalwarecki.blogspot.com/', target='_blank')  Michał Warecki
                            |  |
                            a(href='#/meeting/131')  Specification by Example
                            |  -
                            a(href='http://agile.waw.pl/', target='_blank')  Krzysztof Jelski
                            |  | sponsor:
                            a(href='http://www.decerto.pl/', target='_blank')  Decerto
                        p 28.01.2014
                            a(href='#/meeting/130')  Flash-talks
                        p 14.01.2014
                            a(href='#/meeting/129')  Always Be Responsible for Any Code You Write, Even for Fun. NoException()
                            |  -
                            a(href='http://www.harasymczuk.pl/', target="_blank")  Mateusz Harasymczuk
                        p 09.01.2014
                            a(href='#/meeting/128')  Humanoidalny robot NAO (feat. Human Tech Art)
                            |  -
                            a(href='http://www.aldebaran-robotics.com/en/', target='_blank')  Aldebaran Robotics
                        p 17.12.2013
                            a(href='#/meeting/127')  Flashtalks: SmartParam, jFairy, Spring Boot
                            |  - Adam Dubiel,
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            | , Dariusz Kaczyński
                        p 03.12.2013
                            a(href='#/meeting/126')  CompletableFuture i RxJava - functional reactive programming w Javie
                            |  -
                            a(href='http://nurkiewicz.blogspot.com/', target="_blank")  Tomasz Nurkiewicz
                        p 28.11.2013
                            a(href='#/meeting/125')  Walne zgromadzenie
                        p 19.11.2013
                            a(href='#/meeting/124')  Java EE Portal Anno Domini 2013
                            |  -
                            a(href='http://bdawidowicz.blogspot.com', target='_blank')  Bolesław Dawidowicz
                        p 05.11.2013
                            a(href='#/meeting/123')  Polecane dla Ciebie: rekomendacje i Mahout
                            |  -
                            a(href='http://www.warski.org/', target='_blank')  Adam Warski
                        p 22.10.2013
                            a(href='#/meeting/122')  Spring Data
                            |  -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            |  | sponsor:
                            a(href="http://kariera.allegro.pl/", target='_blank')  Grupa Allegro
                        p 12.10.2013
                            a(href='http://2013.warsjawa.pl/', target='_blank')  Warsjawa 2013
                        p 08.10.2013
                            a(href='#/meeting/121')  AngularJS 101
                            |  - Marek Lewandowski | sponsor:
                            a(href="http://icompass.pl/", target='_blank')  iCompass
                        p 24.09.2013
                            a(href='#/meeting/120')  Serwer w Javie
                            |  - Adam Lider
                        p 10.09.2013
                            a(href='#/meeting/119')  Flash-talks: Tig, Fish shell, jOOX, Togglz
                            |  -
                            a(href='https://twitter.com/mariusz_s', target='_blank')  Mariusz Smykuła
                            | ,
                            a(href='https://twitter.com/mgrzechocinski', target='_blank')  Mateusz Grzechociński
                            | ,
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            | ,
                            a(href='https://twitter.com/kszdev', target='_blank')  Kamil Szymański
                        p 06.07.2013
                            a(href='http://2013.confitura.pl/', target='_blank')  Confitura 2013
                        p 18.06.2013
                            a(href="#/meeting/118")  Java Memory Model
                            |  -
                            a(href='http://michalwarecki.blogspot.com', target='_blank')  Michał Warecki
                        p 04.06.2013
                            a(href="#/meeting/117")  Type Driven Development
                            |  -
                            a(href='http://mproch.blogspot.com/', target='_blank')  Maciej Próchniak
                        p 25.05.2013
                            a(href="#/meeting/116")  Test kata
                        p 21.05.2013
                            a(href="#/meeting/115")  Moje pierwsze kroki w programowaniu funkcyjnym w Scali
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                            |  | sponsor:
                            a(href='http://www.decerto.pl/', target='_blank')  Decerto
                        p 07.05.2013
                            a(href="#/meeting/114")  Redis, Riak, MongoDB - 3 smaki NoSQL
                            |  -
                            a(href='http://blog.solidcraft.eu', target='_blank')  Jakub Nabrdalik
                            | ,
                            a(href='http://softwaremathmodel.blogspot.com/', target='_blank')  Paweł Cesar Sanjuan Szklarz
                            |, Paweł Sidoryk | sponsor:
                            a(href='http://pl.adpilot.com/', target='_blank')  AdPilot
                        p 23.04.2013
                            a(href="#/meeting/113")  HotSpot w low latency Java
                            |  - Wojciech Kudła | sponsor:
                            a(href='http://appone.pl/', target='_blank')  AppOne
                        p 09.04.2013
                            a(href="#/meeting/112")  Sześć smaków testowania - flashtalks
                            |  | sponsor:
                            a(href='http://www.decerto.pl/', target='_blank')  Decerto
                        p 26.03.2013
                            a(href="#/meeting/111")  Arquillian - Twój własny kombajn testowy
                            |  -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            |  | sponsor:
                            a(href='http://kariera.allegro.pl/', target='_blank')  Grupa Allegro
                        p 12.03.2013
                            a(href="#/meeting/110")  Usability
                            |  - Mateusz Kaczmarek
                        p 26.02.2013
                            a(href="#/meeting/109")  Rozmowy kwalifikacyjne
                            |  -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            | ,
                            a(href='http://blog.solidcraft.eu', target='_blank')  Jakub Nabrdalik
                            | ,
                            a(href='http://szimano.org/', target='_blank')  Tomasz Szymański
                        p 05.02.2013
                            a(href="#/meeting/108")  Praktyczne wprowadzenie do OSGi i Enterprise OSGi
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                            |  | sponsor:
                            a(href='http://www.atm-si.com.pl/', target='_blank')  ATM Systemy Informatyczne S.A.
                        p 22.01.2013
                            a(href="#/meeting/107")  Byteman - "fault injection" w praktyce
                            |  - Paweł Sidoryk | sponsor:
                            a(href='http://econsulting.pl/', target='_blank')  eConsulting
                        p 08.01.2013
                            a(href="#/meeting/106")  Metaprogramowanie w Javie
                            |  - Maciej Jankowski,
                            a(href='http://blog.erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                            |  | sponsor:
                            a(href='http://polidea.pl/', target='_blank')  Polidea
                        p 18.12.2012 Walne spotkanie WJUG
                        p 11.12.2012
                            a(href="#/meeting/104")  Apache Cassandra w praktyce
                            |  - Tomek Kuprowski | sponsor:
                            a(href='http://foxcode.pl/', target='_blank')  FoxCode
                        p 27.11.2012
                            a(href="#/meeting/103")  Apache Cassandra: scalability, performance and fault tolerance in distributed databases
                            |  -
                            a(href='https://twitter.com/kszdev', target='_blank')  Kamil Szymański
                        p 13.11.2012
                            a(href="#/meeting/102")  Microbenchmarki z zastosowaniem Calipera
                            |  -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            |  | sponsor:
                            a(href='http://econsulting.pl/', target='_blank')  eConsulting
                        p 30.10.2012
                            a(href="#/meeting/101")  jQuery + Twitter Bootstrap
                            |  -
                            a(href='http://bartekzdanowski.blogspot.com/', target='_blank')  Bartek Zdanowski
                        p 27.10.2012
                            a(href='https://sites.google.com/site/warszawajug/warsjawa-2012', target='_blank')  Warsjawa 2012
                        p 16.10.2012
                            a(href="#/meeting/99")  Qooxdoo - framework RIA, który warto polubić
                            |  - Tomek Kuprowski
                        p 02.10.2012
                            a(href="#/meeting/98")  Zrob to sam: STM w Javie
                            |  - Adam Lider
                        p 30.06.2012
                            a(href='http://2012.confitura.pl/', target='_blank')  Confitura 2012
                        p 19.06.2012
                            a(href="#/meeting/97")  Java jada RAM. Ile pamięci zjada Java?
                            |  - Michał Kosmulski | sponsor:
                            a(href='http://netsprint.eu/', target='_blank')  NetSprint
                        p 05.06.2012
                            a(href="#/meeting/96")  Implementacja architektury usługowej - od specifikacji do kodu
                            |  -
                            a(href='http://softwaremathmodel.blogspot.com', target='_blank')  Paweł Cesar Sanjuan Szklarz
                            |  | sponsor:
                            a(href='http://outbox.pl/', target='_blank')  Outbox
                        p 22.05.2012
                            a(href="#/meeting/95")  Budowanie aplikacji (Java EE 6) z Clojure
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 12.05.2012
                            a(href='https://groups.google.com/forum/#!topic/warszawa-jug/c2UCF9z0V1Y', target='_blank')  Warsztaty z języka Scala
                            |  -
                            a(href='http://www.grzegorzbalcerek.net/', target="_blank")  Grzegorz Balcerek
                        p 08.05.2012
                            a(href="#/meeting/93")  Nie utknijcie na Maven2
                            |  -
                            a(href='http://erbetowski.pl/', target="_blank")  Wojtek Erbetowski
                        p 17.04.2012
                            a(href="#/meeting/92")  Inauguracja WHUG: Quick Start with Hadoop, czyli chciałbym, ale się boję
                            |  - Paweł Brach, Adam Kawa i Tomasz Uliński | sponsor:
                            a(href='http://taptera.com/', target="_blank")  Taptera
                        p 03.04.2012
                            a(href="#/meeting/91")  Guava Vs. LambdaJ - kolekcje na sterydach
                            |  -
                            a(href='http://blog.tiger.com.pl/author/kyniek/', target="_blank")  Krzysztof Nielepkowicz
                        p 27.03.2012
                            a(href="#/meeting/90")  Ameba: mobilny dewelopment na sterydach
                            |  - Jarek Potiuk
                        p 06.03.2012
                            a(href="#/meeting/89")  Funkcyjny Clojure z Javą, Leiningen, Counterclockwise, Midje i Compojure
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 21.02.2012
                            a(href="#/meeting/88")  Scala - co w tym fajnego i czy da się łączyć z Javą na co dzień?
                            |  - Maciej Jaśkowski |
                            a(href="#/meeting/88")  Krótko i zwięźle o Clojure
                            |  -
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                            |  | sponsor:
                            a(href='http://www.smtsoftware.com/', target="_blank")  SMT Software S.A.
                        p 03.01.2012
                            a(href="#/meeting/87")  Koncepcje Guice
                            |  -
                            a(href='http://koziolekweb.pl/', target='_blank')  Bartek Kuczyński
                            |  ,
                            a(href='http://blog.erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                        p 13.12.2011
                            a(href="#/meeting/86")  Koncepcje Spring Framework
                            |  -
                            a(href='http://blog.solidcraft.eu/', target='_blank')  Jakub Nabrdalik
                            |  | sponsor:
                            a(href='http://softwaremill.pl/', target='_blank')  SoftwareMill
                        p 29.11.2011
                            a(href="#/meeting/85")  Zmiany JVM w Java 7
                            |  - Adam Michalik
                            |  |
                            a(href="#/meeting/85")  java.util.concurrent.Phaser praktycznie
                            |  -
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                        p 08.11.2011
                            a(href="#/meeting/84")  Eclipse DemoCamp
                            |  - Piotr Chmielewski,
                            a(href='http://softwaremathmodel.blogspot.com', target='_blank')  Paweł Cesar Sanjuan Szklarz
                            | ,
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                            |  | sponsor:
                            a(href="http://www.mlife.pl/", target="_blank")  mLife
                        p 15.10.2011
                            a(href='https://github.com/warszawajug/warsjawa2011/wiki/Konferencja-warsjawa-2011', target='_blank')  Warsjawa 2011
                        p 11.06.2011
                            a(href='http://2011.confitura.pl/', target='_blank')  Confitura 2011
                        p 24.05.2011
                            a(href='#/meeting/82')  Koziołek o Vaadin
                            |  -
                            a(href='http://koziolekweb.pl/', target="_blank")  Bartek Kuczyński
                        p 19.04.2011
                            a(href='#/meeting/81')  JDK7 - czy na pewno nic nowego?
                            |  -
                            a(href='http://mproch.blogspot.com/', target="_blank")  Maciej Próchniak
                        p 22.03.2011
                            a(href='#/meeting/80')  Torquebox & CDI - czyli jak napisaliśmy JBisona
                            |  -
                            a(href='http://www.warski.org/', target="_blank")  Adam Warski
                            | ,
                            a(href='http://twitter.com/szimano', target="_blank")  Tomek Szymański
                        p 15.03.2011
                            a(href='#/meeting/79')  Google z Facebookiem w Twojej aplikacji webowej, czyli co będę pisał sam integrację: THIS IS JAVA!!!! Spring security dla bardzo NIEzaawansowanych
                            |  -
                            a(href='http://blog.solidcraft.eu/', target="_blank")  Jakub Nabrdalik
                        p 22.02.2011
                            a(href='#/meeting/78')  Apache Hadoop i okolice
                            |  -
                            a(href='http://mcl.jogger.pl/', target="_blank")  Marcin Cylke
                        p 25.01.2011
                            a(href='#/meeting/76')  Tworzenie procesów biznesowych z Activiti i IBM WebSphere BPM (WPS/WID/WLE)
                            |  -
                            a(href='http://mproch.blogspot.com/', target="_blank")  Maciek Próchniak
                            | , Jakub Krzemień i
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                        p 11.01.2011
                            a(href='#/meeting/75')  Activiti – BPMN 2.0 nadchodzi
                            |  -
                            a(href='http://mproch.blogspot.com/', target="_blank") Maciek Próchniak
                        p 21.12.2010
                            a(href='#/meeting/74')  Jak Clojure koloruje mapy
                            |  -
                            a(href='http://plblog.danieljanus.pl/', target="_blank")  Daniel Janus
                        p 07.12.2010
                            a(href='#/meeting/73')  O obiektach aktywnych, obcym wołaniu metod takich obiektów i problemie otwartym?
                            |  - Andrzej Salwicki
                        p 23.11.2010
                            a(href='#/meeting/72')  Clojure praktyczniej: REPL, Eclipse CCW, Eclipse Mylyn, monady i defrecord
                            |  -
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                        p 09.11.2010
                            a(href='#/meeting/71')  Sztuczki w językach programowania
                            |  - Cezary Bartoszuk
                        p 23.10.2010
                            a(href='https://github.com/warszawajug/warsjawa2010/wiki/Konferencja-Warsjawa-2010', target='_blank')  Warsjawa 2010
                        p 19.10.2010
                            a(href='#/meeting/70')  Wstęp do programowania funkcyjnego z Clojure
                            |  -
                            a(href='http://jaceklaskowski.pl/', target="_blank")  Jacek Laskowski
                        p 15.06.2010
                            a(href='#/meeting/69')  Spring Dynamic Modules, Blueprint, OSGi - deklaratywne
                            |  -
                            a(href='http://blog.dywicki.pl/', target="_blank")  Łukasz Dywicki
                        p 01.06.2010
                            a(href='#/meeting/68')  Ruch Software Craftsmanship i co z tego wynika dla zwykłego programisty
                            |  -
                            a(href='http://solidcraft.eu', target="_blank")  Jakub Nabrdalik
                        p 18.05.2010
                            a(href='#/meeting/67')  Multimedia Home Platform, czyli Java na małym ekranie
                            |  - Damian Szczepanik
                        p 20.04.2010
                            a(href='#/meeting/66')  Vaadin, czyli po co nam kolejny framework webowy?
                            |  -
                            a(href='http://koziolekweb.pl/', target="_blank")  Bartek "koziołek" Kuczyński
                        p 06.04.2010
                            a(href='#/meeting/65')  Consumer-Driven Contracts i rozproszone serwisy w praktyce
                            |  - Adam Lider
                        p 23.03.2010
                            a(href='#/meeting/64')  Wtyczka IBM Rational Team Concert dla NetBeans IDE, czyli ciekawy projekt integracyjny narzędzia komercyjnego z otwartym
                            |  - Adam Kędziora
                        p 09.03.2010
                            a(href='#/meeting/63')  JGAP, czyli gen javy w każdym z nas
                            |  -
                            a(href='http://www.szczukocki.pl/', target='_blank')  Jacek Szczukocki
                        p 23.02.2010
                            a(href='#/meeting/62')  Mule ESB vs. Apache ServiceMix
                            |  -
                            a(href='http://nurkiewicz.blogspot.com/', target="_blank")  Tomasz Nurkiewicz
                            | ,
                            a(href='http://blog.dywicki.pl/', target="_blank")  Łukasz Dywicki
                        p 09.02.2010
                            a(href="#/meeting/61")  PlayFramework - produktywność szkieletów webowych a'la Django, RoR, Grails
                            |  -
                            a(href='http://blog.erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                            |  |
                            a(href="#/meeting/61")  Google AppEngine - chmura na Ja(v)wie
                            |  -
                            a(href='http://www.lenart.org.pl/', target='_blank')  Łukasz Lenart
                        p 26.01.2010
                            a(href='#/meeting/60')  Hmm Java jawą, a co z iPhone?
                            |  -
                            a(href='http://pietrowski.info/', target="_blank")  Sebastian Pietrowski (aka Pedro)
                            | , Michał Karwański (aka Karwer)
                        p 12.01.2010
                            a(href='#/meeting/59')  JavaFX bez ściemy
                            |  -
                            a(href='http://poligloci.blogspot.com/', target='_blank')  Michał Margiel
                        p 15.12.2009
                            a(href='#/meeting/58')  Performance Tuning with Cheap Drink and Poor Tools
                            |  -
                            a(href='http://www.kodewerk.com/', target='_blank')  Kirk Pepperdine
                        p 08.12.2009
                            a(href='#/meeting/57')  Własny mały guglik, czyli jak szybko i prosto wbudować silnik wyszukiwania w swoją aplikację z pomocą projektu Compass
                            |  -
                            a(href='http://solidsoft.wordpress.com', target='_blank')  Marcin Zajączkowski
                        p 24.11.2009
                            a(href='#/meeting/56')  Jesienny Eclipse DemoCamp 2009
                            |  - Michał Margiel, Łukasz Lenart, Jacek Laskowski, Sebastian Pietrowski, Tomasz Bujok
                        p 10.11.2009
                            a(href='#/meeting/55')  Zastosowanie BPEL'a w praktyce przy użyciu Apache ODE, Apache ServiceMix i SoapUI
                            |  - Rafał Rusin,
                            a(href='http://mproch.blogspot.com/', target='_blank')  Maciej Próchniak
                        p 27.10.2009
                            a(href='#/meeting/54')  Wyślij siebie na urlop, czyli o skutecznym zarządzaniu zespołem programistów
                            |  - Agnieszka Orlewicz
                        p 13.10.2009
                            a(href='#/meeting/53')  Java w długopisie, zaskakująco użyteczne połączenie
                            |  -
                            a(href='http://poligloci.blogspot.com/', target='_blank')  Michał Margiel
                        p 29.09.2009
                            a(href='#/meeting/52')  Kickstart w tworzeniu aplikacji webowej z AppFuse i pomocnikami
                            |  -
                            a(href='http://blog.erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                        p 15.09.2009
                            a(href='#/meeting/51')  Ognisty Serwer, smaczny Klient. Openfire i Smack - tworzenie wtyczek i rozszerzeń serwera/klienta Jabbera
                            |  - Bartek Zdanowski (Zdanek)
                        p 23.06.2009
                            a(href='#/meeting/50')  Spring Roo
                            |  - Andrzej Wisłowski
                        p 09.09.2009
                            a(href='#/meeting/49')  Praktyki Zwinnego Programisty
                            |  -
                            a(href='http://www.pawellipinski.com/', target='_blank')  Paweł Lipiński
                        p 26.05.2009
                            a(href='#/meeting/48')  DWR wprowadzenie
                            |  - Filip Matuszewski
                        p 12.05.2009
                            a(href='#/meeting/47')  Java dla pokolenia YouTube
                            |  -
                            a(href='http://www.jakubiak.eu', target='_blank')  Antoni Jakubiak
                        p 27.04.2009
                            a(href='#/meeting/46')  Extending Java and developing DSLs with JetBrains MPS open source language workbench
                            |  -
                            a(href='http://solomatov.wordpress.com/', target='_blank')  Konstantin Solomatov
                        p 14.04.2009
                            a(href='#/meeting/45')  JavaFX - Imperium kontratakuje
                            |  -
                            a(href='http://koziolekweb.pl/', target='_blank')  Bartek "Koziolek" Kuczyński
                        p 31.03.2009
                            a(href='#/meeting/44')  Java dla dużych chłopców, czyli Lego Mindstorms i leJOS
                            |  -
                            a(href='http://blog.kunicki.org/', target='_blank')  Jacek Kunicki
                        p 17.03.2009
                            a(href='#/meeting/43')  Domain-Driven Design
                            |  -
                            a(href='http://www.pawellipinski.com/', target='_blank')  Paweł Lipiński
                        p 03.03.2009
                            a(href='#/meeting/42')  Zwinne i lekkie aplikacje webowe z Grails
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 17.02.2009
                            a(href='#/meeting/41')  Envers
                            |  -
                            a(href='http://www.warski.org/', target='_blank')  Adam Warski
                        p 03.02.2009
                            a(href='#/meeting/40')  Liferay / WebSynergy - portal (miś) na miarę naszych możliwości
                            |  - Piotr Pietrzak
                        p 20.01.2009
                            a(href='#/meeting/39')  Coś między ORM a JDBC, czyli iBATIS Data Mapper
                            |  -
                            a(href='http://www.mariuszlipinski.pl/', target='_blank')  Mariusz Lipiński
                        p 06.01.2009
                            a(href='#/meeting/38')  Spring Batch
                            |  -
                            a(href='http://www.goldenline.pl/jacek-lis', target='_blank')  Jacek Lis
                        p 02.12.2008
                            a(href='#/meeting/37')  Java Native Interface, czyli dlaczego Java jest zależna od platformy
                            |  - Damian Szczepanik
                        p 28.10.2008
                            a(href='#/meeting/36')  JBoss Enterprise Service Bus - Connecting Systems
                            |  -
                            a(href='http://www.linkedin.com/in/jaroslawkijanowski', target='_blank')  Jarosław Kijanowski
                        p 14.10.2008
                            a(href='#/meeting/35')  Wstęp do Drools/JBoss Rules
                            |  - Bartek Jabłoński
                        p 30.09.2008
                            a(href='#/meeting/34')  Podstawy języków formalnych, ANTLR i ANTLRWorks
                            |  -
                            a(href='http://szimano.org/', target='_blank')  Tomek Szymański (aka szimano)
                        p 16.09.2008
                            a(href='#/meeting/33')  LDAP - czyli kiedy relacyjna baza danych nie jest najlepszym rozwiązaniem
                            |  -
                            a(href='http://bdawidowicz.blogspot.com', target='_blank')  Bolesław Dawidowicz
                        p 17.06.2008
                            a(href='#/meeting/32')  30 minut z...Eclipse RCP, BugDay - "poprawianie" Eclipse oraz Apache Geronimo - serwer Java EE 5 i projekt ASF
                            |  - Michał (migi) Grzejszczak,
                            a(href='http://www.jaceklaskowski.pl', target='_blank')  Jacek Laskowski
                            | ,
                            a(href='http://www.lenart.org.pl', target='_blank')  Łukasz Lenart
                        p 13.05.2008
                            a(href='#/meeting/31')  Apache Wicket w przykładach
                            |  -
                            a(href='http://www.jaceklaskowski.pl', target='_blank')  Jacek Laskowski
                        p 29.04.2008
                            a(href='#/meeting/30')  Apache Struts2
                            |  -
                            a(href='http://www.lenart.org.pl', target='_blank')  Łukasz Lenart
                        p 15.04.2008
                            a(href='#/meeting/29')  Zastrzyk z soku, czyli Google Guice
                            |  - Tomasz Szymański (szimano)
                        p 01.04.2008
                            a(href='#/meeting/28')  Java w zastosowaniach bazodanowych
                            |  - Piotr Pietrzak
                        p 18.03.2008
                            a(href='#/meeting/27')  Programowanie Java Portlets (JSR 168/286/301)
                            |  -
                            a(href='http://bdawidowicz.blogspot.com', target='_blank')  Bolesław Dawidowicz
                        p 04.03.2008
                            a(href='#/meeting/26')  Automatyzacja testów webowych
                            |  - Tomek Kaczanowski
                        p 27.02.2008
                            a(href='#/meeting/25')  Intellij IDEA and TeamCity - productivity and innovation today
                            |  - Vaclav Pech (JetBrains)
                        p 19.02.2008
                            a(href='#/meeting/24')  Technologia Portali Java na przykładzie JBoss Portal
                            |  -
                            a(href='http://bdawidowicz.blogspot.com', target='_blank')  Bolesław Dawidowicz
                        p 05.02.2008
                            a(href='#/meeting/23')  Przetwarzanie zdarzeniowe (a także o Spring, Spring-DM, OSGi i aplikacjach real-time w Java)
                            |  - Waldemar Kot (Waldi)
                        p 22.01.2008
                            a(href='#/meeting/22')  JavaFX
                            |  - Bartek "koziołek" Kuczyński /
                            a(href='http://www.holewa.org', target='_blank')  Radosław Holewa
                        p 08.01.2008
                            a(href='#/meeting/21')  Okiełznąć Mavena 2
                            |  - Piotr Tabor
                        p 18.12.2007
                            a(href='#/meeting/20')  EJB 3.0 z JPA 1.0 w POPie (Pytania i Odpowiedzi z Przykładami) 2.0
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 04.12.2007
                            a(href='#/meeting/19')  EJB 3.0 z JPA 1.0 w POPie (Pytania i Odpowiedzi z Przykładami)
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 30.10.2007
                            a(href='#/meeting/18')  JSF - Pytania i Odpowiedzi przez Przykłady
                            |  -
                            a(href='http://blog.mocna-kawa.com', target='_blank')  Wiktor Gworek
                            | ,
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 16.10.2007
                            a(href='#/meeting/17')  Jak to zrobić w Seamie?
                            |  - Paweł Wrzeszcz
                        p 02.10.2007
                            a(href='#/meeting/16')  Integracja JSF + Facelets + Spring + JPA + Tomahawk
                            |  -
                            a(href='http://blog.mocna-kawa.com', target='_blank')  Wiktor Gworek
                        p 18.09.2007
                            a(href='#/meeting/15')  Wykorzystanie siły Aspect-Oriented Programming (AOP) w projektach komercyjnych
                            |  - Bartosz Szkudlarek
                        p 31.07.2007
                            a(href='#/meeting/14')  Testy jednostkowe - techniki i wyzwania
                            |  - Tomasz Kaczanowski
                        p 17.07.2007
                            a(href='#/meeting/13')  Java Persistence 1.0 (JPA) i środowisko do praktycznego poznawania specyfikacji
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 03.07.2007
                            a(href='#/meeting/12')  Open Terracotta - klastrowanie dla Javy
                            |  - Michał Grzejszczak
                        p 05.06.2007
                            a(href='#/meeting/11')  Tworzenie aplikacji graficznych z SWT i JFace
                            |  -
                            a(href='http://blog.dywicki.pl/', target='_blank')  Łukasz Dywicki
                        p 22.05.2007
                            a(href='#/meeting/10')  Języki skryptowe w Javie 1.6 (JSR 223) w praktyce
                            |  - Jakub Kaniewski
                        p 08.05.2007
                            a(href='#/meeting/9')  JBoss Ajax4jsf czyli zAJAXuj swoją aplikację
                            |  - Tomasz Szymański
                        p 03.04.2007
                            a(href='#/meeting/8')  Dlaczego warto (po)znać Apache Cocoon 2.2
                            |  - Grzegorz Kossakowski
                        p 20.03.2007
                            a(href='#/meeting/7')  Miesięczna ewaluacja Google Web Toolkit (GWT) - i co, fajne?
                            |  -
                            a(href='http://www.margiel.com/', target='_blank')  Michał Margiel
                        p 06.03.2007
                            a(href='#/meeting/6')  Rich Internet Applications (RIA) na przykładzie technologii Adobe Flex z Java EE w tle
                            |  - Bartek Soin
                        p 20.02.2007
                            a(href='#/meeting/5')  Wprowadzenie do JBoss Seam
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 06.02.2007
                            a(href='#/meeting/4')  Ruby on Rails - (godzinna) demonstracja możliwości
                            |  - Sebastian Pietrowski
                        p 09.01.2007
                            a(href='#/meeting/3')  Co nowego i dobrego w Enterprise JavaBeans 3.0
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 05.12.2006
                            a(href='#/meeting/2')  Tworzenie aplikacji Java EE 5 z wykorzystaniem Apache Maven 2
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                        p 07.11.2006
                            a(href='#/meeting/1')  Apache Geronimo
                            |  -
                            a(href='http://www.jaceklaskowski.pl/', target='_blank')  Jacek Laskowski

    #liders.section.liders_background(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span12
                        h1 liderzy
                        p Jak we wszystkich dobrych projektach Open Source, w organizację eventów grupy zaangażowane jest sporo osób. Poniżej lista z namiarami i zakresami odpowiedzialności

                .row
                    .span4
                        h3
                            a(href='/#/meetings', title='Spotkania cykliczne WJUG') spotkania cykliczne
                        p kontakt:
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  wjug-regular-meetings@googlegroups.com
                        p Odpowiadają za organizację cyklicznych spotkań WJUG, agendę spotkań, prelegentów, sponsorów i masę innych rzeczy
                        p Agnieszka Skiba
                        p 
                            a(href='http://bandrzejczak.com', target='_blank') Bartek Andrzejczak
                        p Damian Leszczyński
                        p Justyna Betkier (Sadło)
                        p
                            a(href='http://tomaszdziurko.pl', target='_blank') Tomasz Dziurko
                    .span4
                        h3 kapituła
                            a(href='http://confitura.pl', title='Confitura', target='_blank')  Confitury
                        p kontakt:
                            a(href='mailto:confitura@confitura.pl')  confitura@confitura.pl
                        p Odpowiada za organizację największej, bezpłatnej konferencji w Polsce, sponsorów, prelegentów, i masę innych rzeczy
                        p
                            a(href='http://bartekzdanowski.blogspot.com/', target='_blank') Bartek Zdanowski
                        p
                            a(href='http://www.kubrynski.com/', target='_blank') Jakub Kubryński
                        p
                            a(href='https://pl.linkedin.com/in/krzysiekkoziol', target='_blank') Krzysztof Kozioł
                        p
                            a(href='http://www.lenart.org.pl/', target='_blank') Łukasz Lenart
                        p
                            a(href='http://poligloci.blogspot.com/', target='_blank') Michał Margiel
                        p Basia Śliwińska
                        p Aleksandra Strzałkowska

                    .span4
                        h3
                            a(href='http://jinkubator.pl', title='Jinkubator', target='_blank') Jinkubator
                        p kontakt:
                            a(href='mailto:jinkubator-admin@googlegroups.com')  jinkubator-admin@googlegroups.com
                        p Odpowiadają za spotkania Jinkubator, ich program, zapraszanie/akceptowanie prelegentów, obsługę/szukanie sponsorów
                        p
                            a(href='https://twitter.com/apierzch', target='_blank') Adam Pierzchała
                        p
                            a(href='https://twitter.com/alien11689', target='_blank') Dominik Przybysz
                        p Justyna Sadło
                .row
                    .span4
                        h3
                            a(href='http://wjbug.pl/', target='_blank') Warsaw JBoss User Group
                        p Odpowiadają za organizację prezentacji i warsztatów dotyczących technologii oraz produktów marki JBoss / Red Hat
                        p
                            a(href='https://twitter.com/andiPansa', target='_blank') Andrzej Goławski
                        p
                            a(href='http://bdawidowicz.blogspot.com/', target='_blank') Bolesław Dawidowicz
                        p
                            a(href='https://twitter.com/KrzysztofMiksa', target='_blank') Krzysztof Miksa
                        p Marek Kapowicki
                        p
                            a(href='http://www.harasymczuk.pl/', target='_blank') Matt Harasymczuk
                    .span4
                        h3
                            a(href='http://www.meetup.com/Warsaw-Spring-Labs', title='Spring Labs', target='_blank') Spring Labs
                        p kontakt:
                            a(href='http://www.meetup.com/Warsaw-Spring-Labs', target='_blank')  meetup Spring Labs
                        p Odpowiadają za organizację warsztatów ze Springa
                        p Adam Chudzik
                        p
                            a(href='https://twitter.com/dkaczynski', target='_blank') Dariusz Kaczyński
                        p
                            a(href='https://twitter.com/mihn', target='_blank') Michał Niczyporuk

                    .span4
                        h3
                            a(href='http://koduj.com/', title='Koduj.com', target='_blank') Koduj.com (dawniej Devoxx4Kids)
                        p Odpowiadają za organizację warsztatów programistycznych dla dzieci
                        p Damian Leszczyński
                        p
                            a(href='https://twitter.com/mkiedys', target='_blank') Michał Kiędyś
                .row
                    .span4
                        h3
                            a(href='http://www.meetup.com/Warsaw-Groovy-User-Group/', target='_blank') Warsaw Groovy User Group
                        p Odpowiadają za organizację prezentacji i warsztatów dotyczących technologii związanych z językiem Groovy
                        p
                            a(href='http://solidcraft.eu', target='_blank') Jakub Nabrdalik
                        p
                            a(href='http://www.marcin.grzejszczak.pl/', target='_blank') Marcin Grzejszczak
                        p
                            a(href='http://szimano.org/', target='_blank') Tomasz Szymański
                    .span4
                        h3 mentoring
                        p Odpowiada za mentoring nowych prelegentów
                        p
                            a(href='https://twitter.com/andiPansa', target='_blank') Andrzej Goławski
                        p
                            a(href='http://www.harasymczuk.pl/', target='_blank') Matt Harasymczuk

                    .span4
                        h3 media społecznościowe i ankiety
                        p Odpowiada za rozgłaszanie wydarzeń organizowanych przez inicjatywy WJUG w mediach społecznościowych
                        p Agnieszka Skiba
                .row
                    .span4
                        h3 transparencja
                        p Odpowiada za komunikację między liderami WJUGa a społeczością oraz informowanie o działaniach grupy
                        p
                            a(href='https://twitter.com/marcinjasion', target='_blank') Marcin Jasion
                    .span4
                        h3 sponsoring/partnerzy
                        p Odpowiadają za kontakt z firmami i instytucjami zainteresowanymi wsparciem oraz współpracą z naszym JUG-iem
                        p
                            a(href='https://twitter.com/_siejkowski', target='_blank') Krzysztof Siejkowski
                        p
                            a(href='http://blog.piotrturski.net/', target='_blank') Piotr Turski

                    .span4
                        h3 sale
                        p Odpowiada za rezerwację sal i przygotowanie sprzętu do prezentacji
                        p
                            a(href='https://twitter.com/_siejkowski', target='_blank') Krzysztof Siejkowski
                .row
                    .span4
                        h3 zasłużeni dla WJUG
                        p Chcąc upamiętnić osoby, które włożyły masę pracy i pozytywnych wibracji w rozwój grupy, grupa odznaczyła następujące osoby tytułem
                            b  honorowego lidera
                        p
                            a(href='http://pawel.wrzesz.cz/', target='_blank') Paweł Wrzeszcz
                        p
                            a(href='http://szimano.org/', target='_blank') Tomasz Szymański
                        p
                            a(href='http://jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p
                            a(href='http://www.lenart.org.pl/', target='_blank') Łukasz Lenart
                        p
                            a(href='http://erbetowski.pl/', target='_blank') Wojtek Erbetowski

    #cooperation.section.simple_background(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 Współpraca z firmami
                        p Prowadząc wiele inicjatyw związanych z organizacją konferencji (
                            a(href='http://confitura.pl', title='Confitura', target='_blank') Confitura
                            | ), cyklicznych spotkań dla programistów (
                            a(href='/#/meetings', title='Spotkania cykliczne WJUG') spotkania WJUG
                            | ,
                            a(href='http://jinkubator.pl', title='Jinkubator', target='_blank')  Jinkubator
                            | , Scalania,
                            a(href='http://www.meetup.com/Warsaw-Spring-Labs', title='Spring Labs', target='_blank')  Spring Labs
                            | ) oraz warsztatów i projektów tematycznych (
                            a(href='http://devoxx4kids.pl/', title='Devoxx4Kids', target='_blank') Devoxx4Kids
                            |  oferujemy firmom zainteresowanym współpracą z WJUG szereg możliwości.
                    .span6
                        h1 sponsorowanie spotkania
                        p Najprostszą formą współpracy jest sponsorowanie jednego ze spotkań. Wystarczy skontaktować się z
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  wjug-regular-meetings@googlegroups.com
                            | , by uzyskać szczegółowe informacje.
                        p Sponsoring może przybierać rożne formy. Najmniej wymagającą jest wpłata określonej kwoty (wystawiamy fakturę VAT), ale gorąco zachęcamy do fundowania biletów na konferencję (np. do rozlosowania pośród uczestników czy w ramach konkursu), materiałów do nauki (książek, kursów, szkoleń) oraz przydatnych narzędzi (np. licencji na środowiska deweloperskie).
                        p W zamian udostępniamy dla sponsora rozpoczęcie spotkania, umożliwiamy rozstawienie materiałów promocyjnych, zamieszczamy informację o współpracy i logo sponsora na stronie spotkania oraz rozgłaszamy je we wszystkich kanałach społecznościowych. Istnieje również możliwość rozdania ulotek firmowych sponsora.
                        p Na prezentację podczas otwarcia spotkania przeznaczamy 10 minut. Sądzimy, że krótkie wprowadzenie o obszarach działalności firmy i jej oczekiwaniach rynkowych oraz ofert pracy znacząco zwiększa możliwości pozyskania wartościowych pracowników z szeregów naszej grupy i później, po opublikowaniu nagrania ze spotkania.
                        p Zwracamy uwagę na tzw. "gęstość informacji". Z przyjemnością poświęcimy kilkanaście minut, żeby dowiedzieć się, czy w danej firmie warto pracować. Ważne są technologie, tematy projektów, stawki, nadgodziny, czy w okolicy jest dobre jedzenie, czy w godzinach pracy mogę pójść do lekarza lub odebrać dziecko z przedszkola, narzędzia i metodologia pracy, czy mogę pracować z domu, ścieżka kariery, i tym podobne.
                        p Zachęcamy do delegowania na nasze spotkania osób technicznych.
                    .span6
                        h1 sponsorowanie konferencji
                        p Kolejną formą współpracy jest sponsorowanie konferencji
                            a(href='http://confitura.pl', title='Confitura', target='_blank')  Confitura
                            | , która odbywa się zwyczajowo w lipcu.
                            |  Szczegółowe warunki współpracy można ustalić poprzez skontaktowanie się z kapitułą Confitury:
                            a(href='mailto:confitura@confitura.pl')  confitura@confitura.pl
                            | .
                        h1 oferty-pracy-java
                        p Jeszcze inną formą dotarcia do członków grupy jest ogłoszenie na ogólnopolskiej liście
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/oferty-pracy-java', title='oferty-pracy-java', target='_blank')  oferty-pracy-java
                            | . Szczegóły współpracy w tym zakresie można uzyskać po kontakcie mailowym z
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  wjug-regular-meetings@googlegroups.com
                            | .
                        p Każdy mail z ofertą pracy powinien zawierać w tytule [OFERTA] z podaniem nazwy stanowiska, miastem oraz widełkami płacowymi - przykładowe oferty można podejrzeć w archiwum
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/oferty-pracy-java', title='oferty-pracy-java', target='_blank')  oferty-pracy-java
                            |. Wiadomość podlega moderacji.
                        p Wszelkie odstępstwa od tej reguły wiążą się z usunięciem nadawcy z grupy.

    #partners.section.partners_background(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span6
                        h1 sale na spotkania sponsorują
                        p
                            a(href='http://www.mimuw.edu.pl/', target='_blank'): img(src='img/partners/mimuw-logo.png', width=200)
                            a(href='http://kni.mini.pw.edu.pl/', target='_blank'): img(src='img/partners/kni.png', width=200)
                    .span6
                        h1 książki losowane na spotkaniach sponsoruje
                        p
                            a(href='https://touk.pl/', target='_blank'): img(src='img/sponsors/touk_small.png')
                .row
                    .span12
                        h1 licencje sponsorują
                    .span2
                        p
                            a(href='http://zeroturnaround.com/software/jrebel/', target='_blank'): img(src='img/partners/JRebel_logo.png', width=200)
                    .span2
                        p
                            a(href='http://www.jetbrains.com/idea', target='_blank'): img(src='img/partners/jetbrains.gif', width=200)
                    .span2
                        p
                            a(href='http://www.ej-technologies.com/products/jprofiler/overview.html', target='_blank'): img(src='img/partners/jprofiler.png', width=200)
                    .span2
                        p
                            a(href='http://www.retrospective.centeractive.com/?wjug', target='_blank'): img(src='img/partners/retrospective.png', width=200)
                    .span2
                        p
                            a(href='http://www.jarchitect.com/', target='_blank'): img(src='img/partners/codergears.png', width=200)
                .row
                    .span12
                        h1 książki do biblioteki sponsorują
                    .span2
                        p
                            a(href='http://www.manning.com/', target='_blank'): img(src='img/partners/manning.jpg', width=200)
                    .span2
                        p
                            a(href='http://www.informit.com', target='_blank'): img(src='img/partners/pearson.jpg', width=200)
                    .span2
                        p
                            a(href='http://www.packtpub.com/index', target='_blank'): img(src='img/partners/packt_logo.png', width=200)
                    .span2
                        p
                            a(href='http://apress.com', target='_blank'): img(src='img/partners/apress-logo.png', width=200)
                    .span3
                        p
                            a(href='http://www.oreilly.com', target='_blank'): img(src='img/partners/oreilly.png', width=200)
                .row
                    .span6
                        h1 oferty pracy dostarcza
                        p
                            a(href='https://nofluffjobs.com', target='_blank', title='nofluffjobs - oferty pracy dla specjalistow IT'): img(src='img/partners/no_fluff_jobs_com_logo.jpg', width=200, alt='nofluffjobs - oferty praca dla informatykow') 
