div(ng-controller="PageCtrl")
    #about.section.background1(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span4
                        h1 spotkania
                        p Grupa spotyka się cyklicznie (zwykle co dwa tygodnie) we wtorki,
                            b  w sali 5440 budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:00-20:15
                            | . Prowadzimy tam wykłady, warsztaty i rozmawiamy o najciekawszych technologiach
                    .span4
                        h1 on-line
                        p Dyskutujemy na
                            a(href='mailto:warszawa-jug@googlegroups.com')  grupie dyskusyjnej
                            |  którą możesz także śledzić przez
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/warszawa-jug', title='web')  weba
                            p Nasze spotkania są często nagrywane i udostępniamy je na naszym kanale
                                a(href='http://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw', title='Youtube WJUGa')  Youtube
                    .span4
                        h1 konferencje
                        p Organizujemy dwie, cykliczne, duże konferencje w Warszawie:
                            a(href='http://confitura.pl', title='confitura')  Confitura
                            |  oraz
                            a(href='http://warsjawa.pl', title='warsjawa')  Warsjawa
                            | , spotykamy się na hackathonach i warsztatach, recenzujemy książki w interesującej nas tematyce
                .row
                    .span6
                        h1 kim jesteśmy
                        p Warszawa JUG (albo po prostu WJUG) jest grupą pasjonatów technologii Java. Nasza fascynacja przekłada się na chęć poznawania technologii, frameworków, i metod tworzenia aplikacji na platformie JVM, oraz podnoszenia naszego rzemiosła programistycznego. W tym celu organizujemy cykliczne spotkania. Jest nas ponad 700 osób
                        h1 dołącz do nas
                        p Po prosu przyjdź na spotkanie i/lub dopisz się do grupy dyskusyjnej. Grupa jest otwarta i wita zarówno początkujących jak i wymiataczy
                        p Jeśli chcesz poprowadzić wykład, napisz na
                            a(href='mailto:warszawa-jug@googlegroups.com')  grupę
                            |  lub do
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  organizatorów
                            | . To nic trudnego! Z przyjemnością pomagamy początkującym prelegentom
                    .span6
                        h1 najbliższe spotkanie
                        h3
                            a(href="#/meeting/118")  Java Memory Model
                        p Termin: 18.06.2013 godz. 18:00; Prelegent: Michał Warecki
                        p Java Memory Model (JMM) opisuje jak wątki współdziałają ze sobą poprzez pamięć. Czy wiesz, że instrukcje Twojego kodu mogą się wykonać w innej kolejności niż je napisałeś? Czy wiesz, że kilka wątków może widzieć zupełnie inną wartość tej samej zmiennej? Czy wiesz, że możesz mieć na to wpływ?
                        p Głównymi pojęciami wchodzącymi w skład JMM są: zmiana kolejności instrukcji, niepodzielność (atomowość) oraz widzialność. Aby pokazać jak to wszystko działa, sięgnę aż do instrukcji maszynowych generowanych przez HotSpot JVM.
                        p: a(href="#/meeting/118")  więcej...

    #meetings.section.background2(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 spotkania
                        p Aby być na bieżąco, zasubskrybuj nasz
                            a(href='http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com')  kalendarz
                        h3 Przed nami:
                        p 18.06.2013
                            a(href="#/meeting/118")  Java Memory Model
                            |  - Michał Warecki
                        p 06.07.2013
                            a(href='http://2013.confitura.pl/', target='_blank')  Confitura 2013
                        p Sezon 2013/14
                            b  Serwer w Javie   
                            |  - Adam Lider
                        p 12.10.2013
                            a(href='http://warsjawa.pl/', target='_blank')  Warsjawa 2013
                .row
                    .span12
                        h3 Za nami:
                        p 04.06.2013
                            a(href="#/meeting/117")  Type Driven Development
                            |  -
                            a(href='http://mproch.blogspot.com/', target='_blank')  Maciej Próchniak
                        p 25.05.2013
                            a(href="#/meeting/116")  Test kata
                        p 21.05.2013
                            a(href="#/meeting/115")  Moje pierwsze kroki w programowaniu funkcyjnym w Scali
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                            |  | sponsor:
                            a(href='http://www.decerto.pl/', target='_blank')  Decerto
                        p 07.05.2013
                            a(href="#/meeting/114")  Redis, Riak, MongoDB - 3 smaki NoSQL
                            |  -
                            a(href='http://blog.solidcraft.eu', target='_blank')  Jakub Nabrdalik
                            | ,
                            a(href='http://softwaremathmodel.blogspot.com/', target='_blank')  Paweł Cesar Sanjuan Szklarz
                            |, Paweł Sidoryk | sponsor:
                            a(href='http://pl.adpilot.com/', target='_blank')  AdPilot
                        p 23.04.2013
                            a(href="#/meeting/113")  HotSpot w low latency Java
                            |  - Wojciech Kudła | sponsor:
                            a(href='http://appone.pl/', target='_blank')  AppOne
                        p 09.04.2013
                            a(href="#/meeting/112")  Sześć smaków testowania - flashtalks
                            |  | sponsor:
                            a(href='http://www.decerto.pl/', target='_blank')  Decerto
                        p 26.03.2013
                            a(href="#/meeting/111")  Arquillian - Twój własny kombajn testowy
                            |  -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            |  | sponsor:
                            a(href='http://kariera.allegro.pl/', target='_blank')  Grupa Allegro
                        p 12.03.2013
                            a(href="#/meeting/110")  Usability
                            |  - Mateusz Kaczmarek
                        p 26.02.2013 Rozmowy kwalifikacyjne -
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                            | ,
                            a(href='http://blog.solidcraft.eu', target='_blank')  Jakub Nabrdalik
                            | ,
                            a(href='http://szimano.org/', target='_blank')  Tomasz Szymański
                        p 05.02.2013
                            a(href="#/meeting/108")  Praktyczne wprowadzenie do OSGi i Enterprise OSGi
                            |  -
                            a(href='http://jaceklaskowski.pl/', target='_blank')  Jacek Laskowski
                            |  | sponsor:
                            a(href='http://www.atm-si.com.pl/', target='_blank')  ATM Systemy Informatyczne S.A.
                        p 22.01.2013
                            a(href="#/meeting/107")  Byteman - "fault injection" w praktyce
                            |  - Paweł Sidoryk | sponsor:
                            a(href='http://econsulting.pl/', target='_blank')  eConsulting
                        p 08.01.2013
                            a(href="#/meeting/106")  Metaprogramowanie w Javie
                            |  - Maciej Jankowski,
                            a(href='http://blog.erbetowski.pl/', target='_blank')  Wojtek Erbetowski
                            |  | sponsor:
                            a(href='http://polidea.pl/', target='_blank')  Polidea
                        p 18.12.2012 Przyszłość Warszawa JUG - wszyscy zainteresowani
                        p 11.12.2012 Apache Cassandra w praktyce Tomek Kuprowski | sponsor: FoxCode | kod tu i tu | nagranie - cz.1 | nagranie - cz.2 | slajdy
                        p 27.11.2012 Apache Cassandra: scalability, performance and fault tolerance in distributed databases Kamil Szymański | slajdy | video
                        p 13.11.2012 Microbenchmarki z zastosowaniem Calipera Kuba Kubryński | zapowiedź | video | slajdy | kod | sponsor: eConsulting
                        p 30.10.2012 jQuery + Twitter Bootstrap Bartek Zdanowski | video
                        p 27.10.2012
                            a(href='https://sites.google.com/site/warszawajug/warsjawa-2012', target='_blank')  Warsjawa 2012
                        p 16.10.2012 Qooxdoo - framework RIA, który warto polubić Tomek Kuprowski zapowiedź slajdy video
                        p 02.10.2012 Zrob to sam: STM w Javie Adam Lider zapowiedź slajdy nagranie kod
                        p 30.06.2012
                            a(href='http://2012.confitura.pl/', target='_blank')  Confitura 2012
                        p 19.06.2012 Java jada RAM. Ile pamięci zjada Java? Michał Kosmulski zapowiedź slajdy (pdf | odp) Sponsor spotkania: NetSprint Nagranie: youtube
                        p 05.06.2012 Implementacja architektury usługowej - od specifikacji do kodu Paweł Cesar Sanjuan Szklarz | sponsor: Outbox Nagranie: youtube Slajdy: github
                        p 22.05.2012 Budowanie aplikacji (Java EE 6) z Clojure Jacek Laskowski
                        p 12.05.2012 Warsztaty z języka Scala Grzegorz Balcerek - zapowiedź
                        p 08.05.2012 Nie utknijcie na Maven2 Wojtek Erbetowski - zapowiedź
                        p 17.04.2012 Inauguracja WHUG: Quick Start with Hadoop, czyli chciałbym, ale się boję Paweł Brach, Adam Kawa i Tomasz Uliński | sponsor: Taptera
                        p 03.04.2012 Guava Vs. LambdaJ - kolekcje na sterydach Krzysztof Nielepkowicz
                        p 27.03.2012 Ameba: mobilny dewelopment na sterydach Jarek Potiuk
                        p 06.03.2012 Funkcyjny Clojure z Javą, Leiningen, Counterclockwise, Midje i Compojure Jacek Laskowski
                        p 21.02.2012 Scala - co w tym fajnego i czy da się łączyć z Javą na co dzień? Maciej Jaśkowski | Krótko i zwięźle o Clojure Jacek Laskowski | sponsor: SMT Software S.A.
                        p 03.01.2012 Koncepcje Guice Bartek Kuczyński oraz Wojtek Erbetowski
                        p 13.12.2011 Koncepcje Spring Framework Jakub Nabrdalik | sponsor: SoftwareMill
                        p 29.11.2011 Zmiany JVM w Java 7 Adam Michalik (30 minut), java.util.concurrent.Phaser praktycznie Jacek Laskowski (30 minut)
                        p 08.11.2011 Eclipse DemoCamp Piotr Chmielewski, Paweł Cesar Sanjuan Szklarz, Jacek Laskowski zapowiedź
                        p 15.10.2011
                            a(href='https://github.com/warszawajug/warsjawa2011/wiki/Konferencja-warsjawa-2011', target='_blank')  Warsjawa 2011
                        p 11.06.2011
                            a(href='http://2011.confitura.pl/', target='_blank')  Confitura 2011
                        p 24.05.2011 Koziołek o Vaadin. Bartek Kuczyński zapowiedź
                        p 19.04.2011 JDK7 - czy na pewno nic nowego? Maciej Próchniak  zapowiedź
                        p 22.03.2011 Torquebox & CDI - czyli jak napisaliśmy JBisona Adam Warski, Tomek Szymański  zapowiedź
                        p 15.03.2011 Google z Facebookiem w Twojej aplikacji webowej, czyli co będę pisał sam integrację: THIS IS JAVA!!!! Spring security dla bardzo NIEzaawansowanych Jakub Nabrdalik - zapowiedź
                        p 22.02.2011 Apache Hadoop i okolice Marcin Cylke - zapowiedź | prezentacja | nagranie - cz.1 | nagranie - cz.2
                        p 25.01.2011 Tworzenie procesów biznesowych z Activiti i IBM WebSphere BPM (WPS/WID/WLE) Maciek Próchniak, Jakub Krzemień i Jacek Laskowski - zapowiedź | nagranie – Jacek z WID7 | nagranie – Kuba z WLE7
                        p 11.01.2011 Activiti – BPMN 2.0 nadchodzi Maciek Próchniak - zapowiedź
                        p 21.12.2010 Jak Clojure koloruje mapy Daniel Janus – zapowiedź | nagranie | nagranie | wpis na blogu | slajdy
                        p 07.12.2010 O obiektach aktywnych, obcym wołaniu metod takich obiektów i problemie otwartym? Andrzej Salwicki - zapowiedź
                        p 23.11.2010 Clojure praktyczniej: REPL, Eclipse CCW, Eclipse Mylyn, monady i defrecord Jacek Laskowski - zapowiedź
                        p 9.11.2010 Sztuczki w językach programowania Cezary Bartoszuk – zapowiedź | nagranie
                        p 23.10.2010
                            a(href='https://github.com/warszawajug/warsjawa2010/wiki/Konferencja-Warsjawa-2010', target='_blank')  Warsjawa 2010
                        p 19.10.2010 Wstęp do programowania funkcyjnego z Clojure Jacek Laskowski - zapowiedź

    #liders.section.background3(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span12
                        h1 liderzy
                        p Jak we wszystkich dobrych projektach Open Source, w organizację eventów grupy zaangażowane jest sporo osób. Poniżej lista z namiarami i zakresami odpowiedzialności

                .row
                    .span4
                        h3 organizatorzy spotkań
                        p kontakt:
                            a(href='mailto:wjug-regular-meetings@googlegroups.com')  wjug-regular-meetings@googlegroups.com
                        p Odpowiadają za cykliczne spotkania grupy, ich program, zapraszanie/akceptowanie prelegentów, obsługę/szukanie sponsorów
                        p Wojtek Erbetowski
                        p Paweł Cesar Sanjuan Szklarz
                        p Jakub Nabrdalik
                        p Michał Lewandowski
                        p Jakub Kubryński
                        p Kamil Szymański
                        p Jacek Laskowski

                    .span4
                        h3 kapituła confitury
                        p kontakt:
                            a(href='mailto:confitura@confitura.pl')  confitura@confitura.pl
                        p Odpowiada za organizację największej, darmowej konferencji w Polsce, sponsorów, prelegentów, i masę innych rzeczy
                        p Michał Margiel
                        p Krzysztof Kozioł
                        p Łukasz Lenart
                        p Bartek Zdanowski
                        p Tomasz Dziurko
                        p Jakub Kubryński
                    .span4
                        h3 kapituła warsjawy
                        p kontakt:
                            a(href='mailto:warsjawa-2013@googlegroups.com')  warsjawa-2013@googlegroups.com
                        p Odpowiada za organizację konferencji w formie warsztatów. Oczywiście w Warszawie, oczywiście za darmo
                        p Bolesław Dawidowicz
                        p Wojciech Erbetowski
                        p Jacek Laskowski
                        p Michał Lewandowski
                        p Kamil Szymański
                        p Marcin Zajączkowski
                .row
                    .span12
                        h3 zasłużeni w stanie spoczynku
                        p Chcąc upamiętnić osoby, które włożyły masę pracy i pozytywnych wibracji w rozwój grupy, grupa odznaczyła następujące osoby tytułem honorowego lidera
                        p Paweł Wrzeszcz
                        p Tomasz Szymański


    #cooperation.section.background4(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 oferty pracy
                        p Istnieje możliwość wysłania oferty pracy na forum grupy Warszawa JUG w zamian za pewne wsparcie naszych aktywności, np. przekazanie książek branżowych, pokrycie kosztów kateringu/pizzy/wyżywienia na spotkaniu grupy, opłacenie kosztów wyjazdu członka grupy na konferencję i inne prospołeczne aktywności.
                        p Każdy mail z ofertą pracy powinien zawierać w tytule [OFERTA] z podaniem nazwy stanowiska, miastem oraz widełkami płacowymi - podobnie jak oferty na grupie
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/oferty-pracy-java', title='oferty-pracy-java')  oferty-pracy-java
                            |. Wiadomość podlega moderacji.
                        p Wszelkie odstępstwa od tej reguły wiążą się z usunięciem nadawcy z grupy.
                        p Prosimy o kontakt z nami wysyłac e-mail na adres 
                            a(href='mailto:wjug-regular-meetings@googlegroups.com', title='wjug-regular-meetings@googlegroups.com') wjug-regular-meetings@googlegroups.com
                            |.

                        h1 sponsorowanie spotkania
                        p Przewidujemy możliwość prezentacji firmy-sponsora zainteresowanego reklamą siebie, np. w celach rekrutacyjnych, przy otwarciu spotkania.  Sądzimy, że krótkie wprowadzenie o obszarach działalności firmy i jej oczekiwaniach rynkowych oraz ofert pracy znacząco zwiększa możliwości pozyskania wartościowych pracowników z szeregów naszej grupy i później, po opublikowaniu nagrania ze spotkania.
                        p Zakładamy czas 10 minut, który w naszej ocenie jest wystarczający, aby przekazać właściwą dawkę wiedzy nt. firmy przy jednoczesnym utrzymaniu zainteresowania słuchaczy (którzy przede wszystkim przychodzą na spotkanie techniczne i mogliby źle wspominać je wyłącznie po przedłużającym się wstępie firmy).
                        p Samo otwarcie spotkania jest częścią "pakietu" sponsorskiego. Udział sponsora jest ponadto nagradzany umieszczeniem jego logo i linka do strony domowej sponsora przy zapowiedzi spotkania, wliczając w to późniejsze archiwum spotkań.
                        p Istnieje również możliwość rozdania ulotek firmowych sponsora podczas spotkania.
                        p Zwracamy uwagę na tzw. "gęstość informacji". Z przyjemnością poświęcimy kilkanaście minut, żeby dowiedzieć się, czy w danej firmie warto pracować. Nie interesują nas roczne obroty firmy, ale czy ta informacja przekłada sie jakkolwiek na warunki pracy? Ważne są stawki, nadgodziny, czy w okolicy jest dobre jedzenie, czy w godzinach pracy mogę pójść do lekarza lub odebrac dziecko z przedszkola, jaki jest "WTF factor", narzędzia i metodologia pracy, czy mogę pracować z domu, ścieżka kariery, itp.
                        p Zachęcamy do delegowania osób technicznych na nasze spotkania z czasem wystąpienia nie przekraczającym 10 minut.

                        h1 grupa oferty-praca-java
                        p Zwracamy uwagę na grupę odbiorców oferty, w której znajdują się wyłącznie osoby z Warszawy i okolic (z pewnymi wyjątkami). Istnieje grupa ogólnopolska, która powstała właśnie, aby uprościć komunikację z osobami zainteresowanymi ofertami pracy wokół Javy w Polsce. Zachęcamy do skorzystania z grupy 
                            a(href='https://groups.google.com/forum/?fromgroups#!forum/oferty-pracy-java', title='oferty-pracy-java')  oferty-pracy-java
                            |, na której można znaleźć wiele osób spoza naszego WJUGa.

    #companies.section.background5(scroll-spy, parallax="0.3", page='1')
        .centered
            .container
                .row
                    .span12
                        h1 najlepsze firmy dla wjugowiczów
                        p Grupa chciałaby podziękować wszystkim sponsorom i wyróżnić firmy, które się szczególnie zasłużyły warszawskiej społeczności Javowej
                        p coming soon...


    #partners.section.background6(scroll-spy, page='1')
        .centered
            .container
                .row
                    .span12
                        h1 Partnerzy grupy
                .row
                    //naukowi
                    .span3
                        p
                            img(src='img/partners/mimuw-logo.png', width=200)
                        p
                            a(href='http://www.geecon.org'): img(src='img/partners/geecon.png', width=200)
                        p
                            a(href='http://33degree.org'): img(src='img/partners/33Degree_logo_duke.jpg', width=200)
                    .span3
                        p
                            a(href='http://reguk.devoxx.com'): img(src='img/partners/DevoxxUK-Banner2.jpg', width=200)
                        p
                            a(href='http://4developers.org.pl'): img(src='img/partners/4dev.png', width=200)
                    //licencje
                    .span3
                        p
                            a(href='http://www.jetbrains.com/idea'): img(src='img/partners/jetbrains.gif', width=200)
                        p
                            a(href='http://www.ej-technologies.com/products/jprofiler/overview.html'): img(src='img/partners/jprofiler.png', width=200)
                        p
                            a(href='http://www.retrospective.centeractive.com/?wjug'): img(src='img/partners/retrospective.png', width=200)
                        p
                            a(href='http://zeroturnaround.com/software/jrebel/'): img(src='img/partners/JRebel_logo.png', width=200)
                    //biblioteka
                    .span3
                        p
                            a(href='http://www.manning.com/'): img(src='img/partners/manning.jpg', width=200)
                        p
                            a(href='http://www.packtpub.com/index'): img(src='img/partners/packt_logo.png', width=200)
                        p
                            a(href='http://apress.com'): img(src='img/partners/apress-logo.png', width=200)
                        p
                            a(href='http://www.informit.com'): img(src='img/partners/pearson.jpg', width=200)
                        p
                            a(href='http://www.oreilly.com'): img(src='img/partners/oraily.gif', width=200)
