div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 101 spotkanie WJUG
                        h2 Budowanie frontendu przy użyciu TwitterBootstrap i jQuery 
                        h3 
                            a(href='http://blog.bartekzdanowski.pl/', target='_blank') Bartek Zdanowski
                        p Termin: 30.10.2012, godz 18:00
                        p Lokalizacja: MiM, sala 5440
                        strong Dyskusja: 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/Yk94k3bfOjQ', target='_blank') dyskusja
                        h3 O wykładzie:
                        p Podczas wykładu zrobię mały wstęp do JavaScriptu (niezbędne minimum), pokaże jak używać 
                            a(href='http://twitter.github.com/bootstrap/', target='_blank') TwitterBootstrap
                            | , aby zbudować layout i jak to ożywić przy użyciu 
                            a(href='http://jquery.com/', target='_blank') jQuery
                            | . W przypadku jQ zobaczymy też jak komunikować się z backendem. Postaramy się razem zbudować długo oczekiwaną aplikację do zarządzania biblioteką WJUG. Pokażę Wam rapid development przy użyciu liveview, czy automatycznego odświeżania przeglądarki w miarę powstawiania layoutu.
                        p Backend zapewni nam 
                            a(href='http://grails.org/', target='_blank') Grails
                            | , którego nie będę pokazywał, chyba, że starczy nam czasu i będą chętni.
                        p Poziom wykładu: początkujący.
                        h3 O prelegencie:
                        p Bartek Zdanowski na co dzień pracuje jako developer w 
                            a(href='http://touk.pl/', target='_blank') TouK
                            | , jest tatą dzieci, mężem żony oraz panem psa. Żonę wspiera w 
                            a(href='http://mlyn.org/', target='_blank') Fundacji Artystycznej Młyn
                            | , która wystawia spektakle dla dorosłych, na które bardzo serdecznie zaprasza ;-) Nie wypada nie mieć bloga, 
                            a(href='http://blog.bartekzdanowski.pl/', target='_blank') więc ma
                            | . Od jakiegoś czasu jest współorganizatorem największej społecznościowej konferencji 
                            a(href='http://confitura.pl/', target='_blank') Confitura
                            | , a ostatnio po godzinach jest 
                            a(href='http://blog.bartekzdanowski.pl/2012/10/wystartowa-touklab.html', target='_blank') szalonym naukowcem
                            | .
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/DPehGsTyI0M" frameborder="0" allowfullscreen></iframe>
