div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 101 spotkanie WJUGa
                        h2 jQuery + Twitter Bootstrap 
                        h3 
                            a(href='http://blog.bartekzdanowski.pl/', target='_blank') Bartek Zdanowski
                        p Termin: 30.10.2012
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/DPehGsTyI0M" frameborder="0" allowfullscreen></iframe>
