div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 103 spotkanie WJUGa
                        h2 Apache Cassandra: scalability, performance and fault tolerance in distributed databases
                        h3 Kamil Szymański 
                        p Termin: 27.11.2012
                        strong Materiały:
                        ul 
                            li 
                                a(href='http://prezi.com/zwel4wrvolss/apache-cassandra/', target='_blank') slajdy
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/oxlyVBthEtk" frameborder="0" allowfullscreen></iframe>
                        
                            