div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 104 spotkanie WJUGa
                        h2 Apache Cassandra w praktyce
                        h3 Tomek Kuprowski
                        p Termin: 11.12.2012
                        p Sponsor: 
                            a(href='http://foxcode.pl/', target='_blank') FoxCode
                        strong Materiały:
                        ul 
                            li 
                                a(href='https://github.com/tomekkup/hector-samples', target='_blank')  kod 1
                            li
                                a(href='https://github.com/tomekkup/sstable-fake-generator', target='_blank') kod 2
                            li
                                a(href='https://docs.google.com/open?id=0B3sikUV-sttFZmktclBqc1hoR1E', target='_blank') slajdy
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/aIHrvDrq1gE" frameborder="0" allowfullscreen></iframe>
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/d5DNLOAwycg" frameborder="0" allowfullscreen></iframe>
                            