div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 107 spotkanie WJUG
                        h2 Byteman - "fault injection" w praktyce
                        h3 Paweł Sidoryk
                        p Termin: 22.01.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://econsulting.pl/', target='_blank')  eConsulting
                        p Zapisy i dyskusja
                        ul
                            li
                                a(href="http://www.meetup.com/Warszawa-JUG/events/99865702/", target='_blank')  Meetup
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/CcUIg7Tqqqs", target='_blank')  grupa
                        p Slajdy
                            a(href='https://docs.google.com/file/d/0B3sikUV-sttFUXJabzZtWUpiSWs/edit', target='_blank')  slajdy
                        h3 O prezentacji:
                        p Byteman jest narzędziem wspierającym programowanie w języku Java. Jego głównym zadaniem jest efektywne testowanie aplikacji, szczególnie testowanie trudnych przypadków (np. testowanie aplikacji wielowątkowych). Najważniejszą funkcją realizowaną przez Byteman-a jest tzw. "fault injection" (wstrzykiwanie błędów). Ważną funkcją realizowaną przez Byteman-a są też automatyczne unit testy realizujące "fault injection". Byteman dodatkowo bardzo dobrze nadaje się do analizy i rozwiązywania problemów z systemami produkcyjnymi stworzonymi z użyciem języka Java. Osobiście używałem tego narzędzia w przypadku bardzo dużych i skomplikowanych systemów produkcyjnych. Najbardziej znanym zastosowaniem Byteman-a jest testowanie aspektów wielowątkowości w serwerze aplikacyjnym JBoss. Uważam że narzędzie to jest bardzo interesujące i bardzo przydatne, nie jest z kolei powszechnie znane.
                        h3 O prelegencie:
                        p Paweł od 15 lat zawodowo zajmuje się rozwojem oprogramowania jako architekt, lider techniczny oraz programista. Lubi łączyć teorię z praktyką. Obecnie interesuje się systemami rozproszonymi (głównie Riak) oraz matematycznym modelowaniem systemów (z użyciem języka Alloy)
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/0PdXp84Bj8k" frameborder="0" allowfullscreen></iframe>
