div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 108 spotkanie WJUGa
                        h2 Praktyczne wprowadzenie do OSGi i Enterprise OSGi
                        h3
                            a(href='http://www.jaceklaskowski.com/', target='_blank') Jacek Laskowski
                        p Termin: 05.02.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Sponsor:
                            a(href='http://www.atm-si.com.pl/', target='_blank')  ATM Systemy Informatyczne S.A.
                        p Zapisy i dyskusja
                            a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/102113802/", target='_blank')  Meetup
                        p Slajdy
                            a(href='https://docs.google.com/file/d/0B_QRfmjVrR9MQkhCaExrM3FUbG8/view', target='_blank')  slajdy
                        h3 O prezentacji:
                        p Praktyczne wprowadzenie do OSGi i Enterprise OSGi Enterprise OSGi zrodziło się, aby połączyć dobrodziejstwa Spring Framework z OSGi na potrzeby użycia w środowisku Java EE. Stąd też znajomość wspomnianej trójcy jest wielce pomocne i sprawia, że brakującym ogniwem w zrozumieniu istoty Enterprise OSGi jest zobaczyć to w działaniu. I to jest rola tej prezentacji - praktycznie o Enterprise OSGi z WebSphere Liberty Profile. Przekonaj się sam(ej) jak (nie)istotna jest ta technologia.
                        h3 O prelegencie:
                        p 
                        | Jacek Laskowski jest pasjonatem nowych technologi na platformie Java. Interesuje się Javą w wydaniu podstawowym (Java SE) i korporacyjnym (Java EE), a od kilku lat zaaferowany programowaniem funkcyjnym z Clojure (oraz F# i Scala w tle). Swoje przemyślenia publikuje na polskojęzycznym blogu 
                        a(href='http://jaceklaskowski.pl', target='_blank') Jacek Laskowski jawnie 
                        | oraz angielskojęzycznym 
                        a(href='http://blog.japila.pl/', target='_blank') Japila :: verba docent, exempla trahunt
                        | . Krótkie myśli znajdziesz na kanale 
                        a(href='http://twitter.com/jaceklaskowski', target='_blank') @jaceklaskowski
                        | , a "po twory" jego umiejętności programistycznych należy zajrzeć na 
                        a(href='https://github.com/jaceklaskowski', target='_blank') https://github.com/jaceklaskowski
                        | . Występuje podczas polskich konferencji, co traktuje jako wyróżnienie i miejsce prezentacji własnych poglądów. Jest założycielem i współprowadzącym grupę Warszawa JUG. Będzie wdzięczny za wszelkie komentarze do jego publicznych aktywności. Dostępny pod adresem jacek@japila.pl.
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/zVcveR_Z8x0" frameborder="0" allowfullscreen></iframe>
                        h3 Relacje:
                        a(href='http://blog.erbetowski.pl/index.php/wrazenia-po-wprowadzeniu-do-osgi-jacka-laskowskiego', target='_blank') Wojtek Erbetowski
