div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 11 spotkanie WJUGa
                        h2 Tworzenie aplikacji graficznych z SWT i JFace
                        h3 
                            a(href='http://blog.dywicki.pl/', target='_blank') Łukasz Dywicki
                        p Termin: 05.06.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/6KgOqUqM9Zk/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | 
                        Tematem prezentacji jest użycie SWT w połączeniu z JFace do tworzenia grubych aplikacji. Prelegent zaprezentuje prostotę budowania graficznego interfejsu użytkownika (GUI) z użyciem SWT i JFace oraz rewolucyjnego zarządcy układu (ang. layout manager) jakim bez wątpienia jest Form Layout wspierany przez JFace Viewers. Nie zabraknie również (bardzo) krótkiego rysu historycznego o SWT i miejsc na porównania z AWT i Swingiem. Ponadto wszyscy będziemy mieli okazję przyjrzeć się wydajności SWT i podyskutować na temat problemów, jakich może nastręczyć budowa aplikacji desktopowych.
                        h3 O prelegencie:
                        p
                        | 
                        Prezentację poprowadzi 
                        a(href='http://blog.dywicki.pl/', target='_blank') Łukasz Dywicki
                        | , student I roku Informatyki na Wyższej Szkole Informatyki Stosowanej i Zarządzania. Łukasz zajmuje się programowaniem od 5 lat. Początkowo były to języki skryptowe, od jakiegoś czasu Java. Łukasz jest pasjonatem SWT i platformy Eclipse, a obecnie stawia pierwsze kroki w świecie JEE i wystąpień publicznych. Pomysł prezentacji dotychczasowej wiedzy o SWT i JFace wydał się równie karkołomny, co niezwykle motywujący do dalszego wgłębiania się w tajniki bibliotek Eclipse dla aplikacji graficznych i stąd decyzja o wystąpieniu na spotkaniu Warszawa JUG.
                        