div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 111 spotkanie WJUGa
                        h2 Arquillian - Twój własny kombajn testowy
                        h3
                            a(href='http://www.kubrynski.com/', target='_blank') Jakub Kubryński
                        p Termin: 26.03.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://kariera.allegro.pl/', target='_blank')  Grupa Allegro
                        p Zapisy i dyskusja
                            a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/110319432/", target='_blank')  Meetup
                        p Slajdy
                            a(href='https://docs.google.com/open?id=0BxxM7ncwM77gRHJFd1o0OEtENmM', target='_blank')  slajdy
                        h3 O prezentacji:
                        p Od dawien dawna programiści szukali skutecznego narzędzia wspierającego testy integracyjne (podobno nawet jeden z królów obiecał śmiałkowi, który podejmie to wyzwanie rente swojej córki). I oto pewnego dnia w zimnym zakątku Europy zwanym Norwegią do życia powołany został projekt Arquillian. Z założenia ma rozwiązywać wszystkie problemy związane z przygotowaniem i uruchamianiem złożonych testów wielowarstwowych. I tak w zasadzie z pudełka otrzymujemy wsparcie poczynając od kompilacji z wykorzystaniem Maven'a lub Gradle'a, poprzez rozszerzenia frameworków testowych takich jak JUnit czy TestNG, wsparcie deploymentu na różne serwery aplikacyjne, dostarczenie i weryfikację odpowiedniego stanu bazy danych aż po testy GUI z wykorzystaniem Selenium. Podczas prezentacji pokażę co wchodzi w skład platformy, jakie funkcjonalności oferuje i w jaki sposób możemy dokonać inwazji w swoim projekcie. Zobaczymy też oczywiście narzędzie w akcji, która miejmy nadzieję zakończy się sukcesem ;)
                        h3 O prelegencie:
                        p Zawodowo związany z PayU z ramienia którego buduję ogniwo rozwojowe w Warszawie (trzecia głowa smoka). Prywatnie czuję się mocno przywiązany do pakietu java.util.concurrent i klasy sun.misc.Unsafe. Poza tym pasjonują mnie lekkie aplikacje, w których stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy :)
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/O_nqFuCl5tY" frameborder="0" allowfullscreen></iframe>
