div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 112 spotkanie WJUGa
                        h2 Sześć smaków testowania - flashtalks
                        p Termin: 09.04.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://decerto.pl/', target='_blank')  Decerto
                        p Zapisy i dyskusja
                        ul
                            li
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/112616202/", target="_blank")  Meetup
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/6cIZZ4M3vTw", target="_blank")  grupa
                        p Relacje: 
                            a(href='http://jlaskowski.blogspot.com/2013/04/wrazenia-z-wjugowych-flashtalks-o.html', target='_blank') Jacek Laskowski
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/_y1LP-mQTKU" frameborder="0" allowfullscreen></iframe>

                .row
                    .span12
                        h3 Temat 1: Czytelne testy dzięki Fest Assert
                        p Jeżeli kiedykolwiek zastanawiałeś się, nad kolejnością parametrów “expected” i “actual” w asercji w testach, powinien[ae]ś spróbować tej biblioteki. Fest Assert spowoduje że twoje testy staną się naprawdę czytelne, a ich pisanie będzie czystą przyjemnością. Postaram się pokazać przykłady dotyczące pierwszej i drugiej wersji tej biblioteki.
                        p Prelegent: Michał Lewandowski
                        h3 Temat 2: Parametryzowane testy w JUnit - zagrożenie dla zdrowia Twojego i Twoich bliskich.
                        p Będzie o tym dlaczego nie korzystać ze standardowych testów parametryzowanych w JUnit, oraz dlaczego, jak i kiedy korzystać z JUnitParams.
                        p Prelegnet: Paweł Lipiński
                        h3 Temat 3: Spock, czyli czemu zrezygnowaliśmy z JUnita i Mockito
                        p Mockito nie robi niczego, czego nie dało się zrobić wcześniej bibliotekami do Mockowania. Ale robi to tak czytelnie, że gdy je pierwszy raz zobaczyłem, nigdy już nie chciałem wrócić do poprzednich narzędzi. Ciężko sobie było wyobrazić coś lepszego. I wtedy przyszedł Spock, i pozamiatał. Jeśli Mockito jest królem czytelności testów, to Spock jest jego suwerenem. Postaram się pokazać dlaczego, jakie są zalety i przede wszystkim wady frameworka, który powstał jako narzędzie do specyfikacji (BDD style, stąd zresztą nazwa), a skończył w moim toolboxie jako następca JUnit/Mockito.
                        p Prelegent: Jakub Nabrdalik
                        p
                            a(href='https://github.com/jakubnabrdalik/spock-examples-wjugflashtalks/tree/master/test/unit/eu/solidcraft/spock')  kody źródłowe
                        h3 Temat 4: Geb
                        p Postaram się zwięźle zaprezentować Geba, czyli narzędzie do testowania funkcjonalnego przy pomocy przeglądarki. Pokażę jak radośnie można pisać takie testy w Spocku oraz dlaczego warto znać HTMLa i jQuery przy takich testach. Na koniec zaprezentuję Geba w akcji.
                        p Prelegent: Tomasz Kalkosiński
                        p
                            a(href='../../presentations/112/geb-tests.pdf')  prezentacja
                        h3 Temat 5: Testowanie asynchronicznych operacji z Awaitility
                        p Testujesz asynchroniczny kod (powiązany z kolejkami, wątkami, czy replikacją danych) i martwi Cię sleep(5000+) w każdym teście? Jeżeli denerwuje Cię, iż testy integracyjne trwają wieki, a mimo to i tak od czasu do czasu poleci timeout na Jenkinsie to ta prezentacja jest dla Ciebie. Dowiesz się, jak w sprytny sposób testować asynchroniczne operacje i dlaczego Awaitility jest narzędziem, na które czekał[ae]ś.
                        p Prelegent: Marcin Zajączkowski
                        p
                            a(href='http://solidsoft.files.wordpress.com/2013/04/sleepless-tests-with-awaitility-6-tastes.png') prezentacja
                        h3 Temat 6: Testowanie poprzez moduły Guice
                        p Testowanie opiera się na izolacji poszczególnych komponentów aplikacji. Od poziomu granulacji zależy nazwa: unit test - klasa, integration test - komponent, end to end - cała aplikacja. Pokaże, że kiedy używany IoD do uporządkowania aplikacji to możemy w jednolity sposób izolować nasze komponenty do testowania na każdym poziomie.
                        p Prelegent: Paweł Cesar Sanjuan Szklarz
                        p
                            a(href='https://www.youtube.com/watch?v=4MZUKHxCNWU') wcześniejsza prezentacja Pawła wprowadzająca w koncepcję modułowości Guice i zdalnego wstrzykiwania
