div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h1 113 spotkanie WJUGa
                        h2 Garbage collection w low latency Java - Wojciech Kudła
                        p Termin: 23.04.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://appone.pl')  appone
                .row
                    .span12
                        p Co wpływa na czas trwania kolekcji, jak badać i kształtować demografię obiektów, jak unikać najpopularniejszych błędów w gc tuningu oraz jak systemowo podejść do kwestii optymalizacji. Większość poparta oczywiście konkretnymi przykładami na bazie działającego kodu.
