div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 114 spotkanie WJUGa
                        h2 MongoDB, Redis, Riak - 3 smaki NoSQL
                        h3
                            p Jakub Narbdalik, Paweł Cesar Sanjuan Szklarz, Paweł Sidoryk
                        p Termin: 7.05.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://pl.adpilot.com/', target='_blank')  AdPilot
                        p Zapisy i dyskusja
                            a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/", target='_blank')  Meetup
                        p Opis: Na tym wykładzie zostaną przedstawione trzy NoSQL'owe bazy danych. MongoDB zaprezentuje Jakub Narbdalik, Redis zaprezentuje Paweł Cesar Sanjuan Szklarz , Riak zaprezentuje Paweł Sidoryk. 
