div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 116 spotkanie WJUGa
                        h2 Test kata
                        h3
                            p Wielu prelegentów
                        p Termin: 25.05.2013 godz. 10:00
                        p Lokalizacja: MIMUW, sale 3150, 3220, 3230, 3240, 3250, 3260
                        p Zapisy i dyskusja: 
                            a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/", target='_blank')  Meetup
                        p Strona wydarzenia: 
                            a(href="http://test.kata.org.pl/", target='_blank')  test.kata.org.pl
                        p Test kata jest kontynuacją wykłądu 6 smaków testowania, w formie warsztatów. Podczas całodniowego warsztatu, zostaną przedstawione i wypróbowane różne sposoby testowania kodu. Więcej infomracji na stronie wydarzenia.
