div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 117 spotkanie WJUGa
                        h2 Java Memory Model
                        h3
                            p Michał Warecki
                        p Termin: 18.08.2013 godz. 18:00
                        p Lokalizacja: MIMUW,
                        p Rejestracja na meetupie: 
                            a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/", target='_blank')  Meetup
                        p Opis wydarzenia zostanie zaprezentowany wkrótce 
