div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 119 spotkanie WJUGa
                        h2 Flash-talks: Fish shell, JOOX, Tig i Togglz 
                        h3 Mateusz Grzechociński, Kuba Kubryński, Mariusz Smykuła, Kamil Szymański
                        p Termin: 10.09.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Zapisy i dyskusja
                        ul 
                            li 
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/138564712/", target='_blank')  Meetup
                            li 
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/THvYUlnFVOU/", target='_blank')  grupa
                        h3 Agenda spotkania:
                        ul
                            li Otwarcie sezonu 2013/14
                            li Fish shell - Mateusz Grzechociński
                            li JOOX - Kuba Kubryński
                            li Tig - Mariusz Smykuła
                            li Togglz: Feature Toggle implementation for JVM - Kamil Szymański
                            li wyjście na piwo
                        h3 UWAGA!
                        | Ze względu na egzaminy poprawkowe na MIMie spotykamy się wyjątkowo do sali 5440. Do zobaczenia!
