div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 119 spotkanie WJUGa
                        h2 Flash-talks: Tig, Fish shell, jOOX, Togglz
                        h3 Mariusz Smykuła, Mateusz Grzechociński, Kuba Kubryński, Kamil Szymański
                        p Termin: 10.09.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Plakat: 
                            a(href="https://docs.google.com/file/d/0B8d787eZJXI_aTVScjM2OTN5Y0k", target="_blank") PDF
                        p Zapisy i dyskusja
                        ul 
                            li 
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/138564712/", target='_blank')  Meetup
                            li 
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/THvYUlnFVOU/", target='_blank')  grupa
                        strong Materiały:
                        ul
                            li otwarcie sezonu: 
                                a(href="https://docs.google.com/presentation/d/1-M7bufX0jmoe7cup2sIgT_AZZhQ1MhaXda0GF4h4T3o", target="_blank") slajdy
                            li Tig: 
                                a(href="http://slid.es/mariuszs/tig", target="_blank") slajdy
                            li Togglz: 
                                a(href="https://docs.google.com/presentation/d/1xevBcv1_Obp7_npEGvJH4pudM4sZsA5D8utM8l-ioP8", target="_blank") slajdy
                                | , 
                                a(href="https://github.com/kamilszymanski/feature-toggle", target="_blank") kod źródłowy
                        h3 Agenda spotkania:
                        ul
                            li Otwarcie sezonu 2013/14
                            li
                                a(href="http://jonas.nitro.dk/tig/", target="_blank") Tig - interaktywny git
                                |  - Mariusz Smykuła
                            li
                                a(href="http://fishshell.com/", target="_blank") Fish shell
                                |  - Mateusz Grzechociński
                            li
                                a(href="https://github.com/jOOQ/jOOX", target="_blank") jOOX
                                |  - Kuba Kubryński
                            li
                                a(href="http://www.togglz.org/", target="_blank") Togglz
                                | : Feature Toggle implementation for JVM - Kamil Szymański
                            li Wyjście na piwo
