div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 120 spotkanie WJUGa
                        h2 Serwer w Javie
                        h3 Adam lider
                        p Termin: 24.10.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Zapisy i dyskusja:
                        ul
                            li
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/140936082/", target='_blank')  Meetup
                            li
                                a(href="https://groups.google.com/forum/?hl=pl&fromgroups#!topic/warszawa-jug/gVKEpvTLv-0", target='_blank')  grupa
                        p Plakat:
                            a(href="https://docs.google.com/file/d/0B8d787eZJXI_NnczU1lOUVV3YjQ/edit?usp=sharing", target="_blank")  PDF
                        h3 O prezentacji:
                        p Programowanie sieciowe w Javie od poczatku bylo jej kluczowym elementem. Gdy jest konieczna komunikacja miedzy systemami to rozwiazania takie jak REST, SOAP czy JMS najczesciej pasuja idealnie. Sa jednak problemy, gdzie ten poziom rozwiazan nie jest odpowiedni, np.:
                        ul 
                            li integracje istniejacych systemow, stworzonych w roznych technologiach, czesto przed era RESTa, Javy
                            li specyficzne protokoly dla danej domeny systemu
                            li rozwiazania infrastruktury, programowanie systemowe
                        p W takich sytuacjach konieczne jest uzycie narzedzi i API nizszego poziomu - gniazdek. I choc rowniez tutaj Java dostarcza dobrego wsparcia to jednak glebsza wiedza jest potrzebna, aby tworzone rozwiazanie bylo poprawne, bez ukrytych problemow, o ktore dosc latwo.
                        p Celem prezentacji jest pokazanie mozliwosci Javy w programowaniu sieciowym na poziomie gniazdek poprzez omowienie:
                        ul
                            li istotnych API i mozliwych opcji
                            li kluczowych elementow protokolu TCP i wynikajacych zagrozen
                            li przykladu implementacji wlasnego protokolu warstwy aplikacji
                            li roznych modeli obslugi IO: blokujacy, nieblokujacy, asynchroniczny
                            li wybranych szczegolow implementacyjnych na poziomie systemu operacyjnego
                            li ograniczen Javy w programowaniu systemowym
                            li propozycji architektury
                        h3 O prelegencie:
                        p Adam Lider - programista Java - rozwiazania po stronie serwera - systemy transakcyjne, integracyjne i sieciowe.
