div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 121 spotkanie WJUGa
                        h2 AngularJS 101
                        h3 Marek Lewandowski
                        p Termin: 08.10.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p
                            strong Materiały: 
                                ul
                                    li 
                                        a(href="http://github.com/mklew/AngularJS-101", target='_blank') kod
                                    li
                                        a(href="http://slid.es/mareklewandowski/angularjs", target='_blank') prezentacja
                                    li
                                        a(href="http://www.youtube.com/watch?v=c04gtdickOY&feature=youtu.be", target='_blank') film z prezentacji próbnej
                        p Zapisy i dyskusja:
                        ul
                            li
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/143438002/", target='_blank')  Meetup
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/7iueaUHNAJk", target='_blank')  grupa
                        p Sponsor:
                            a(href="http://icompass.pl/", target='_blank')  iCompass
                        p Plakat:
                            a(href="https://docs.google.com/file/d/0B8d787eZJXI_MEc5dVVzZERKWU0/edit?usp=sharing", target='_blank')  PDF
                        h3 O prezentacji:
                        p Celem prezentacji jest wprowadzenie słuchaczy w tematykę Angulara. AngularJS jest jednym z rodziny narzędzi do tworzenia nowoczesnych webaplikacji. Aplikacje te działają całkowicie po stronie klienta.
                        p Formułą prezentacji będą dema, które pozwolą zobaczyć i zrozumieć o co chodzi w Angularze. Przyjrzymy się kolejno różnym elementom Angulara. Zobaczymy czym różni się development w Angularze od tradycyjnego podejścia do budowy webaplikacji. Spojrzymy także bestii w oczy i przejrzymy źródła Angulara w celu zrozumienia jak to działa.
                        p W ramach prezentacji omówione zostaną funkcjonalności i elementy składowe angulara:
                        ul
                            li scope - angular's magic
                            li dependency injection - modularność angularowych webaplikacji
                            li kontrolery - czyli C w MVC
                            li serwisy - różne sposoby pisania własnych serwisów, krótki przegląd serwisów angulara
                            li dyrektywy - używanie angularowych oraz pisanie własnych dyrektyw
                            li routing - tworzenie single page apps w angularze
                            li filtry - wykorzystywanie angularowych filtrów oraz pisanie własnych
                            li animacje - deklaratywne podejście do animacji
                        p Spojrzymy także na większy obrazek i nauczymy się jak:
                        ul
                            li używać typowo frontendowych narzędzi podczas developmentu
                            li tworzyć aplikację bez backendu
                            li utrzymywać strukturę projektu
                            li zintegrować angularową aplikację z serwerem
                            li przygotowywać skrypty pod minifikację
                        p Prezentacja przeznaczona jest dla osób początkujących w tematyce Angulara. Fragmenty kodu będą bardzo proste(podstawowe konstrukcje JavaScript). Przeglądanie źródeł Angulara może być bardziej wymagające, ale nie trzeba będzie rozumieć każdej linijki, a jedynie koncepcję.
                        h3 O prelegencie:
                        p Marek Lewandowski - Jestem full stack developerem. Lubię pracować nad frontem, który czasem sprawia mi więcej frajdy niż backend. Lubię czysty testowalny kod i długie nazwy zmiennych. Hobbistycznie uczę się funkcyjnego programowania w Scali.
