div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 122 spotkanie WJUGa
                        h2 Spring Data
                        h3 
                            a(href='http://www.kubrynski.com', target='_blank')  Jakub Kubryński
                        p Termin: 22.10.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p
                            strong Sponsor: 
                                a(href="http://kariera.allegro.pl/", target='_blank'): Grupa Allegro
