div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 123 spotkanie WJUG
                        h2 Polecane dla Ciebie: rekomendacje i Mahout
                        h3
                            a(href='http://www.warski.org/', target='_blank')  Adam Warski
                        p Termin: 05.11.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Plakat:
                            a(href="https://docs.google.com/file/d/0B8d787eZJXI_Yk4za2dPZE1pQmM/edit?usp=sharing")  PDF
                        p Zapisy i dyskusja:
                        ul
                            li
                                a(href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/148742772/", target='_blank')  Meetup
                            li
                                a(href="https://groups.google.com/forum/?hl=pl&fromgroups#!topic/warszawa-jug/x_WNoHvyziU", target='_blank')  grupa
                        h3 O prezentacji:
                        p Sekcje "Wyjątkowe okazje dla Ciebie", "Użytkownicy, którzy kupili ten produkt kupili też ..." czy spersonalizowane strony startowe w sklepach internetowych to już praktycznie standard. Implementacja systemów rekomendacji była kiedyś zarezerwowana dla wyspecjalizowanych firm; dzisiaj mamy do dyspozycji parę open-sourcowych projektów, takich jak Mahout czy LensKit, które ułatwiają wyciągać informacje z dużej ilości danych o preferencjach użytkowników.
                        p Po wprowadzeniu do systemów rekomendacji, czyli omówieniu podstawowych pojęć, możliwych postaci danych wejściowych i klasyfikacji systemów ze względu na use-case'y przejdziemy do części praktycznej.
                        p Część praktyczna będzie obejmować głównie Apache Mahout (który opisuje się na stronie jako "Scalable machine learning and data mining"). Mahout zawiera implementacje większości klasycznych algorytmów do obliczania rekomendacji; zobaczymy jak w paru prostych krokach skonfigurować Mahouta i szybko otrzymać rekomendacje na podstawie własnych danych.
                        h3 O prelegencie:
                        p Jestem jednym z współzałożycieli 
                            a(href='http://www.softwaremill.com', target='_blank') SoftwareMill
                            | , gdzie koduje głównie używając Scali, Javy i innych ciekawych technologii. Część wolnego czasu spędzam nad różnymi projektami open-source, m.in. założyłem projekt Hibernate Envers, rozwijam też pare mniejszych, takich jak: ElasticMQ, Veripacks i MacWire. W trakcie pozostałego wolnego czasu próbuje przeczytać internet na tematy około-programistyczne, przemyślenia kierując na 
                            a(href='http://www.warski.org/blog/', target='_blank') bloga
                            | .
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/qS11WowjihE" frameborder="0" allowfullscreen></iframe>
