div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 124 spotkanie WJUGa
                        h2 JEE Portal Anno Domini 2013
                        h3
                            a(href='http://bdawidowicz.blogspot.com', target='_blank') Bolesław Dawidowicz
                        p Termin: 19.11.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Rok portali tak jak rok linuxa wielokrotnie się zbliżał jednak nigdy nie nastał. Portlety to jedna z najbardziej nierozumianych i niekochanych technologi w świecie JEE. W projektach w których byłaby najbardziej przydatna zazwyczaj nigdy nie była rozważana. Tam gdzie została wdrożona często wystarczyłby zwykły serwer webowy… Wielu głosiło jej rychłą śmierć jednak z dużą dozą przekory wciąż bardzo dobrze się trzyma i aktywnie rozwija. Cały czas w określonej klasie zastosowań nie ma też dla niej żadnej dobrej alternatywy.
                        p W czasie tej prezentacji *nie* nauczycie się pisać portletów a kodu będzie jak na lekarstwo. Dowiecie się za to jakie są mocne i słabe strony technologii portali. Zdobędziecie też potrzebną wiedzę aby trafnie ocenić jej przydatność w waszym projekcie. Odkryjecie także że portal portalowi nierówny oraz będziecie mieli możliwość zapoznania się w jakim kierunku obecnie podążają. Na koniec zastanowimy się także jaka jest ich przyszłość oraz jakie technologie oraz standardy widoczne na horyzoncie mogą je ostatecznie zastąpić.
                        h3 O prelegencie:
                        p Od 2005 roku współpracuje z firmą
                            a(href='http://www.redhat.com/', target='_blank')  Red Hat
                            |  (dawniej JBoss). Od zawsze związany z oprogramowaniem OpenSource oraz preferuje pracę zdalną. Obecnie jako Platform Architect jest odpowiedzialny za produkt
                            a(href='http://www.redhat.com/products/jbossenterprisemiddleware/portal/', target='_blank')  JBoss Portal Platform
                            |  oraz współkieruje projektem
                            a(href='http://www.jboss.org/gatein', target='_blank')  GateIn Portal
                            | . Współtwórca projektu
                            a(href='http://www.picketlink.org/', target='_blank')  PicketLink
                            | . Członek "Expert Group" w
                            a(href='http://jcp.org/en/jsr/detail?id=351', target='_blank')  JSR 351
                            |  oraz
                            a(href='http://www.jcp.org/en/jsr/detail?id=362', target='_blank')  JSR 362
                            | . Niegdyś aktywny członek i jeden z liderów Warszawa JUG - obecnie w stanie spoczynku. Współorganizował konferencję
                            a(href='http://www.confitura.pl/', target='_blank')  Javarsovia/Confitura
                            |  (edycję 2008) oraz
                            a(href='http://warsjawa.pl/', target='_blank')  Warsjawa
                            |  w latach 2008, 2012 i 2013.
