div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 125 spotkanie WJUG
                        h2 Walne zgromadzenie
                        p Termin: 28.11.2013 godz. 18:00
                        p Lokalizacja: MIMUW, sala nieznana
                        h3 O spotkaniu:
                        p Spotkanie ma na celu dogranie planów na kolejne pół roku działalności grupy.
                        
