div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 128 spotkanie WJUG
                        h2 Humanoidalny robot NAO (feat.
                            a(href='http://www.humantechart.pl/', target='_blank')  Human Tech Art
                            | )
                        h3
                            a(href='http://www.aldebaran-robotics.com/en/', target='_blank') Aldebaran Robotics
                        p Termin: 09.01.2014 godz. 18:30
                        p Lokalizacja: GammaFactory, ul. Hoża 51
                        p Sponsor:
                            a(href='http://touk.pl', target='_blank') 
                                img(src='img/sponsors/touk_small.png') 
                        p Zapisy: 
                            a(href='http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/158438982/', target='_blank') meetup
                        h3 O prezentacji:
                        p W czwartek 9 stycznia będziemy gościć
                            a(href='http://www.aldebaran-robotics.com/en/', target='_blank')  Aldebaran Robotics
                            |  z robotami NAO z Francji!
                        p NAO to robot humanoidalny, którego konstrukcja – kamery, głośniki, mikrofony i czujniki – pozwala na interakcję z otoczeniem, komputerem i człowiekiem oraz łączenie się z siecią przez wifi. Wykrywa i rozpoznaje twarz swojego właściciela, robi i wysyła zdjęcia lub wideo. NAO ma też możliwość wykonywania szerokiego zakresu ruchów, pozwalających na chodzenie, wstawanie, kopanie, taniec i siadanie, a dodatkowo porusza się po pomieszczeniu unikając przeszkód. Potrafi również sam wrócić do stacji dokującej, gdy jego bateria jest bliska rozładowaniu. Zaprojektowany do celów badawczych i naukowych, jest w pełni programowalny i dzięki temu skutecznie wykorzystywany w nauczaniu programowania, robotyki oraz zagadnień z zakresu sztucznej inteligencji. 
                        p Ponieważ łączymy siły z grupą
                            a(href='http://www.humantechart.pl/', target='_blank')  Human Tech Art
                            | , agenda jest tak podzielona, abyśmy posłuchali więcej o kodowaniu, a dla osób mniej zainteresowanych technicznymi aspektami przeznaczony był ogólniejszy wykład.
                        p W programie spotkania jak zwykle prezentacja prelegentów, po której będzie czas na dyskusję oraz testowanie projektu. 
                        p Uwaga! Z racji pochodzenia naszych prelegentów (Francja) obie prezentacje odbędą się w języku angielskim.
                        h3 Agenda:
                        p 18:30 Programming NAO Robots - Laurent Lec (Software Architect w
                            a(href='http://www.aldebaran-robotics.com/en/', target='_blank')  Aldebaran Robotics
                            | )
                        p 19:05 NAO Humanoid Robots - Céline Boudier (Manager of NAOLabs Studio Team w
                            a(href='http://www.aldebaran-robotics.com/en/', target='_blank')  Aldebaran Robotics
                            | )
                        p 19:35 Prezentacja robotów i testowanie
