div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 13 spotkanie WJUGa
                        h2 Java Persistence 1.0 (JPA) i środowisko do praktycznego poznawania specyfikacji
                        h3 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p Termin: 17.07.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/WrE6ZqgP3vY/', target='_blank') zapowiedź
                        h3 O prezentacji:
                        p Tematem prezentacji będzie wprowadzenie do specyfikacji Java Persistence API (JPA) i przedstawienie środowiska do jej praktycznego poznawania opartego o Apache Maven 2.
                        p JPA jest częścią specyfikacji Enterprise JavaBeans 3.0, która z kolei stanowi część specyfikacji Java Enterprise Edition 5 (Java EE 5). W języku Java świat przedstawiany jest w postaci obiektów podczas, gdy w świecie baz danych relacyjnych w postaci krotek. Specyfikacja JDBC wraz z językiem SQL pozwala na pobranie danych z bazy i jej obsługę, jednakże nakłada na programistę obowiązek zasilania danymi relacyjnymi obiektowego modelu danych. Za pomocą rozwiązań mapujących dane relacyjne na typy obiektowe i na odwrót (zwanych rozwiązaniami ORM) mamy możliwość pracy z danymi relacyjnymi obiektowo. W ten sposób możemy znacząco skrócić czas tworzenia aplikacji. Rolą JPA jest ujednolicenie możliwości Hibernate, TopLink oraz JDO i udostępnienie ustandaryzowanego interfejsu dostępu do relacyjnych danych. Podstawową zaletą JPA jest możliwość uruchomienia dostawcy JPA w ramach serwera aplikacyjnego, ale również w trybie poza kontenerem oraz wykorzystanie podejścia programistycznego opartego o POJO. Wiele z funkcjonalności do tej pory znanych z Hibernate jest dostępna w JPA za pomocą darmowych dostawców JPA, którymi są Apache OpenJPA, TopLink Essentials oraz Hibernate EntityManager.
                        h3 O prelegencie:
                        p
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski 
                            | zajmuje się Korporacyjną Javą od pierwszego dnia jej opublikowania. Jest członkiem zespołów rozwojowych 
                            a(href='http://geronimo.apache.org', target='_blank') Apache Geronimo
                            | , 
                            a(href='http://openejb.apache.org', target='_blank') Apache OpenEJB
                            | , 
                            a(href='http://incubator.apache.org/servicemix', target='_blank') Apache ServiceMix
                            | , 
                            a(href='http://geronimo.apache.org/xbean', target='_blank') Apache XBean 
                            | oraz 
                            a(href='http://activemq.apache.org', target='_blank') Apache ActiveMQ
                            | . Zajmuje się rozpoznawaniem technologii upraszczających tworzenie aplikacji korporacyjnych z Java EE 5, a swoje spostrzeżenia publikuje w 
                            Notatniku Projektanta Java EE 
                            | oraz na swoim 
                            a(href='http://www.jaceklaskowski.pl/wiki/', target='_blank') Notatniku-Wiki
                            | . Jest założycielem i liderem Warszawskiej Grupy Użytkowników Javy (Warszawa JUG). Jacek jest członkiem zespołu 
                            a(href='http://qa.netbeans.org/processes/cat/60/index.html', target='_blank') NetBeans 6.0 Community Acceptance Test 
                            | (poprzednio w NetCAT 5.0 oraz 5.5). Ideę dzielenia się wiedzą wprowadza w życie poprzez wystąpienia na konferencjach krajowych i zagranicznych. Służbowo związany z firmą IBM jako konsultant oprogramowania.