div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 130 spotkanie WJUG
                        h2 Flash-talks
                        h3 Ida Bzowska,
                            a(href='http://devyard.wordpress.com', target='_blank')  Michał Lipski
                            | , Robert Szarejko,
                            a(href='http://racjonalny.blogspot.com/', target='_blank')  Tomasz Bartczak
                            | , Adam Madeła,
                            a(href='http://harasymczuk.pl', target='_blank')  Mateusz Harasymczuk
                            | , Michał Lewandowski,
                            a(href='http://www.freeportmetrics.com/devblog/author/jakub/', target='_blank')  Jakub Piasecki
                            | , Marek Kapowicki
                        p Termin: 28.01.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 5440
                        p Zapisy i dyskusja:
                            a(href='http://www.meetup.com/Warszawa-JUG/events/161751132/', target='_blank')  Meetup
                        h3 Agenda spotkania:
                        ul
                            li Rusz się Community! - Ida Bzowska
                                p
                                    a(href='http://www.youtube.com/watch?v=eHKwPzYq7GU', target='_blank') nagranie
                            li O jeden mock za daleko -
                                a(href='http://devyard.wordpress.com', target='_blank')  Michał Lipski
                                p
                                    a(href='http://www.youtube.com/watch?v=V9SKuGh2dqs', target='_blank') nagranie
                            li
                                a(href="https://github.com/SQiShER/java-object-diff", target="_blank") java-object-diff
                                |  - Robert Szarejko
                                p
                                    a(href='http://www.youtube.com/watch?v=-r3vGwfMw3U', target='_blank') nagranie
                            li Vagrant - automatyzacja środowiska developerskiego -
                                a(href='http://racjonalny.blogspot.com/', target='_blank')  Tomasz Bartczak
                                p
                                    a(href='http://www.youtube.com/watch?v=sdHrHIPXbDE', target='_blank') nagranie
                            li libGDX - multiplatformowy javowy framework do gier - Adam Madeła
                                p
                                    a(href='http://www.youtube.com/watch?v=bFcEvbPhasg', target='_blank') nagranie
                            li Scrum, but... -
                                a(href='http://harasymczuk.pl', target='_blank')  Mateusz Harasymczuk
                                p
                                    a(href='http://www.youtube.com/watch?v=3RdtKOdP74k', target='_blank') nagranie
                                    |  |
                                    a(href='https://docs.google.com/file/d/0BythMR2PslQJTjZfMkRBeEQzWEk', target='_blank')  slajdy
                            li
                                a(href="https://www.websequencediagrams.com/", target="_blank") websequencediagrams
                                |  - Michał Lewandowski
                                p
                                    a(href='http://www.youtube.com/watch?v=8oxardAdSl0', target='_blank') nagranie
                            li iOS widziane oczami programisty Javy -
                                a(href='http://www.freeportmetrics.com/devblog/author/jakub/', target='_blank')  Jakub Piasecki
                                p
                                    a(href='http://www.youtube.com/watch?v=lbguYO0_fgI', target='_blank') nagranie
                                    |  |
                                    a(href='https://docs.google.com/presentation/d/1nuKhwXdD1ukaOt4c5_X4yR4t0hSyBuy5rEIYZiTC8Rc/pub', target='_blank')  slajdy
                            li Mutation testing in practice - Marek Kapowicki
                                p
                                    a(href='http://www.youtube.com/watch?v=N37qB1LigB4', target='_blank') nagranie
                            li Wyjście na piwo
