div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 130 spotkanie WJUG
                        h2 Flash-talks
                        h3 Ida Bzowska,
                            a(href='http://devyard.wordpress.com', target='_blank')  Michał Lipski
                            | , Robert Szarejko,
                            a(href='http://racjonalny.blogspot.com/', target='_blank')  Tomasz Bartczak
                            | , Adam Madeła,
                            a(href='http://harasymczuk.pl', target='_blank')  Mateusz Harasymczuk
                            | , Michał Lewandowski,
                            a(href='http://www.freeportmetrics.com/devblog/author/jakub/', target='_blank')  Jakub Piasecki
                            | , Marek Kapowicki
                        p Termin: 28.01.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 5440
                        p Zapisy i dyskusja:
                            a(href='http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/161751132/', target='_blank')  Meetup
                        h3 Agenda spotkania:
                        ul
                            li Rusz się Community! - Ida Bzowska
                            li O jeden mock za daleko -
                                a(href='http://devyard.wordpress.com', target='_blank')  Michał Lipski
                            li
                                a(href="https://github.com/SQiShER/java-object-diff", target="_blank") java-object-diff
                                |  - Robert Szarejko
                            li Vagrant - automatyzacja środowiska developerskiego -
                                a(href='http://racjonalny.blogspot.com/', target='_blank')  Tomasz Bartczak
                            li libGDX - multiplatformowy javowy framework do gier - Adam Madeła
                            li Scrum, but... -
                                a(href='http://harasymczuk.pl', target='_blank')  Mateusz Harasymczuk
                            li
                                a(href="https://www.websequencediagrams.com/", target="_blank") websequencediagrams
                                |  - Michał Lewandowski
                            li iOS widziane oczami programisty Javy -
                                a(href='http://www.freeportmetrics.com/devblog/author/jakub/', target='_blank')  Jakub Piasecki
                            li Mutation testing in practice - Marek Kapowicki
                            li Wyjście na piwo
