div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 133 spotkanie WJUG
                        h2 Adopt a OpenJDK hackathon
                        p Termin: 11.03.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        strong Materiały: 
                        p Czy jesteś ciekawy jak wygląda praca przy OpenJDK?  Chciałbyś coś wnieść do rozwoju OpenJDK, ale nie wiesz jak się do tego zabrać?
                        p Jeżeli odpowiedzią na którekolwiek z pytań jest TAK, to 25 marca 2014 WJUG zapraszamy na mały hackathon, na którym będziesz mógł się zapoznać z podstawami pracy ze źródłami OpenJDK. Podczas hackathonu pokażemy jak te źródła pobrać oraz jak je modyfikować. Zapraszamy wszystkich zainteresowanych. Wymagane jest własny komputer oraz zainstalowany VirtualBox.
                        p Sponsorem spotkania jest  a(href='http://kariera.allegro.pl/', target="_blank")Grupa Allegro.

