div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 133 spotkanie WJUG
                        h2 OpenJDK hackathon (feat.
                            a(href='#/jcp')  WJUG-JCP
                            | )
                        p Termin: 25.03.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href='http://kariera.allegro.pl/', target="_blank")  Grupa Allegro
                        h3 O hakatonie:
                        p Czy jesteś ciekawy jak wygląda praca przy
                            a(href='http://openjdk.java.net/', target="_blank")  OpenJDK
                            | ? Chciałbyś coś wnieść do rozwoju
                            a(href='http://openjdk.java.net/', target="_blank")  OpenJDK
                            | , ale nie wiesz jak się do tego zabrać?
                        p Jeżeli odpowiedzią na którekolwiek z pytań jest TAK zapraszamy na mały hackathon, na którym będziesz mógł się zapoznać z podstawami pracy ze źródłami
                            a(href='http://openjdk.java.net/', target="_blank")  OpenJDK
                            | . Podczas hackathonu pokażemy jak te źródła pobrać oraz jak je modyfikować. Zapraszamy wszystkich zainteresowanych. Wymagany jest własny komputer oraz zainstalowany VirtualBox.
