div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 135 spotkanie WJUG (feat. Warsaw JBoss User Group)
                        h2 WildFly on the fly
                        h3 Krzysztof Miksa
                        p Termin: 08.04.2014 godz. 18:45
                            strong  (uwaga! spotkanie wyjątkowo przesunięte na później!)
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p TomEE? Glassfish? Websphere? WebLogic? Poszukujecie darmowego, niewyobrażalnie szybkiego a przy tym mało zasobożernego serwera aplikacyjnego z otwartym kodem? Dobrze trafiliście! Poznajcie nowy serwer aplikacyjny
                            a(href='http://www.wildfly.org/', target='_blank')  WildFly
                            | , który kiedyś być może znany był Wam jako JBoss AS. Podczas prezentacji dowiecie się co go wyróżnia na tle innym serwerów aplikacyjnych, jakie nowości w sobie kryje poza samą nazwą oraz jak nim zarządzać. Tym samym wykład będzie inauguracją powstania Warsaw JBoss User Group - nowej inicjatywy cyklicznych spotkań, której głównym celem będzie zagłębienie się w szczegóły projektów ze stajni JBoss'a.
                        h3 O prelegencie:
                        p Krzysztof Miksa - Zawodowo prezes, współzałożyciel i programista w
                            a(href='http://itcrowd.pl', target='_blank')  IT Crowd
                            | . Na co dzień mąż. Niereformowalny zwolennik pracy zdalnej, Gentoo oraz cichy wielbiciel języków funkcyjnych.
