div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 135 spotkanie WJUG
                        h2 Walidacja w świecie obiektów domenowych - blaski i cienie JSR 303
                        h3 Robert Szarejko
                        h2 WildFly on the fly (feat. Warsaw JBoss User Group)
                        h3 Krzysztof Miksa
                        p Termin: 08.04.2014 godz. 18:45 (uwaga! spotkanie wyjątkowo przesunięte na później!)
                        p Lokalizacja: MIMUW, sala 3180

                        h1 Walidacja w świecie obiektów domenowych - blaski i cienie JSR 303
                        h3 O prezentacji:
                        p Wpuścić czy nie wpuścić - oto jest pytanie … często zadawane przy odbieraniu danych z bardziej lub mniej wrogiego świata zewnętrznego. Kiedy już zmapujemy dane z zewnętrznego źródła na nasze obiekty domenowe stajemy przed dylematem jak zweryfikować ich poprawność poczynając od najprostszych weryfikacji typu NULL or NOT NULL a kończąc na weryfikacjach biznesowych o dowolnym poziomie złożoności. Celem mojej prezentacji będzie przedstawienie odpowiedzi (zapewne jednej z wielu możliwych) i w moim przypadku będzie to
                            a(href='https://jcp.org/en/jsr/detail?id=303', target='_blank')  JSR 303 (Bean Validation)
                            |  w oparciu o jej najbardziej znaną implementację
                            a(href='http://hibernate.org/validator/', target='_blank')  Hibernate Validator
                            | .
                            br
                            | Nie będę Was zanudzać szczegółami z krainy 1001 slajdów. Przedstawię przykłady oparte na implementacjach z backedn-u żywego systemu zakotwiczonego w klasycznych fundamentach (Spring, Hibernate, Java 1.7).
                        h3 O prelegencie:
                        p Robert Szarejko – Projektant w Finat. Jego przygoda z Javą rozpoczęła się 10 lat temu od v 1.4 i EJB 2.0. Dzisiaj mając możliwość wyboru środowiska przeżywa druga miłość do Javy i stara się zarazić ją swoje otoczenie. Przez większość swojego życia zawodowego związany z tematyką Agenta Transferowego (fundusze inwestycyjne, emerytalne, ubezpieczeniowe …) z tęsknotą spogląda w stronę open source i nadzieją, że pewnego dnia wygospodaruje na to czas wolny.

                        h1 WildFly on the fly
                        h3 O prezentacji:
                        p TomEE? Glassfish? Websphere? WebLogic? Poszukujecie darmowego, niewyobrażalnie szybkiego a przy tym mało zasobożernego serwera aplikacyjnego z otwartym kodem? Dobrze trafiliście! Poznajcie nowy serwer aplikacyjny WildFly, który kiedyś być może znany był Wam jako JBoss AS. Podczas prezentacji dowiecie się co go wyróżnia na tle innym serwerów aplikacyjnych, jakie nowości w sobie kryje poza samą nazwą oraz jak nim zarządzać. Tym samym wykład będzie inauguracją powstania Warsaw JBoss User Group - nowej inicjatywy cyklicznych spotkań, której głównym celem będzie zagłębienie się w szczegóły projektów ze stajni JBoss'a.
                        h3 O prelegencie:
                        p Krzysztof Miksa - Zawodowo prezes, współzałożyciel i programista w
                            a(href='http://itcrowd.pl', target='_blank')  IT Crowd
                            | . Na co dzień mąż. Niereformowalny zwolennik pracy zdalnej, Gentoo oraz cichy wielbiciel języków funkcyjnych.
