div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 136 spotkanie WJUG
                        h2 Java SE 8 & Java EE 7 flash-talks
                        h3 Andrzej Goławski, Daniel Stankiewicz, Kamil Szymański, Krzysztof Miksa, Krzysztof Siejkowski, Marcin Zajączkowski, Michał Lewandowski, Paweł Cesar Sanjuan Szklarz, Piotr Trzpil, Tomasz Nurkiewicz
                        p Termin: 22.04.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://4finance.com/", target='_blank')  4finance
                        h3 O prezentacji:
                        p Java SE 8 & Java EE 7 flash-talks, czyli zmiany i nowości, które pojawiły się w JSE8 i JEE7
                        ul
                            li Type Annotations - Daniel Stankiewicz
                            li O nowych metowach w interfejsie Map -
                                a(href='http://blog.klkl.pl/', target='_blank')  Michał Lewandowski
                            li Java 8 na Androidzie - Krzysztof Siejkowski
                            li WebSocket - Andrzej Goławski
                            li Optional z JDK 8 w myśleniu funkcyjnym - Piotr Trzpil
                            li java.time -
                                a(href='http://nurkiewicz.blogspot.com/', target='_blank')  Tomasz Nurkiewicz
                            li Charakterystyki stream-ów -
                                a(href='http://softwaremathmodel.blogspot.com/', target='_blank')  Paweł Cesar Sanjuan Szklarz
                            li java.util.concurrent.atomic -
                                a(href='http://nurkiewicz.blogspot.com/', target='_blank')  Tomasz Nurkiewicz
                            li JSR 352 - Batch Processing for Java Platform - Krzysztof Miksa
                            li Małe rzeczy też czasami mogą cieszyć -
                                a(href='http://solidsoft.wordpress.com', target='_blank') Marcin Zajączkowski
                            li Behavioral compatibility - Kamil Szymański
                            li Dużo szybsza HashMapa -
                                a(href='http://nurkiewicz.blogspot.com/', target='_blank')  Tomasz Nurkiewicz
