div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 136 spotkanie WJUG
                        h2 Java SE 8 & Java EE 7 flash-talks
                        h3 Wielu prezenterów
                        p Termin: 22.04.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Java SE 8 & Java EE 7 flash-talks, czyli zmiany i nowości, które pojawiły się w JSE8 i JEE7
                        ul
                            li Type Annotations
                            li O nowych metowach w interfejsie Map
                            li Java 8 na Androidzie
                            li WebSocket
                            li Optional z JDK 8
                            li java.time
                            li Stream
                            li java.util.concurrent.atomic
                            li JSR 352 - Batch Processing for Java Platform
