div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 138 spotkanie WJUG
                        h2 Designing API for mobile apps
                        h3
                            a(href='http://erbetowski.pl/', target='_blank') Wojtek Erbetowski
                        h2 RabbitMQ
                        h3
                            a(href='https://twitter.com/mkiedys', target='_blank') Michał Kiędyś
                        p Termin: 20.05.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180

                        h1 Designing API for mobile apps
                        h3 O prezentacji:
                        p Wiele pracy inwestuje się w projektowanie widoków, dzięki którym zewnętrzna komunikacja będzie dla użytkownika aplikacji mobilnej jak najmniej widoczna. Niestety, istnieje przeszkoda, której programiści aplikacji mobilnych nie są w stanie pokonać - wolna komunikacja z zewnętrznymi serwisami w świecie słabej jakości połączeń z internetem. Pomoc w tej sytuacji mogą otrzymać współpracując ściśle z programistami backend.
                        p Prezentacja zawiera dużą dawkę wiedzy o tym jak projektować i optymalizować API dedykowane dla aplikacji mobilnych, a także bezcenne doświadczenia prosto z pola walki.
                        h3 O prelegentach:
                        p Wojtek jest częścią firmy mobilnej Polidea, gdzie pracuje w rzadkich jak na backendowców warunkach - to aplikacje mobile są tam najważniejsze! Reszta ma być taka, aby ta aplikacja była prosta i płynnie działała. Dzięki temu środowisku poznał już wiele bardzo specyficznych probl^^^wyzwań, a także ciekawe rozwiązania, którymi się podzieli.
                        p Wojtek jest pomysłodawcą i współorganizatorem inicjatyw MobileWarsaw, Mobile Central Europe, GitKata, jest w gronie organizatorów Warszawa JUG i Warsjawa oraz współtworzył bibliotekę do testowania aplikacji Androidowych - RoboSpock. Zawodowo jest liderem technologicznym w Polidei.

                        h1 RabbitMQ
                        h3 O prezentacji:
                        p W ciągu 40 minut opowiem o brokerze kolejek RabbitMQ oraz protokole AMQP. Krótko opowiem o historii AMQP, jego wersjach oraz dostawcach i kompatybilności. Więcej dowiecie się o konkretnej implementacji protokołu: brokerze kolejek RabbitMQ. Pojawią się informacje o jego historii, stabilności, wydajności oraz ciekawostki.
                            ol Skrót:
                                li AMQP - co to, wersje, historia, dostawcy (inni niż RabbitMQ)
                                li RabbitMQ - kto to rozwija, Erlang, connectory w różnych językach, stabilność, wydajność,  federacje, mirroring, klastrowanie, ciekawostki
                        h3 O prelegencie:
                        p
                            a(href='https://twitter.com/mkiedys', target='_blank') Michał Kiędyś
                            |  - Zawodowo programista, a prywatnie elektronik amator. Zakochany w języku programowania Scala oraz bibliotekach Google, w szczególności w Guavie. Doświadczenie zdobywał licząc nadgodziny i czas pracy, rozwijając backendy popularnego komunikatora oraz w startupie. Ostatnio pomaga komunikować się przedsiębiorcom z branży chemicznej.
