div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 139 spotkanie WJUG
                        h2 Open source brag - spotkanie o projektach open source
                        h3 Branch and Version Management for Your GIT Repository - 
                            a(href='http://www.agileboss.org', target='_blank') Matt Harasymczuk  
                        h3
                            a(href='http://javers.org', target='_blank') Javers – domain objects VCS 
                            | - Bartosz Walacik, Paweł Szymczyk
                        h3
                            a(href='http://moonshine.atteo.org/', target='_blank') Moonshine - kontener aplikacji szyty na miarę 
                            | - Sławek Piotrowski
                        h3
                            a(href='https://github.com/TouK/sputnik', target='_blank') Sputnik - static code analyser for Gerrit 
                            | - 
                            a(href='http://refaktor.blogspot.com/', target='_blank') Tomasz Kalkosiński
                        h3
                            a(href='https://github.com/mg6maciej/hrisey', target='_blank') Hrisey - Android bez boilerplate'u 
                            | - Maciek Górski
                        h3
                            a(href='https://github.com/Codearte/duramen', target='_blank') Duramen - persistent event bus in Java 
                            | - 
                            a(href='http://www.kubrynski.com/', target='_blank') Kuba Kubryński
                        p Termin: 03.06.2014 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p sponsor:
                            a(href="http://kariera.allegro.pl/", target='_blank')  Grupa Allegro


                        h1 Branch and Version Management for Your GIT Repository
                        h3 O prezentacji:
                        p Zapewne nigdy nie zastanawiałeś się nad schematem branchy w repozytorium... bo i po co gdy interesuje nas dostarczenie nowych funkcjonalności i kodowanie!
                        p Możliwe, że zaciekawi Cię kilka koncepcji, które przedstawię, a do tego omówię jak spiąć to z systemem Continuous Integration i Delivery.
                        p Kilka małych zmian w Twoim stylu pracy i dostajesz potężne narzędzie do budowania i zarządzania zmianami w kodzie, prawie za darmo :}
                        h3 O prelegencie:
                        p Hi my name is Matt and I am an Agile Coach. I help organizations to embrace Agile (Scrum, Kanban, Lean, XP), Gamification, DevOps processes: CI, CD, Quality, ChM, RM, BDD, TDD, Risk Management and GIT.

                        h1 
                            a(href='http://javers.org', target='_blank') Javers – domain objects VCS
                        h3 O prezentacji:
                        p JaVers to lekki  tool  do wersjonowania danych obiektowych.
                        p Wszyscy używamy systemów VCS do wersjonowania kodu, dlaczego nie zacząć używać wyspecjalizowanego narzędzia dowersjonowania obiektów domenowych?

                        h1 
                            a(href='http://moonshine.atteo.org/', target='_blank') Moonshine - kontener aplikacji szyty na miarę 
                        h3 O prezentacji:
                        p Serwery aplikacyjne, choć niezwykle użyteczne, zwykle ciągną za sobą szereg wad - są trudne w konfiguracji, nie są przystosowane do testowania jednostkowego i wolno się uruchamiają. W tej prezentacji chciałbym przedstawić autorski projekt - Moonshine.
                        p Chcesz na szybko stworzyć mały serwis RESTowy, a może dużą aplikację z wielopoziomową architekturą - Moonshine pozwala łatwo złożyć kontener skrojony na Twoje potrzeby. Już teraz możemy pochwalić się wsparciem dla kilkudziesięciu różnych technologii w tym bazy danych, serwery HTTP, JAX-RS, WebSocket, Liquibase, Hibernate i wiele innych. Całość spięte przez wstrzykiwanie zależności oparte na Google Guice i przygotowane dla prostoty testowania.
                        h3 O prelegencie:
                        Na co dzień pracuję w PayU, gdzie jako starszy programista zajmuje się rozwijaniem mechanizmów ciągłej integracji. Z Javą związany już od 10 lat. Jestem autorem kilku projektów open source, z których najbardziej znany - EvoInflector jest wykorzystywany chociażby przez Springa, czy IntelliJ IDEA.

                        h1 
                            a(href='https://github.com/TouK/sputnik', target='_blank') Sputnik - static code analyser for Gerrit
                        h3 O prezentacji:
                        p Sputnik to narzędzie współpracujące z Gerritem i Jenkinsem. Po każdym buildzie patchestu przez Jenkinsa, Sputnik uruchamia statyczne analizy kodu: Checkstyle, PMD i FindBugs. Kolekcjonuje wyniki i jako użytkownik Gerrita dodaje komentarze do proponowanej zmiany.  Narzędzie jest proste i lekkie, napisane w Javie. Statyczna analiza trwa zaledwie kilka sekund i jest bardzo pomocnym źródłem, które wskazuje potencjalne problemy. Reguły są w pełni konfigurowalne, więc łatwo dostosować je do swoich potrzeb.
                        
                        h1 
                            a(href='https://github.com/mg6maciej/hrisey', target='_blank') Hrisey - Android bez boilerplate'u 
                        h3 O prezentacji:
                        p Na Androidzie jest jeszcze więcej boilerplate'u niż w Javie (serio, da się!). Celem projektu Hrisey jest zadanie ciosu w plecy fragmentom kodu, które lepiej zostaną napisane przez maszynę niż programistę. Projekt jest oparty o Lomboka.

                        h1 
                            a(href='https://github.com/Codearte/duramen', target='_blank') Duramen - persistent event bus in Java 
                        h3 O prezentacji:
                        p Persistent event bus implementation for Java. Easily integrates with Spring Framework. By default uses file backed database. Guarantees that event will be dispatched.


