div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 140 spotkanie WJUG
                        h2 Microservices BarCamp
                        p Termin: 03.06.2014 godz. 18:00
                        p Lokalizacja: Klubokawiarnia Mam Ochotę, ul. Grójecka 75

                        h3 O spotkaniu:
                        p Na zakończenie sezonu zapraszamy Was na BarCamp o mikroserwisach.
                        p Spotykamy się w przyjemnych wnętrzach klubokawiarni Mam Ochotę gdzie czeka na nas zarezerwowana sala.
                        p Przygotowując się do spotkania i dyskusji zachęcamy Was do przeczytania dwóch artykułów:
                            br
                            | -
                            a(href='http://martinfowler.com/articles/microservices.html', target="_blank")  Microservices
                            br
                            | -
                            a(href='http://contino.co.uk/microservices-not-a-free-lunch/', target="_blank")  Microservices Are Not a free lunch!
