div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 142 spotkanie WJUG
                        h2 Walidacja w świecie obiektów domenowych - blaski i cienie JSR 303
                        h3 Robert Szarejko
                        p Termin: 02.09.2014 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180

                        h3 O prezentacji:
                        p Wpuścić czy nie wpuścić - oto jest pytanie … często zadawane przy odbieraniu danych z bardziej lub mniej wrogiego świata zewnętrznego. Kiedy już zmapujemy dane z zewnętrznego źródła na nasze obiekty domenowe stajemy przed dylematem jak zweryfikować ich poprawność poczynając od najprostszych weryfikacji typu NULL or NOT NULL a kończąc na weryfikacjach biznesowych o dowolnym poziomie złożoności. Celem mojej prezentacji będzie przedstawienie odpowiedzi (zapewne jednej z wielu możliwych) i w moim przypadku będzie to
                            a(href='https://jcp.org/en/jsr/detail?id=303', target='_blank')  JSR 303 (Bean Validation)
                            |  w oparciu o jej najbardziej znaną implementację
                            a(href='http://hibernate.org/validator/', target='_blank')  Hibernate Validator
                            | .
                            br
                            | Nie będę Was zanudzać szczegółami z krainy 1001 slajdów. Przedstawię przykłady oparte na implementacjach z backedn-u żywego systemu zakotwiczonego w klasycznych fundamentach (Spring, Hibernate, Java 1.7).
                        h3 O prelegencie:
                        p Robert Szarejko – Projektant w Finat. Jego przygoda z Javą rozpoczęła się 10 lat temu od v 1.4 i EJB 2.0. Dzisiaj mając możliwość wyboru środowiska przeżywa drugą miłość do Javy i stara się zarazić ją swoje otoczenie. Przez większość swojego życia zawodowego związany z tematyką Agenta Transferowego (fundusze inwestycyjne, emerytalne, ubezpieczeniowe …) z tęsknotą spogląda w stronę open source i nadzieją, że pewnego dnia wygospodaruje na to czas wolny.
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/XFTW7vtnanY" frameborder="0" allowfullscreen></iframe>
