div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 143 spotkanie WJUG
                        h2 DevOps BarCamp
                        p Termin: 16.09.2014 godz. 18:00
                        p Lokalizacja:
                            a(href='http://maps.google.com/maps?f=q&hl=en&q=Gr%C3%B3jecka+75%2C+Warsaw%2C+pl', target='_blank')  Klubokawiarnia Mam Ochotę, Grójecka 75
                        h3 O spotkaniu:
                        p Wiki definiuje DevOps jako jedną z metodyk zwinnego wytwarzania oprogramowania, kładącą nacisk na współpracę pomiędzy developerami i sysadminami(konkretniej inżynierami operacyjnymi). Jednak wokół terminu DevOps narosło wiele kontrowersji i sprzecznych definicji, na blogach toczą się dyskusje czym właściwie jest DevOps i czy powinno się go używać jako nazwy stanowiska. Niektórzy widzą w DevOps kulturę pracy w organizacji, ruch kulturalny, inni zestaw umiejętności które można posiąść, lub po prostu nową nazwę dla czegoś co zawsze stanowiło część naszej pracy, jeszcze inni dostrzegają w nim filozofię cechującą się holistycznym spojrzeniem na środowisko technologiczne.
                        p W odpowiedzi na to że DevOps stał się terminem bardzo modnym i w Polsce pojawiają się coraz częściej oferty pracy posiadające DevOps w nazwie, proponujemy Wam spotkanie na którym w nieformalnej atmosferze porozmawiamy o tym czym jest DevOps, jakie techniki wykorzystuje oraz o devopsowych narzędziach.
                        p Dla żądnych źródeł, kilka przykładowych artykułów i prezentacja:
                        ul
                            li
                                a(href='http://www.slideshare.net/jallspaw/10-deploys-per-day-dev-and-ops-cooperation-at-flickr', target='_blank') http://www.slideshare.net/jallspaw/10-deploys-per-day-dev-and-ops-cooperation-at-flickr
                            li
                                a(href='http://dev2ops.org/2010/02/what-is-devops', target='_blank') http://dev2ops.org/2010/02/what-is-devops
                            li
                                a(href='http://www.agileweboperations.com/what-devops-is-not', target='_blank') http://www.agileweboperations.com/what-devops-is-not
                            li
                                a(href='http://puppetlabs.com/blog/what-is-a-devops-engineers', target='_blank') http://puppetlabs.com/blog/what-is-a-devops-engineers
                            li
                                a(href='http://theagileadmin.com/what-is-devops', target='_blank') http://theagileadmin.com/what-is-devops
                            li
                                a(href='https://pete.wtf/2013/05/03/devops-in-your-job-title-is-doing-you-harm', target='_blank') https://pete.wtf/2013/05/03/devops-in-your-job-title-is-doing-you-harm