div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 144 spotkanie WJUG
                        h2 Thymeleaf - szablony, które bez przetworzenia zrozumie twoja przeglądarka
                        h3 Maciej Ziarko
                        p Termin: 14.10.2014 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://4finance.com/", target='_blank')  4finance

                        h3 O spotkaniu:
                        p Prezentacja będzie dotyczyła biblioteki
                            a(href='http://www.thymeleaf.org/', target='_blank')  Thymeleaf
                            |  (pol. liść tymianku), która jest potężnym silnikiem szablonów. Można wykorzystać ją na przykład do generowania treści strony WWW czy wiadomości e-mail. Dzięki dostępnej "out-of-box" integracji ze Spring MVC i Spring Security, Thymeleaf systematycznie zyskuje na popularności. Dodatkowo Thymeleaf jest jedną z czterech technologii widoku, posiadających auto-konfigurację w Spring Boot. O wzrastającej popularności może świadczyć też fakt, iż wsparcie dla tej technologii jest (według liczby oddanych głosów na YouTrack firmy JetBrains) jedną z najbardziej wyczekiwanych nowości w nadchodzącym wydaniu IntelliJ IDEA 14.
                        p Podczas prezentacji, poza przykładami na slajdach, będzie również kodowanie live. Dzięki
                            a(href='http://itutorial.thymeleaf.org/', target='_blank')  dostępnej aplikacji
                            |  wykonamy wspólnie kilka zadań. Do wykonania zadań będzie wystarczyła przeglądarka WWW i internet.
                        h3 O prelegencie:
                        p Maciek Ziarko jest entuzjastą technologii związanych ze Spring Framework i każdego dnia stara się polepszać swoje umiejętności programistyczne. Silnik Thymeleaf wykorzystywał z powodzeniem w kilku projektach.
