div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 146 spotkanie WJUG
                        h2 Czas Dockera - od zera do kontenera!
                        h3
                            a(href='http://slepykorzen.pl/', target='_blank') Przemek Hejman
                            | , Marcin Brański
                        p Termin: 06.11.2014 godz. 18:00
                        p Lokalizacja: MiNI - Wydział Matematyki i Nauk Informacyjnych Politechniki Warszawskiej, sala 103

                        h3 O warsztacie:
                        p Zaczniemy dosłownie od zera - opowiemy czym jest Docker, pokażemy, jak się nim posługiwać, oraz kiedy i gdzie warto go zastosować. Prześledzimy też, co dzieje się "pod maską", żeby jeszcze lepiej wykorzystać potencjał LXC, ale też móc w pełni świadomie wejść głębiej w tematy takie jak linkowanie kontenerów oraz tworzenie bardziej ‚dynamicznych’ środowisk z zastosowaniem narzędzi takich jak FIG i Serf. Wszystko to zaprezentujemy w formie krótkich demonstracji i ćwiczeń, zostawimy także obszerne repozytorium pełne naszych komentarzy, dzięki czemu łatwiej będzie powrócić do tematu nawet po dłuższej przerwie.
                        h3 O prelegentach:
                        p
                            a(href='http://slepykorzen.pl/', target='_blank') Przemek Hejman
                            | : jeszcze do ostatniej środy byłem DevOps-em w TouKu, i to z 3,5-letnim stażem :) Nie wiem, czy już mogę pisać o tym, co robię teraz. Zawsze staram się być na bieżąco i pracować z najbardziej zajawkowymi technologiami. Zamiast spinać się nad tym, czy "DevOps" jest poprawną nazwą stanowiska, po prostu robię robotę. I to najlepiej, jak potrafię :)
                        p Marcin Brański: jestem zajarany nowymy technologiami służacymi przyśpieszaniu, automatyzacji, zwiększeniu elastyczności i niezawodności, poprawie bezpieczeństwa, etc. Częścią z nich zajmuję się na codzień i chętnie podzielę się moją wiedzą na te tematy
