div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 15 spotkanie WJUGa
                        h2 Wykorzystanie siły Aspect-Oriented Programming (AOP) w projektach komercyjnych 
                        h3 Bartosz Szkudlarek
                        p Termin: 18.09.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/Ia354YYxaVQ/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | 
                        Tematem prezentacji będą zagadnienia związane z Aspect-Oriented Programming (AOP). Paradygmat ten, coraz bardziej popularny, powoli asymilowany jest przez rozwiązania korporacyjne. Celem prezentacji będzie wprowadzenie słuchaczy w główne pojęcia AOP, przedstawienie kluczowych koncepcji i głównych implementacji. Oprócz teorii będzie też kilka przykładów wykorzystania paradygmatu AOP w powiązaniu ze Spring Framework.
                        h3 O prelegencie:
                        p
                        | 
                        Prezentację poprowadzi Bartosz Szkudlarek. Bartek pracuje dla korporacji mocno powiązanej z Ryszardem K. i jest tam głównym architektem. W chwili obecnej realizuje projekt dla dużej firmy ubezpieczeniowej. Z Java EE związany jest od siedmiu lat.
