div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 150 spotkanie WJUG
                        h2 Vaadin 7 – thinking of U and I
                        h3 Maciej Przepiórka
                        p Termin: 20.12.2015 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Vaadin to Javowy framework służący do budowania nowoczesnych aplikacji webowych które świetnie wyglądają, są wydajne i sprawiają że zarówno Ty, jako deweloper, jak i Twoi użytkownicy są zadowoleni.
                        p Prezentacja będzie nie tylko wprowadzeniem do użytkowania Vaadina ale również wytłumaczy jego mechanizmy działania. Omówię także najczęstsze pułapki czyhające na początkujących i sposoby na ich ominięcie. Po prezentacji przewiduję dłuższy czas na pytania od uczestników (zwłaszcza tych którzy próbowali już korzystać z Vaadina).
                        p Uczestnicy po spotkaniu będą w stanie zacząć tworzyć własne aplikacje w Vaadinie.
                        h3 O prelegencie:
                        p Maciej Przepióra: Jest absolwentem Międzywydziałowych Indywidualnych Studiów Matematyczno-Przyrodniczych na Uniwersytecie Warszawskim, gdzie studiował biologię molekularną i informatykę. Programowanie jest jego pasją od czasów licealnych. Po ukończeniu studiów pracował jako programista Java w Capgemini, Narodowym Centrum Badań i Rozwoju i Warsaw Mathematical Institute. We wrześniu 2013 dołączył do zespołu Vaadina w Turku w Finlandii, gdzie pracuje jako developer i trener.