div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 153 spotkanie WJUG
                        h2 Apache Solr - silnik wyszukiwania jako baza NoSQL
                        h3 Tomasz Sobczak
                        p Termin: 17.02.2015 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Solr Cloud to rozproszona wersja popularnego silnika wyszukiwania Apache Solr. W jaki sposób technologia ta wpisuje się w nurt nierelacyjnych baz danych?
                        p Postaram się to wyjaśnić w prezentacji pt. "Apache Solr - silnik wyszukiwania jako baza NoSQL". Opowiem czym jest silnik wyszukiwania, wyjaśnię zasady działania Solr Cloud, w szczególności pod kątem skalowania systemu. Następnie, po krótkim przypomnieniu podstawowych pojęć związanych z nierelacyjnymi bazami danych, przeanalizuję pod ich kątem cechy i funkcjonalności Apache Solr.
                        h3 O prelegencie:
                        p Tomasz Sobczak: konsultant w firmie Findwise, pracuje nad rozwiązaniami opartymi o systemy wyszukiwania i przetwarzania danych niestrukturalnych.
                        p Zajmuje się przede wszystkim zagadnieniami z dziedzin Information Retrieval, Enterprise Search, posiada szeroką wiedzę na temat silników wyszukiwania Lucene, Solr, ElasticSearch.
                        p Interesuje się tematyką kultury pracy w organizacjach oraz jej wpływem na efektywność pracowników.
                        p Absolwent Wydziału Fizyki Technicznej, Informatyki i Matematyki Stosowanej Politechniki Łódzkiej. Organizator grupy dyskusyjnej
                            a(href='http://www.meetup.com/es-warsaw/', title='web', target='_blank')  Enterprise Search Warsaw Meetup
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/-X3TzwfWDDA" frameborder="0" allowfullscreen></iframe>
