div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 154 spotkanie WJUG
                        h2 Web components with Polymer
                        h3
                            a(href='https://twitter.com/apierzch', target='_blank')  Adam Pierzchała
                        p Termin: 03.03.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://www.pragmatists.pl/", target='_blank')  Pragmatists

                        h3 O prezentacji:
                        p Podczas tej prezentacji zaprezentuję nowe standardy W3C, czyli Shadow DOM, Custom elements oraz HTML Imports.
                        p Opowiem o co w nich chodzi, pokażę jak z nich korzystać oraz jak ułatwia to Polymer. Będzie dużo przykładów!
                        h3 O prelegencie:
                        p Jestem programistą w firmie Pragmatists, gdzie na co dzień stosuję Test Driven Design, Pair Programming i wiele innych technik z XP. Interesuję się Domain Driven Design, technikami tworzenia czystego kodu, XP, oraz usprawnianiem pracy zespołów agilowych. Jestem też jednym z organizatorów Jinkubatora.
                        h3 Nagranie ze spotkania:
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/kueTbongGkY" frameborder="0" allowfullscreen></iframe>
