div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 154 spotkanie WJUG
                        h2 To Be Announced
                        h3 To Be Announced
                        p Termin: 03.03.2015 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p -
                        h3 O prelegencie:
                        p -