div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 155 spotkanie WJUG
                        h2 Beyond Futures And Actors
                        h3 Maciej Jaśkowski
                        p Termin: 17.03.2015 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p To Be Defined
                        h3 O prelegencie:
                        p Maciej Jaśkowski: TBD