div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 155 spotkanie WJUG
                        h2 Beyond Futures And Actors
                        h3 Maciej Jaśkowski
                        p Termin: 17.03.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Programowanie współbieżne robi się coraz prostsze, dzięki abstrakcjom takim jak Actor, czy Future i Promise. Kod współbieżny napisany przy pomocy tych technologii prawie zawsze jest trudniejszy do przeczytania niż kod całkowicie sekwencyjny.
                        p W ostatnich miesiącach pojawiło się kilka technologii, które wydają się być przełomowe:
                        ul
                            li [Kanban na wątkach] Kanały (Channel) w Quasar (dla Javy od Parallel Universe) lub core.async (dla Clojure)
                            li [Ciśnienie zwrotne] Akka Streams
                        p Podczas prezentacji przybliżę filozofię ich działania i pokażę przykłady kodu napisanego w Quasar i Akka Streams.
                        h3 O prelegencie:
                        p Maciej Jaśkowski: Programista, przedsiębiorca. Pasjonat technologii niemainstreamowych. Dzisiaj w Segment of One.