div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 156 spotkanie WJUG
                        h2 Microservices architecture pitfalls
                        h3 Mateusz Gajewski
                        p Termin: 31.03.2015 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p To Be Defined
                        h3 O prelegencie:
                        p Mateusz Gajewski: TBD