div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 157 spotkanie WJUG
                        h2 To Be Announced
                        h3 To Be Announced
                        p Termin: 14.04.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p -
                        h3 O prelegencie:
                        p -