div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 160 spotkanie WJUG
                        h2 Supler: formularze made easy
                        h3
                            a(href= "http://www.warski.org/blog/", target= "_blank")  Adam Warski
                        p Termin: 26.05.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="https://softwaremill.com/", target='_blank')
                                img(src="/img/sponsors/softwaremill.png", border="0", style="height: 60px")
                        h3 O prezentacji:
                        p To Be Defined
                        h3 O prelegencie:
                        p
                            a(href= "http://www.warski.org/blog/", target= "_blank")  Adam Warski
                            | : TBD
