div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 164 spotkanie WJUG
                        h2 Mhm, mikroserwisy. Już wiesz,że wtopiłeś...
                        h3 Marcin Matuszak
                        p Termin: 11.08.2015 godz. 18:00
                        p Lokalizacja: PJATK, ul. Koszykowa 86, budynek A (główny), duża aula
                        h3 O prezentacji:
                        p Celem prezentacji będzie zniechęcenie Was do microserwisów. Pod cienkim kożuchem _fajności_ takiego podejścia do architektury, kryje się _złożoność_ o której rzadko się wspomina. Większość prezentacji pomija aspekty zawiązane z wydajnością, testowaniem oraz pomiarami, a które są bardzo istotne i bardzo szybko mogą odbić się 'czkawką'.
                        h3 O prelegencie:
                        p Marcin Matuszak : Związany z Wrocławiem programista javy, obecnie pracujący w Berlinie. Aktywny członek wrocławskiego JUGa, współorganizator konferencji ChamberConf odbywającej się na zamku w Mosznej. W wolnych chwilach zajmuje się uczeniem dzieci programowania na kid-coders.pl.
                        h3 Nagranie ze spotkania:
                        p
                            <iframe width="853" height="480" src="https://www.youtube.com/embed/d_RwASXkPqE" frameborder="0" allowfullscreen></iframe>
