div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 168 spotkanie WJUG
                        h2 Lazy Evaluations and its Impact on Efficiency
                        h3
                            a(href='http://www.agiledeveloper.com/', target='_blank')  Venkat Subramaniam
                        p Termin: 20.10.2015 godz. 18:15
                        p Lokalizacja: PJATK, ul. Koszykowa 86, budynek A (główny), duża aula
                        h3 O prezentacji:
                        p When we hear about functional programming, we hear about immutability and higher order functions. It turns out, one of the real charms of functional programming is lazy evaluation. Lazy evaluation is all about postponing execution until the last responsible moment. This can lead to quite a bit of efficiency in the execution of code. In this presentation we will learn about what lazy evaluation is, look at example of lazy evaluation, discuss the benefits of laziness, and how it leads to better performance and efficiency of code.
                        h3 O prelegencie:
                        p
                            a(href='http://www.agiledeveloper.com/', target='_blank')  Venkat Subramaniam
                            | : Dr. Venkat Subramaniam is an award–winning author, founder of Agile Developer, Inc., and an instructional professor at the University of Houston. He has trained and mentored thousands of software developers in the US, Canada, Europe, and Asia, and is a regularly–invited speaker at several international conferences. Venkat helps his clients effectively apply and succeed with agile practices on their software projects. Venkat is a (co)author of multiple books, including the 2007 Jolt Productivity award winning book Practices of an Agile Developer. His latest book is Functional Programming in Java: Harnessing the Power of Java 8 Lambda Expressions.
