div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 17 spotkanie WJUGa
                        h2 Jak to zrobić w Seamie?
                        h3 Paweł Wrzeszcz
                        p Termin: 16.10.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/u_hQjsZIPZg/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | 
                        O 
                        a(href='http://labs.jboss.org/jbossseam', target='_blank') JBoss Seam 
                        | mówi się, że jest "brakującym szkieletem" Javy EE 5.0, który w nowatorski sposób scala technologie EJB3, JPA, JSF 1.2 i in. w jedną całość ułatwiającą programiście szybkie wdrożenie się w tajniki i korzystanie z dobrodziejstw JEE.
                        p
                        | 
                        W ramach wstępu dowiecie się jak za pomocą Seama stworzyć prostą aplikację webową Model-Widok-Kontroler. W części bardziej zaawansowanej zostaną pokazane dwa z wielu ciekawych udogodnień jakie oferuje nam Seam: wbudowana obsługa parametrów adresów URL oraz integracja z JavaScript (Seam Remoting Framework).
                        h3 O prelegencie:
                        p
                        | 
                        Prezentację poprowadzi Paweł Wrzeszcz, który kończy pisać pracę magisterską opartą o Seama na Wydziale MIMUW. Zawodowo Paweł jest członkiem zespołu 
                        a(href='http://labs.jboss.com/jbosslabs/', target='_blank') JBoss Labs
                        | , pracuje nad infrastrukturą strony jboss.org.
