div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 170 spotkanie WJUG
                        h2 Neo4j
                        h3
                            a(href='https://geekyprimitives.wordpress.com/', target='_blank')  Jarosław Pałka
                        p Termin: 17.11.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p TBD
                        h3 O prelegencie:
                        p
                            a(href='https://geekyprimitives.wordpress.com/', target='_blank')  Jarosław Pałka
                            | : TBD
