div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 171 spotkanie WJUG
                        h2 5-10-15 lat w karierze developera
                        h3
                            a(href='https://twitter.com/wseliga', target='_blank')  Wojciech Seliga
                        p Termin: 01.12.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="https://spartez.com/careers", target='_blank')
                                img(src="/img/sponsors/spartez.png", border="0", style="height: 60px")

                        h3 O prezentacji:
                        p Nie ma się co oszukiwać – żyjemy w czasach wyjątkowo sprzyjających inżynierom IT, a już przede wszystkim software developerom. Zwłaszcza języka Java. Wielkie “ssanie” na rynku pracy. Setki firm z kraju i zagranicy walczących o pracowników w Polsce. Naprawdę spore pieniądze – zwłaszcza na tle innych profesji.
                        p Nic, tylko spocząć na laurach i dać się adorować pracodawcom.
                        p Takie podejście to jednak błogi początek raczej szybkiego końca. I widać wiele ofiar takiego stanu rzeczy – rynek rozpieszczający nas jest de facto naszym największym zagrożeniem.
                        p Jak kolejno 5, 10 i 15 lat doświadczenia w branży zmienia naszą percepcję na tę platformę oraz przede wszystkim na nas samych – nasze miejsce i wartość jako profesjonalnych Java developerów? Jakie są zagrożenia związane z naszym zawodem i naszą ukochaną platformą? Czy jesteśmy wyjątkowi? Co jest ważne, a co nie w naszej profesji? Czy znajomość Javy czyni nas “nieśmiertelnymi” zawodowo? Czy można być software developerem z 30-letnim stażem?
                        p Wojtek postara się odpowiedzieć dosyć szeroko na takie pytania. Rozwieje pewne mity dotyczące profesji Java developera oraz podzieli się różnymi przemyśleniami bazującymi na obserwacjach oraz setkach odbytych rozmów z ludźmi z branży – od nowicjuszy do ludzi z ponad 30-letnim doświadczeniem zawodowym.
                        h3 O prelegencie:
                        p
                            a(href='https://twitter.com/wseliga', target='_blank')  Wojciech Seliga
                            | : Jest software developerem z natury (programuje od 6-tego roku życia, a w języku Java od ponad 16 lat), choć w ostatnim czasie pochłania go przede wszystkim rozwijanie firmy Spartez, którą współzałożył w 2007 roku.
                        p Od wielu lat Wojciech zajmuje się różnymi aspektami software developmentu: propagowaniem metodologii agile, prowadzeniem projektów i zespołów software’owych, zatrudnianiem najlepszych specjalistów z branży, rozwojem biznesowym, mentoringiem i szkoleniami dla developerów, a nocą nadal kodowaniem. Obecnie z blisko 70-tką fantastycznych ludzi w Spartez pracuje nad narzędziami z ekosystemu Atlassiana, takimi jak JIRA, Bamboo, Crucible, FishEye, Agile Cards, TFS4JIRA czy najnowszy produkt firmy – Ephor.
                        p Wojciech prezentuje (nieraz w dosyć kontrowersyjny sposób) dosyć często na różnych konferencjach w kraju, jak i za granicą (np. Devoxx, 33rd Degree, GeeCON, Confitura, InfoSHARE, Agile, Atlassian Summit czy XPDays).
