div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 172 spotkanie WJUG
                        h2 Eclipse Collections By Example
                        h3 Christian Glencross
                        p Termin: 15.12.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://www.goldmansachs.com/", target='_blank')  Goldman Sachs
                        h3 O prezentacji:
                        p The Eclipse Collections framework is a feature-rich open source Java collections framework. This session explains the design of the framework and demonstrates many problems it solves. The session includes examples of object and primitive containers; the rich APIs available for eager and lazy iteration patterns; mutable and immutable collections; and additional container types not available in the JDK, such as Bag and Multimap.
                        h3 O prelegencie:
                        p Christian Glencross: Christian Glencross is a Senior Engineer at Goldman Sachs, working in the Enterprise Platforms area. He has been working with Java since 1997, with a special interest in application performance tuning and system scalability.
