div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 172 spotkanie WJUG
                        h2 GS Collections
                        h3 Christian Glencross
                        p Termin: 15.12.2015 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://www.goldmansachs.com/", target='_blank')  Goldman Sachs
                        h3 O prezentacji:
                        p TBD
                        h3 O prelegencie:
                        p Christian Glencross: TBD