div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 173 spotkanie WJUG
                        h2 Jakie problem rozwiązuje Reactive Streams?
                        h3 Paweł Cesar Sanjuan Szklarz
                        p Termin: 19.01.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Reactive stream powstaje jako próba standaryzowania interfejsu pomiędzy wiele rozwiązań strumieniowego procesowania informacji jak np. Rx, Akka, functional-streams-for-scala (następnik scalaz-streams), Vert.x.
                        p Pytanie dlaczego w ogóle potrzebujemy taki standard? Dlaczego integrować różne rozwiązania tego samego problemu? a właściwej: po co nam strumienie?
                        p Jak przyjrzymy się uważniej, to potrzeba na taki standard wynika z faktu powstania nowego podejścia do zbudowania aplikacji. Zmiana kierunku z kaskadowego wywołania serwisów na wyciąganie i sterowania strumienia danych stała się rozwiązaniem na problem ogarnięcia następnej skali systemów informacyjnych, pod wzgłędem złożoności oraz wielkości.
                        p Wyjaśnię na czym polega standard Reactive Streams oraz jak za jej pomocą zintegrować różne strumienie danych. Jak zobaczymy, konieczna jest najpierw zmiana w podejście do architektury aplikacji na strumienie. Pokaże też praktyczne stosowanie strumienie do implementacji eventsourcing.
                        h3 O prelegencie:
                        p Paweł Cesar Sanjuan Szklarz: Polak/Meksykanin, studia matematyczne na MIMUW. 10 lat doświadczenia głównie w Javie i Scali.
