div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 176 spotkanie WJUG
                        h2 Jak nie zawalić projektu - czyli ryzyko i komunikacja
                        h3 Karol Drzymała
                        p Termin: 01.03.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                        p
                             a(href="http://www.bluesoft.net.pl/", target='_blank')
                                img(src="/img/sponsors/bluesoft.jpg", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Jestem Project Managerem w Bluesoft i Tabasco Interactive.
                        p W trakcie prezentacji opowiadam o swoich doświadczeniach z zarządzania kilkoma projektami z zakresu Game Devu oraz brażny Telco.
                        p W szczególności, opowiadam o tym czego nauczyliśmy się z jednego dużego projektu (Bruce the Game), który się nie udał, a miał wszelkie podstawy ku temu by odnieść sukces: mieliśmy świetny koncept, doświadczony zespół, zapewnione finansowanie.
                        p Z perspektywy czasu - wiemy, że tamten projekt się nie udał, bo był źle zarządzany.
                        p Prezentacja opowiada o błędach, które popełniliśmy, tak abyście Wy nie musieli ich popełniać ponownie.
                        h3 O prelegencie:
                        p Karol Drzymała: Absolwent wydziału EiTI na Politechnice Warszawskiej. Pomysłodawca i założyciel studia Tabasco Interactive odpowiedzialnego za Star Horizon oraz Kickerinho. Wcześniej Team Deader i Software Architect w Bluesoft, gdzie zajmował się głównie integracją systemów dla branży telekomunikacyjnej.
