div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 177 spotkanie WJUG
                        h2 Domain Driven Design w praktyce
                        h3 Krzysztof Muchewicz
                        p Termin: 15.03.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://www.softwareplant.eu/", target='_blank')  SoftwarePlant
                        h3 O prezentacji:
                        p DDD nie jest frameworkiem czy też metodologią, jest raczej zbiorem zdroworozsądkowych wzorców i narzędzi, które każdy może komponować według uznania i potrzeb. Chociaż jest już z nami od ponad 10 lat, ciągle uczymy się jak najlepiej je wykorzystać, tak aby z jednej strony wnieść wartość do codziennej pracy, a z drugiej nie wpadać w formalizmy i teoretyczne dyskusje.
                        p Przeprowadzając transformację monolitycznej platformy Allegro zastosowaliśmy wzorce DDD jako jedno z głównych narzędzi i stało się naszym chlebem powszednim.
                        p W prezentacji opowiem co ze skrzynki narzędziowej DDD użyliśmy i z jakim skutkiem. Dowiecie się jak sami uczyliśmy się DDD i jak sprzedawaliśmy tę wiedzę w organizacji.
                        p Wreszcie opowiem wam czego sam nauczyłem się o DDD, szczególnie jak zmieniało się moje zrozumienie Projektowania Strategicznego i jak uczyłem się stosować DDD w świecie mikrousługowym.
                        h3 O prelegencie:
                        p Krzysztof Muchewicz: Solutions Architect in Allegro Group
                        p Software engineer, manager, software architect with 10 years experience. Working in small medium and large organizations, on various platforms and technologies. Devoted DDD believer ;). Recently fascinated with Scala, Akka and Spark.
