div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 178 spotkanie WJUG
                        h2 Flash talks - ConfigSlurper, Big Data, wyjątki w Lambdach, web SSO oraz Guice
                        h3 Dominik Przybysz, Grzegorz Piwowarek, Piotr Guzik, Piotr Fus, Mateusz Sobczak
                        p Termin: 29.03.2016 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            a(href="http://www.softwareplant.eu/", target='_blank')  SoftwarePlant
                        p Sponsor:
                        p
                            a(href="http://www.softwareplant.eu/", target='_blank')
                                img(src="/img/sponsors/softwareplant.jpeg", border="0", style="height: 100px")
                        h3 Flash talk "Jak radzić sobie z konfiguracją wg. Grooviego"
                        p Na prezentacji opowiem o ConfigSlurperze dostępnym w Groovym. Jak za jego pomocą wczytać konfigurację, jak łatwo nią zarządzać oraz korzystać z propertiesów jakby były drzewem.
                        h4
                            a(href='http://przybyszd.blogspot.com/', target='_blank')  Dominik Przybysz
                        p Większość życia spędził pisząc w javie i groovym, ale zdarzało mu się oskryptowywać różne rzeczy w pythonie lub shellu.
                        | Aktualnie developer w
                        a(href='https://touk.pl/') TouKu
                        | . Uwielbia testowanie (szczególnie z pomocą Spocka) oraz wszelką automatyzację w procesie wytwarzania oprogramowania. Stara się dbać o czystość kodu (własnego i cudzego) poprzez częste code review.
                        h3 Flash talk "Java 8 vs. Checked Exceptions"
                        p Programowanie w Javie 8 z wykorzystaniem Lambda Expressions jest bardzo przyjemne... do czasu napotkania konieczności zmierzenia się z checked exceptions. Podczas prezentacji zostanie przedstawiony problem obsługi checked exceptions w ramach Wyrażeń Lambda oraz to, co możemy w takiej sytuacji zrobić.
                        h4 Grzegorz Piwowarek
                        p Full stack developer, gitarzysta w zespole metalowym oraz… profesjonalny zawodnik yoyo. Absolwent WEITI PW oraz były członek Stowarzyszenia Mensa Polska. Obecnie pracuje w TouK, gdzie współtworzył m.in. platformę integracyjną opartą o Fabric8 oraz system do rozpoznawania dokumentów ze zdjęć i skanów. Entuzjasta programowania funkcyjnego.
                        h3 Flash talk "CAS - web SSO w Javie"
                        p Jasig CAS to aplikacja SSO napisana w języku Java. W łatwy sposób można ją rozbudowywać (open source) oraz włączać w istniejące aplikacje. CAS pozwala zarówno na Single Sign On jak i Single Sign Out. Oprócz natywnego własnego protokołu, CAS może działać z SAML, OAuth, OpenID czy jako klient Kerberos.
                        h4 Piotr Fus
                        p Absolwent EiTI PW. Propagator zdrowego rozsądku zarówno w praktyce zawodowej, jak i w życiu. Prywatnie aktywny sportowiec i karciarz.
                        h3 Flash talk "Jak ułatwić sobie życie używając Guice"
                        p Podczas prezentacji postaram się przedstawić rozszerzenia guica które pozwalają na ułatwienie sobie codziennej pracy z nim i pozwalają na łatwiejsze tworzenie aplikacji. Pokażę też jak napisać własny scope i jakie korzyści może to przynieść.
                        h4 Mateusz Sobczak
                        p Programista w firmie efigence. W pracy zajmuję się tworzeniem oprogramowania dla instytucji finansowych, a w wolnym czasie dłubie projekty na arduino. Amator TDD i czystego kodu.
                        h3 Flash talk "From Java to Big Data"
                        p Clikstream jako przyklad rzeczywistego zastosowania Big Data. Architektura i narzędzia. Jak zacząć i czego warto się uczyć.
                        h4 Piotr Guzik
                        p Programista w grupie Allegro. Poprzednio fan javy i spocka a obecnie scali i sparka. W pracy najbardziej interesują go ludzie.
