div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 180 spotkanie WJUG
                        h2 Machine Learning dla Developerów
                        h3 Mariusz Gil
                        p Termin: 19.04.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p My, developerzy, lubimy zamykać algorytmy w określonych strukturach klas, interfejsów, pętli i warunków. W ten sposób posiadamy pełną kontrolę nad wykonaniem naszego kodu, potrafimy zrozumieć i przewidzieć jego zachowanie w określonych warunkach. Jednak w obliczu pewnych problemów jesteśmy bezbronni, a opanowane przez nas techniki, bezużyteczne. Jak poradzić sobie z zadaniem klasyfikacji obiektów o setkach nieliniowo zależnych parametrów? Jak wykrywać anomalie w danych wejściowych (np. operacje fraudowe w płatnościach online), nie posiadając wiedzy o wszystkich możliwych do wystąpieniach przypadkach? W takich sytuacjach bardzo pomocny może być machine-learning, który postaram się przybliżyć w trakcje tej sesji. Poznamy zarówno wycinek teorii, jak i praktyczne techniki i rozwiązania gotowe do zastosowania w naszych projektach.
                        h3 O prelegencie:
                        p Mariusz Gil - CTO, architekt i konsultant skoncentowany na wysokowydajnych i skalowalnych architekturach aplikacji webowych. Z branżą IT związany od ponad 14 lat, w tym czasie pracował m. in. dla Naszej-Klasy, Gadu-Gadu czy Nextclicka, gdzie miał okazję współtworzyć projekty angażujące miliony użytkowników. Swoją wiedzą często dzieli się na konferencjach i meetupach, od kilku lat działa także w radach programowanych konferencji 4Developers i PHPCon Poland. Zaangażowany w rozwój PHPers, polskiego community developerów PHP. Entuzjasta big-data i machine-learningu, po godzinach relaksuje się przy przesterowanych dźwiękach gitar.

