div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 181 spotkanie WJUG
                        h2 Continuous Delivery - architektura i praktyka
                        h3 Łukasz Szydło
                        p Termin: 10.05.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                        p
                            a(href="https://sputnik.ci/", target='_blank')
                                img(src="/img/sponsors/sputnik_logo_strona.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Continuous Delivery (CD) jest coraz częściej stosowaną praktyką w nowoczesnych projektach. Pytanie, jakie korzyści płyną z wdrażania kodu na produkcję kilka razy dziennie i jak zmieni to naszą codzienną pracę. Kiedy już to poznamy, zostaje największa zagwozdka: jak to zrobić, jakich narzędzi użyć i dlaczego wszędzie jest Docker. Postaram się odpowiedzieć na te wszystkie pytania oraz pokazać w jaki sposób w CD:
                          ul
                            li zarządzać funkcjonalnościami poprzez Feature Switch
                            li zrobić to elegancko w Springu
                            li umożliwić decyzję o wersji ficzera biznesowi
                            li testować i zapewniać jakość
                            li zarządzać konfiguracją
                            li pracować z VCS-ami bez tworzenia Branchy
                            li budować środowiska testowe
                        h3 O prelegencie:
                        p Łukasz Szydło - Programista pasjonat, fan "Software Craftsmanship" i zwinnego podejścia do wytwarzania oprogramowania. Lubi proste rozwiązania skomplikowanych problemów. Trener w firmie Bottega IT Solutions specjalizujący się w architekturze systemów, Domain-Driven Design, Continuous Delivery, technologiach Java oraz testowaniu automatycznym. Prywatnie ojciec piątki szkrabów; namiętny czytacz.

