div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 182 spotkanie WJUG
                        h2 TBD
                        h3 TBD
                        p Termin: 24.05.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p TBD
                        h3 O prelegencie:
                        p TBD

