div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 184 spotkanie WJUG
                        h2 Puppetize JBoss
                        h3 Krzysztof Suszyński
                        p Termin: TBD (Wrzesień 2016)
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Puppet to nowoczesne narzędzie typu configuration management a jednocześnie lider ruchu DevOps. Na prezentacji dowiesz się dlaczego warto zainteresować się Puppetem i jakie korzyści możesz odnieść z jego wprowadzenia. Powiem czym jest język oraz ekosystem Puppet oraz jak zacząć pracę z tym systemem. Porozmawiamy także jak można go wykorzystać w kontekście aplikacji Java EE, w szczególności z wykorzystaniem serwera JBoss/WildFly. Nie będzie to tylko teoretyczna prezentacja ponieważ przedstawię moduł do Puppeta napisany i opublikowany na licencji open-source w Centralnym Ośrodku Informatyki. Moduł ten służy do znaczącego usprawnienia zarządzania i instalacji serwerów z rodziny JBoss. Prezentacja będzie utrzymana w duchu DevOps i dlatego zapraszam zarówno programistów jak i administratorów.
                        h3 O prelegencie:
                        p Krzysztof Suszyński - Główny Programista w Centralnym Ośrodku Informatyki oraz trener firmy SAGES. Z technologiami IT ma profesjonalnie do czynienia od 2007 roku i obecnie zajmuje się głownie metodykami DevOps oraz technologiami Puppet, Java oraz Ruby. Technologie te oraz metodyki z powodzeniem stosuje na co dzień w dużych projektach, start-upach i projektach open-source. Z jego inicjatywy rozpoczęto udostępnianie wybranego oprogramowania wytwarzanego w Centralnym Ośrodku Informatyki na GitHubie. Opublikował na otwartej licencji kilka modułów Puppet między innymi: JBoss, Glassfish, XtreemFS, Artifactory, Flyway, Herald oraz kilka bibliotek Java m.in.: WFirma, Eid, Hiera Preferenes. Prowadzi szkolenia z wyżej wymienionych tematów dla firmy SAGES oraz w ramach inicjatyw takich jak Warsaw Puppet User Group, Warsaw Java User Group czy WarsawJS.


