div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 187 spotkanie WJUG
                        h2 Refaktoryzacja systemu e-Bankowości - przykład oddolnej zmiany w Nordea IT
                        h3 Michał Bartyzel i Łukasz Korczyński
                        p Termin: 18.10.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p "Skrócić czas tworzenia nowej funkcjonalności z kilku miesięcy do 30 dni" - to pierwszy cel, który sobie postawiliśmy. Po kilku miesiącach zaprowadził nad nową wersją naszego systemu, refaktoryzacji, eksperymentowania z nowymi technologiami, tworzenia gildii i bliższej współpracy z biznesem.
                        p W trakcie prezentacji przedstawimy drogę oraz kluczowe punkty tej zmiany. W szczególności dowiesz się:
                        ul
                            li Jak definiowaliśmy cele zmiany?
                            li Jak identyfikowaliśmy problemy technologiczne i organizacyjne?
                            li Jak przekonywaliśmy management do refaktoryzacji?
                            li Jak pozyskiwaliśmy kolejne osoby chętne do uczestniczenia w naszej inicjatywie?
                        h3 O prelegentach:
                        p Michał Bartyzel - od 12 lat pracuje kolejno jako: programista, technical leader, trener, przedsiębiorca, konsultant, agile coach i autor. Pracował z większością najlepszych zespołów programistycznych z Polsce przede w obszarach usprawniania współpracy z biznesem i refaktoryzacji legacy kodu.
                        p Jest współautorem i autorem technik podnoszących efektywność pracy programistów w obszarach takich jak: refaktoryzacja, konwersacje z biznesem, zarządzanie czasem, agile coaching. Wieloma z nich dzieli się podczas licznych prezentacji, w książkach, artykułach i na blogu.
                        p Łukasz Korczyński - Doświadczony programista JEE, od 6 lat związany z Grupą Nordea. Fascynat technologii, Software Craftsmanship i zwinności.
