div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 188 spotkanie WJUG
                        h2 Pragmatyczne podejście do pisania i utrzymywania testów
                        h3 Marek Dominiak
                        p Termin: 11.10.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="https://www.decerto.pl.pl/", target='_blank')
                                    img(src="/img/sponsors/decerto.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Chyba każdy programista spotkał się z zagadnieniem testowania. Testy jednostkowe, integracyjne, akceptacyjne i tak dalej... Większość też się zgodzi z tezą, że testy automatyczne są podstawą tworzenia a przede wszystkim utrzymywania systemu który ma przeżyć kilka lat. TDD na stałe zagościło w praktykach wykorzystywanych przez dużą ilość zespołów a niektóre zespoły muszą sprostać niełatwemu wyzwaniu pokrycia X% kodu testami.
                        p Jednakże pisanie w testów w efektywny sposób nie jest łatwe i zwykle po pewnym czasie od startu projektu to zadanie staje się dużo bardziej wymagające, i zaczyna być dużo mniej satysfakcjonujące dla programistów, a także bywa sporym obciążeniem dla budżetu projektu.
                        p Prezentacja będzie o pragmatycznym podejściu do pisania testów i utrzymywania ich w taki sposób aby po pewnym czasie od startu projektu nie zaczynały hamować rozwoju, a programiści nie myśleli o utrzymywaniu ich jako wyrafinowanej formie sado-maso. Będzie także sporo o moich ulubionych narzędziach do testowania.
                        p uwaga: Ten temat skierowany jest raczej na mniej doświadczonych programistów, ale nie-juniorzy też powinni coś wynieść z prezentacji. Słuchacz powinien wiedzieć co to są testy jednostkowe i integracyjne, a najlepiej jeśli miał styczność/napisał napisał kilka z nich.
                        h3 O prelegencie:
                        p Marek Dominiak - w Javie i okolicach programuję zawodowo prawie od 9 lat, w większości przy stacku Java/Spring. Zainteresowany tematyką DDD, TDD i innych xDD.

