div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 190. spotkanie WJUG
                        h2 Hibernate since 2001. Is time for Cyberpunk 2020?
                        h3 Tomasz Skowroński
                        p Termin: 22.11.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="http://www.4financeit.com/", target='_blank')
                                    img(src="/img/sponsors/4financeit_logo-invert.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Hibernate was started in 2001 as an alternative to using EJB2-style entity beans. But today EJB is forgotten and we want to make reactive software. How to use functional approach in Object Oriented Mapping? Let’s look at modern Java libraries and know pros and cons of functions, streams and lambdas usage with databases.
                        h3 O prelegencie:
                        p Programista, miłośnik JVM, przyjaciel androidów, bywalec hakatonów, uzależniony od kawy i czystego kodu, gracz, użytkownik podkastów i rowerów miejskich.