div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 192. spotkanie WJUG
                        h2 Co nowego w Spring 5
                        h3 Robert Szarejko
                        p Termin: 06.12.2016 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="http://www.finat.pl/body-leasing/", target='_blank')
                                    img(src="/img/sponsors/pkobp_finat.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Spring już od dłuższego czasu jest gospodarzem "Enterprise Web Apps". Chyba każdy jego Major Release wzbudza pewne zainteresowanie i nadzieje. Czy wersja 5 będzie rewolucją? A może jedynie drobną ewolucją?
                        p Postaram się dostarczyć podstawowej wiedzy, która ułatwi Wam odpowiedź na powyższe pytania. Zaczniemy od zmian wprowadzonych w wersji 4.3. Następnie przejdziemy do elementów, które wprowadzi nam wersja 5. Zakończymy na próbie zaglądnięcia w niedaleką przyszłość.

                        h3 O prelegencie:
                        p Robert Szarejko – Obecnie pracuję jako projektant w firmie PKO BP Finat. Moja przygoda z Javą rozpoczęła się ponad 10 lat temu od v 1.4 i EJB 2.0. Dzisiaj przeżywam drugą miłość do Javy i staram się zarazić ją swoje otoczenie.
                        p Przez większość swojego życia zawodowego byłem związany z tematyką Agenta Transferowego (fundusze inwestycyjne, emerytalne, ubezpieczeniowe …).
