div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 194. spotkanie WJUG
                        h2 Flash talks - Backend z Kotlinem, Java(Script) na Androidzie, Spock, Java 9 Additions to Stream and Optional API
                        h3 Paweł Barszcz, Krzysztof Jedynak, Mateusz Filipowicz, Grzegorz Piwowarek
                        p Termin: 10.01.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 Backend z Kotlinem
                        p Wraz z listopadem 2016 przyszedł czas na kolejny backend Java + Spring Boot. Chciałem spróbować czegoś nowego bez narażania projektu na ryzyko radykalnymi zmianami. Tym bezpiecznym czymś okazał się język Kotlin. Chciałbym podzielić się wrażeniami po kilku miesiącach pracy nad springowym backendem pisanym w Kotlinie.
                        h4 Paweł Barszcz
                        h3 Java(Script) na Androidzie
                        p 1. Wprowadzenie do technologii hybrydowych dla platform mobilnych.
                        | 2. Omówienie najpopularniejszych bibliotek i framworków: Cordova, Phonegap, IBM Mobile First.
                        | 3. Aplikacje w świecie pluginów.
                        | 4. Kiedy aplikacje hybrydowe mają sens?
                        | 5. Problemy wydajnościowe oraz związane z bezpieczeństwem.
                        h4 Krzysztof Jedynak
                        h3 Spock - dlaczego mój zespół go uwielbia?
                        p Wejdziemy w świat pisania testów w Groovy'm z pomocą Spock'a. Opowiem czemu z niego korzystamy i przede wszystkim czemu ja i mój zespół go uwielbiamy. Wszystko to okaże się oczywiste w trakcie kodowania na żywo.
                        h4 Mateusz Filipowicz
                        h3 Java 9 Additions to Stream and Optional API
                        p Java 9 kręci się wokół Project Jigsaw, ale Stream i Optional również doczekały się ulepszeń. Rzucimy okiem na te ulepszenia.
                        h4 Grzegorz Piwowarek