div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 195. spotkanie WJUG
                        h2 Modelowanie procesów biznesowych przy użyciu BPMN, CMMN, DMN i Javy
                        h3 Paweł Kozioł
                        p Termin: 17.01.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        //p Sponsor:
                            p
                                a(href="http://www.finat.pl/body-leasing/", target='_blank')
                                    img(src="/img/sponsors/pkobp_finat.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Obsługa zamówień pizzy, wysyłka towarów, akceptacja faktury - to przykłady procesów biznesowych, które przychodzi nam na codzień oprogramować. W procesach uczestniczą ludzie wykonujący swoje zadania, ale też wynikiem procesu są modyfikacje danych w systemach zewnętrznych - bazach danych, fizycznych magazynach, na zewnętrznych serwerach. Poza samym modelowaniem procesu pojawiają się też wymagania dotyczące wydajności, bezpieczeństwa, łatwości utrzymania i testowania.
                        p Do obsługi procesów czasem piszemy sami całą logikę w Javie, czasem używamy silnika workflow typu Activity, Camunda czy jBPM. W porozumieniu z biznesem i analitykami pomagają nam notacje takie jak BPMN, CMMN i DMN.
                        p W mojej prezentacji chcę przedstawić kilka wyzwań, z którymi zetknęliśmy się tworząc system dla dużej europejskiej instytucji, która zatrudnia 7 tyś. osób i przetwarza 300 tyś. spraw rocznie.
                        p Opowiem, co można wyrazić za pomocą wyżej wymienionych notacji, co warto robić po stronie silnika workflow, a co lepiej oprogramować we własnym zakresie. Zademonstruję też jak zaprojektować taki system, aby zaadresować wymagania niefunkcjonalne.

                        h3 O prelegencie:
                        p Paweł Kozioł – TBD
