div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 197 spotkanie WJUG
                        h2 Tech interview - how to choose a good developer?
                        h3 Krzysztof Kozioł, Rafał Ulata
                        p Termin: 07.02.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor: 
                            a(href="http://it.roche.pl/", target='_blank')
                                img(src="/img/sponsors/roche.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Zatrudnienie dobrego dewelopera to ciężkie zadanie. Jak sprawdzić podczas jednej lub dwóch rozmów, czy kandydat spełnia oczekiwania i jego doświadczenie i wiedza zawarte w CV to nie blef? Podzielimy się doświadczeniem zebranym podczas ostatnich pięciu lat prowadzenia rozmów technicznych i weryfikowania wiedzy programistów chcących dołączyć do Roche Global IT Solutions
                        h3 O prelegentach:
                        h4 Krzysztof Kozioł
                        p Krzysztof has been working with Java, web apps and server side related technologies since 2004.He has a proven track record of successful project implementation and delivery in an international environment with a distributed team setup. Krzysztof focuses on high quality of software development, Clean Code and Software Craftsmanship. Lately interested in biotechnology (especially the one related to drug discovery) and high-scalable distributed systems.In his spare time he likes traveling, sailing and spending time with his daughter.
                        h4 Rafał Udziela
                        p Rafal is in the software business since the beginning of 2005. He has worked in teams from 3 to 15 people, participating in projects managed in different methodologies. He is an enthusiast of Agile software development. He works as Delivery Manager in Roche Global IT Solutions and manages work of 50+ people working in small teams. Rafal started his career as a software developer (JVM, Oracle) however as for now successes of his teams give him more satisfaction than his own.