div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 199 spotkanie WJUG
                        h2 Concurrency in Java - Comprehensive
                        h3 Mateusz Kaczmarek
                        p Termin: 28.02.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Wielowątkowość należy do zagadnień, których nauka powoduje drastyczne obniżenie poziomu samooceny i osiągniętego seniority. Tym niemniej, korzystając z różnego rodzaju abstrakcji na problem wielodostępu, nader często można złożoność rozwiązania drastycznie obniżyć. Dodatkowo minimalizując prawdopodobieństwo wystąpienia różnego rodzaju zabawnych, "gonitwowych", problemów. Prezentacja raczej dla początkujących i średnio zaawansowanych, będących na bakier z pakietem java.util.concurrent, którym wciąż zdarza się korzystać ze słowa kluczowego synchronized.
                        h3 O prelegencie:
                        h4 Mateusz Kaczmarek 
                        p Jestem software developerem z doświadczeniem pozwalającym z pełnym przekonaniem stwierdzić, iż więcej nie wiem, niż wiem :)
