div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 2 spotkanie WJUGa
                        h2 Tworzenie aplikacji Java EE 5 z wykorzystaniem Apache Maven 2
                        h3 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p Termin: 05.12.2006 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5820
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/wRHUOHOxpB4/', target='_blank') zapowiedź
                        h3 O prezentacji:
                        p Wiele się zmieniło w specyfikacji Java EE 5 od ostatniej jej wersji. Twórcy specyfikacji, czerpiąc z wielu uproszczeń oferowanych w projektach otwartych, m.in. Spring Framework czy Hibernate, stworzyli bardzo elegancką specyfikację opartą o mechanizmy wstrzeliwania zależności (dependency injection - DI - bądź Inversion of Control - IoC), czy nowość w Javie SE 5 - annotacji. Tworzenie aplikacji Java EE 5 znacząco zostało uproszczone. Można śmiało powiedzieć, że nie ma znaczącej różnicy w sposobie tworzeniach aplikacji desktopowej, a uruchamianej na serwerze aplikacyjnym. Przekonamy się o tym tworząc aplikację Java EE 5 opartą o JavaServer Faces 1.2 i Enterprise JavaBeans 3.0, której wspomaganie projektowe zlecone zostanie Apache Maven 2.
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacka Laskowskiego
                            | , który jest członkiem grup rozwojowych projektów 
                            a(href='http://geronimo.apache.org/', target='_blank') Apache Geronimo 
                            | i 
                            a(href='http://incubator.apache.org/openejb', target='_blank') Apache OpenEJB
                            | . Tematyka spotkania została spisana i opublikowana do publicznej krytyki na 
                            a(href='http://www.jaceklaskowski.pl/wiki', target='_blank') jego własnym Wiki.
                        