div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 201 spotkanie WJUG
                        h2 Co back-end developer powinien wiedzieć o web security
                        h3 Robert Szarejko
                        p Termin: 14.03.2017 godz. 18:15
                        p Sponsor:
                            p
                                a(href="http://www.gft.com", target='_blank')
                                    img(src="/img/sponsors/decerto.png", border="0", style="height: 100px")
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Z własnego doświadczenia wiem, że osoby tworzące back-end aplikacji web-owych często po macoszemu traktują temat bezpieczeństwa. Identyfikacja i usunięcie luk w istniejącym systemie nie jest łatwym zadaniem. Dużo łatwiej jest uniknąć ich na etapie projektowania i tworzenia prototypu, pod warunkiem posiadania tego minimum niezbędnej wiedzy. Jeżeli magiczne kilkuliterowe skróty identyfikujące sposoby ataków są Ci obce, to masz szanse dowiedzieć się o nich kilku praktycznych informacji i sposobów przeciwdziałania z wykorzystaniem znanych i lubianych bibliotek np. Spring Security.
                        h3 O prelegencie:
                        h4 Robert Szarejko
                        p Obecnie pracuję jako projektant w firmie PKO BP Finat. Moja przygoda z Javą rozpoczęła się ponad 10 lat temu od v 1.4 i EJB 2.0. Dzisiaj przeżywam drugą miłość do Javy i staram się zarazić nią swoje otoczenie. Przez większość swojego życia zawodowego byłem związany z tematyką Agenta Transferowego (fundusze inwestycyjne, emerytalne, ubezpieczeniowe …).
