div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 204 spotkanie WJUG
                        h2 Event Sourcing - co to, po co to, jak to
                        h3 Marcin Haręza
                        p Termin: 04.04.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="http://www.softwareplant.eu/", target='_blank')
                                    img(src="/img/sponsors/softwareplant.jpeg", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Event sourcing to wzorzec architektoniczny, który przewija się w prawie każdej książce związanej z Domain Driven Design.
                        Nie wydaje się on jednak wzorcem ani popularnym ani też powszechnie rozumianym nawet wśród osób interesujących się DDD.
                        Mimo to jest czymś co absolutnie warto poznać, niezależnie od tego czy zamierza się go wykorzystać czy nie. Pozwala on spojrzeć na logikę biznesową z zupełnie innej perspektywy, a zmiana perspektywy jest zazwyczaj pozytywem sama w sobie.

                        Co musisz wiedzieć?
                        Tak naprawdę nic nie musisz. Wystarczy otwarta głowa i trochę wyobraźni.

                        Czego się dowiesz?
                        Czym jest event. Czym jest stan obiektu. Co to snapshot. Co to saga.
                        Co jest nie tak w "tradycyjnym podejściu". Co to CQRS. Jakie korzyści daje event sourcing.
                        Jak zacząć wykorzystywać event sourcing.

                        h3 O prelegencie:
                        h4 Marcin Haręza
                        p Jestem absolwentem AGH, zawodowo programuje od 3 lat. Podczas studiów byłem głównie zainteresowany przetwarzaniem i analizą danych, OOP, wszelkimi xDD i wszystkim co oddalało mnie od zagłębiania się w konkretne technologie. Na co dzień pracuje jako developer w Softwareplant i gram w bike polo (weź rower, przyjdź i spróbuj).