div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 206. spotkanie WJUG
                        h2 Porty i adaptery
                        h3 Dominik Przybysz
                        p Termin: 25.04.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="https://touk.pl/", target='_blank')
                                    img(src="/img/sponsors/touk_small.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Czy zdarzyło Ci się kiedyś przebudować całą aplikację, bo trzeba dodać nowe pole na frontendzie? Albo gdy zmiana organizacji tabel w DB zmieniała całą Twoją domenę? Jak radzić sobie ze zmieniającym się światem i wymaganiami? Jak utrzymywać porządek wewnątrz aplikacji i skupiać się na jej domenie. Odpowiedzią jest architektura portów i adapterów.

                        p Na prezentacji opowiem o doświadczeniach z budowaniem aplikacji, gdzie Twoja domena jest najważniejsza i odpowiem m. in. na pytania:
                            ul
                                li Co mi to da?
                                li  Jak to zrobić?
                                li Na co uważać?
                                li Dlaczego to jest trudne?
                        h3 O prelegencie:
                        p TBA

