div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 207. spotkanie WJUG
                        h2 4 lata rewolucji mikrousługowej w Allegro
                        h3 Mateusz Gajewski
                        p Termin: 09.05.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="http://allegro.tech", target='_blank')
                                    img(src="/img/sponsors/allegro_nobg.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Od ponad 4 lat w Allegro budowana jest nowa architektura, której celem jest rozbić na kawałki i w całości zastąpić monolityczną aplikację napisaną w PHP a rozwijaną od 16 lat. Podczas prezentacji pokażę jak aktualnie wygląda budowanie mikrousług w Allegro i z jakimi wyzwaniami mierzymy się na co dzień.
                        h3 O prelegencie:
                        h4 Mateusz Gajewski
                        p Pragmatyczny inżynier, niepokorny architekt, poliglota. W Allegro od 8 lat.