div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 207. spotkanie WJUG
                        h2 Flash talks - TDD, Great enterpreneurship, JShell
                        h3 Michał Lewandowski, Michał Parkoła, Łukasz Gajowy
                        p Termin: 16.05.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        p Sponsor:
                            p
                                a(href="http://allegro.tech", target='_blank')
                                    img(src="/img/sponsors/allegro_nobg.png", border="0", style="height: 100px")
                        h3 TDD
                        p Chcę opowiedzieć o swoich doświadczeniach z TDD, o tym jak go stosowałem, o tym gdzie go stosowałem, o tym gdzie nie należy go stosować, o tym kiedy mi pomagał, kiedy przeszkadzał.
                        h4 Michał Lewandowski
                        p My name is Michał Lewandowski. I am a software developer, a tech event organizer, a blogger and a speaker. I am also particularly interested in how people and teams work together. My hometown is Warsaw, the capital city of Poland. 
                        h3 How do great entrepreneurs think?
                        p Domyślna metoda planowania zakłada postawienie celu (lub otrzymanie go z góry) a następnie dobranie odpowiednich metod jego osiągnięcia. To może działać w dobrze znanych obszarach. Badania przeprowadzone przez Prof. Saras D. Sarasvathy pokazują, że najskuteczniejsi przedsiębiorcy pracują zupełnie inaczej. W tej prezentacji pokażę jak wkroczyć w nieznane i nie utonąć w morzu niewiadomych.
                        h4 Michał Parkoła
                        p Michał pomaga zespołom dostarczać wartościowy soft i czerpać z tego więcej satysfakcji jako Agile Coach w 9LivesData. Wcześniej pomagał w tym dziesiątkom zespołów jako założyciel firmy szkoleniowo-doradczej Fluid Circle. 
                        h3 JShell - Java w okienku terminala.
                        p Podczas flashtalka pokażę narzędzie JShell. Wchodzi ono w skład nadchodzącego, dziewiątego wydania Javy i posiada kilka ciekawych funkcji ułatwiających codzienną pracę z językiem. Zawsze warto je poznać, tym bardziej, że release zbliża się do nas coraz większymi krokami. ;) 
                        h4 Łukasz Gajowy
                        p Jestem programistą w Polidea.com. Na co dzień koduję głównie aplikacje serwerowe, ale nie stronię od innych wyzwań takich jak devops czy frontend. Lubię czysty kod, wierzę w TDD. Po godzinach jestem muzykiem i lekkim freakiem motoryzacyjnym. :)

