div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 209. spotkanie WJUG
                        h2 Biblioteka PCJ - aplikacje równoległe w Javie
                        h3 Marek Nowicki
                        p Termin: 23.05.2017 godz. 18:15
                        p Lokalizacja: MIMUW, sala 3180
                        h3 O prezentacji:
                        p Wzrastająca popularność Javy jako języka dla wykonywania symulacji, spowodowała duży popyt na rozszerzenia i biblioteki Javy służące do przetwarzania równoległego. Dobrym przykładem może być Parallel Java czy Java Grande, ale one nie zostały szeroko zaadoptowane. Titanium jest trudny do użycia, ponieważ wprowadza nowa składnie do języka i jest zaimplementowany w oparciu o tłumaczenie kodu programu napisanego w zmodyfikowanym języku Java na język C a następnie kompilacje. Wśród innych rozwiązań można wymienić Apache Hadoop czy Apache Spark pozwalające na równoległe wykonywanie obliczeń w modelu Map-Reduce, do którego pewne problemy ciężko, jeśli w ogóle się da, dopasować. Biblioteka PCJ została stworzona od zera z wykorzystaniem najnowszej wersji języka Java SE 8. W trakcie projektowania główny nacisk położono na zgodność ze standardami Java. PCJ została stworzona jako samodzielna biblioteka, która nie wymaga żadnych modyfikacji języka ani nie wykorzystuje żadnych dodatkowych bibliotek. Programista wykorzystujący PCJ nie jest zmuszony do dołączania bibliotek, które nie są częścią standardowej dystrybucji Java. Biblioteka PCJ jest rozwijana od paru lat w ICM UW i WMiI UMK, pozwala na zrównoleglanie aplikacji i uruchamianie ich na komputerach wieloprocesorowych (od PC-ta do Cray'a), skaluje się do setek tysięcy rdzeni obliczeniowych. W trakcie wykładu zostanie zaprezentowana najnowsza wersja biblioteki (PCJ5) wraz z podstawowymi przykładami użycia. Wcześniejsza była opisywana w ramach Lighting Talks na Toruń JUG w kwietniu 2015 roku.
                        h3 O prelegencie:
                        h4 Marek Nowicki
                        p Asystent w Zakładzie Obliczeń Równoległych i Rozproszonych WMiI UMK, lider toruńskiego JUGa. Programista-naukowiec związany z językiem Java, zajmujący się głównie obliczeniami równoległymi w środowisku wielowęzłowym w tymże języku. Autor biblioteki PCJ.