div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 21 spotkanie WJUG
                        h2 Okiełznąć Mavena 2
                        h3 Piotr Tabor
                        p Termin: 08.01.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5820
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/COKWjE-Ffqg/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Jest rzeczą powszechnie znaną, że informatyka to dziedzina magii. W magii - oprócz zgłębiania wiedzy i czarodziei - rzeczą, która pochłania najwięcej czasu są rytuały magiczne (ot, takie tam tańczenie wokół gara, itp.). 
                            a(href='http://maven.apache.org', target='_blank') Apache Maven 
                            | jest magicznym narzędziem, które próbuje zajmować się odprawianiem rytuałów za nas. Jednak, żeby to robił w zgodny z naszymi intencjami sposób - my musimy zakląć... Mavena (i pewnie kilkakrotnie na niego również).
                        p Bardzo często można spotkać się z opinią, że lepiej jest używać Anta niż Mavena. A bo to nad Mavenem się nie panuje, że się traci strasznie dużo czasu, by Maven zrobił to, co my chcemy, a nie to, co on chce, i takie tam. Stan taki wynika z kilku rzeczy: strachu użytkowników, braku wiedzy użytkowników, brakach w dokumentacji Mavena i bugów Mavena (i pewnie kilku innych rzeczy, o których wspomnę na spotkaniu, ale jasno wynika z tego, że winą obarczymy użytkowników, bo magia nie jest dla wszystkich).
                        p Spotkanie poświęcone będzie mechanice działania Mavena. Prześledzimy proces od hierarchii plików pom.xml do momentu, w którym Maven ma rozwiązane zależności (dependency resolution) - czyli wie, które zależności (najczęściej jary) i w których wersjach są potrzebne. Skupimy się na tym fragmencie dokładniej, gdyż nieco głębsze poznanie jak on działa: 1) pozwoli szybciej uporać się z najczęstszymi problemami oraz 2) pokaże jakie są możliwości Mavena i co można zrobić (pisząc pliki pom.xml) sprytniej.
                        p W trakcie spotkania zaprezentowane zostaną narzędzia, które pomogą zobaczyć wyniki cząstkowe działania Maven'a, które pomagają w diagnozie naszych problemów (z tymi życiowymi Maven sobie *jeszcze* nie radzi).
                        p Pełną wartość spotkania można zakosztować eksperymentując z przykładowym projektem 3-modułowym zarządzanym przez Maven jak opisano w dokumencie 
                            a(href='http://maven.apache.org/guides/getting-started/index.html', target='_blank') Maven Getting Started Guide
                            | .
                        h3 O prelegencie:
                        p Piotr Tabor jest studentem V roku magii na wydziale MIM UW, programistą z niemal 10 letnim doświadczeniem zawodowym. Trzy lata z tego poświęcił zgłębianiu Java EE. Z Mavenem związany od czasów, gdy Jacek zachwycał się nim (Mavenem) na spotkaniach Warszawskiej Grupy Użytkowników Technologii BEA. Skonfrontował entuzjazm Jacka z prawdziwymi przypadkami biznesowymi... ... i po zaledwie tygodniu umiał już skompilować projekt. Z rozwojem Maven'a związany od roku, choć nadal bez uprawnień commitera, uczestnik Google Summer of Code 2007 pod opieką samego Jason'a van Zyl'a (Maven Founder) przy zestawie narzędzi do generowania diagramów dokumentujących różne aspekty analizowanej aplikacji (zależności pomiędzy modułami, schemat klas).
