div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 212. spotkanie WJUG
                        h2 Optimized for what?
                        h3 Alberto Brandolini
                        p Termin: 20.06.2017 godz. 18:15
                        p Lokalizacja: Domaniewska 37A
                        p Sponsor:
                            p
                                a(href="http://pragmatists.pl/", target='_blank')
                                    img(src="/img/sponsors/pragmatists.png", border="0", style="height: 100px")
                        h3 O prezentacji:
                        p Since the early days, software development has evolved a lot. Writing code used to be a long tiring activity, but now is no longer the bottleneck. However, if we see software development with a different perspective, we’ll realize that there are vast opportunities for improvement, by switching to a more appropriate metaphor.
                        h3 O prelegencie:
                        h4 Alberto Brandolini
                        p Alberto Brandolini is an IT Professional that gets bored doing things in the same old way. This led him into unexplored areas of Domain-Driven Design, Lean and Agile Software Development, learning and change management, where he likes to bring apparent chaotic fuzziness and a comic-like visual touch. An active consultant in software product development, he also run his company Avanscoperta.
