div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 25 spotkanie WJUGa
                        h2 Intellij IDEA and TeamCity - productivity and innovation today
                        h3 Vaclav Pech (JetBrains)
                        p Termin: 27.02.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/QbILMbwuEKg/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p IntelliJ IDEA is a full-featured IDE that focuses on developer productivity. The effort spent on making IntelliJ IDEA an intelligent, adaptive and smoothly integrated IDE results in pleasurable developers' experience. In the session you will see IntelliJ IDEA in action. Short examples of effective use will illustrate the power of IntelliJ IDEA. Moreover, you will have an opportunity to learn what is new in the recent IDEA version - IntelliJ IDEA 7, again with various coding examples.
                        p IntelliJ TeamCity is a distributed build management and continuous integration system. It allows your team to run and monitor your software building process while improving your team communication and the integration of changes. In this session you will see how TeamCity integrates into the development process, runs builds, detects problems, reports them and assists developers in their daily work.
                        p Vaclav will be presenting IDEA for about 1 hour and TeamCity after a 10-minute break for other 50 minutes. He has a couple of slides prepared, but he'll be coding most of the time.
                        p The agenda for the presentation is as follows:
                        ul
                            li Continuous integration with TeamCity
                            li No more broken builds with Pre-tested commit, ever
                            li Code inspections and code coverage weight-lifting on the server
                            li The Agent grid to your service
                            li Smooth Eclipse and IDEA integration
                        h3 O prelegencie:
                        p Vaclav Pech is a seassioned software developer and a programming enthusiast with 8 year Java development and consultancy experience. He received his Masters Degree in Informatics in 1999 and since then he has participated on various projects across Europe. Currently he is involved on projects inside Jetbrains. When not at work he spends his time with his family, hiking in the mountains or travelling.

