div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 27 spotkanie WJUGa
                        h2 Programowanie Java Portlets (JSR 168/286/301)
                        h3
                            a(href='http://bdawidowicz.blogspot.com', target='_blank') Bolesław Dawidowicz
                        p Termin: 18.03.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/tvpWkTgcYfk/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Celem spotkania jest przedstawienie technologii Java Portlet. Wszyscy którzy nie mieli okazji zetknąć się z tą technologią będą mogli dowiedzieć się m.in.:
                        ul
                            li Portlet i jego cykl rozwojowy w kontenerze portletów
                            li Java Portlet 1.0 API (JSR 168)
                            li Nowości Java Portlet 2.0 (JSR 286) 
                            li Różnica między kontenerem portletów a portalem oraz dostępne implementacje wspierające Java Portlet 2.0 
                            li Zaawansowane szkielety webowe do tworzenia portletów
                            li JSR 301 - Portlet Bridge Specification for JavaServer Faces - dostępne implementacje oraz przedstawienie mechanizmu funkcjonowania JSF w środowisku kontenera portletów li Portlety w JSF/JBoss Seam - działanie i potencjalne problemy
                        p Finalna wersja specyfikacji Java Portlet 2.0 (JSR 286) została pozytywnie przegłosowana w JCP 3. marca i czeka na ostateczną publikację!
                        h3 O prelegencie:
                        p Bolesław Dawidowicz jest członkiem projektu JBoss Portal, w którym zaczęła się jego przygoda ze światem projektów otwartych. Interesuje się rozwiązaniami z kręgu Identity Management. Aktywny uczestnik Warszawa JUG, który nie daje zapomnieć o istnieniu technologii Java Portlets i projekcie JBoss Portal.
