div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 28 spotkanie WJUGa
                        h2 Java w zastosowaniach bazodanowych
                        h3 Piotr Pietrzak
                        p Termin: 01.04.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/hdtoTGL4Df8/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Celem spotkania jest przedstawienie Javy jako języka procedur składowanych. Wszyscy, którzy nie mieli jeszcze okazji zetknąć się z tą technologią dowiedzą się, w jaki sposób można wykorzystać swoje umiejętności programowania w Javie do tworzenia procedur składowanych. Zostaną przedstawione podobieństwa i różnice istniejących implementacji w wykonaniu Oracle i Postgresql, oraz porównać procedury składowane do EJB.
                        p Przewiduje się dyskusję na temat Javy jako języka procedur składowanych - wad i zalet tego podejścia.
                        h3 O prelegencie:
                        p Piotr Pietrzak jest absolwentem Politechniki Warszawskiej, doktorantem Szkoły Głównej Handlowej i pracownikiem Działu Aplikacji Komputerowych (DAK) Uniwersytetu Warszawskiego, prowadzi wykłady z zakresu Matematyki i Informatyki, oraz tworzy, rozwija i wdraża oprogramowanie w DAK. Zainteresowany głównie Javą, bazami danych, EJB, statystyką, ekonomią, ekonometrią i gokartami.
