div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 29 spotkanie WJUGa
                        h2 Zastrzyk z soku, czyli Google Guice
                        h3 Tomasz Szymański (szimano)
                        p Termin: 15.04.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/vvP49yKFVL4/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Czy w Javie 5.0 trzeba jeszcze używać "new" albo fabryk obiektów? Nie! Google Guice zmienia sposób patrzenia na tworzenie nowych obiektów. Zapominamy o antycznym "new" - nastała era @Inject.
                        p Może jest to trochę przesadzony wstęp do prezentacji Tomka, ale jest w nim ziarno prawdy (zbieżność nazw przypadkowa). Tomek pokaże, jak Guice ułatwia tworzenie obiektów, przechowywanie oraz współdzielenie ich pomiędzy innymi obiektami. Jednym słowem, zarządzanie obiektami w wykonaniu Guice przed nami. Google Guice nie stara się być nowym Springiem, czyli czymś w czym można zrobić wszystko. Jego zadanie jest proste - szybki, lekki i łatwy do zrozumienia szkielet służący do wstrzeliwania zależności (co może wam przypominać właśnie wspomnianego Springa, dla którego wielu uważa go jako konkurenta w zakresie IoC/DI). To i inne ciekawostki, w których wykorzystanie Guice może być użyteczne Tomek planuje pokazać.
                        h3 O prelegencie:
                        p Tomek Szymański (magister, inżynier, mąż, złośliwiec) - w/g jeszcze nie uzupełnionej strony o nim na Wikipedii: dumny posiadacz pomarańczowego pasa na javaBLACKbelt, miłośnik javy, absolwent oraz doktorant Wydziału Elektrycznego Politechniki Warszawskiej, pracownik pewnej firmy (choć kontraktowy) robiącej najczęściej używany serwer aplikacyjny*. Technologie spod parasola Google interesują Tomka od początku ich publicznego początku.
                        p * w/g pewnych badań
