div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 3 spotkanie WJUG
                        h2 Co nowego i dobrego w Enterprise JavaBeans 3.0 
                        h3 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p Termin: 09.01.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5820
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/3NRLfhbgh2A/', target='_blank') zapowiedź
                        h3 O prezentacji:
                        p Najnowsza odsłona specyfikacji Java EE 5 udostępnia odrestaurowaną specyfikację Enterprise JavaBeans w wersji 3.0 (EJB3). EJB3, jak i samo Java EE 5, jest przeciwieństwem bolączek, z jakimi borykali się programiści w wersjach poprzednich. Krytyka EJB 2.1 i poprzednich była podstawą dla powstania jej alternatywnych rozwiązań, w których prym wiedzie Spring Framework. I to przede wszystkim ich wpływ i udział ich projektantów w ciele standaryzującym specyfikację EJB3 sprawiły, że jest ona naszpikowana interesującymi konstrukcjami programistycznymi wypromowanymi przez projekty otwarte i podparte usprawnieniami Java SE 5. Należą do nich: konfiguracja poprzez annotacje, wstrzeliwanie zależności (ang. dependency injection), POJO jako komponenty EJB czy interceptory (znane z AOP). Poza nimi znajdziemy w EJB3 autorskie usprawnienia, gdzie najważniejszym jest konfiguracja przez nadpisywanie (ang. configuration by exception).
                        p Rozpoczęcie roku 2007 nie mogło być powitane prezentacją o mniej zdumiewającym swoim rozmachem novum niż EJB3. EJB3 dodaje blasku specyfikacji Java EE 5 i przyczyni się do powrotu wielu programistów i projektantów do platformy Java EE 5, którzy zmęczeni trudami EJB 2.1 zmigrowali do rozwiązań alternatywnych.
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacka Laskowskiego
                            | , który jest członkiem grup rozwojowych projektów 
                            a(href='http://geronimo.apache.org/', target='_blank') Apache Geronimo 
                            | i 
                            a(href='http://incubator.apache.org/openejb', target='_blank') Apache OpenEJB
                            | . Jest założycielem grup Warszawa JUG i Poland BEA User Group. Zaangażowany w poznawanie możliwości specyfikacji EJB3 tworząc egzamin na JavaBLACKbelt.com. Prowadzi 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Notatnik Projektanta Java EE
                            | , w którym znaleźć można m.in. relacje z lektury specyfikacji EJB3.
                        