div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 30 spotkanie WJUGa
                        h2 Apache Struts2
                        h3 
                            a(href='http://www.lenart.org.pl', target='_blank') Łukasz Lenart
                        p Termin: 29.04.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/3X3bro2msUQ/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        a(href='http://struts.apache.org/', target='_blank') Apache Struts2 
                        | to kolejne wcielenie jednego z lepiej rozpoznawanych szkieletów webowych w Javie - Apache Struts. Jednak obecna wersja w dużej mierze powstała na bazie innego szkieletu, WebWork. Struts2 jest czasem określany, jako WebWork 2.3. Struts2 to połączenie szerokiej społeczności Struts1 oraz prostoty Xwork. Ucieleśnienie programowania opartego o kontrakty (interface'y) oraz proste klasy (POJO). Zainteresowany? Zapraszam do udziału w spotkaniu!
                        h3 O prelegencie:
                        p
                        a(href='http://www.lenart.org.pl', target='_blank') Łukasz Lenart 
                        | - programista z zamiłowania, tworzenie programów od zawsze było jego hobby, aż przerodziło się w zajęcie komercyjne. Uważa, że dobry programista nie powinien być uzależniony od języka, w którym tworzy, a raczej patrzeć w przyszłość i próbować różnych języków i technologii w zależności od wymagań - dzisiaj jest to Java, a co będzie za 10 lat? Równie dobrze może pisać w PHP, C#, Borland Delphi, etc. Ważne, aby przynosiło mu to przyjemność. Prywatnie mąż i ojciec, domator, który lubi czytać i ceni sobie święty spokój! Z przekonań socjalista, z działania kapitalista ;-)
