div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 32 spotkanie WJUG
                        h2 30 minut z...Eclipse RCP, BugDay - "poprawianie" Eclipse oraz Apache Geronimo - serwer Java EE 5 i projekt ASF
                        h3 
                            | Michał (migi) Grzejszczak, 
                            a(href='http://www.jaceklaskowski.pl', target='_blank') Jacek Laskowski
                            | , 
                            a(href='http://www.lenart.org.pl', target='_blank') Łukasz Lenart
                        p Termin: 17.06.2008 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/bEFVmY7BBJE/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Grupa członków Warszawa JUG w składzie Michał migi Grzejszczak, 
                            a(href='http://www.jaceklaskowski.pl', target='_blank') Jacek Laskowski 
                            | oraz 
                            a(href='http://www.lenart.org.pl', target='_blank') Łukasz Lenart 
                            | zapoczątkują serię krótkich wystąpień 30 minut z..., podczas których można będzie dotknąć kilka tematów jednocześnie, każdemu prelegentowi przydzielając 30 minut spotkania z dodatkowymi 5-10 minutami na dyskusję podsumowującą. Jest to podsumowanie sezonu 2007/08 spotkań jugowych warszawskiej społeczności javowej.
                        p Michał zaprezentuje jak można zmiażdżyć "buga" we wtyczce do Eclipse'a z listy BugDay i że nie jest to nic trudnego. Oprócz błędów pokaże, jak zrobić własny quick assist aka quick fix. Jeśli masz pomysł na quick assist, którego nie ma jeszcze w Eclipse, a chciał(a)byś mieć, to przynieś go na spotkanie.
                        p Jacek opowie o Apache Geronimo, co to i dlaczego (nie?)warto się tym interesować, trochę o samym projekcie Apache Geronimo, jak to jest w ASF, jak się współpracuje, czy jest to trudne zadanie, być członkiem takiego projektu, etc. Trochę zagadnień praktycznych z posługiwania się serwerem z linii poleceń, konsoli administracyjnej oraz Eclipse, a także wieści z pola Geronimo jako projektu organizacji Apache Software Foundation (ASF).
                        p Łukasz omówi architekturę Eclipse RCP (Rich Client Platform) oraz zaprezentuje niewielki przykład z jego udziałem.
