div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 39 spotkanie WJUGa
                        h2 Coś między ORM a JDBC, czyli iBATIS Data Mapper
                        h3 
                            a(href='http://www.mariuszlipinski.pl/', target='_blank') Mariusz Lipiński
                        p Termin: 20.01.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/H_BqsgHsE3k/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | Podczas spotkania przyjrzymy się projektowi 
                        a(href='http://ibatis.apache.org/', target='_blank') Apache iBATIS Data Mapper 
                        | od podstaw, więc nie wahajcie się przyjść, nawet jeśli nigdy wcześniej nie zetknęliście się z tą nazwą! A co to jest iBATIS? Mówiąc krótko: prosty i miły w użyciu szkielet dla warstwy trwałości danych; nakładka na JDBC, która pozwala zachować zalety starego dobrego SQLa zwalniając nas jednocześnie z konieczności mozolnego dłubania, tak dobrze znanego programistom JDBC. W dokumentacji dla programisty twórcy iBATISa piszą, że dostarcza 80% możliwości JDBC przy redukcji nakładów na programowanie do 20%. Przyjdź i przekonaj się sam.
                        p
                        | Agenda spotkania obejmuje:
                        ul
                            li Co to jest Apache iBATIS Data Mapper
                            li Jak wygląda projekt używający iBATISa
                            li Poznajemy iBATISa na przykładach
                            li Narzędzia dla iBATISa i wtyczki do IDE
                            li Zagadnienia zaawansowane
                            li Apache iBATIS kontra ORM
                            li Rozważania, pytania i dyskusja
                        h3 O prelegencie:
                        p
                        a(href='http://www.mariuszlipinski.pl/', target='_blank') Mariusz Lipiński 
                        | jest inżynierem oprogramowania, pasjonatem technologii, IT i Javy w szczególności. Magister Informatyki, absolwent Wydziału Matematyki, Informatyki i Mechaniki Uniwersytetu Warszawskiego (MIMUW). Członek Warszawskiej Grupy Użytkowników Technologii Java, współorganizator konferencji JAVArsovia 2008. Prowadzi blog O technologiach dla języka Java 
                        a(href='http://www.mariuszlipinski.pl/', target='_blank') okiem Mariusza Lipińskiego
                        | .
