div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 4 spotkanie WJUGa
                        h2 Ruby on Rails - (godzinna) demonstracja możliwości 
                        h3 Sebastian Pietrowski
                        p Termin: 06.02.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5820
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/ewRP-FDP7RY/', target='_blank') zapowiedź
                        h3 O prezentacji:
                        p Ruby on Rails (RoR) przez wielu uważany za fenomen ostatnich lat! Istnieje wiele środowisk do tworzenia aplikacji internetowych. Czy zanurzeni w technologie Java powinniśmy ignorować język Ruby? Może by tak dołożyć kolejne narzędzie i rozszerzyć nasz warsztat programistyczny? Prezentacja będzie próbą zainteresowania uczestników językiem Ruby wraz ze środowiskiem tworzenia aplikacji internetowych - Rails. Są ludzie którzy uważają że rok 2007 będzie należał do technologi Java EE 5 (w tym EJB3 i JSF 1.2), ale są również i tacy, którzy uważają, że to rok Ruby on Rails. Bez względu na przekonania, dobrze znać potencjalne technologie roku 2007.
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez Sebastiana Pietrowskiego, który samego siebie uważa za pragmatycznego programistę. Jest absolwentem MiMUW. Związany z Javą od wersji 1.1. Poszukiwacz świętego grala informatyki. Najistotniejsze, że jest pierwszym grupowiczem Warszawa JUG, który zdecydował się podjąć wyzwanie i poprowadzić spotkanie. Już to gwarantuje ciekawe spotkanie ;-)


                        
