div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 40 spotkanie WJUGa
                        h2 Liferay / WebSynergy - portal (miś) na miarę naszych możliwości
                        h3 Piotr Pietrzak
                        p Termin: 03.02.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/5IZXZwlLcWY/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Prezentacja przedstawi funkcjonalność 
                            a(href='http://www.liferay.com', target='_blank') Liferay Portal
                            | , który jest kontenerem portletów. Zobaczymy jak dostosować portal do swoich wymagań (wygląd, polonizacja) oraz jak wygodnie/wydajnie można programować w środowisku portletowym. Porównane zostaną sposoby komunikacji międzyportletowej i wykorzystamy mechanizm Comet. Na koniec zobaczymy języki skryptowe (na przykładzie PHP) jako języki do tworzenia portletów.
                        h3 O prelegencie:
                        p Piotr Pietrzak jest pracownikiem Działu Aplikacji Komputerowych (DAK) Uniwersytetu Warszawskiego. Zainteresowany głównie Javą, bazami danych (najchętniej nierelacyjnymi), w wolnych chwilach troluje na grupach i tworzy ciekawe, lecz zupełnie nieprzydatne projekty w Javie, PHP i od niedawna w Erlangu.
