div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 42 spotkanie WJUG
                        h2 Zwinne i lekkie aplikacje webowe z Grails
                        h3 
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p Termin: 03.03.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/Axwvd31KsOo/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                            a(href='http://grails.org/', target='_blank') Grails 
                            | jest platformą aplikacyjną, która pretenduje do miana rozwiązania lekkiego i dynamicznego ala Ruby on Rails czy Django. Podejście oparte na zasadach "konwencji-ponad-konfigurację", DRY, dynamiczne i statyczne rusztowanie oraz uproszczone testowanie składowych aplikacji do tej pory zarezerwowane były dla szkieletów webowych spoza obszaru Javy. Z nastaniem ery języków skryptowych uruchamianych na platformie JVM możliwe jest wprowadzenie ich do naszego arsenału projektowego. Można śmiało postawić tezę, że Grails to aplikacja wzorcowa dla Groovy, Spring Framework i Hibernate, więc pozostaje tylko zapytać, czego nie można w nim zrobić, co jest dostępne w innych środowiskach.
                        p Przedstawienie cech Grails podczas prezentacji będzie wspierane jednoczesnym tworzeniem niewielkiej (przykładowej) aplikacji webowej z najnowszą wersją Grails 1.1RC2 oraz wersją rozwojową NetBeans IDE 6.7.
                        h3 O prelegencie:
                        p
                            a(href='http://www.jaceklaskowski.pl/', target='_blank') Jacek Laskowski 
                            | zajmuje się Javą i jej korporacyjną wersją Java EE od pierwszych dni ich pojawienia się na rynku. Utrzymuje swoją wiedzę informatyczną dzieląc się nią wszem i wobec - na blogu, artykułach, wystąpieniach publicznych czy przypadkowych spotkaniach - sądząc, że ciągłe wystawianie swojej wiedzy na publiczną krytykę jest jednym z nielicznych sposobów na jej szybkie wywindowanie w górę. "Pomoc" rodzinna - żona i dwójka dzieciaków - pomaga utrzymać pułap i za daleko nie odlecieć w chmury.
