div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 44 spotkanie WJUGa
                        h2 Java dla dużych chłopców, czyli Lego Mindstorms i leJOS
                        h3 
                            a(href='http://blog.kunicki.org/', target='_blank') Jacek Kunicki
                        p Termin: 31.03.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/DejHfbuGeS4/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | Podczas prezentacji Jacek przedstawi możliwości drzemiące w klockach Lego wzbogaconych o czujniki i silniki, czyli w zestawie Mindstorms. Będzie zarówno część teoretyczna, która pokaże jak można oprogramować Lego Mindstorms, jak również praktyczna demonstracja przykładowego robota - zarówno w działaniu, jak i od kuchni. Aby uczynić zadość tematyce grupy, prelegent omówi programowanie Lego Mindstorms z wykorzystaniem opartego o Javę - 
                        a(href='http://lejos.sourceforge.net/', target='_blank') leJOS
                        | .
                        h3 O prelegencie:
                        p
                        a(href='http://blog.kunicki.org/', target='_blank') Jacek Kunicki 
                        | jest absolwentem Wydziału EiTI PW. Obecnie pracuje jako programista Java EE w Javatech. Poza kwestiami zawodowo-technologicznymi pasjonują go piesze wycieczki po górach, zaś w tzw. międzyczasie obserwuje zjawiska socjologiczne występujące we współczesnym Internecie - zwłaszcza w serwisach społecznościowych. Jacek prowadzi 
                        a(href='http://blog.kunicki.org/', target='_blank') bloga
                        | , w którym dość nieregularnie umieszcza wpisy o przeróżnej tematyce.
