div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 48 spotkanie WJUGa
                        h2 DWR wprowadzenie 
                        h3 Filip Matuszewski
                        p Termin: 26.05.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/75MuOk7jXlQ/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Podczas prezentacji Filip opowie o 
                            a(href='http://directwebremoting.org/', target='_blank') Direct Web Remoting (DWR)
                            | , czyli bibliotece javowej, która umożliwia dynamiczne wywoływanie metod Javy (po stronie serwera) z JavaScriptu (z przeglądarki) wraz z właściwą serializacją przesyłanych obiektów. Podczas prezentacji zobaczymy jak skonfigurować DWR jako serwlet oraz w kontekście Spring Framework, a także wtyczkę DWR do Grails. Zobaczymy również podstawowe funkcje JavaScript API oraz kilka przykładów, co możemy osiągnąć dzięki obiektom DWR. Prezentacja zostanie okraszona fragmentami kodu.
                        h3 O prelegencie:
                        p Filip Matuszewski jest studentem Wydziału Elektroniki Politechniki Warszawskiej. Od 3 lat pasjonuje się programowaniem. Miłośnik Javy, Spring Framework, Grails oraz dynamicznego wytwarzania aplikacji.
