div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 49 spotkanie WJUG
                        h2 Praktyki Zwinnego Programisty
                        h3 
                            a(href='http://www.pawellipinski.com/', target='_blank') Paweł Lipiński 
                        p Termin: 09.06.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/pP-gEm-jnsE/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Przed wystąpieniem Pawła o praktykach gościem specjalnym będzie przedstawiciel firmy IncuBIT.pl - inkubatora innowacyjnych technologii z zakresu Internet/Mobile współfinansowanym z PO IG 3.1. Jest to organizacja non-profit, której celem jest wspieranie pomysłowych i energicznych ludzi w realizacji ich pomysłów. Wystąpienie zajmie 15 minut i jej celem jest przedstawienie możliwości skorzystania z funduszy Unii Europejskiej do finansowania własnych przedsięwzięć. 
                        p Dalsza część spotkania to występ Pawła Lipińskiego z jego tematem agile'owym. Paweł opowie o wszystkich głównych zagadnieniach związanych z pracą w zwinnym/agile'owym zespole. Pokaże jak wygląda zwinny projekt zarówno od strony zarządzania (organizacja zespołu, pracy, komunikacji z klientem, planowanie i estymacja wymagań) jak i praktyk programistycznych (TDD, programowanie w parach, ciągła integracja, itp.) Opowie o różnicach w pracy między klasycznym projektem i zespołem programistycznym i pracy w środowisku agile'owym.
                        h3 O prelegencie:
                        p
                            a(href='http://www.pawellipinski.com/', target='_blank') Paweł Lipiński 
                            | jest programistą, architektem, trenerem zespołów programistycznych. Przez ostatnie lata pracował jako agile coach oraz architekt aplikacji i systemowy, głównie przy systemach klasy enterprise. Aktualnie pracuje w firmie Pragmatists (będąc przy okazji jej właścicielem), która zajmuje się usługami dla zespołów programistycznych (coaching, szkolenia, prowadzenie zespołów), pomocą przy projektach typu 'death march', oraz tworzeniem oprogramowania z wykorzystaniem zwinnych metodyk i praktyk. Posiada certyfikat Certified Scrum Practitioner i niezliczone techniczne certyfikaty głównie ze świata Java/JEE.
