div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 50 spotkanie WJUGa
                        h2 Spring Roo
                        h3 Andrzej Wisłowski
                        p Termin: 23.06.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/I3W5iAl4xVU/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Plan prezentacji obejmuje wprowadzenie do nowego projektu SpringSource 
                            a(href='http://www.springsource.org/roo', target='_blank') Spring Roo 
                            | opisującą proponowane podejście do generowania kodu i uproszczenia życia programistom webowym. Następnie przedstawione zostanie jak łatwo można stworzyć aplikację webową przy pomocy Spring Roo.
                        h3 O prelegencie:
                        p Andrzej Wisłowski jest absolwentem Wydziału MIMUW. Programista Java od 5 lat, pasjonat Spring Framework. Twórca list życzeń na merlin.pl. Prywatnie miłośnik gór.
