div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 51 spotkanie WJUGa
                        h2 Ognisty Serwer, smaczny Klient. Openfire i Smack - tworzenie wtyczek i rozszerzeń serwera/klienta Jabbera
                        h3 Bartek Zdanowski (Zdanek)
                        p Termin: 15.09.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/rIvSWJB9SmU/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | Podczas prezentacji zostanie zademonstrowany serwer jabbera Openfire i biblioteka klienta - Smack. Prelegent pokaże jak tworzyć pluginy i komponenty do Openfire oraz zademonstruje prostotę pisania własnego klienta bazując na bibliotece Smack. Oprócz klasycznych wtyczek będzie jak rozszerzać komponenty składowe i właściwości serwera. W trakcie prezentacji - kodowanie na żywo.
                        h3 O prelegencie:
                        p
                        | Bartek Zdanowski pracuje w firmie AutoGuard SA. Jest głównym programistą i szefem technicznym zespołu tworzącego oprogramowanie do zarządzania flotą samochodową.
