div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 53 spotkanie WJUGa
                        h2 Java w długopisie, zaskakująco użyteczne połączenie
                        h3 
                            a(href='http://poligloci.blogspot.com/', target='_blank') Michał Margiel
                        p Termin: 13.10.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/DciWGVzl7RU/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p W takcie prezentacji Michał przedstawi genialny (tak przynajmniej twierdzi prelegent) wynalazek firmy livescribe - inteligentny długopis o jakże zaskakującej nazwie "Smart pen", który może zrewolucjonizować sposób prowadzenia notatek na wykładach.
                        p Długopis zawdzięcza swą "mądrość" Javie ME, którą ma na pokładzie oraz rozszerzeniom, o których więcej podczas prezentacji.
                        p Wykład składa się z dwóch części. W pierwszej zostaną zaprezentowane wbudowane możliwości pisaka - synchronizacja tego, co piszemy z tym, co słyszymy, rozpoznawanie pisma, oraz aplikacja desktopowa do zarządzania naszymi notatkami. W drugiej części przedstawiony będzie interfejs programistyczny na przykładzie aplikacja tworzonej na żywo.
                        p Zdaniem Michała każdy student (ale nie tylko) po wysłuchaniu prelekcji będzie marzył o własnym "Smart penie".
                        h3 O prelegencie:
                        p 
                            a(href='http://poligloci.blogspot.com/', target='_blank') Michał Margiel 
                            | jest absolwentem wydziału Elektrycznego Politechniki Warszawskiej, z wykształcenia informatyk. W WJUGu jest od samego początku jego istnienia, oraz współorganizował dwie edycje konferencji Javarsovia. Na codzień pracuje w firmie Pragmatists na stanowisko artysta-programista[2] , zaś samą javą zajmuje się już od ponad 4 lat. Posiada certyfikaty SCJP, SCWCD, pomocy przedmedycznej oraz wychowawcy kolonijnego.
