div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 56 spotkanie WJUG
                        h2 Jesienny Eclipse DemoCamp 2009 
                        h3 Michał Margiel, Łukasz Lenart, Jacek Laskowski, Sebastian Pietrowski, Tomasz Bujok
                        p Termin: 24.11.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/zATYfhLNA84/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Tym razem forma spotkania będzie minikonferencją wokół produktów Eclipse Foundation, w której 5 prelegentów zaprezentuje rozwiązania w ciągu...20 minut każdy. Jeśli to nie przekonuje Cię o spędzeniu wtorkowego wieczoru w niezwykle porywającej atmosferze w gronie entuzjastów javowych, to może agenda?
                        p 18:00-18:20 Bądź leniwy - wykorzystaj ukrytą moc Eclipse, czyli jak robić by się nie narobić i wycisnąć max ze środowiska - Michał Margiel
                        p 18:25-18:45 GoogleAppEngine - chmura na Ja(v)wie - Łukasz Lenart
                        p 18:50-19:10 OpenEJB Eclipse Plugin - EJB 3.1 z Apache OpenEJB w Eclipse IDE - Jacek Laskowski
                        p 19:15-19:35 Wprowadzenie do Cloud Foundry - Sebastian Pietrowski
                        p 19:40-20:00 Po prostu monitoring, czyli jak zbudować skalowalną architekturę monitoringu w 20 minut za pomocą Spring, AOP i ActiveMQ - Tomasz Bujok
