div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 57 spotkanie WJUGa
                        h2 Własny mały guglik, czyli jak szybko i prosto wbudować silnik wyszukiwania w swoją aplikację z pomocą projektu Compass
                        h3 Marcin Zajączkowski
                        p Termin: 08.12.2009 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/sdedtzp_T3E', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | W czasie prezentacji przedstawione będzie zagadnienie pełnotekstowego wyszukiwania informacji w zbiorze danych oraz jego przydatność w tworzonych na co dzień projektach. Marcin przedstawi bibliotekę Compass, która jest nakładką na silnik wyszukiwania Apache Lucene, wraz z jej mechanizmami znacznie upraszczającymi i przyśpieszającymi pracę z indeksowaniem danych, wychwytywaniem wprowadzanych w nich zmian oraz samym wyszukiwaniem. Zobaczymy jak (przy odrobinie szczęścia) typowa aplikacja webowa wzbogaci się w "niezwykłą" aplikację posiadającą wbudowany silnik wyszukiwania.
                        h3 O prelegencie:
                        p
                        | Marcin Zajączkowski zajmuje się programowaniem od lat. Obecnie piastuje stanowisko architekta w dużej polskiej firmie tworzącej oprogramowanie. Interesuje się szczególnie architekturą systemów, wzorcami projektowymi oraz zagadnieniami integracyjnymi. Jest zwolennikiem zwinnego podejścia do tworzenia oprogramowania. Poza światem Java miłośnik wolnego oprogramowania, w szczególności powiązanego z systemem Linux.
