div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 6 spotkanie WJUG
                        h2 Rich Internet Applications (RIA) na przykładzie technologii Adobe Flex z Java EE w tle 
                        h3 Bartek Soin
                        p Termin: 06.03.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/TKRqATXk7Ec/', target='_blank') zapowiedź
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/6Sq0_crh0NM/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Rich Internet Applications (RIA) to nowy trend w dziedzinie tworzenia warstwy prezentacji aplikacji internetowych. Wykorzystanie tego paradygmatu przede wszystkim pozwala na prostsze dostarczenie "bogatych" i bardziej interaktywnych aplikacji w porównaniu z klasycznym modelem opartym o strony HTML.
                        p Prezentacja będzie poruszać temat RIA na przykładzie technologii zdobywającej co raz większe uznanie w świecie Javy - Adobe Flex 2. Dowiemy się z niej między innymi:
                        ul
                            li jakie są zalety i wady budowania RIA
                            li co wchodzi w skład Flex 2 oraz jak i kiedy to wykorzystywać
                            li jakie są technologie alternatywne i konkurencyjne w stosunku do Flexa
                        p Całość zostanie uatrakcyjniona przykładami integracji z Javą EE po stronie serwera oraz burzliwą dyskusją na temat kierunku rozwoju technologii prezentacji.
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez Bartka Soina, który jest studentem PJWSTK, programistą w LearningLab i entuzjastą nowoczesnych technologii internetowych w jednym. Możnaby napisać więcej, ale wrodzona skromność Bartka pozwoliła mu jedynie na zaprezentowanie Flexa, ale już nie samego siebie.
                        