div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 60 spotkanie WJUGa
                        h2 Hmm Java jawą, a co z iPhone? 
                        h3 
                            a(href='http://pietrowski.info/', target="_blank") Sebastian Pietrowski (aka Pedro)
                            | , Michał Karwański (aka Karwer)
                        p Termin: 26.01.2010, godz 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Materiały:
                        ul
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/20slzOCJS8c", target="_blank") dyskusja
                        h3 O wykładzie: 
                        p
                        | Prezentacja obejmie demonstrację środowiska programistycznego na platforme iPhone oraz poruszy kwestię, czy warto inwestować swój czas w naukę nowej rzeczy, czy nie lepiej wybrać platformę javopodobną jaką jest Android.
                        p
                        | Oprócz filozoficznych rozważań nie zabraknie "twardej treści" w postaci programowania na żywo z Xcode, językiem Objective-C i prawdziwym iPhone.
                        h3 O prelegentach:
                        p
                        a(href='http://pietrowski.info/', target="_blank") Sebastian 
                        | i Michał są absolwentami Wydziału Informatyki Uniwersytetu Warszawskiego. O Pedro już kiedyś było (przy okazji prezentacji o Ruby on Rails 06.02.2007), Karwer natomiast to cicha gwiazda, mistrz Polski w sudoku, wielokrotny reprezentant Polski na międzynarodowych konkursach sudoku oraz łamigłówkach. Jeżeli zauważysz człowieka, który w minutę rozwiązuje sudoku, w którym z ledwością w tym czasie wpisałeś 1 cyfrę, to znaczy, że masz do czynienia z Karwerem.
