div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 66 spotkanie WJUGa
                        h2 Vaadin, czyli po co nam kolejny framework webowy?
                        h3 
                            a(href='http://koziolekweb.pl/', target="_blank") Bartek "koziołek" Kuczyński 
                        p Termin: 20.04.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/f5SPoid_838', target='_blank') zapowiedź
                          
                        h3 O prezentacji:
                        p 
                        | Celem prezentacji jest przedstawienie Vaadin - frameworku aplikacji webowych opartego o Google Web Toolkit (GWT). Autor zaprezentuje podstawowe możliwości narzędzia oraz omówi różnice w stosunku do innych frameworków. Przedstawiony zostanie związek z GWT oraz sposób integracji aplikacji Vaadin ze Spring Framework i niezależnymi gadżetami GWT.
                        h3 O prelegencie:
                        p
                        a(href='http://koziolekweb.pl/', target="_blank") Bartek "koziołek" Kuczyński 
                        | jest absolwentem Wydziału Fizyki UW, specjalizacja fizyka komputerowa. Od kilku lat zajmuje się zawodowo programowaniem w JEE/JSE. Zainteresowany problematyką elastyczności aplikacji oraz szeroko rozumianymi dobrymi praktykami w programowaniu. Ostatnio odkopuje stare technologie (COBOL/ALGOL/Linc) i przywraca je do życia w nowoczesnych projektach.
