div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 67 spotkanie WJUGa
                        h2 Multimedia Home Platform, czyli Java na małym ekranie 
                        h3 Damian Szczepanik 
                        p Termin: 18.05.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/x1r89hakMTs', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Celem spotkania są przedstawienie głównych założeń platformy 
                            a(href='http://en.wikipedia.org/wiki/Multimedia_Home_Platform', target='_blank') Multimedia Home Platform (MHP) 
                            | oraz charakterystyka aplikacji w porównaniu z appletem czy midletem. W dalszej części omówiony zostanie sposób dostarczania aplikacji na telewizor oraz jej uruchamianie. Podjęte zostaną tematy związane z wytwarzaniem oprogramowania na platformie sprzętowej MHP, implementacją maszyny wirtualnej oraz sposobem testowania. Nie zabraknie omówienia możliwości telewizora, który posiada platformę MHP. Na koniec krótka wizualizacja przykładowych aplikacji. 
                        h3 O prelegencie:
                        p Damian Szczepanik pracuje w firmie Samsung Electronics, gdzie jako  programista C++/Java zajmuje się rozwojem oprogramowania dla 
                            a(href='http://en.wikipedia.org/wiki/Digital_Video_Broadcasting', target='_blank') telewizorów cyfrowych
                            | . W szczególności umożliwieniem aplikacjom 
                            a(href='http://en.wikipedia.org/wiki/Xlet', target='_blank') Xlet 
                            | uruchamiania się na platformie MHP oraz integrowaniem ficzerów i tępieniem robactwa tak, by się nic nie wylęgło na taśmie  produkcyjnej - co wspólnymi siłami się udaje. W wolnym czasie udziela się jako tester projektu 
                            a(href='http://www.mozilla.org/projects/calendar/', target='_blank') Mozilla Calendar
                            | . 
