div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 68 spotkanie WJUGa
                        h2 Ruch Software Craftsmanship i co z tego wynika dla zwykłego programisty
                        h3 
                            a(href='http://solidcraft.eu', target="_blank") Jakub Nabrdalik
                        p Termin: 01.06.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały 
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/7MfF9PmkZj0', target='_blank') zapowiedź
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/7MfF9PmkZj0', target='_blank') dyskusja
                            li
                                a(href='http://manifesto.softwarecraftsmanship.org', target='_blank') manifest Software Craftsmanship
                            li
                                a(href='http://groups.google.com/group/software_craftsmanship', target='_blank') grupa software_craftsmanship
                            li  
                                a(href='http://www.agileskillsproject.org', target='_blank') umiejętności rzemieślnika

                        h3 O prezentacji:
                        p 
                        | Celem spotkania jest przedstawienie ruchu 
                        a(href='http://en.wikipedia.org/wiki/Software_craftsmanship', target='_blank') Software Craftsmanship
                        | . Przejdziemy przez jego genezę, idee, założenia, manifest, by następnie porozmawiać o efektach: programiście jako pisarzu, metodach i wzorcach rzemieślniczych, sposobie rozwoju (mentoringu), społeczności. Będzie też praktyczny przykład zastosowania wymienionych wytycznych w kodowaniu. Prezentacja bazuje na koncepcjach opisanych w książce 
                        a(href='http://www.informit.com/store/product.aspx?isbn=0132350882', target='_blank') "Clean Code: A Handbook of Agile Software Craftsmanship" 
                        | Roberta C. Martina, wywiadach z nim, treściach poruszanych na googlowej grupie dyskusyjnej software_craftsmanship i doświadczeniach własnych.
                        h3 O prelegencie:
                        p
                        a(href='http://solidcraft.eu', target="_blank") Jakub Nabrdalik 
                        | pracuje dla firmy TouK jako Solution Architect, co oznacza, że w zależności od sytuacji, zakłada czapeczkę projektanta, programisty, architekta, analityka, lidera zespołu, kierownika projektu i tak dalej. Od 2003 roku czerpie dużo radości z zawodowego tworzenia oprogramowania w różnych technologiach, językach i metodykach. Od 2005 praktykuje TDD i Pair Programming. Walczy ze stereotypem developera jako aspołecznego gnoma i z chaosem wkradającym się po cichu do projektów informatycznych.
