div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 7 spotkanie WJUGa
                        h2 Miesięczna ewaluacja Google Web Toolkit (GWT) - i co, fajne? 
                        h3 
                            a(href='http://www.margiel.com/', target='_blank') Michał Margiel 
                        p Termin: 20.03.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/HpyGPs-wTcc/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                            a(href='http://code.google.com/webtoolkit/', target='_blank') Google Web Toolkit 
                            | jest świeżutkim (wersja 1.0 wypuszczona 16 maja 2006 roku) szkieletem programistycznym do tworzenia widoków w aplikacjach internetowych z wykorzystaniem mocy AJAX'a. Cały szkielet najlepiej opisuje tytuł książki Ed Burnette'a 
                            a(href='http://www.pragmaticprogrammer.com/titles/ebgwt/', target='_blank') Google Web Toolkit: Taking the pain out of Ajax 
                            | . A co w nim takiego fajnego i czemu dzięki niemu pozbywamy się tytułowego bólu - o tym wszystkim już 20 marca!
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez 
                            a(href='http://www.margiel.com/', target='_blank') Michała Margiela
                            | , który jest studentem 5. roku Politechniki Warszawskiej, Wydziału Elektrycznego. Programista Java w firmie Javart. Niezmordowany uczestnik spotkań Warszawa-JUG, wcześniej jej protoplasty PLBUG, gdzie na pierwszym spotkaniu pojawiło się bagatela 8 osób (!) Michał interesuje się nowymi technologiami zwłaszcza internetowymi. I można by tak jeszcze długo, ale po co, skoro zobaczycie Michała w akcji już w nadchodzący wtorek!
                        
