div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 70 spotkanie WJUG
                        h2 Wstęp do programowania funkcyjnego z Clojure
                        h3 
                            a(href='http://jaceklaskowski.pl/', target="_blank") Jacek Laskowski
                        p Termin: 19.10.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Dyskusja 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/zUoyHQMrH2Y', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Po 15 latach programowania imperatywno-obiektowego w Javie postanowiłem spróbować się z programowaniem funkcyjnym. Na warsztat wziąłem język 
                            a(href='http://clojure.org/', target="_blank") Clojure
                            | , który łączy przyjemne z pożytecznym, tj. wciąż jestem na JVM i mogę korzystać z dobrodziejstw ogromnej liczby bibliotek javowych, jednocześnie programując funkcyjnie. Ostatnie moje skromne osiągnięcia na polu zrozumienia sensu tej nauki zakończyły się kilkoma użytecznymi wynikami i postanowiłem zaprezentować je szerszej publiczności. Wiążę z tym nadzieje zaangażowania większej liczby osób w poznawanie tajników PF, zebrania wskazówek dalszego rozwoju oraz szerszego spojrzenia na potencjalne wykorzystanie Clojure i PF w projektach komercyjnych.
                        p Czego należy oczekiwać:
                        ul
                            li Zbudowania aplikacji webowej z możliwością dynamicznego jej rozwoju
                            li Uruchomionego Eclipse z wtyczką CCW (counterclockwise)
                            li Clojure REPL
                            li Niewielkiej liczby slajdów (powiedzmy 5)
                            li Cechy języków funkcyjnych (pobieżnie, bo słabym jeszcze merytorycznie)
                            li Wprowadzenia, podkreślam słowo, wprowadzenia do PF z Clojure
                            li Nie więcej niż 1,5h wystąpienia
                            li Nagranego spotkania
                        p Czego NIE należy oczekiwać:
                        ul
                            li odpowiedzi gdzie i jak wykorzystać Clojure z Java EE
                            li odpowiedzi dlaczego warto nauczyć się programowania funkcyjnego lub Clojure w szczególności
                            li odpowiedzi na pytanie, czym Clojure jest lepszy/gorszy (niepotrzebne skreślić) w porównaniu z innymi językami, Scalę wliczając
                            li i wielu innych odpowiedzi na pytania o wyższość jednego nad drugim, albo uzasadnienia mojego wyboru poznania PF i to z Clojure
                        h3 O prelegencie:
                        p Jacek Laskowski jest założycielem i liderem grupy warszawskich użytkowników Javy - Warszawa JUG. Prowadzi bloga 
                            a(href='http://jaceklaskowski.pl/', target="_blank") Notatnik Projektanta Java EE
                            | , w którym przedstawia swoje użycie Javy i okolic. Zawodowo w IBM jako specjalista produktów z rodziny WebSphere, głównie WebSphere BPM z flagowymi produktami: IBM WebSphere Dynamic Process Edition i IBM WebSphere Lombardi Edition. Nadaje na falach twittera jako 
                            a(href='http://twitter.com/jaceklaskowski', target="_blank") @jaceklaskowski
                            | .
