div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 71 spotkanie WJUGa
                        h2 Sztuczki w językach programowania
                        h3 Cezary Bartoszuk
                        p Termin: 09.11.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Dyskusja 
                            a(href='https://groups.google.com/forum/#!topic/warszawa-jug/cpnwj3c4cbc', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                        | Rozwijane obecnie języki programowania pełne są sztuczek: technik, wzorców, metod lub przepisów, których przyjęło się używać do osiągnięcia konkretnego celu. Sądzę, że aby poszerzyć swoją wiedzę o programowaniu warto poznać smaki ciekawych sztuczek stosowanych w różnych językach programowania.
                        p 
                        | Pogadankę o "sztuczkach" (jak będę je nazywał ze względu na to, że są bytami bardzo różnych rodzajów) podzieliłem na trzy zasadniczo różne części:
                        ol
                            li Typowanie
                            li Przepływ danych
                            li Przepływ sterowania
                        p 
                        | W każdej z tych części w sposób dość popularnonaukowy (i w dużej mierze opierając się na intuicjach) omówię kilka sztuczek jakie stosowane są w językach programowania. Każda sztuczka będzie miała charakter informacyjny wraz z krótkim przejrzeniem plusów i minusów danego rozwiązania.
                        p
                        | Do worka ze sztuczkami wrzucę między innymi: funkcje i typy wyższych rzędów, kontynuacje, jedną lub dwie monady i polimorfizm w różnych smakach.
                        h3 O prelegencie:
                        p
                        | Cezary Bartoszuk jest studentem Wydziału Matematyki, Informatyki i Mechaniki, kierunku informatyka. Interesuje się programowaniem funkcyjnym, współbieżnością i clean-codem. Zawodowo programista Pythona.
