div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 72 spotkanie WJUGa
                        h2 Clojure praktyczniej: REPL, Eclipse CCW, Eclipse Mylyn, monady i defrecord
                        h3 
                            a(href='http://jaceklaskowski.pl/', target="_blank") Jacek Laskowski
                        p Termin: 23.11.2010 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Dyskusja 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/btFwZmRLt2Y', target='_blank') dyskusja
                        h3 O prezentacji:
                        p Kontynuacja relacji z mojej nauki języka funkcyjnego na wirtualnej maszynie Javy - Clojure. Tym razem przedstawię bardziej praktyczną część mojej nauki 
                            a(href='http://clojure.org/', target="_blank") Clojure
                            | , od strony środowiska, w którym go poznaję z pewnymi elementami języka. Zaprezentuję Clojure REPL, wsparcie narzędziowe oferowane przez wtyczki Eclipse: CounterClockWise (CCW) i Mylyn oraz wstęp do monad i defrecord. Sądzę, że dzięki tej wiedzy będzie łatwiej rozpoczać samodzielną naukę Clojure.
                        h3 O prelegencie:
                        p Jacek Laskowski jest założycielem i liderem grupy warszawskich użytkowników Javy - Warszawa JUG. Prowadzi bloga 
                            a(href='http://jaceklaskowski.pl/', target="_blank") Notatnik Projektanta Java EE
                            | , w którym przedstawia swoje użycie Javy i okolic. Zawodowo w IBM jako specjalista produktów z rodziny WebSphere, głównie WebSphere BPM z flagowymi produktami: IBM WebSphere Dynamic Process Edition i IBM WebSphere Lombardi Edition. Nadaje na falach twittera jako 
                            a(href='http://twitter.com/jaceklaskowski', target="_blank") @jaceklaskowski
                            | .
