div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 78 spotkanie WJUGa
                        h2 Apache Hadoop i okolice
                        h3 
                            a(href='http://mcl.jogger.pl/', target="_blank") Marcin Cylke
                        p Termin: 22.02.2011 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/atDq5Q35hsI', target='_blank') dyskusja
                            li
                                a(href='http://www.slideshare.net/zygm0nt/hadoop-i-okolice', target='_blank') slajdy
                        h3 O prezentacji:
                        p W trakcie spotkania zostanie przedstawiony projekt 
                            a(href='http://hadoop.apache.org/', target="_blank") Apache Hadoop 
                            | - czyli implementacja 
                            a(href='http://hadoop.apache.org/mapreduce/', target="_blank") MapReduce 
                            | do rozproszonego przetwarzania danych. Prezentacja "dotknie" podstaw teoretycznych, skupi się na praktycznym wykorzystaniu Hadoopa na świecie. Będą również przykłady działania. Wykład będzie wprowadzeniem do tematu - przykłady będą miały na celu obrazować działanie Hadoopa i nie będą nadmiernie komplikowane.
                        h3 O prelegencie:
                        p Marcin Cylke - absolwent Wydziału Elektroniki i Technik Informacyjnych Politechniki Warszawskiej. Zawodowo, w firmie TouK, zajmuje się integracją na szynie ESB. Swoje zawodowe doświadczenia opisuje na 
                            a(href='http://mcl.jogger.pl/', target="_blank") blogu
                            | . Prywatnie bujający w obłokach fantasta.
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/Yr7tML6ZfLE" frameborder="0" allowfullscreen></iframe>
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/vsCRoQP7KVU" frameborder="0" allowfullscreen></iframe>
