div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 79 spotkanie WJUGa
                        h2 Google z Facebookiem w Twojej aplikacji webowej, czyli co będę pisał sam integrację: THIS IS JAVA!!!! Spring security dla bardzo NIEzaawansowanych 
                        h3 
                            a(href='http://blog.solidcraft.eu/', target="_blank") Jakub Nabrdalik 
                        p Termin: 15.03.2011, godz 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Materiały:
                        ul
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/ysWySZnChzM", target="_blank") dyskusja
                        h3 O wykładzie: 
                        p
                        | Co to da: uczestnicy w ciągu godziny nauczą się wykorzystywać 
                        a(href='http://static.springsource.org/spring-security/site/', target="_blank") spring security
                        | , 
                        a(href='http://openid.net/', target="_blank") OpenId
                        | i  
                        a(href='http://oauth.net/', target="_blank") OAuth2
                        | .
                        p 
                        | Poziom: podstawowy
                        p 
                        | Wymagana: podstawowa znajomość javy
                        p 
                        | Przyda się: blade pojęcie o IoC/DI, blade pojęcie o HTTP, blade pojęcie o tym co to jest gmail/blog/facebook
                        p
                        strong Agenda:
                        p Spring Security
                        ul
                            li do czego jest
                            li jak z niego korzystać
                            li jak poprawnie skonfigurować
                            li jak hashować hasła
                            li jak zabezpieczyć ssl'em
                            li jak testować aplikację z wpiętym spring security
                            li jak logować/wylogować się w backendzie
                            li jak definiować uprawnienia per zasób serwera (URI)
                            li jak definiować reguły dostępu per metoda w klasie backendu (@Pre)
                            li na czym polega Spring Expression Language (SpEL) w kontekście security
                        p Open ID
                        ul
                            li co to jest
                            li do czego służy
                            li jak to działa (flow)
                            li jak to działa z googlem
                            li jak dobrać się do informacji użytkownika
                            li jak wykorzystać Spring Security do odwalenia czarnej roboty
                            li czemu muszę się rejestrować i jak to zaimplementować
                        p OAuth2
                        ul
                            li kto to wymyślił
                            li co to jest
                            li do czego służy
                            li dlaczego facebook/twitter ma OAuth2
                            li jak to działa
                            li jak to zaimplementować
                            li jak wykorzystać Spring Social by dobrać się do danych i usług klienta
                        p Rationale:
                        p Wszystkie te informacje można sobie wygooglać, dokumentacja springa jest świetna, pułapek jest niewiele, ale prelegent postara się przedstawić wszystko super-czytelnie, będzie odpowiadał na pytania i w ostrzegał przed pułapkami. Dużo kodu, kilka diagramów, żadnych slajdów.
                        h3 O prelegencie:
                        a(href='http://blog.solidcraft.eu/', target="_blank") Jakub Nabrdalik 
                        | pracuje dla firmy TouK jako Solution Architect, co oznacza, że w zależności od sytuacji, zakłada czapeczkę projektanta, programisty, architekta, analityka, lidera zespołu, kierownika projektu i tak dalej. Od 2003 roku czerpie dużo radości z zawodowego tworzenia oprogramowania w różnych technologiach, językach i metodykach. Od 2005 praktykuje TDD i Pair Programming. Walczy z chaosem wkradającym się po cichu do projektów informatycznych.
