div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 81 spotkanie WJUGa
                        h2 JDK7 - czy na pewno nic nowego? 
                        h3 
                           a(href='http://mproch.blogspot.com/', target="_blank") Maciej Próchniak 
                        p Termin: 18.04.2011, godz 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        p Materiały:
                        ul
                            li
                                a(href="https://groups.google.com/forum/#!topic/warszawa-jug/Ik87RIt3knQ", target="_blank") dyskusja
                        h3 O wykładzie:
                        p W lipcu ma ukazać się długo (od ponad 4 lat...) oczekiwana nowa wersja 
                            a(href='http://jdk7.java.net/', target="_blank") Javy
                            | . Oczekiwanie były duże, a wyszło... No właśnie? Jak wyszło? Nie będzie domknięć, nie będzie modularności, a co zostało? O tym chciałbym trochę opowiedzieć. Może nie będzie to takie fascynujące jak JBison, Hadoop czy SpringSecurity, ale czasami chyba warto wrócić 'do podstaw'. Ponieważ jest już dostępna wersja 
                            a(href='http://jdk7.java.net/preview/', target="_blank") 'Developer Preview' 
                            | oraz dostępne jest wsparcie naszych ulubionych IDE, to pewnie także trochę pokodujemy.
                        h3 O prelegencie:
                        p 
                            a(href='http://mproch.blogspot.com/', target="_blank") Maciek Próchniak 
                            | jest matematykiem, od 5ciu lat zajmuje się szeroko pojętym JEE - najpierw w Javatech, a od prawie 2ch lat w TouK. Obecne zainteresowania to integracja (Servicemix, Drools, BPM), GWT oraz (po dłuższej przerwie...) programowanie funkcyjne. Jest oficjalnym kontrybutorem projektu 
                            a(href='http://activiti.org/', target="_blank") Activiti
                            | . Ostatnio wziął się za pisanie własnego 
                            a(href='http://mproch.blogspot.com/', target="_blank") bloga
                            | .
