div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 85 spotkanie WJUG
                        h2 Zmiany JVM w Java 7 
                        h3 Adam Michalik
                        h2 java.util.concurrent.Phaser praktycznie
                        h3 
                            a(href='http://jaceklaskowski.pl/', target="_blank") Jacek Laskowski
                        p Termin: 29.11.2011
                        p Lokalizacja: MIMUW
