div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 86 spotkanie WJUGa
                        h2 Koncepcje Spring Framework 
                        h3  
                            a(href='http://blog.solidcraft.eu/', target='_blank') Jakub Nabrdalik 
                        p Termin: 13.12.2011
                        p Lokalizacja: MIMUW
                        p Sponsor: 
                            a(href='http://softwaremill.pl/', target='_blank') SoftwareMill
