div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 86 spotkanie WJUG
                        h2 Koncepcje Spring Framework 
                        h3  
                            a(href='http://blog.solidcraft.eu/', target='_blank') Jakub Nabrdalik 
                        p Termin: 13.12.2011
                        p Lokalizacja: MIMUW
                        p Sponsor: 
                            a(href='http://softwaremill.pl/', target='_blank') SoftwareMill
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/ihM06a4VbCc/', target='_blank') zapowiedź
                        h3 O prezentacji:
                        p Prezentacja jest przeznaczona dla osób nie mających żadnego  doświadczenia ze Spring Framework i chcących się dowiedzieć o co cho.
                        p Wymagane:
                        ul
                            li totalnie nic.
                        p Java się przyda.
                        p Wszyscy studenci, początkujący, androidowcy, hardcore'owi JEE'owcy i  ludzie którzy nie robią "Enterprise Web Apps" w Javie, mile widziani.  Osoby które używają Springa na co dzień będą się nudzić.
                        p Plan jest taki, że opowiem o:
                        ul
                            li Skąd się wziął Spring
                            li Co to jest i z czego się składa
                            li Jak się ma Spring do JEE (i krótko do Guice)
                            li Jak wykorzystać Spring Core i w szczególności:
                            ul
                                li Co to jest Inversion of Control / Dependency Injection
                                li Jak odpalić kontener IoC/DI
                                li Jakie mamy możliwości wstrzykiwania
                                li Jakie mamy możliwości konfiguracji (xml vs @adnotacje vs java-style)  i co kiedy jest najlepsze
                                li Jakie mamy scope'y obiektów w aplikacji
                                li Co nam daje Spring w testach integracyjnych
                                li Co to jest AOP i jak się je ze Springiem
                                li Co to jest Spring MVC i czemu jest zajebiste
                                li Co nam daje Spring w dostępie do bazy i transakcjach
                        p Przy czym od osób które przyjdą zależy dokładnie, o czym więcej a o czym  mniej opowiem. Ja jestem elastyczny. Idea jest taka, żeby osobom, które  nie znają w ogóle Springa, pokazać co można i jak to zrobić, żeby wiedziały kiedy i jak go stosować, oraz się nie bały używać.
