div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 88 spotkanie WJUGa
                        h2 Scala - co w tym fajnego i czy da się łączyć z Javą na co dzień?
                        h3 Maciej Jaśkowski
                        h2 Krótko i zwięźle o Clojure
                        h3 
                            a(href='http://jaceklaskowski.pl/', target='_blank') Jacek Laskowski
                        p Termin: 21.02.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180 
                        p Sponsor: 
                        ul
                            li
                                a(href='http://www.smtsoftware.com/', target="_blank") SMT Software S.A.
                        strong Materiały:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/lyUDlf-cTDo%5B1-25-false%5D', target='_blank') dyskusja
                            li 
                                a(href='https://docs.google.com/present/edit?id=0Ac7aQJRs1DHrZGZmaHduYnBfMjIzZjI3ZHFyZDM', target='_blank') slajdy Maćka
                        h3 Temat pierwszy - Scala na tle Java EE i Lift:
                        p Na spotkaniu będziemy się bawić Scalą, żeby stwierdzić, czy może być przydatna w codziennej pracy programisty Java. Zatem będziemy patrzeć nie tylko na ciekawe własności tego języka (przede wszystkim obiektowe i związane z lukrem syntaktycznym), ale również na możliwości integracji Scali z Javą i ewentualne problemy z tym związane. Wszystko to na przykładach standardowych bibliotek oraz J2EE ze szczyptą Lifta.
                        h3 O prelegencie:
                        p Maciej Jaśkowski absolwent MIMUW, współorganizator konferencji 
                            a(href='http://www.flaszki.waw.pl/', target='_blank') Flaszki
                            | , były przewodniczący Samorządu MIMUW, programista Java od 18 miesięcy. Wierzę w testy jednostkowe i TDD, lubię NoSQL/Hadoop i języki funkcyjne, uznaję tylko metodyki SCRUM-opodobne.
                        h3 Temat drugi - Krótko i zwięźle o Clojure:
                        p W trakcie wystąpienia przedstawię programowanie funkcyjne na JVM z językiem Clojure. Zaprezentuję kilka interesujących cech języka, które sprawią, że programowanie obiektowe w Javie może wydać się czasami irytujące oraz zaprezentuję, co należy posiadać, aby rozpocząć swoją przygodę z programowaniem funkcyjnym na JVM, aby stało się równie funkcjonalne jak inne języki, z których obecnie korzystasz i uważasz za takowe. Wystąpienie traktuję jako możliwość podsumowania moich dotychczasowych doświadczeń z Clojure, aby zostać ukierunkowanym na praktyczne problemy, z którymi się stykasz w projektach, a dla których Clojure mógłby być ciekawym rozwiązaniem. W końcu to wciąż bajtkod JVM. 
                        h3 O prelegencie:
                        p Jacek Laskowski jest założycielem i liderem Warszawskiego JUGa. Interesuje się Javą w wydaniu podstawowym (Java SE) i korporacyjnym (Java EE), a od ponad roku zadużony w programowaniu funkcyjnym z Clojure (i w tle F#). Swoje przemyślenia publikuje na polskojęzycznym blogu 
                            a(href='http://jaceklaskowski.pl/', target='_blank') Jacek Laskowski jawnie 
                            | oraz angielskojęzycznym 
                            a(href='http://blog.japila.pl/', target='_blank') Japila :: verba docent, exempla trahunt
                            | . Krótkie myśli znajdziesz na kanale 
                            a(href='http://twitter.com/jaceklaskowski', target='_blank') @jaceklaskowski
                            | . Występuje podczas polskich konferencji, co traktuje jako wyróżnienie i miejsce prezentacji własnych poglądów. Będzie wdzięczny za wszelkie komentarze do jego publicznych aktywności. 
