div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 9 spotkanie WJUGa
                        h2 JBoss Ajax4jsf czyli zAJAXuj swoją aplikację
                        h3 Tomasz Szymański
                        p Termin: 08.05.2007 godz. 18:00
                        p Lokalizacja: MIMUW, sala 4420
                        strong Materiały 
                        ul
                            li
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/Dg2r9WPA4hU/', target='_blank') dyskusja
                        h3 O prezentacji:
                        p 
                            a(href='http://labs.jboss.com/jbossajax4jsf/', target='_blank') JBoss Ajax4jsf 
                            | jest produktem zarazem nowym jak i dojarzałym. Dojrzałość polega na tym, że był on od jakiegoś czasu rozwijany przez firmę 
                            a(href='http://www.exadel.com/web/portal/home', target='_blank') Exadel
                            |. Nowość na tym, że po podpisaniu umowy partnerskiej Exadel - Red Hat, firmowany jest marką JBossa.
                        p W prezentacji przedstawiony będzie przepis na stworzenie aplikacji korzystającej z tego projektu oraz jak zmodyfikować już istniejące. Zgodnie z tradycją nie obędzie się bez przykładów z EJB3. Zaprezentowane zostanie narzędzie Exadel Studio (który niedługo stanie się Red Hat Developer Studio) do pisania aplikacji z Ajax4jsf.
                        h3 O prelegencie:
                        p Prezentacja prowadzona będzie przez 
                            a(href='http://www.linkedin.com/in/szimano', target='_blank') Tomka Szymańskiego
                            | , studenta V roku Wydziału Elektrycznego Politechniki Warszawskiej oraz członka zespołu JBoss.org, zajmującego się tworzeniem infrastruktury jboss.org - JBoss Labs a także Lead JBoss Wiki. Tomek interesuje się Javą od paru lat i stara się podtrzymywać wczesne nią zafascynowanie mimo rutynowego jej używania.
                        