div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 90 spotkanie WJUGa
                        h2 Ameba: mobilny dewelopment na sterydach 
                        h3 Jarek Potiuk 
                        p Termin: 27.03.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180 
                        strong Materiały:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/vIV0xI937vQ', target='_blank') dyskusja
                        h3 O wykładzie:
                        p Jarek opowie o tym jak w środku wygląda 
                            a(href='http://ameba.apphance.com', target='_blank') Ameba
                            | , która jest częścią serwisu 
                            a(href='http://www.apphance.com/', target='_blank') Apphance
                            | . Jarek pokaże jakie techniki zostały zastosowane podczas przekształcania poprzedniej wersji build systemu używanego przez Polideę podczas tworzenia aplikacji mobilnych (opartego na Ant-ie) do nowej, w pełni reużywalnej, z-opensource'owanej Ameby (opartej na 
                            a(href='http://www.gradle.org/', target='_blank') gradle
                            | ). Będzie to "sprawozdanie z pola walki" pokazujące rozmaite problemy z którymi przyszło nam walczyć i ich rozwiązania - w jaki sposób gradle pozwolił na to co zrobiono w Polidei. 
                        p Dla osób zainteresowanych - dzień wcześniej na 
                            a(href='http://agilewarsaw.com/', target='_blank') agilewarsaw 
                            | Jarek będzie opowiadał o stronie organizacyjnej/motywacyjnej przedsięwzięcia.
                        h3 O prelegencie:
                        p Jarek jest CTO w firmie 
                            a(href='http://www.polidea.pl/en/', target='_blank') Polidea
                            | , zajmującej się tworzeniem aplikacji mobilnych. Jest współzałożycielem 
                            a(href='http://www.szlif.edu.pl/', target='_blank') Akademii Inżyniera Szlif 
                            | przy Politechnice Warszawskiej. Wcześniej CTO w SkyCash-u i Tech Lead/Manager w Krakowskim oddziale Google'a. 
                        p Jarek jest doświadczonym inżynierem/menedżerem który do dziś programuje (patrz Ameba), pasjonat technologii i programowania, z obsesją usprawniania procesu tworzenia oprogramowania. Uwielbia pragmatyczne łączenie teorii z praktyką (ale w taki sposób, że działa, i wiadomo dlaczego).
