div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 91 spotkanie WJUGa
                        h2 Guava Vs. LambdaJ - kolekcje na sterydach 
                        h3 
                            a(href='http://blog.tiger.com.pl/author/kyniek/', target="_blank") Krzysztof Nielepkowicz 
                        p Termin: 03.04.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180 
                        strong Materiały:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/q7rSsNqA3is', target='_blank') dyskusja
                            li
                                a(href='https://github.com/kyniek/lambdatut', target='_blank') kod
                        strong Relacje:
                        ul
                            li 
                                a(href='http://kyniek.blogspot.com/2012/04/o-lambdaj-i-guavie-i-mojej-prelekcji-na.html', target='_blank') relacja Krzysztofa Nielepkowicza
                        h3 O wykładzie:
                        p W trakcie wystąpienia prelegent pokaże jak skracać kod, czasem nawet trzydziestokrotnie. Pomagają w tym biblioteki 
                            a(href='http://code.google.com/p/lambdaj/', target='_blank') LambdaJ 
                            | i 
                            a(href='http://code.google.com/p/guava-libraries/', target='_blank') Guava
                            | . Bardzo interesującym punktem programu będą domknięcia, którym zostanie poświęcone trochę więcej czasu. Kolejne zagadnienia to agregacja i filtrowanie kolekcji oraz wspomagacze dla kolekcji. Zostaną pokazane części wspólne obu bibliotek jak również różnice. Przedostatnim punktem będzie rozwiązanie paru zadań z codility i porównanie długości kodu dla rozwiązania klasycznego oraz korzystając z obu bibliotek. Na koniec będzie mały konkurs, w którym jury będą słuchacze – zdradzę że nagroda będzie smaczna i do wypicia.
                        h3 O prelegencie:
                        p Nazywam się Krzysztof Piotr Nielepkowicz. Moją pasją jest fotografia. Utrwalam na kliszy (matrycy Sonego w piórkach Nikona) piękno kobiet zanim przeminie ich uroda, zatrzymuję czas dla budowli nim pochłonie je przemijanie, cuda natury nim zniszczy je chciwość. Niedawno napisałem dla nas (mnie i żony) stronę z naszym portfolio: 
                            a(href='http://fotomilo.pl/', target='_blank') http://fotomilo.pl/
                            | . Drugim zainteresowaniem jest programowanie – lubię programować, dlatego po godzinach, w MS .ASP .NET pisałem galerię zamiast skorzystać z gotowego szablonu. Pierwszym większym projektem był sklepik internetowy z blokami wodnymi 
                            a(href='http://www.mnp.net.pl/', target='_blank') http://www.mnp.net.pl/ 
                            | (2007 rok) napisany dla mojego taty gdzie razem owe bloczki sprzedajemy. Zaczęło się od manii podkręcania procesora, by ostro kręcić a przy tym nie stracić słuchu zaprojektowałem swój pierwszy blok wodny, potem kolejne projekty osobiście je wytwarzając na maszynach taty, który w końcu sam włączył się do maleńkiego biznesu. Wróćmy do teraźniejszości, długie jesienno-zimowe wieczory upłynęły na pisaniu w C# kodu serwera (niezbyt wybujałego) oraz wodotrysków w javascripcie a uprzyjemniała mi to dodatkowo lampka dobrego wina kwiatowego. W tym momencie płynnie przeszedłem do kolejnego hobby, którym jest wyrób wina ze wszystkiego co się nawinie. 
                        p Na co dzień programuję w Javie.
