div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 93 spotkanie WJUGa
                        h2 Nie utknijcie na Maven2 
                        h3 
                            a(href='http://erbetowski.pl/', target="_blank") Wojtek Erbetowski 
                        p Termin: 08.05.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180 
                        strong Dyskusja:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/FPuB4r1nVdA', target='_blank') dyskusja
                        h3 O wykładzie:
                        p Wojtek poruszy temat używania przeterminowanych produktów w życiu codziennym na przykładzie narzędzi do budowania aplikacji. Nie utknijcie na Maven 2 to temat, który ma na celu sprawdzenie nastrojów publiki w stosunku do tego narzędzia i refleksję czy warto się z niego ruszać, a jeśli tak to gdzie. W swoich czasach było to najlepsze narzędzie dostępne, ale te czasy już dawno minęły i pojawiło się kilka odmiennych narzędzi, jak Gradle, Buildr, SBT czy Leiningen. Może trochę zajrzymy co w nich jest, także ludzie doświadczeni w tych narzędziach mile widziani do pomocy przy wykładzie!
                        h3 O prelegencie:
                        p 
                            a(href='http://erbetowski.pl/', target="_blank") Wojtek Erbetowski 
                            jest programistą z około 4-letnim stażem, głównie w Javie, a ostatnio w Scali. Miał swoje małe doświadczenia z SBT (przelotny romans) i Gradle (miłość platoniczna). Obecnie utknął na Mavenie 2...
