div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 95 spotkanie WJUGa
                        h2 Budowanie aplikacji (Java EE 6) z Clojure 
                        h3 
                            a(href='http://jaceklaskowski.pl/', target='_blank') Jacek Laskowski 
                        p Termin: 22.05.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 3180 
                        strong Dyskusja:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/LeKoKTbhCwg', target='_blank') dyskusja
                        h3 O wykładzie:
                        p Spotkanie ma być okazją do poznania Clojure od strony jego wsparcia dla bytów javowych. Aplikacje korporacyjne Java EE korzystają z mechanizmów języka Java, więc jeśli tylko udowodnimy tezę, że można tworzyć byty javowe w Clojure i to całkiem przyjemnie, to całkiem przyjemne może być budowanie aplikacji korporacyjnych z wykorzystaniem obu - Java EE 6 i Clojure.
                        p OSTRZEŻENIE: Należy oczekiwać użycia Java EE jedynie jako tła dla wprowadzenia do Clojure. Dla wielu użycie Java EE w tytule może być zdecydowanie na wyrost i służy autorowi jako narzędzie do przykucia uwagi. Równie dobrze można by użyć innego chwytliwego terminu, które kojarzy się z Javą.
                        h3 O prelegencie:
                        p Jacek Laskowski jest założycielem i współprowadzącym Warszawskiego JUGa. Interesuje się Javą w wydaniu podstawowym (Java SE) i korporacyjnym (Java EE), a od kilku lat zadużony w programowaniu funkcyjnym z Clojure (z F# i Scala w tle).
                        p Swoje przemyślenia publikuje na polskojęzycznym blogu 
                            a(href='http://jaceklaskowski.pl/', target='_blank') Jacek Laskowski jawnie 
                            | oraz angielskojęzycznym 
                            a(href='http://blog.japila.pl/', target='_blank') Japila :: verba docent, exempla trahunt
                            | . Krótkie myśli znajdziesz na kanale 
                            a(href='http://twitter.com/jaceklaskowski', target='_blank') @jaceklaskowski
                            | . Występuje podczas polskich konferencji, co traktuje jako wyróżnienie i miejsce prezentacji własnych poglądów. Będzie wdzięczny za wszelkie komentarze do jego publicznych aktywności.
