div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 98 spotkanie WJUG
                        h2 Zrob to sam: STM w Javie 
                        h3 Adam Lider 
                        p Termin: 2.10.2012 godz. 18:00
                        p Lokalizacja: MIMUW, sala 5440
                        strong Materiały
                        ul
                            li 
                                a(href='../../presentations/98/TransactionalMemoryInJava.pdf', target='_blank') slajdy
                            li 
                                a(href='https://github.com/alider/stm', target='_blank') kod
                        strong Dyskusja:
                        ul
                            li 
                                a(href='https://groups.google.com/forum/#!topic/warszawa-jug/6wu4c-Ts56s', target='_blank') dyskusja
                        h3 O wykładzie:
                        p Po krótkim wprowadzeniu nawiązującym do transakcji bazodanowych oraz modelu programowania współbieżnego opartego na lockach, na przykładzie konkretnej aplikacji, zostaną przedstawione podstawowe algorytmy STM. 
                        p Analiza będzie oparta na domowych implementacjach w Javie. Całość zostanie zamknięta propozycja możliwej (lub nie) architektury systemu wykorzystującego STM. 
                        h3 O prelegencie:
                        p Adam Lider - programista Java, 8 lat doświadczenia, systemy transakcyjne, integracyjne i trochę weba.
                        p
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/WXnKGBHyYMg" frameborder="0" allowfullscreen></iframe>
