
<h2><a href="https://groups.google.com/d/msg/warszawa-jug/-Xw-ZyvbnEA/RvxvW5LILtsJ" target="_blank">Newsletter warszawskiego JUG #1</a></h2>
<p>27.12.2013</p>
<p>Miesiąc temu spotkaliśmy się aby podsumować kolejne pół roku życia grupy, a także zaplanować kolejne miesiące.</p>
<p>
  Podzieliliśmy się mocno rolami, żeby efektywniej pracować i tak Wojtkowi Erbetowskiemu i Kubie Nabrdalikowi przypadło
  m.in. upilnowanie, aby działania liderów były dobrze widoczne dla wszystkich. Stąd właśnie ten email.
</p>
<p>A co się zmieniło przez te 30 dni? Przede wszystkim zmodularyzowaliśmy się :-)<br/>Ważne, abyście wiedzieli kto czym się zajmuje i do kogo w jakiej sprawie uderzyć, a więc oto skład grup liderskich:</p>
<h4>Regularne spotkania Warszawa JUG</h4>
<p>
  <ul>
    <li>Jakub Nabrdalik</li>
    <li>Michał Lewandowski</li>
    <li>Kamil Szymański</li>
    <li>Krzysiek Siejkowski</li>
  </ul>
</p>
<h4>Jinkubator</h4>
<p>
  <ul>
    <li>Justyna Sadło</li>
    <li>Adam Pierzchała</li>
    <li>Krzysiek Siejkowski</li>
    <li>Adam Chudzik</li>
  </ul>
</p>
<h4>Scalania</h4>
<p>Prowadzi Jacek Laskowski z Grześkiem Kubiakiem.</p>
<h4>SpringLabs</h4>
<p>Od tego sezonu pomagać mają Darkowi Kaczyńskiemu:
  <ul>
    <li>Michał Niczyporuk</li>
    <li>Adam Chudzik</li>
  </ul>
</p>
<h4>Devoxx4Kids</h4>
<p>Devoxx4Kids wystartowało mając za kierowców:
  <ul>
    <li>Michał Lewandowski</li>
    <li>Tomek Kucharski</li>
    <li>Darek Kaczyński</li>
  </ul>
</p>
<h4>WJUG-JCP</h4>
<p>A za inicjatywę JCP/Adopt OpenJDK/Adopt a JSR/ ... odpowiadają:
  <ul>
    <li>Kamil Szymański</li>
    <li>Michał Warecki</li>
    <li>Michał Niczyporuk</li>
  </ul>
</p><br/>
<p>
  Do tego są sprawy, które dotyczą niemal wszystkich grup, jak utrzymywanie kanałów społecznościowych (co ogarnia
  Agnieszka Skiba), organizować sale na MIMUW (Krzysiek Siejkowski), szykować plakaty (Michał Lewandowski), licencje,
  finanse, nagrywanie i obróbkę wideo i kilka innych.
</p>
<p>
  Jak widzicie jest co robić :-) Jeśli podoba Wam się jak działa WJUG (albo chcecie to zmienić) polecam wkręcić się na
  dwa sposoby:
  <ul>
    <li>jako prelegent, zgłaszając temat&nbsp<a href="https://docs.google.com/forms/d/1yF3SxIu0FVsYFufO1odo2eZLZpaWftWG5P2jcCX9PYI/viewform?edit_requested=true" target="_blank">przez formularz</a>, a krótką notkę do przeczytania macie&nbsp<a href="#/by-you" target="_blank">na stronie</a></li>
    <li>
      jako wolontariusz/organizator - wybierz, w której inicjatywie chciałbyś(chciałabyś) wziąć udział i napisz do
      prowadzących, lub na grupie (wyraź chęć). Jeśli nie wiesz co mogłoby Ciebie zainteresować, napisz na grupę (lub
      indywidualnie do kogoś z liderów) aby podpowiedzieli.
    </li>
  </ul>
</p>
<p>
  Każda z grup jest otwarta (a ponieważ Jacek Laskowski niedawno zarzucał, że jesteśmy zamknięci na osoby z zewnątrz i
  nikt nie może się dostać) to znaczy, że nie jest to dostatecznie jasne i napiszę to jasno :-) potrzeba nam pomocy i
  pozytywnej energii, byle się dowiedzieć, że masz chęć się rozwijać i pracować w teamie organizatorów! Zapraszam :-)
</p>