
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>Newsletter warszawskiego JUG #5</h2>
            <p><a href="https://groups.google.com/d/msg/warszawa-jug/K-uuGRhGMf4/880hnNI5KgcJ" target="_blank">17.11.2014</a>
            </p>
            <p>Cześć WJUGowicze!</p>
            <p>Sezon w pełni, a na naszej&nbsp<a href="https://groups.google.com/forum/#!forum/warszawa-jug" target="_blank">grupie</a>&nbspdyskusja równie gorąca.<br/>Najbardziej aktywną dyskusją w ostatnim czasie jest&nbsp<a href="https://groups.google.com/forum/#!msg/warszawa-jug/ncolJKXbaEM/Ni6-DSp8pbcJ" target="_blank">Wymagania pracodawców na Juniora</a>. Niepozorny temat a porusza sporo wątków. Przeczytasz w nim o tym kto jest juniorem, przestaje się być juniorem,
              przez dyskusje o przyszłości programistów, czy też co powinno stanowić CV programisty. Ponad 120 odpowiedzi, więc interesująca lektura :-)<br/>Poza tym:
              <ul>
                <li><a href="https://groups.google.com/d/msg/warszawa-jug/dGPv1U2rC8g/vKjCrGN798IJ" target="_blank">event store</a>
                </li>
                <li><a href="https://groups.google.com/d/msg/warszawa-jug/udlCPL7jYL4/4YdtFIn4ZKAJ" target="_blank">narzędziach do analizy kodu</a>
                </li>
                <li><a href="https://groups.google.com/d/msg/warszawa-jug/xLhW1sh-aAI/1K1DWpEERigJ" target="_blank">własności kodu programisty</a>
                </li>
              </ul>
            </p>
            <p>Przy okazji przypominamy o naszych profilach na&nbsp<a href="https://twitter.com/WarszawaJUG" target="_blank">Twitterze</a>&nbsp
              i
              &nbsp<a href="https://plus.google.com/107616814384149131589" target="_blank">Google+</a>
            </p>
            <h4>Spotkania cykliczne</h4>
            <p>
              U nas sezon w pełni, za nami już sześć spotkań, a do końca roku planujemy jeszcze dwa lub trzy.
              Z już potwierdzonych prezentacji na listopad i grudzień jedna będzie bardziej miękka: o tym&nbsp<a href="#/meeting/148" target="_blank">jak się rozwijać i planować swoją karierę</a>, natomiast druga to samo mięsko, czyli&nbsp<a href="#/meeting/149" target="_blank">Apache Spark</a>&nbspi gościnny występ
              Pawła Szulca z Wrocławia, autora zdania “Encja na twarz i pchasz”.<br/>Tradycyjnie już zachęcamy do zgłaszania prezentacji poprzez&nbsp<a href="https://docs.google.com/forms/d/1YUUJ68qFOiMJBhhL8Ll434vAopf_juynPb1KReVa3uE/viewform" target="_blank">formularz</a>, mamy sporo wolnych miejsc w
              kalendarzu spotkań 2015, więc każdy chętny do podzielenia się wiedzą jest mile widziany.
            </p>
            <h4>Jinkubator</h4>
            <p>
              Do tej pory odbyły się dwa spotkania w tym sezonie - pierwsze o mavenie i gradle, a drugie o TDD. Dzięki
              uprzejmości&nbsp<a href="http://kni.mini.pw.edu.pl/" target="_blank">KNI</a>&nbspJinkubator gości w nowej lokalizacji -
              na Wydziale Matematyki I Nauk Informatycznych Politechniki Warszawskiej. Frekwencja na spotkaniach
              zaskoczyła nawet nas!<br/>W planach mamy już następne spotkania wprowadzające do technologii i praktyk potrzebnych każdemu
              programiście takich jak git, guava, Spring, Agile i wiele innych,
            </p>
            <h4>Warsjawa</h4>
            <p>Dziękujemy Wam za liczne uczestnictwo i zrobienie z Warsjawy zajebistej imprezy!<br/>Pozamykaliśmy tematy związane z Warsjawą 2014. Przed nami retrospektywa i ułożenie składu, który stworzy edycję 2015.
              Wszystkich, którzy się zastanawiają, czy chcieliby wziąć udział w organizacji Warsjawy (a w tym roku będzie kilka otwartych miejsc)
              prosimy o kontakt na&nbsp<a href="mailto:contact@warsjawa.pl">contact@warsjawa.pl</a>
            </p>
            <h4>Warsaw Groovy User Group</h4>
            <p>
              + externalLink('http://www.meetup.com/Warsaw-Groovy-User-Group/events/209713092/', '16 października')
              &nbspArtur Gajowy opowiedział o współbieżnych kolekcjach, agentach i komponowalnych funkcjach asynchronicznych w&nbsp<a href="http://gpars.codehaus.org/" target="_blank">GPARS</a>.
              W planach  mamy kolejne spotkanie z tą biblioteką (bo sporo tematów z niej jeszcze zostało), oraz mały hackathon z Groovym na czele.<br/>Newsy będą tutaj:&nbsp<a href="http://www.meetup.com/Warsaw-Groovy-User-Group/" target="_blank">http://www.meetup.com/Warsaw-Groovy-User-Group/</a>.
            </p>
            <h4>Confitura</h4>
            <p>
              Mimo zbliżającej się zimy, organizatorzy Confitury nie zapadną w sen zimowy.
              W naszych głowach kotłują już się myśli związane z Confiturą 2015.
              Przyszłoroczna edycja będzie jeszcze fajniejsza. Jak zwykle :)
            </p>
            <h4>Partnerzy</h4>
            <p>Do grona naszych partenerów dołączył portal&nbsp<a href="https://www.nofluffjobs.com/" target="_blank">nofluffjobs.com</a>. Będzie on informował o nowych ofertach pracy i będzie je równiez na naszej grupie&nbsp<a href="https://groups.google.com/forum/#!forum/oferty-pracy-java" target="_blank">oferty-pracy-java</a>. Wkrótce powinniście zauważyc tam większą aktywność.
            </p>
            <div class="row">
              <div class="span12">
                <!--.pull-lefta(href='#/newsletter/6') Następny
                -->
                <div class="pull-right"><a href="#/newsletter/4" class="float-right">Poprzedni</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>