
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>Newsletter warszawskiego JUG #7</h2>
            <pw><a href="" target="_blank">26.04.2015</a>
            </pw>
            <p>Cześć WJUGowicze!</p>
            <p>Mamy garść informacji od inicjatyw, które wspólnie organizujemy. Jednak na początek chcemy się pochwalić zmianami, jakie zapowiadaliśmy w poprzednim newsletterze</p>
            <p>WJUG i Jinkubator zaczęły korzystać z usług&nbsp<a href="http://chillivision.com.pl/" target="_blank">zewnętrznej firmy</a>&nbspdo nagrywania i montażu wideo. Mamy nadzieję, że zauważyliście znaczne skrócenie czasu
              oczekiwania na pojawienie się nagrań. Pojawiły się również nagrania, które od wiosny 2014 oczekiwały na publikacje.<br/>Jeśli chcecie być na bieżąco z nagraniami subskrybujcie nasz kanał&nbsp<a href="https://www.youtube.com/channel/UC2coGyxf5x_CzJ3l4F-N-Sw" target="_blank">YouTube</a>
            </p>
            <p>
              Ponieważ firma nie dała się przekonać, że “będzie miał Pan nas w portfolio” to wystarczająca zapłata(;-)),
              zajmujemy się również intensywnym poszukiwaniem sponsorów naszych spotkań. Za niewielką opłatą i Twoja
              firma może pokazać się szerszemu gronu programistów przed kolejnym spotkaniem WJUG-a, co powinno przełożyć
              się na rzekę interesujących CV wpadających na firmową skrzynkę.
            </p>
            <p>Przy okazji przypominamy o naszych profilach na&nbsp<a href="https://twitter.com/WarszawaJUG" target="_blank">Facebooku</a>,
              &nbsp<a href="https://twitter.com/WarszawaJUG" target="_blank">Twitterze</a>&nbsp
              i
              &nbsp<a href="https://plus.google.com/107616814384149131589" target="_blank">Google+</a>!
            </p>
            <h4>WJUG - Spotkania cykliczne</h4>
            <p>
              Spotkania cykliczne, próbując podołać ciężarowi nazwy, spotykają się regularnie co 2 tygodnie. Ostatnio
              gościliśmy między innymi&nbsp<a href="#/meeting/158" target="_blank">Sławka Sobótkę</a>, którego nie trzeba nikomu przedstawiać. Już niedługo pojawią się kolejni znani i lubiani prelegenci:&nbsp<a href="#/meeting/159" target="_blank">Kuba Marchwicki</a>&nbspz Trójmiasta, nasz lokalny&nbsp<a href="#/meeting/160" target="_blank">Adam Warski</a>&nbsporaz Jarek Pałka z Krakowa. Mamy jeszcze jeden wolny termin w czerwcu, więc jeśli masz coś ciekawego do
              opowiedzenia, zapraszamy do&nbsp<a href="https://docs.google.com/forms/d/1YUUJ68qFOiMJBhhL8Ll434vAopf_juynPb1KReVa3uE" target="_blank">zgłaszania tematów!</a>
            </p>
            <h4>JInkubator</h4>
            <p>Od ostatniego newslettera odbyło się kilka spotkań: o&nbsp<a href="http://jinkubator.pl/#/meeting/24" target="_blank">metodykach zwinnych</a>,&nbsp<a href="http://jinkubator.pl/#/meeting/25" target="_blank">Spring Boocie</a>,&nbsp<a href="http://jinkubator.pl/#/meeting/26" target="_blank">Scali</a>,&nbsp<a href="http://jinkubator.pl/#/meeting/27" target="_blank">wzorcach projektowych</a>&nbspi&nbsp<a href="http://jinkubator.pl/#/meeting/28" target="_blank">rekrutacji w naszej branży</a>. Już niedługo odbędą się następne o&nbsp<a href="http://jinkubator.pl/#/meeting/29" target="_blank">Java 8</a>&nbsp
              i
              &nbsp<a href="http://jinkubator.pl/#/meeting/30" target="_blank">webservice`ach w Javie</a>.<br/>Cieszymy się bardzo dużą frekwencją, co motywuje nas do organizacji następnych spotkań.
            </p>
            <h4>Warsaw Groovy User Group</h4>
            <p>W kwietniu&nbsp<a href="https://twitter.com/kszdev" target="_blank">Kamil Szymański</a>&nbspwygłosił prezentację ”A peek under Groovy's hood”, gdzie omówił praktycznie
              wszystkie kruczki i pułapki w Groovym: statyczne vs dynamiczne typowanie, AST, flow sensitive typing,
              wydajność Grooviego w stosunku do Javy, multimetody i ciekawe hacki.<br/>Kolejne spotkanie, jak tylko pojawi się chętny, do czego zapraszamy. Zgłaszać się bezpośrednio do organizatorów lub na meetupie:&nbsp<a href="http://www.meetup.com/Warsaw-Groovy-User-Group" target="_blank">http://www.meetup.com/Warsaw-Groovy-User-Group</a>
            </p>
            <h4>Spring Labs</h4>
            <p>
              W ostatnim czasie udało nam się organizować spotkania na temat Spring Integration, obiektach proxy w Spring’u oraz Spring Social.
              Cały czas poszukujemy osób chętnych do podzielenia się swoją wiedzą na temat projektów ze stajni Spring’a
              - zgłoszenia przyjmujemy pod adresem&nbsp<a href="mailto:wjug-spring@googlegroups.com"></a>. W tym tygodniu część organizatorów Spring Labs poluje w Barcelonie podczas Spring I/O na potencjalnych speakerów :)
            </p>
            <h4>Confitura</h4>
            <p>Zostało otwarte C4P. Zgłoszenia wysyłajcie do 4 maja na&nbsp<a href="http://c4p.confitura.pl/" target="_blank">http://c4p.confitura.pl/</a>. Potem wielkie głosowanie V4P i powstanie agenda Confitury 2015. Widzimy się 4 lipca, w Warszawie!
            </p>
            <h4>Devoxx4Kids</h4>
            <p>
              Prace nad Devoxx4Kids toczą się aktywnie od kilku miesięcy. W ostatnim czasie została zaktualizowana strona,
              gdzie pojawiły się formularze zgłoszeniowe dla prelegentów.<br/>Obecnie impreza planowana jest w 4 lokalizacjach:
              <ul>
                <li>Warszawa (30.V)</li>
                <li>Radomsko (06.VI)</li>
                <li>Poznań (13.VI)</li>
                <li>Gdańsk (wrzesień)</li>
              </ul>
            </p>
            <p>Wszystkich zainteresowanych zapraszamy na stronę&nbsp<a href="http://www.devoxx4kids.pl/" target="_blank">http://www.devoxx4kids.pl/</a>.<br/>Jednocześnie jeżeli znacie osoby zainteresowane sponsoringiem niniejszej imprezy, prosimy o kontakt na&nbsp<a href="mailto:devoxx4kidspl@gmail.com">devoxx4kidspl@gmail.com</a>
            </p>
            <div class="row">
              <div class="span12">
                <!--.pull-left<a href="#/newsletter/8">Następny</a>
                -->
                <div class="pull-right"><a href="#/newsletter/6" class="float-right">Poprzedni</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>