
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>102 spotkanie WJUGa</h4>
            <h2>Microbenchmarki z zastosowaniem Calipera</h2>
            <h3>Kuba Kubryński</h3>
            <p>Termin: 13.11.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Sponsor: <a href="http://econsulting.pl/" target="_blank">eConsulting</a></p><strong>Slajdy</strong>
            <ul>
              <li> <a href="https://docs.google.com/open?id=0BxxM7ncwM77gRHJFd1o0OEtENmM" target="_blank">slajdy</a></li>
            </ul><strong>Dyskusja:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/_cHE1xelrGI" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Skupimy się przede wszystkim na meandrach, zawiłościach i wnętrznościach wirtualnej maszyny Java. Zobaczymy z jakich organów się składa, co to jest ten mityczny JIT i w jaki sposób zatruwa nam spokojne życie programisty, powodując, że nasza aplikacja robi coś zupełnie innego niż byśmy chcieli :) Jak już poznamy naszego "wroga" zobaczymy w jaki sposób możemy go unieszkodliwić i przeciągnąć na naszą stronę. Postaram się także powiedzieć czemu to wszystko jest takie istotne w kontekście microbenchmarków, czyli kawałków kodu weryfikujących jak długo wykonują się inne kawałki.</p>
            <h3>O prelegencie:</h3>
            <p>Zawodowo związany z PayU z ramienia którego buduję ogniwo rozwojowe w Warszawie (trzecia głowa smoka). Prywatnie czuję się mocno przywiązany do pakietu java.util.concurrent i klasy sun.misc.Unsafe. Poza tym pasjonują mnie lekkie aplikacje, w których stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy :)</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/Laq13KqSf0k" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>