
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>103 spotkanie WJUGa</h4>
            <h2>Apache Cassandra: scalability, performance and fault tolerance in distributed databases</h2>
            <h3>Kamil Szymański </h3>
            <p>Termin: 27.11.2012</p><strong>Materiały:</strong>
            <ul> 
              <li> <a href="http://prezi.com/zwel4wrvolss/apache-cassandra/" target="_blank">slajdy</a></li>
            </ul>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/oxlyVBthEtk" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>