
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>104 spotkanie WJUGa</h4>
            <h2>Apache Cassandra w praktyce</h2>
            <h3>Tomek Kuprowski</h3>
            <p>Termin: 11.12.2012, godz 18:00</p>
            <p>Lokalizacja: MiM, sala 5440</p>
            <p>Sponsor: <a href="http://foxcode.pl/" target="_blank">FoxCode</a></p><strong>Materiały:</strong>
            <ul> 
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/2gC7uGIXkfk" target="_blank">dyskusja</a></li>
              <li> <a href="https://github.com/tomekkup/hector-samples" target="_blank"> kod 1</a></li>
              <li><a href="https://github.com/tomekkup/sstable-fake-generator" target="_blank">kod 2</a></li>
              <li><a href="https://docs.google.com/open?id=0B3sikUV-sttFZmktclBqc1hoR1E" target="_blank">slajdy</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Część teoretyczna już za nami, zatem teraz zapoznamy się z podstawowymi kwerendami i sposobami aktualizacji danych na przykładzie modelu danych charakterystycznego dla portalu społecznościowego. Zobaczycie także, jak wykonać bulk loady oraz snapshoty i nieco administracji czyli jak zorganizować klaster pojedynczego centrum danych, jak dołączyć nowy node i monitorować pracę centrum.</p>
            <h3>O prelegencie: </h3>
            <p>Tomek jest analitykiem w jednym z banków, czyli miejscu gdzie NoSQL nie jest zbyt mile widziany. Po nocach męczy nowe technologie, właśnie takie jak Apache Cassandra.</p>
            <p>Tomek występował już na naszych deskach w tym roku, a także prowadził warsztaty na Warsjawie 2012.</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/aIHrvDrq1gE" frameborder="0" allowfullscreen></iframe></p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/d5DNLOAwycg" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>