
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>104 spotkanie WJUGa</h4>
            <h2>Apache Cassandra w praktyce</h2>
            <h3>Tomek Kuprowski</h3>
            <p>Termin: 11.12.2012</p>
            <p>Sponsor: <a href="http://foxcode.pl/" target="_blank">FoxCode</a></p><strong>Materiały:</strong>
            <ul> 
              <li> <a href="https://github.com/tomekkup/hector-samples" target="_blank"> kod 1</a></li>
              <li><a href="https://github.com/tomekkup/sstable-fake-generator" target="_blank">kod 2</a></li>
              <li><a href="https://docs.google.com/open?id=0B3sikUV-sttFZmktclBqc1hoR1E" target="_blank">slajdy</a></li>
            </ul>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/aIHrvDrq1gE" frameborder="0" allowfullscreen></iframe></p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/d5DNLOAwycg" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>