
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>114 spotkanie WJUGa</h4>
            <h2>Redis, Riak, MongoDB - 3 smaki NoSQL</h2>
            <h3>
              <p>Jakub Narbdalik, Paweł Cesar Sanjuan Szklarz, Paweł Sidoryk</p>
            </h3>
            <p>Termin: 7.05.2013 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180</p>
            <p>Sponsor:<a href="http://pl.adpilot.com/" target="_blank"> AdPilot</a></p>
            <p>Zapisy i dyskusja<a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/" target="_blank"> Meetup</a></p>
            <p>Opis: Na tym wykładzie zostaną przedstawione trzy NoSQL'owe bazy danych. Riak zaprezentuje Paweł Sidoryk, MongoDB zaprezentuje Jakub Narbdalik, Redis zaprezentuje Paweł Cesar Sanjuan Szklarz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>