
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>116 spotkanie WJUGa</h4>
            <h2>Test kata</h2>
            <h3>
              <p>Wielu prelegentów</p>
            </h3>
            <p>Termin: 25.05.2013 godz. 10:00</p>
            <p>Lokalizacja: MIMUW, sale 3150, 3220, 3230, 3240, 3250, 3260</p>
            <p>Zapisy i dyskusja: <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/events/120249322/" target="_blank"> Meetup</a></p>
            <p>Strona wydarzenia: <a href="http://test.kata.org.pl/" target="_blank"> test.kata.org.pl</a></p>
            <p>Test kata jest kontynuacją wykłądu 6 smaków testowania, w formie warsztatów. Podczas całodniowego warsztatu, zostaną przedstawione i wypróbowane różne sposoby testowania kodu. Więcej infomracji na stronie wydarzenia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>