
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>12 spotkanie WJUGa</h4>
            <h2>Open Terracotta - klastrowanie dla Javy</h2>
            <h3>Michał Grzejszczak</h3>
            <p>Termin: 03.07.2007 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 4420</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/RZaL82Mtxx0/" target="_blank">zapowiedź</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/OsU3D-ZOc8w/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Tematem prezentacji będzie przedstawienie możliwości klastrowania programów w Javie za pomocą projektu <a href="http://www.terracotta.org/" target="_blank">Terracotta</a>. Projekt Terracottę można traktować jako rozproszoną stertę (z rozproszonym odśmiecaczem) maszyny wirtualnej. Nie dość, że upraszcza to model programowania dla wielu komputerów, to nie wymaga poznawania żadnego API, bo go w ogóle nie ma. Projekt Terracotta można stosować do klastrowania POJO, ale również do już istniejących aplikacji wykorzystujących Spring Framework, czy sesji HTTP w kontenerach servletów. Jest to ogólne rozwiązanie, które można użyć właściwie wszędzie.</p>
            <p>W toku prezentacji wgłębimy się w specyfikę działania Terracotty na prostych przykładach i pokażemy w działaniu przykłady bardziej skomplikowane. Nie zabraknie też poglądowych informacji o architekturze całego systemu i miejscu jakie na rynku oprogramowania Terracotta może zająć.</p>
            <h3>O prelegencie:</h3>
            <p>Prezentację poprowadzi Michał "migi" Grzejszczak, "świeży" absolwent wydziału MIM UW. Migi interesuje się raczej wygodnym programowaniem niźli samą Javą, a to od momentu pierwszego spotkania z porządnym IDE (dla Javy :) parę lat temu. Migi od początku pracy z Javą siedzi po stronie serwera i rzadko stamtąd wychodzi, ale stara się, żeby nie przysłaniało mu to widoku na świat (nie tylko informatyki).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>