
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>44 spotkanie WJUGa</h4>
            <h2>Java dla dużych chłopców, czyli Lego Mindstorms i leJOS</h2>
            <h3> <a href="http://blog.kunicki.org/" target="_blank">Jacek Kunicki</a></h3>
            <p>Termin: 31.03.2009 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/DejHfbuGeS4/" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p> </p>Podczas prezentacji Jacek przedstawi możliwości drzemiące w klockach Lego wzbogaconych o czujniki i silniki, czyli w zestawie Mindstorms. Będzie zarówno część teoretyczna, która pokaże jak można oprogramować Lego Mindstorms, jak również praktyczna demonstracja przykładowego robota - zarówno w działaniu, jak i od kuchni. Aby uczynić zadość tematyce grupy, prelegent omówi programowanie Lego Mindstorms z wykorzystaniem opartego o Javę - <a href="http://lejos.sourceforge.net/" target="_blank">leJOS</a>.
            <h3>O prelegencie:</h3>
            <p></p><a href="http://blog.kunicki.org/" target="_blank">Jacek Kunicki </a>jest absolwentem Wydziału EiTI PW. Obecnie pracuje jako programista Java EE w Javatech. Poza kwestiami zawodowo-technologicznymi pasjonują go piesze wycieczki po górach, zaś w tzw. międzyczasie obserwuje zjawiska socjologiczne występujące we współczesnym Internecie - zwłaszcza w serwisach społecznościowych. Jacek prowadzi <a href="http://blog.kunicki.org/" target="_blank">bloga</a>, w którym dość nieregularnie umieszcza wpisy o przeróżnej tematyce.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>