
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>65 spotkanie WJUGa</h4>
            <h2>Consumer-Driven Contracts i rozproszone serwisy w praktyce</h2>
            <h3>Adam Lider </h3>
            <p>Termin: 06.04.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały </strong>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/NbuDYQt1LIk" target="_blank">dyskusja</a></li>
              <li> <a href="http://www.slideshare.net/alider/consumerdriven-contracts-and-distributed-systems-in-practice" target="_blank">slajdy</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p>Celem prezentacji jest przedstawienie metod tworzenia i rozwoju systemów opartych na rozproszonych serwisach. Autor pokaże typowe problemy oraz czyhające pułapki przy budowaniu takich systemów, postara się wyjaśnić ich przyczyny oraz zaprezentuje możliwe rozwiązania. Prezentacja oparta będzie na fragmencie wyjętym z dużego systemu typu "social location platform" i zawiera próbki implementacji niektórych rozwiązań.</p>
            <p>Zagadnienia: Rozproszone serwisy, Consumer-Driven Contracts, Java, JSON, DSL, Continuous Integration</p>
            <h3>O prelegencie:</h3>
            <p>Adam Lider jest programistą specjalizującym się w tworzeniu serwisów oraz rozwiązań integracyjnych z wykorzystaniem platformy Java/JEE. Zainteresowany aspektami testowalności, metodami wytwarzania oprogramowania, a ostatnio również tworzeniem języków aplikacyjnych na JVM. 6 lat w zawodzie wypełnionych głównie pracą nad projektami komercyjnymi z małym epizodem start-up'owym.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>