
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>74 spotkanie WJUGa</h4>
            <h2>Jak Clojure koloruje mapy</h2>
            <h3> <a href="http://plblog.danieljanus.pl/" target="_blank">Daniel Janus</a></h3>
            <p>Termin: 21.12.2010 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p><strong>Materiały:</strong>
            <ul> 
              <li> <a href="http://danieljanus.pl/slides/2010/wjug-clojure/" target="_blank">slajdy</a></li>
              <li> <a href="https://github.com/nathell/color-europe" target="_blank">kod</a></li>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/uhBEMQTKIdU" target="_blank">dyskusja</a></li>
            </ul><strong>Relacje:</strong>
            <ul> 
              <li> <a href="http://plblog.danieljanus.pl/blog/2011/01/19/pokoloruj-sobie-europe/">relacja Daniela Janusa</a></li>
            </ul>
            <h3>O prezentacji:</h3>
            <p> </p>Podczas prezentacji Daniel opowie o:
            <ul>
              <li>co powstaje po przemieszaniu liter w słowie Clojure i co z tego wynika</li>
              <li>dlaczego programowanie w Clojure przypomina operowanie na żywym organizmie</li>
              <li>jak na różne sposoby pokolorować mapę Europy za pomocą Clojure</li>
              <li>jak skonstruować do tego interfejs webowy</li>
              <li>jak dorobić obsługę arkuszy kalkulacyjnych</li>
              <li>jak zbudować łatwo instalowalną aplikację w postaci jednego pliku .jar</li>
            </ul>
            <p>A wszystko to podczas prezentacji przeplatanej z tworzeniem kodu "na żywo". Nie zakłada się żadnej znajomości Clojure -- objaśnienia kolejnych cech języka pojawi się w miarę jak będą potrzebne, bez wgłębiania się w szczegóły.</p>
            <h3>O prelegentach:</h3>
            <p> </p>Daniel Janus zajmuje się językami funkcyjnymi od dziesięciu lat, programuje w językach z rodziny Lisp od czterech lat, a od ponad roku współtworzy firmę Fablo, w której Clojure jest główną używaną technologią. Na <a href="http://plblog.danieljanus.pl/" target="_blank">swoim blogu </a>pisze m.in. o Clojure po polsku.
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/zFqwa-f8zG4" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>