
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>79 spotkanie WJUGa</h4>
            <h2>Google z Facebookiem w Twojej aplikacji webowej, czyli co będę pisał sam integrację: THIS IS JAVA!!!! Spring security dla bardzo NIEzaawansowanych </h2>
            <h3> <a href="http://blog.solidcraft.eu/" target="_blank">Jakub Nabrdalik </a></h3>
            <p>Termin: 15.03.2011, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Materiały:</p>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/ysWySZnChzM" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie: </h3>
            <p>Co to da: uczestnicy w ciągu godziny nauczą się wykorzystywać <a href="http://static.springsource.org/spring-security/site/" target="_blank">spring security</a>, <a href="http://openid.net/" target="_blank">OpenId </a>i  <a href="http://oauth.net/" target="_blank">OAuth2</a>.</p>
            <p>Poziom: podstawowy</p>
            <p>Wymagana: podstawowa znajomość javy</p>
            <p>Przyda się: blade pojęcie o IoC/DI, blade pojęcie o HTTP, blade pojęcie o tym co to jest gmail/blog/facebook</p><strong>Agenda:</strong>
            <p>Spring Security</p>
            <ul>
              <li>do czego jest</li>
              <li>jak z niego korzystać</li>
              <li>jak poprawnie skonfigurować</li>
              <li>jak hashować hasła</li>
              <li>jak zabezpieczyć ssl'em</li>
              <li>jak testować aplikację z wpiętym spring security</li>
              <li>jak logować/wylogować się w backendzie</li>
              <li>jak definiować uprawnienia per zasób serwera (URI)</li>
              <li>jak definiować reguły dostępu per metoda w klasie backendu (@Pre)</li>
              <li>na czym polega Spring Expression Language (SpEL) w kontekście security</li>
            </ul>
            <p>Open ID</p>
            <ul>
              <li>co to jest</li>
              <li>do czego służy</li>
              <li>jak to działa (flow)</li>
              <li>jak to działa z googlem</li>
              <li>jak dobrać się do informacji użytkownika</li>
              <li>jak wykorzystać Spring Security do odwalenia czarnej roboty</li>
              <li>czemu muszę się rejestrować i jak to zaimplementować</li>
            </ul>
            <p>OAuth2</p>
            <ul>
              <li>kto to wymyślił</li>
              <li>co to jest</li>
              <li>do czego służy</li>
              <li>dlaczego facebook/twitter ma OAuth2</li>
              <li>jak to działa</li>
              <li>jak to zaimplementować</li>
              <li>jak wykorzystać Spring Social by dobrać się do danych i usług klienta</li>
            </ul>
            <p>Rationale:</p>
            <p>Wszystkie te informacje można sobie wygooglać, dokumentacja springa jest świetna, pułapek jest niewiele, ale prelegent postara się przedstawić wszystko super-czytelnie, będzie odpowiadał na pytania i w ostrzegał przed pułapkami. Dużo kodu, kilka diagramów, żadnych slajdów.</p>
            <h3>O prelegencie:</h3>
            <p><a href="http://blog.solidcraft.eu/" target="_blank">Jakub Nabrdalik </a>pracuje dla firmy TouK jako Solution Architect, co oznacza, że w zależności od sytuacji, zakłada czapeczkę projektanta, programisty, architekta, analityka, lidera zespołu, kierownika projektu i tak dalej. Od 2003 roku czerpie dużo radości z zawodowego tworzenia oprogramowania w różnych technologiach, językach i metodykach. Od 2005 praktykuje TDD i Pair Programming. Walczy z chaosem wkradającym się po cichu do projektów informatycznych.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>