
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>80 spotkanie WJUGa</h4>
            <h2>Torquebox & CDI - czyli jak napisaliśmy JBisona </h2>
            <h3> <a href="http://www.warski.org/" target="_blank">Adam Warski</a>, <a href="http://twitter.com/szimano" target="_blank">Tomek Szymański</a></h3>
            <p>Termin: 22.03.2011, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Materiały:</p>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/-Dw3Y8mag6s" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie: </h3>
            <p><a href="https://www.jbison.com" target="_blank">JBison </a>zbudowany jest za pomocą dwóch technologii, na pozór z zupełnie przeciwległych biegunów: <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails </a>i <a href="http://seamframework.org/Weld" target="_blank">CDI/Weld</a>. W dużej mierze dzięki serwerowi <a href="http://torquebox.org/" target="_blank">Torquebox</a>. Torquebox to zmodyfikowany JBoss AS, który integruje środowisko JEE ze środowiskiem Ruby'ego. Pozwala osadzać aplikacje RoR jako aplikacje webowe, zawiera wsparcie dla messagingu opartego o JSM i umożliwia szybkie i proste sklastrowanie aplikacji.</p>
            <p>CDI jest dosyć świeżą specyfikacją, zawartą w JEE6. Standaryzuje wstrzykiwanie zależności, czerpiąc to co najlepsze z Seam'a i Guice'a. Zawiera też pewne istotne innowacje, np. <a href="http://docs.jboss.org/weld/reference/latest/en-US/html/extend.html" target="_blank">Portable Extensions</a>.</p>
            <p>Czy jednak pisząc aplikacje za pomocą CDI jesteśmy skazani na JSF? Na szczęście nie!</p>
            <p>W prezentacji pokażemy jak zacząć pracę z serwerem Torquebox; jak napisać prostą aplikację webową, której front-end obsługuje RoR, a back-end CDI. Opowiemy też o doświadczeniach z pracy z tą dosyć egzotyczną mieszanką. Będzie pare slajdów, ale przede wszystkim dużo kodowania "na żywo". Zapraszamy!</p>
            <p>Plan prezentacji:</p>
            <ul>
              <li>Co to jest Torquebox?</li>
              <li>Generowanie aplikacji RoR</li>
              <li>Osadzanie aplikacji RoR w Torqueboxie</li>
              <li>Jak to działa? (z grubsza)</li>
              <li>Krótki wstęp do CDI</li>
              <li>"Wstrzykiwanie" beanów CDI do kodu RoR</li>
              <li>Dalsze możliwości integracji</li>
              <li>Testy integracyjne CDI za pomocą Arquilliana</li>
              <li>Jak szybko napisać aplikację RoR+CDI</li>
              <li>Co jeszcze oferuje Torquebox?</li>
            </ul>
            <h3>O prelegentach:</h3>
            <p>Adam Warski jest współzałożycielem SoftwareMill oraz twórcą i głównym programistą projektu Hibernate Envers (jeden z modułów projektu HIbernate, zapewniający funkcjonalność wersjonowania encji). </p>
            <p>Uczestniczył w wielu projektach, w których wykorzystywane były technologie Java, JEE i JBoss. Adam jest także zainteresowany nowymi językami opartymi o JVM, zwłaszcza z elementami funkcyjnymi (np. Scala); pracuje też nad innymi projektami open-source, związanymi z analizą statyczną kodu (z wykorzystaniem FindBugs i JSR308 - Typestate Annotations/ Checkers Framework) oraz projektami JBoss Weld i specyfikacją CDI. </p>
            <p>Adam <a href="http://www.warski.org/blog" target="_blank">bloguje </a>i <a href="http://www.warski.org" target="_blank">się prezentuje </a>:)</p>
            <p>Tomasz pełni rolę prezesa-developera / członka-założyciela. Zarządza zespołami, ale mocno wierzy w agile, więc sam w tych zespołach zajmuje się programowaniem.</p>
            <p>Posiada parę certyfikatów z różnych rzeczy, jest współ-leaderem Warszawa-JUG, interesuje się poza Javą także pisaniem własnych kompilatorów. Bywa lekko złośliwy, lubi narty i kajaki. Jego blog jest mocno przedatowany, więc gorąco zaprasza na <a href="http://twitter.com/szimano" target="_blank">twittera</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>