
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>81 spotkanie WJUGa</h4>
            <h2>JDK7 - czy na pewno nic nowego? </h2>
            <h3> <a href="http://mproch.blogspot.com/" target="_blank">Maciej Próchniak </a></h3>
            <p>Termin: 18.04.2011, godz 18:00</p>
            <p>Lokalizacja: MIMUW, sala 5440</p>
            <p>Materiały:</p>
            <ul>
              <li><a href="https://groups.google.com/forum/#!topic/warszawa-jug/Ik87RIt3knQ" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>W lipcu ma ukazać się długo (od ponad 4 lat...) oczekiwana nowa wersja <a href="http://jdk7.java.net/" target="_blank">Javy</a>. Oczekiwanie były duże, a wyszło... No właśnie? Jak wyszło? Nie będzie domknięć, nie będzie modularności, a co zostało? O tym chciałbym trochę opowiedzieć. Może nie będzie to takie fascynujące jak JBison, Hadoop czy SpringSecurity, ale czasami chyba warto wrócić 'do podstaw'. Ponieważ jest już dostępna wersja <a href="http://jdk7.java.net/preview/" target="_blank">'Developer Preview' </a>oraz dostępne jest wsparcie naszych ulubionych IDE, to pewnie także trochę pokodujemy.
            <h3>O prelegencie:</h3>
            <Maciek>Próchniak </Maciek>jest matematykiem, od 5ciu lat zajmuje się szeroko pojętym JEE - najpierw w Javatech, a od prawie 2ch lat w TouK. Obecne zainteresowania to integracja (Servicemix, Drools, BPM), GWT oraz (po dłuższej przerwie...) programowanie funkcyjne. Jest oficjalnym kontrybutorem projektu <a href="http://activiti.org/" target="_blank">Activiti</a>. Ostatnio wziął się za pisanie własnego <a href="http://mproch.blogspot.com/" target="_blank">bloga</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>