
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>86 spotkanie WJUGa</h4>
            <h2>Koncepcje Spring Framework </h2>
            <h3> <a href="http://blog.solidcraft.eu/" target="_blank">Jakub Nabrdalik </a></h3>
            <p>Termin: 13.12.2011</p>
            <p>Lokalizacja: MIMUW</p>
            <p>Sponsor: <a href="http://softwaremill.pl/" target="_blank">SoftwareMill</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>