
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>90 spotkanie WJUGa</h4>
            <h2>Ameba: mobilny dewelopment na sterydach </h2>
            <h3>Jarek Potiuk </h3>
            <p>Termin: 27.03.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180 </p><strong>Materiały:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/vIV0xI937vQ" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Jarek opowie o tym jak w środku wygląda <a href="http://ameba.apphance.com" target="_blank">Ameba</a>, która jest częścią serwisu <a href="http://www.apphance.com/" target="_blank">Apphance</a>. Jarek pokaże jakie techniki zostały zastosowane podczas przekształcania poprzedniej wersji build systemu używanego przez Polideę podczas tworzenia aplikacji mobilnych (opartego na Ant-ie) do nowej, w pełni reużywalnej, z-opensource'owanej Ameby (opartej na <a href="http://www.gradle.org/" target="_blank">gradle</a>). Będzie to "sprawozdanie z pola walki" pokazujące rozmaite problemy z którymi przyszło nam walczyć i ich rozwiązania - w jaki sposób gradle pozwolił na to co zrobiono w Polidei. </p>
            <p>Dla osób zainteresowanych - dzień wcześniej na <a href="http://agilewarsaw.com/" target="_blank">agilewarsaw </a>Jarek będzie opowiadał o stronie organizacyjnej/motywacyjnej przedsięwzięcia.</p>
            <h3>O prelegencie:</h3>
            <p>Jarek jest CTO w firmie <a href="http://www.polidea.pl/en/" target="_blank">Polidea</a>, zajmującej się tworzeniem aplikacji mobilnych. Jest współzałożycielem <a href="http://www.szlif.edu.pl/" target="_blank">Akademii Inżyniera Szlif </a>przy Politechnice Warszawskiej. Wcześniej CTO w SkyCash-u i Tech Lead/Manager w Krakowskim oddziale Google'a. </p>
            <p>Jarek jest doświadczonym inżynierem/menedżerem który do dziś programuje (patrz Ameba), pasjonat technologii i programowania, z obsesją usprawniania procesu tworzenia oprogramowania. Uwielbia pragmatyczne łączenie teorii z praktyką (ale w taki sposób, że działa, i wiadomo dlaczego).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>