
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>93 spotkanie WJUGa</h4>
            <h2>Nie utknijcie na Maven2 </h2>
            <h3> <a href="http://erbetowski.pl/" target="_blank">Wojtek Erbetowski </a></h3>
            <p>Termin: 08.05.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180 </p><strong>Dyskusja:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/FPuB4r1nVdA" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Wojtek poruszy temat używania przeterminowanych produktów w życiu codziennym na przykładzie narzędzi do budowania aplikacji. Nie utknijcie na Maven 2 to temat, który ma na celu sprawdzenie nastrojów publiki w stosunku do tego narzędzia i refleksję czy warto się z niego ruszać, a jeśli tak to gdzie. W swoich czasach było to najlepsze narzędzie dostępne, ale te czasy już dawno minęły i pojawiło się kilka odmiennych narzędzi, jak Gradle, Buildr, SBT czy Leiningen. Może trochę zajrzymy co w nich jest, także ludzie doświadczeni w tych narzędziach mile widziani do pomocy przy wykładzie!</p>
            <h3>O prelegencie:</h3>
            <p> <a href="http://erbetowski.pl/" target="_blank">Wojtek Erbetowski </a>
              <jest>programistą z około 4-letnim stażem, głównie w Javie, a ostatnio w Scali. Miał swoje małe doświadczenia z SBT (przelotny romans) i Gradle (miłość platoniczna). Obecnie utknął na Mavenie 2...</jest>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>