
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>95 spotkanie WJUGa</h4>
            <h2>Budowanie aplikacji (Java EE 6) z Clojure </h2>
            <h3> <a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski </a></h3>
            <p>Termin: 22.05.2012 godz. 18:00</p>
            <p>Lokalizacja: MIMUW, sala 3180 </p><strong>Dyskusja:</strong>
            <ul>
              <li> <a href="https://groups.google.com/forum/#!topic/warszawa-jug/LeKoKTbhCwg" target="_blank">dyskusja</a></li>
            </ul>
            <h3>O wykładzie:</h3>
            <p>Spotkanie ma być okazją do poznania Clojure od strony jego wsparcia dla bytów javowych. Aplikacje korporacyjne Java EE korzystają z mechanizmów języka Java, więc jeśli tylko udowodnimy tezę, że można tworzyć byty javowe w Clojure i to całkiem przyjemnie, to całkiem przyjemne może być budowanie aplikacji korporacyjnych z wykorzystaniem obu - Java EE 6 i Clojure.</p>
            <p>OSTRZEŻENIE: Należy oczekiwać użycia Java EE jedynie jako tła dla wprowadzenia do Clojure. Dla wielu użycie Java EE w tytule może być zdecydowanie na wyrost i służy autorowi jako narzędzie do przykucia uwagi. Równie dobrze możnaby użyć innego chwytliwego terminu, które kojarzy się z Javą.</p>
            <h3>O prelegencie:</h3>
            <p>Jacek Laskowski jest założycielem i współprowadzącym Warszawskiego JUGa. Interesuje się Javą w wydaniu podstawowym (Java SE) i korporacyjnym (Java EE), a od kilku lat zadużony w programowaniu funkcyjnym z Clojure (z F# i Scala w tle).</p><span>Swoje przemyślenia publikuje na polskojęzycznym blogu </span><a href="http://jaceklaskowski.pl/" target="_blank">Jacek Laskowski jawnie </a><span>oraz angielskojęzycznym </span><a href="http://blog.japila.pl/" target="_blank">Japila :: verba docent, exempla trahunt</a>. Krótkie myśli znajdziesz na kanale <a href="http://twitter.com/jaceklaskowski" target="_blank">@jaceklaskowski</a>. Występuje podczas polskich konferencji, co traktuje jako wyróżnienie i miejsce prezentacji własnych poglądów. Będzie wdzięczny za wszelkie komentarze do jego publicznych aktywności.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>